mixin specialism(c)
  .specialism(class= c.specialismModifier ? "specialism--" + c.specialismModifier : "")
    .specialism__content
      .specialism__introduction
        h6.specialism__subheading= c.specialismSubHeading
        h2.specialism__heading= c.specialismHeading
        p.specialism__text !{c.specialismText}
      +explanation-list(c.explanationList)
    if c.specialismImage
      +image({
        context: "specialism",
        modifier: c.specialismImage.modifier,
        src: c.specialismImage.src,
        fallbackSrc: c.specialismImage.fallbackSrc,
        alt: c.specialismImage.alt
      })
