.details {

  &__heading {
    color: var(--color-footer-text);
    font-family: $font-family-sans-serif-extrabold;
    font-size: .55rem;
    letter-spacing: .075rem;
    line-height: 1;
    margin-bottom: $spacing-2;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__item {
    font-family: $font-family-sans-serif-medium;
    font-size: 1rem;
    margin-bottom: -$spacing-2;
  }
}
