.details {
  display: grid;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    margin-bottom: $spacing-5;
  }

  &__heading {
    font-size: $font-size-sm;
    margin-bottom: $spacing-1;
  }

  &__text {
    font-size: $font-size-sm;
    margin-bottom: 0;
  }
}
