.checkmark-list {
  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: $spacing-7;
    }
  }

  &__icon {
    align-items: center;
    background-color: darken($color-bluegem, 3%);
    border-radius: $border-radius-full;
    display: flex;
    height: $size-4;
    justify-content: center;
    position: absolute;
    width: $size-4;
  }

  &__text {
    margin: 0;
    padding-left: 0;
    padding-top: $spacing-8;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      padding-left: $spacing-8;
      padding-top: 0;
    }

    &__strong {
      color: var(--color-paragraph-bold);
    }
  }
}