.checkmark-list {
  &__items {
    display: grid;
    grid-gap: $spacing-7;
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      @include two-col-grid;
      align-items: center;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
  }

  &__icon {
    align-items: center;
    background-color: var(--color-checkmark-background);
    border-radius: $border-radius-full;
    display: flex;
    height: $size-4;
    justify-content: center;
    position: absolute;
    width: $size-4;
  }

  &__text {
    color: var(--color-text);
    margin: 0;
    padding-left: $spacing-8;
    padding-top: 0;
  }
}
