*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

html {
  box-sizing: border-box;
  font-size: $root-font-size;
  text-size-adjust: 100%;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
    font-size: $root-font-size-xl;
  }
}

.page--content,
.page--case-study {
  --color-accent: #{$color-blue};
  --color-background: #f2f2fb;
  --color-blog-heading: #e1e1f0;
  --color-container: #f7f7fd;
  --color-focus-bg: #{$color-green};
  --color-footer-contact: #{$color-blue};
  --color-footer-divider: #{$color-purple-lightest};
  --color-footer-nav: #{$color-blue};
  --color-footer-text: #6062a5;
  --color-logo: #{$color-blue};
  --color-paragraph: #2e2e65;
  --color-share-icons: #{$color-purple-medium};
  --color-social-icons: #{$color-blue};
  --color-close: #{$color-blue};
}

.page--case-study {
  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    --color-logo: #{$color-white};
  }
}

body {
  font-family: $font-family-sans-serif-regular;
  font-size: $font-size-xs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .0125rem;
  line-height: $line-height;

  @media screen and (min-width: map-get($breakpoints,  'breakpoint-3')) {
    font-size: $font-size-sm;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    font-size: $root-font-size;
  }
}

.page {
  background-color: var(--color-background);
  color: $paragraph-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
