//@import url('//hello.myfonts.net/count/379175');

@font-face {
  font-display: swap;
  font-family: 'Larsseit-Bold';
  src: url('../fonts/379175_4_0.eot');
  src: url('../fonts/379175_4_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/379175_4_0.woff2') format('woff2'),
    url('../fonts/379175_4_0.woff') format('woff'),
    url('../fonts/379175_4_0.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Larsseit-Medium';
  src: url('../fonts/379175_6_0.eot');
  src: url('../fonts/379175_6_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/379175_6_0.woff2') format('woff2'),
    url('../fonts/379175_6_0.woff') format('woff'),
    url('../fonts/379175_6_0.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Larsseit-Regular';
  src: url('../fonts/379175_7_0.eot');
  src: url('../fonts/379175_7_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/379175_7_0.woff2') format('woff2'),
    url('../fonts/379175_7_0.woff') format('woff'),
    url('../fonts/379175_7_0.ttf') format('truetype');
}
