@import url("//hello.myfonts.net/count/3a8a2c");

@font-face {
  font-family: 'Larsseit-ExtraBold';
  src: url('../fonts/3A8A2C_0_0.eot');
  src: url('../fonts/3A8A2C_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3A8A2C_0_0.woff2') format('woff2'),
    url('../fonts/3A8A2C_0_0.woff') format('woff'),
    url('../fonts/3A8A2C_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-Light';
  src: url('../fonts/3A8A2C_1_0.eot');
  src: url('../fonts/3A8A2C_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3A8A2C_1_0.woff2') format('woff2'),
    url('../fonts/3A8A2C_1_0.woff') format('woff'),
    url('../fonts/3A8A2C_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit';
  font-weight: bold;font-style: normal;
  src: url('../fonts/3A8A2C_2_0.eot');
  src: url('../fonts/3A8A2C_2_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3A8A2C_2_0.woff2') format('woff2'),
    url('../fonts/3A8A2C_2_0.woff') format('woff'),
    url('../fonts/3A8A2C_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-Medium';
  src: url('../fonts/3A8A2C_3_0.eot');
  src: url('../fonts/3A8A2C_3_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3A8A2C_3_0.woff2') format('woff2'),
    url('../fonts/3A8A2C_3_0.woff') format('woff'),url('webfonts/3A8A2C_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit';
  font-weight: normal;font-style: normal;
  src: url('../fonts/3A8A2C_4_0.eot');
  src: url('../fonts/3A8A2C_4_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3A8A2C_4_0.woff2') format('woff2'),
    url('../fonts/3A8A2C_4_0.woff') format('woff'),
    url('../fonts/3A8A2C_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit';
  font-weight: normal;font-style: italic;
  src: url('../fonts/3A8A2C_5_0.eot');
  src: url('../fonts/3A8A2C_5_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/3A8A2C_5_0.woff2') format('woff2'),
    url('../fonts/3A8A2C_5_0.woff') format('woff'),url('webfonts/3A8A2C_5_0.ttf') format('truetype');
}
