.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $spacing-6;
  grid-row-gap: $spacing-6;

  @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
    grid-column-gap: $spacing-8;
  }

  @media screen and (min-width: map-get($breakpoints, "breakpoint-6")) {
    grid-column-gap: $spacing-9;
  }

  &--center {
    max-width: 800px;
    margin: 0 auto;
  }

  &--half {

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--two-thirds {

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      grid-template-columns: 60% 1fr;
    }
  }

  &--two-thirds-reverse {

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      grid-template-columns: 1fr 60%;
    }
  }

  &--symmetrical-card {

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: $spacing-8;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      grid-column-gap: $spacing-9;
    }
  }

  &--card {

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: $spacing-8;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      grid-column-gap: $spacing-9;
    }

    .grid__item:not(:last-child) {
      margin-bottom: $spacing-6;

      @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
        margin-bottom: $spacing-8;
      }
    }

    .grid__item:nth-child(even) {
      @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
        position: relative;
        top: $spacing-12;
      }
    }
  }

  &--statements {

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      grid-gap: $spacing-7;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--profiles {
    grid-column-gap: $spacing-5;
    grid-row-gap: $spacing-6;
    grid-template-columns: 1fr 1fr;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-6")) {
      grid-column-gap: $spacing-6;
    }
  }

  &--tile {
    grid-row-gap: $spacing-4;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      grid-column-gap: $spacing-5;
      grid-template-columns: 1fr 1fr;
    }
  }

  &--metrics {
    grid-template-columns: 1fr;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__item {
    @media screen and (min-width: map-get($breakpoints, "breakpoint-2")) {
      &--span-2 {
        grid-column: 1 / span 2;
      }
    }
  }

  &--blog {
    grid-column-gap: 0;
    grid-template-columns: 1fr;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-2")) {
      grid-gap: $spacing-7;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      grid-gap: $spacing-7;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
    .grid__item-large {
      grid-column: span 2;
    }
  }

  &--work-preview {

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      grid-row-gap: $spacing-7;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      grid-row-gap: $spacing-8;
    }
  }
}
