html {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

main {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  @include container;
  position: relative;
}

.section {
  margin-bottom: $spacing-9;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    margin-bottom: $spacing-10;
  }

  &--sm-spacing {
    margin-bottom: $spacing-7;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-bottom: $spacing-9;
    }
  }

  &--lg-spacing {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-bottom: $spacing-11;
    }
  }

  &--spacing-top {
    margin-top: $spacing-7;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-top: $spacing-9;
    }
  }

  .section--margin-b {
    margin-bottom: 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      margin-bottom: $spacing-10;
    }
  }

  .blog-post {
    &__image {
      width: 100%;
    }
  }
}

.banner-spacer {
  height: 4rem;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
    height: 5rem;
  }
}

// case study styles

.image {
  margin-bottom: $spacing-9;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    margin-bottom: $spacing-6;
  }

  &--hx-1 {
    padding: 0 $spacing-6;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-5')) {
      margin-top: -2rem !important;
      padding: 0 $spacing-11;
    }
  }

  &--rift-1 {
    margin-top: -10rem !important;
    padding: $spacing-8 $spacing-8 0 $spacing-8;
  }

  &--rift-2 {
   margin-left: -10rem;
   transform:scale(.7);
  }

  &--rift-4 {
    margin-bottom: $spacing-15;
    transform:scale(1.25);
  }

  &--rift-5 {
    max-width: 35%;
    position: absolute;
    top: 54%;
    left: 22%;
	  transform: translate(-50%, -50%);
  }
}

// Holiday Extras
.content-group {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-8;

  &__items {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-bottom: $spacing-13;
      margin-left: -7.35rem;
      max-width: 62rem;
    }
  }
}

.hx-details {
  display: grid;
  grid-row-gap: $spacing-6;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    padding: 0 6rem;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    grid-gap: 0;
    grid-template-columns: 1fr 38rem;
    margin-top: -14.5rem;
    padding: 0;
  }

  &__tags {
    position: relative;
  }
}

.centered-content {
  background-color: #6F43B9;
  margin-bottom: $spacing-6;
  margin-top: -8rem;
  padding: $spacing-10 0;
  position: relative;
  z-index: -1;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
    margin-bottom: $spacing-9;
    padding: $spacing-11 $spacing-10;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    margin-bottom: $spacing-15;
    margin-top: -12rem;
    padding: 12rem;
  }

  .bg-shape {
    max-width: 75%;
    position: absolute;

    &--1 {
      right: -20rem;
      top: -30rem;
    }

    &--2 {
      left: -20rem;
      top: 10rem;
      transform: rotate(180deg);
    }
  }
}

.hx-image-8 {
  bottom: -6.5rem;
  left: 0;
  margin: 12rem $spacing-6 0 $spacing-6;
  position: absolute;
  right: 0;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
    bottom: -9rem;
    margin: 12rem auto 0 auto;
    max-width: 34rem;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    bottom: -14rem;
  }
}

.hx-outcome {
  display: grid;
  margin-top: -1rem;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    margin-top: -2rem;
    padding: 0 $spacing-10;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    grid-gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: $spacing-14;
    padding: 0;
  }

  &__prototype {
    display: none;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      display: block;
      position: relative;
    }
  }

  &__main-prototype {
    right: 0;
    position: absolute;
    top: 3rem;
  }
}

// RIFT
.challenge-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__content {
    align-self: center;
    padding-right: 2.5rem;
  }
}
.metric-block {
  background-color: var(--color-metric-background);
  margin-bottom: $spacing-13;
  padding: $spacing-10 0;
  position: relative;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 $spacing-7;
  }

  &__content {
    align-self: center;
  }
}
