html {
  position: relative;
}

main {
  overflow: hidden;

  .page--content & {
    overflow: visible;
  }
}

.container {
  @include container;
  position: relative;
}

.section {
  margin-bottom: $spacing-9;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    margin-bottom: $spacing-10;

    .page--company &:not(:last-child) {
      margin-bottom: $spacing-10;
    }
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    .page--company &:not(:last-child) {
      margin-bottom: $spacing-13;
    }
  }

  &--sm-spacing {
    margin-bottom: $spacing-7;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-bottom: $spacing-9;
    }
  }

  &--lg-spacing {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-bottom: $spacing-11;
    }
  }
}

// Centred sections

.centered-content {
  padding: $spacing-10 0;
  position: relative;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    padding: $spacing-11 $spacing-9;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    padding: $spacing-11;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    padding: $spacing-13;
  }

  .bg-shapes {
    display: none;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      overflow: hidden;
      top: 0;
      width: 100%;
    }

    .bg-shape {
      max-width: 47%;
      position: absolute;

      &--1 {
        right: -5rem;
        top: -15rem;
      }

      &--2 {
        bottom: -15rem;
        left: -5rem;
        transform: rotate(180deg);
      }
    }
  }

  &--hx {
    background-color: $hx-studio;
    margin-bottom: 5rem;
    margin-top: -7rem;
    z-index: z('below');

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      margin-bottom: 5rem;
      margin-top: -9rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      margin-bottom: 7rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-bottom: $spacing-14;
      margin-top: -9rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
      margin-bottom: $spacing-15;
      margin-top: -$spacing-13;
    }
  }

  &--no-pad {
    margin-bottom: $spacing-3;
    margin-top: $spacing-9;
    padding: 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      margin-top: $spacing-10;
      padding: 0 $spacing-9;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      padding: 0 $spacing-11;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
    }
  }
}

// Company page layouts

.company {
  @include content;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    max-width: unset;
  }

  &__map {
    display: flex;
    justify-content: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      display: block;
      position: relative;
      z-index: z('below');
    }
  }

  &__explanation {
    position: relative;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-10')) {
      left: $spacing-7;
    }

    .explanation {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        margin-top: 10%;
        position: absolute;
      }
    }
  }
}

// Company page images

.company-map {
  &__media {
    &--mobile-map {
      display: block;
      margin-bottom: -$spacing-13;
      margin-right: -30rem;
      margin-top: -$spacing-11;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        display: none;
      }
    }

    &--desktop-map {
      display: none;
      margin-top: 0;
      position: absolute;
      transform: translateY(-50%);

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
        display: block;
        left: -$spacing-7;
        width: 118rem;
      }
    }

    &--desktop-map-secondary {
      display: none;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        display: block;
        left: -$spacing-10;
        margin-top: 0;
        position: absolute;
        transform: translateY(-50%);
        width: 55rem;
      }

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
        display: none;
      }
    }
  }
}

.team {
  &__bench-profiles {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      display: grid;
      grid-gap: $spacing-2;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      display: block;
    }
  }
}

.analysis {
  order: 1;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    order: unset;
  }

  &__image {
    display: block;
    margin: $spacing-5 auto 0;
    max-width: 90%;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      display: none;
    }

    &--desktop {
      display: none;
      margin: $spacing-6 0;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        display: block;
        max-width: 120%;
        transform: translateX(-11.5%); // Aligns to container
      }
    }
  }

  &__how-it-works {
    margin-bottom: -$spacing-9;
    margin-top: -$spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      margin-bottom: $spacing-11;
      margin-top: 0;
    }

    &::before {
      border: $border-style $size-2 $color-indigo;
      border-radius: $border-radius-full;
      bottom: -$spacing-8;
      content: '';
      display: none;
      height: $size-9;
      left: 0;
      position: absolute;
      width: $size-9;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-10')) {
        display: block;
        left: -22%;
      }

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-13')) {
        left: -32%;
      }
    }

    &::after {
      border: $border-style $size-2 $color-indigo;
      border-radius: $border-radius-full;
      content: '';
      display: none;
      height: $size-10;
      position: absolute;
      top: $spacing-9;
      width: $size-10;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-10')) {
        display: block;
        right: -34%;
      }

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-13')) {
        right: -40%;
      }
    }
  }

  &__how-it-works-opening {
    margin: $spacing-10 auto $spacing-7;
    max-width: $size-11;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin: $spacing-13 auto 4.5rem;
      max-width: 29rem;
    }
  }
}
