html {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  @include container;
}

.section {
  margin-bottom: $spacing-vertical-xl;

  @media screen and (min-width: map-get($bp, 'md')) {
    margin-bottom: 6em;
  }

  &--sm-spacing {
    margin-bottom: $spacing-vertical-lg;

    @media screen and (min-width: map-get($bp, 'lg')) {
      margin-bottom: $spacing-vertical-xl;
    }
  }
}
