@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin container {
  margin: 0 auto;
  max-width: $size-12;
  padding: 0 1.25rem;
}

@mixin hover {
  &:hover {
    // The primary input mechanism of the device includes an accurate pointing device
    @media (pointer: fine) {
      @content;
    }

    // Target Firefox
    @-moz-document url-prefix() {
      @content;
    }

    // Target IE11
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
    }
  }
}

@mixin margin-horizontal($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin margin-vertical($margin) {
  margin-bottom: $margin;
  margin-top: $margin;
}

@mixin padding-horizontal($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin padding-vertical($padding) {
  padding-bottom: $padding;
  padding-top: $padding;
}

@mixin size($size) {
  height: $size;
  width: $size;
}
