@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1.25rem;
}

@mixin size($size) {
  height: $size;
  width: $size;
}
