.section,
.footer {
  opacity: 0;
  transform: translateY(0);
  transition: opacity $duration-5 $timing-ease, transform $duration-4 $timing-ease;
}

.hero {
  &__blob {
    opacity: 0;
    transform: translateX(0);
    transition: opacity $duration-5 $timing-ease, transform $duration-4 $timing-ease;
  }

  &__content {
    opacity: 0;
    transform: translateX(0);
    transition: opacity $duration-5 $timing-ease, transform $duration-4 $timing-ease;
  }

  &__media {
    opacity: 0;
    transform: translateX(0);
    transition: opacity $duration-5 $timing-ease, transform $duration-4 $timing-ease;
  }
}

.transition-out {
  .section,
  .footer {
    opacity: 0;
    transform: translateY(10%);
  }

  .hero {
    &__blob {
      opacity: 0;
      transform: translateX(-10%);
    }

    &__content {
      opacity: 0;
      transform: translateX(-10%);
    }

    &__media {
      opacity: 0;
      transform: translateX(10%);
    }
  }
}

.transition-in {
  .hero {
    &__blob {
      opacity: 1;
      transform: translateX(0);
    }

    &__content {
      opacity: 1;
      transform: translateX(0);
    }

    &__media {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .section,
  .footer {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Case Study transitions */

// Fadeout (vertical)

@keyframes verticalFadeOut1 {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-8rem);
  }
}

// Fadein (vertical)

@keyframes verticalFadeIn1 {
  0% {
    transform: translateY(8rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes verticalFadeIn2 {
  0% {
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Fadein (horizontal)

@keyframes horizontalFadeIn1 {
  0% {
    transform: translateX(8rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Page load


