.section,
.footer {
  opacity: 0;
  transform: translateY(0);
  transition: opacity $duration-5 $timing-ease, transform $duration-4 $timing-ease;
}

.hero {
  &__blob {
    opacity: 0;
    transform: translateX(0);
    transition: opacity $duration-5 $timing-ease, transform $duration-4 $timing-ease;
  }

  &__content {
    opacity: 0;
    transform: translateX(0);
    transition: opacity $duration-5 $timing-ease, transform $duration-4 $timing-ease;
  }

  &__media {
    opacity: 0;
    transform: translateX(0);
    transition: opacity $duration-5 $timing-ease, transform $duration-4 $timing-ease;
  }
}

.transition-out {
  .section,
  .footer {
    opacity: 0;
    transform: translateY(10%);
  }

  .hero {
    &__blob {
      opacity: 0;
      transform: translateX(-10%);
    }

    &__content {
      opacity: 0;
      transform: translateX(-10%);
    }

    &__media {
      opacity: 0;
      transform: translateX(10%);
    }
  }
}

.transition-in {
  .hero {
    &__blob {
      opacity: 1;
      transform: translateX(0);
    }

    &__content {
      opacity: 1;
      transform: translateX(0);
    }

    &__media {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .section,
  .footer {
    opacity: 1;
    transform: translateY(0);
  }
}
