h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font-family;
  font-weight: $font-weight-base;
  line-height: $heading-line-height;
}

h1 {
  font-family: $font-family-sans-serif-medium;
  font-size: $font-size-h1-sm;
  margin: 0 0 $spacing-3;

  @media screen and (min-width: map-get($bp, 'md')) {
    font-size: $font-size-h1;
    margin-bottom: $spacing-3;
  }
}

h2 {
  color: $brand-primary;
  font-size: $font-size-h2;
  margin: 0 0 $spacing-3;
}

h3 {
  font-size: $font-size-h3;
  margin: 0 0 $spacing-2;
}

h4 {
  font-size: $font-size-h4;
  margin: 0 0 $spacing-1;

  &:not(:first-child) {
    margin-top: $spacing-6;
  }
}

h5 {
  font-size: $font-size-h5;
  margin: 0 0 $spacing-2;

  &:not(:first-child) {
    margin-top: $spacing-6;
  }
}

h6 {
  margin: 0;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  margin: 0 0 $spacing-6;
}

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  color: $color-grey-dark;
  //font-family: $font-family-sans-serif-bold;
  //font-weight: 700p
}

figure {
  margin: $spacing-vertical-lg 0;

  @media screen and (min-width: map-get($bp, 'md')) {
    margin: $spacing-vertical-lg 0 $spacing-vertical * 3;
  }

  @media screen and (min-width: map-get($bp, 'lg')) {
    margin: $spacing-vertical-lg 0 $spacing-vertical-xl;
  }

  @media screen and (min-width: map-get($bp, 'xl')) {
    margin: $spacing-vertical * 3 0 $spacing-vertical-xl;
  }

  &:first-child {
    margin-top: 0;
  }

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

ul {
  list-style: square;
}

figcaption {
  color: $color-grey;
  font-size: 0.75em;
  padding: 0.467em 0;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}

.divider {
  border: $no-border;
  border-top: $border-width-lg $border-style $border-color;

  &--margin {
    margin: $spacing-9 0;
  }

  &--margin-bottom {
    margin-bottom: $spacing-9;
  }
  &--margin-top {
    margin-top: $spacing-9;
  }
  &--margin-blog {
    margin-bottom: $spacing-blog-grid;
  }
  @media screen and (min-width: map-get($bp, 'xl')) {
    &--margin-blog {
      margin-top: $spacing-blog-grid;
    }
  }
  &--block-hr {
    justify-content: center;
    margin-bottom: $spacing-blog-grid;
    margin-top: $spacing-blog-grid;
    width: 3.75em;
  }
}

.styled-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: $spacing-vertical-sm;
    }

    &--gap-lg {
      &:not(:last-child) {
        margin-bottom: $spacing-vertical * 1.5;
      }
    }

    .styled-list--inside-lg & {
      margin-left: $spacing-horizontal-lg;
    }

    .styled-list--inside & {
      margin-left: $spacing-5;
    }

    .styled-list--inside-sm & {
      margin-left: $spacing-5;

      @media screen and (min-width: 81.25em) {
        margin-left: 0;
      }
    }

    &::before {
      background-color: $brand-primary;
      content: '';
      display: block;
      height: 0.4em;
      left: -1.4em;
      position: absolute;
      top: 0.4em;
      width: 0.4em;
    }
  }
}

::selection {
  background: $selection-color;
  color: $color-white;
  text-shadow: none;
}

.color-grey-dark {
  color: $color-grey-dark;
}

.intro-paragraph {
  color: $color-grey-dark;
  font-size: $font-size-sm;
  line-height: 1.6875em;
  margin-bottom: $font-size-lg;
}
@media screen and (min-width: map-get($bp, 'md')) {
  .intro-paragraph {
    color: $color-grey-dark;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: $font-size-lg;
  }
}

blockquote {
  margin: $spacing-blog-grid auto;
  padding: 10px 0 10px 40px;
  position: relative;

  q {
    color: $color-grey-dark;
    display: block;
    font-family: $font-family-sans-serif-light;
    font-size: 1.875em;
    line-height: 1.375em;
    margin-bottom: $spacing-vertical-sm;
    width: 100%;
    quotes: '“';

    &::before {
      color: $color-grey-lightest;
      content: open-quote;
      font-size: 200px;
      font-weight: bold;
      line-height: 140px;
      left: 0;
      top: 0;
      position: absolute;
      z-index: -1;
    }

    &::after {
      display: none;
    }
  }

  cite {
    color: $color-grey;
    font-size: $font-size-sm;
  }
}
