h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: $font-weight-heading;
  line-height: $heading-line-height;
  margin-top: 0;
}

h1 {
  font-size: $font-size-h1;
  margin-bottom: $spacing-4;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    font-size: 4rem;
    margin-bottom: $spacing-4;
  }
}

h2 {
  font-size: $font-size-h2;
  margin-bottom: $spacing-4;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    font-size: 1.6rem;
  }

  .section--longform & {
    margin-bottom: $spacing-6;
  }
}

h3 {
  font-size: $font-size-h3;
  margin-bottom: $spacing-2;
}

h4 {
  font-size: $font-size-h4;
  margin-bottom: $spacing-3;

  &:not(:first-child) {
    margin-top: $spacing-7;
  }
}

h5 {
  font-size: $font-size-h5;
  margin-bottom: $spacing-3;

  &:not(:first-child) {
    margin-top: $spacing-7;
  }
}

h6 {
  margin-bottom: 0;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  color: $paragraph-color;
  font-size: $font-size-sm;
  margin: 0 0 $spacing-7;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  @include hover {
    text-decoration: line-through;
  }
}

figure {
  margin: $spacing-7 0;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    margin: $spacing-7 0 $spacing-8;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    margin: $spacing-6 0 $spacing-9;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
    margin: $spacing-7 0 $spacing-9;
  }

  &:first-child {
    margin-top: 0;
  }

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

ul {
  list-style: square;
}

figcaption {
  color: var(--color-paragraph);
  font-size: $font-size-sm;
  padding: $spacing-3 0;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}

.divider {
  border: none;
  border-top: $border-width-xl $border-style $color-powder;

  &--margin {
    margin: $spacing-10 0;
  }

  &--margin-bottom {
    margin-bottom: $spacing-10;
  }

  &--margin-top {
    margin-top: $spacing-10;
  }

  &--margin-blog {
    margin-bottom: $spacing-8;
  }

  &--block-hr {
    justify-content: center;
    margin: $spacing-8 0 $spacing-8 0;
    width: 3.75rem;
  }
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.styled-list {
  list-style: none;
  margin: 0 0 $spacing-5;
  padding: 0;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: $spacing-3;
    }

    &--gap-lg {
      &:not(:last-child) {
        margin-bottom: $spacing-6;
      }
    }

    // The company bullet is smaller on the design (which looks better too)

    &--small {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
        font-size: $font-size-sm;
        margin-left: $spacing-5 !important;

        &::before {
          background-color: var(--color-accent);
          content: '';
          display: block;
          height: .3rem !important; // Override the default pseudo after a certain size
          left: -1rem !important;
          position: absolute;
          top: .5rem !important;
          width: .3rem !important;
        }
      }
    }

    .styled-list--inside-lg & {
      margin-left: $spacing-7;
    }

    .styled-list--inside & {
      margin-left: $spacing-6;
    }

    .styled-list--inside-sm & {
      margin-left: $spacing-6;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-8')) {
        margin-left: 0;
      }
    }

    &::before {
      background-color: var(--color-accent);
      content: '';
      display: block;
      height: .4rem;
      left: -1.4rem;
      position: absolute;
      top: .4rem;
      width: .4rem;
    }
  }
}

::selection {
  background: var(--color-accent);
  color: $color-white;
  text-shadow: none;
}

.blog-content {
  position: relative;

  &__heading {
    color: var(--color-blog-heading);
    font-size: 3rem; // Custom font-size, unrelated to global spacing system
    font-weight: 700;
    line-height: 1;
    margin-bottom: -1rem; // Custom margin, unrelated to global spacing system
    pointer-events: none;
    text-align: center;
    z-index: -1;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      font-size: 5rem; // Custom font-size, unrelated to global spacing system
      margin-bottom: -2rem; // Custom margin, unrelated to global spacing system
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      font-size: 7rem; // Custom font-size, unrelated to global spacing system
      margin-bottom: -3.5rem; // Custom margin, unrelated to global spacing system
    }
  }
}

blockquote {
  margin: $spacing-7 auto;
  padding: $spacing-3 0 $spacing-3 $spacing-7;
  position: relative;
  width: 100%;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
    margin: 0;
    padding: $spacing-4 0 $spacing-5 $spacing-5;
    width: 75%;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    width: 100%;
  }

  q {
    color: $color-eggplant;
    display: block;
    font-family: $font-family-sans-serif-light;
    font-size: $font-size-lg;
    line-height: $quote-line-height;
    margin-bottom: $spacing-3;
    width: 100%;

    &::before {
      color: rgba($color-eggplant, .1);
      content: open-quote;
      font-size: 10rem;
      font-weight: bold;
      line-height: .9;
      left: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    &::after {
      content: close-quote;
      visibility: hidden;
    }
  }

  cite {
    color: $color-cerulean;
    font-size: $font-size-sm;
  }
}

.large {
  margin-bottom: $spacing-6;
  font-size: $font-size-xl;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    margin-bottom: $spacing-8;
  }

  &--center {
    margin-bottom: $spacing-8;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      text-align: center;
    }
  }
}

.biography {
  &__meta {
    color: hsl(231, 84%, 83%);
    font-family: $font-family-sans-serif-extrabold;
    font-size: .7rem;
    letter-spacing: .1rem;
    margin-bottom: $spacing-4;
    text-transform: uppercase;
  }
}
