// Leaf colors
$color-green: #55F6DB;
$color-pink: #f655c4;
$color-blue: #4c4cde;
$color-sky-blue: #199fff;
$color-container: #4721CE;
$color-off-purple: #ebebff;
$color-off-purple-dark: #eaeaf4;
$color-purple-lightest: #9999E6;
$color-purple-light: #5253A8;
$color-purple-dark: #161669;

$color-black: #000;
$color-green-light: #dbffe7;
$color-red: #f77c6b;
$color-grey-lightest: #e2e3e5;
$color-grey-light: #c6c7cc;
$color-grey: #6f7075;
$color-grey-dark: #2b363b;
$color-grey-dark-transparent: rgba($color-grey-dark, .9);
$color-grey-green: #f0f3f1;
$color-white: #fff;
$color-off-white: #f5f5f5;
$brand-secondary: $color-red !default;




$color-majorelle: #3e18c2;
$color-iris: #3614ab;
$color-snow: #e7e4f9;
$color-ivory: #f6f7fA;
$color-powder: #bbccff;
$color-baby-blue: #809fff;
$color-lavender: #8990FF;
$color-violet: #532ae1;



// Background
$background-color: var(--color-background);

// Border radius
$border-radius-xs: .1rem !default; // 2px
$border-radius-sm: .2rem !default; // 4px
$border-radius-base: .25rem !default; // 5px
$border-radius-lg: .4rem !default; // 8px
$border-radius-half: 50% !default;
$border-radius-full: 100% !default;

// Border sizing
$border-width-base: 1px !default;
$border-width-sm: $border-width-base * 2 !default;
$border-width-lg: $border-width-base * 3 !default;
$border-width-xl: $border-width-base * 4 !default;

// Border styling
$border-color: $color-white !default;
$border-style: solid !default;

// Borders
$border-default: $border-width-lg $border-style $border-color;

// Brand colors
$color-heha: #f2b6e8;
$color-keen: #b6d9f2;
$color-rift: #f2b6b6;
$color-zendesk: #b6f2f2;
$color-laced: #879ac9;

// Breakpoints
$breakpoints: (
  breakpoint-0: 0,
  breakpoint-1: 34em,
  breakpoint-2: 40em,
  breakpoint-3: 48em,
  breakpoint-4: 62em,
  breakpoint-5: 68em,
  breakpoint-6: 75em,
  breakpoint-7: 80em,
  breakpoint-8: 82em,
  breakpoint-9: 84em,
  breakpoint-10: 90em,
  breakpoint-11: 96em,
  breakpoint-12: 120em
) !default;

// Durations
$duration-1: 150ms;
$duration-2: 200ms;
$duration-3: 250ms;
$duration-4: 300ms;
$duration-5: 400ms;
$duration-6: 500ms;

// Fonts
$font-family-sans-serif-light: 'Larsseit-Light', sans-serif !default;
$font-family-sans-serif-regular: 'Larsseit', sans-serif !default;
$font-family-sans-serif-medium: 'Larsseit-Medium', sans-serif !default;
$font-family-sans-serif-extrabold: 'Larsseit-ExtraBold', sans-serif !default;

// Heading sizes
$font-size-h1: 2rem !default;
$font-size-h2: 1.5rem !default;
$font-size-h3: 1.1rem !default;
$font-size-h4: .9rem !default;
$font-size-h5: .8rem !default;
$font-size-h6: .75rem !default;

// Focus states
$focus-bg: var(--color-focus-bg);
$focus-color: var(--color-focus-color);
$focus-style: var(--color-focus-style);
$focus-width: var(--color-focus-width);

// Font sizes
$root-font-size: 1rem;
$root-font-size-xl: 1.25rem;
$font-size-xs: .8rem !default;
$font-size-sm: .9rem !default;
$font-size-md: 1.1rem !default;
$font-size-lg: 1.875rem !default;

// Font colours
$heading-color: var(--color-accent);
$link-color: var(--color-accent);
$paragraph-color: var(--color-paragraph);

// Font weights
$font-weight-base: 400;
$font-weight-heading: 700;

// Line heights
$heading-line-height: 1.2 !default;
$line-height: 1.6 !default;
$quote-line-height: 1.5 !default;

// Opacity
$opacity-base: .75;

// Spacing
$spacing-1: .125rem;
$spacing-2: .25rem;
$spacing-3: .5rem;
$spacing-4: .75rem;
$spacing-5: 1rem;
$spacing-6: 1.5rem;
$spacing-7: 2rem;
$spacing-8: 3rem;
$spacing-9: 4rem;
$spacing-10: 6rem;
$spacing-11: 8rem;
$spacing-12: 10rem;
$spacing-13: 12rem;
$spacing-14: 16rem;

// Sizing
$size-1: 1rem;
$size-2: 1.5rem;
$size-3: 2rem;
$size-4: 2.5rem;
$size-5: 3rem;
$size-6: 3.5rem;
$size-7: 4.5rem;
$size-8: 10rem;
$size-9: 12rem;
$size-10: 20rem;
$size-11: 30rem;
$size-12: 62.5rem;

// Timings
$timing-ease: ease;
$timing-ease-in-out: ease-in-out;
$timing-ease-in: ease-in;
$timing-elastic: cubic-bezier(.55, 0, .1, 1);

:root {
  --color-accent: #{$color-baby-blue};
  --color-background: #{$color-majorelle};
  --color-blog-heading: #{$color-iris};
  --color-container: #{$color-container};
  --color-focus-bg: #{$color-sky-blue};
  --color-focus-color: #{$color-majorelle};
  --color-focus-style: #{$border-style};
  --color-focus-width: #{$border-width-sm};
  --color-footer-contact: #{$color-white};
  --color-footer-divider: #{$color-violet};
  --color-footer-text: #{$color-lavender};
  --color-heading: #{$color-ivory};
  --color-hero-subheading: #{$color-powder};
  --color-logo: #{$color-white};
  --color-nav: #{$color-powder};
  --color-paragraph: #{$color-powder};
  --color-share-icons: #{$color-white};
  --color-social-icons: #{$color-white};
  --color-close: #{$color-white};
}