// Leaf colors
$color-violet: hsl(240, 37%, 29%);
$color-eggplant:	hsl(253, 86%, 29%);
$color-iris: hsl(253, 79%, 37%);
$color-majorelle: hsl(253, 78%, 43%);
$color-indigo: hsl(253, 72%, 47%);
$color-violet:	hsl(253, 75%, 52%);
$color-bluegem: hsl(254, 79%, 37%);
$color-cerulean: hsl(240, 69%, 58%);
$color-astronaut: hsl(240, 53%, 31%);
$color-sapphire: hsl(240, 44%, 49%);
$color-mauve: hsl(240, 20%, 40%);
$color-amethyst: hsl(238, 28%, 51%);
$color-lavender: hsl(236, 100%, 77%);
$color-powder: 	hsl(225, 100%, 75%);
$color-blush: 	hsl(225, 100%, 80%);
$color-ice: hsl(225, 100%, 87%);

$color-sky: hsl(205, 100%, 55%);
$color-coral: hsl(7, 90%, 69%);

$color-black: hsl(0, 0%, 0%);
$color-coal: hsl(240, 19%, 30%);
$color-slate: hsl(200, 16%, 20%);
$color-stone: hsl(230, 3%, 45%);
$color-dust: hsl(240, 30%, 90%);
$color-ash: hsl(240, 30%, 94%);
$color-silk: hsl(240, 40%, 98%);
$color-snow: hsl(250, 64%, 94%);
$color-cotton: hsl(225, 30%, 85%);
$color-ivory: hsl(225, 29%, 97%);
$color-smoke: hsl(0, 0%, 96%);
$color-white:	hsl(0, 0%, 100%);

// Brand colors
$hx-melrose: hsl(254, 100%, 88%);
$hx-royal: hsl(262, 46%, 45%);
$hx-studio: hsl(262, 47%, 49%);
$hx-minsk: hsl(262, 48%, 43%);
$hx-gigas: hsl(262, 49%, 38%);
$hx-daisy: hsl(263, 53%, 38%);
$hx-gold: hsl(46, 93%, 65%);

$rift-whisper: hsl(225, 29%, 97%);
$rift-iron: hsl(240, 4%, 89%);
$rift-pearl: hsl(240, 8%, 71%);
$rift-trout: hsl(240, 14%, 27%);
$rift-mako: hsl(240, 15%, 30%);
$rift-gun: hsl(240, 15%, 25%);
$rift-charada: hsl(240, 16%, 20%);
$rift-baltic: hsl(244, 15%, 18%);
$rift-red: hsl(0, 96%, 69%);

// Background
$background-color: var(--color-background);

// Border radius
$border-radius-xs: .1rem !default; // 2px
$border-radius-sm: .2rem !default; // 4px
$border-radius-base: .25rem !default; // 5px
$border-radius-lg: .4rem !default; // 8px
$border-radius-half: 50% !default;
$border-radius-full: 100% !default;

// Border sizing
$border-width-base: 1px !default;
$border-width-sm: $border-width-base * 2 !default;
$border-width-lg: $border-width-base * 3 !default;
$border-width-xl: $border-width-base * 4 !default;

// Border styling
$border-color: $color-white !default;
$border-style: solid !default;

// Borders
$border-default: $border-width-lg $border-style $border-color;

// Breakpoints
$breakpoints: (
  breakpoint-0: 0,
  breakpoint-1: 34em,
  breakpoint-2: 40em,
  breakpoint-3: 48em,
  breakpoint-4: 62em,
  breakpoint-5: 68em,
  breakpoint-6: 75em,
  breakpoint-7: 80em,
  breakpoint-8: 82em,
  breakpoint-9: 84em,
  breakpoint-10: 90em,
  breakpoint-11: 96em,
  breakpoint-12: 100em,
  breakpoint-13: 120em
) !default;

// Durations
$duration-1: 150ms;
$duration-2: 200ms;
$duration-3: 250ms;
$duration-4: 300ms;
$duration-5: 400ms;
$duration-6: 500ms;

// Fonts
$font-family-sans-serif-light: 'Larsseit-Light', sans-serif !default;
$font-family-sans-serif: 'Larsseit', sans-serif !default;
$font-family-sans-serif-medium: 'Larsseit-Medium', sans-serif !default;
$font-family-sans-serif-extrabold: 'Larsseit-ExtraBold', sans-serif !default;
$font-family-serif: 'Playfair Display', serif !default;

// Heading sizes
$font-size-h1: 2rem !default;
$font-size-h2: 1.5rem !default;
$font-size-h3: 1.1rem !default;
$font-size-h4: .9rem !default;
$font-size-h5: .8rem !default;
$font-size-h6: .75rem !default;

// Focus states
$focus-bg: var(--color-focus-bg);
$focus-color: var(--color-focus-color);
$focus-style: var(--color-focus-style);
$focus-width: var(--color-focus-width);

// Font sizes
$root-font-size: 1rem;
$root-font-size-xl: 1.25rem;
$font-size-xxs: .75rem;
$font-size-xs: .8rem !default;
$font-size-sm: .9rem !default;
$font-size-md: 1.1rem !default;
$font-size-lg: 1.875rem !default;
$font-size-xl: 2.2rem !default;

// Font colours
$heading-color: var(--color-accent);
$link-color: var(--color-accent);
$paragraph-color: var(--color-paragraph);

// Font weights
$font-weight-base: 400;
$font-weight-heading: 700;

// Line heights
$heading-line-height: 1.2 !default;
$line-height: 1.6 !default;
$quote-line-height: 1.5 !default;

// Opacity
$opacity-base: .75;

// Spacing
$spacing-1: .125rem;
$spacing-2: .25rem;
$spacing-3: .5rem;
$spacing-4: .75rem;
$spacing-5: 1rem;
$spacing-6: 1.5rem;
$spacing-7: 2rem;
$spacing-8: 3rem;
$spacing-9: 4rem;
$spacing-10: 6rem;
$spacing-11: 8rem;
$spacing-12: 10rem;
$spacing-13: 12rem;
$spacing-14: 16rem;
$spacing-15: 20rem;

// Sizing
$size-1: 1rem;
$size-2: 1.5rem;
$size-3: 2rem;
$size-4: 2.5rem;
$size-5: 3rem;
$size-6: 3.5rem;
$size-7: 4.5rem;
$size-8: 10rem;
$size-9: 12rem;
$size-10: 20rem;
$size-11: 30rem;
$size-12: 62rem;

// Timings
$timing-ease: ease;
$timing-ease-in-out: ease-in-out;
$timing-ease-in: ease-in;
$timing-elastic: cubic-bezier(.55, 0, .1, 1);

// Z-index map
$z-index: (
  'default': 1,
  'below': -1
);

// Z-index function
@function z($key) {
  @return map-get($z-index, $key);
}

:root {
  --color-header: #{$color-indigo};
  --color-header-nav: #{$color-astronaut};
  --color-accent: #{$color-powder};
  --color-background: #{$color-majorelle};
  --color-blog-heading: #{$color-iris};
  --color-container: #{$color-indigo};
  --color-focus-bg: #{$color-sky};
  --color-focus-color: #{$color-majorelle};
  --color-focus-style: #{$border-style};
  --color-focus-width: #{$border-width-sm};
  --color-footer-contact: #{$color-white};
  --color-footer-divider: #{$color-violet};
  --color-footer-text: #{$color-blush};
  --color-header-background: #{$color-indigo};
  --color-heading: #{$color-ivory};
  --color-hero-subheading: #{$color-ice};
  --color-logo: #{$color-white};
  --color-nav: #{$color-ice};
  --color-paragraph: #{$color-ice};
  --color-paragraph-bold: #{$color-ivory};
  --color-post-heading: #{$color-ivory};
  --color-share-icons: #{$color-white};
  --color-social-icons: #{$color-white};
}