$image-height: $size-11;

.presentation {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $spacing-7;
  margin-bottom: $spacing-9;
  min-height: 20rem;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $spacing-7;
    grid-row-gap: 0;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    grid-column-gap: $spacing-10;
    margin-bottom: $spacing-10;
    min-height: $image-height;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    align-self: center;

    .presentation--reverse & {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        order: 1;
      }
    }
  }

  &__media {
    margin: auto;
    position: relative;
    width: 75%;
    z-index: z('below');

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      margin: unset;
      width: auto;
    }
  }

  &__image {
    .presentation--reverse & {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        right: 0;
      }
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      bottom: 0;
      height: 20rem;
      margin: auto;
      max-width: none;
      position: absolute;
      top: 0;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        height: $image-height;
      }

      /*
      The Laced image was too close to the hero. It's also quite awkward and big, and deviates from
      the sizing scale below by so much that the class feels like a one-time usage.
      */

      &--laced {
        height: 115%;

        @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
          top: $spacing-11;
        }

        .presentation--reverse & {
          @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
            right: -6rem;
          }
        }
      }

      &--90 {
        height: 90%;
      }

      &--80 {
        height: 80%;
      }
    }
  }
}
