$image-height: $size-11;

.presentation {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $spacing-7;
  margin-bottom: $spacing-9;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing-7;
    grid-row-gap: 0;
    min-height: $image-height;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
    grid-column-gap: $spacing-10;
    margin-bottom: $spacing-10;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      width: 60vw;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      align-self: center;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      width: auto;
    }

    .presentation--reverse & {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        order: 1;
      }
    }
  }

  &__media {
    margin: auto;
    position: relative;
    width: 75%;
    z-index: z('below');

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      margin: unset;
      width: auto;
    }
  }

  &__image {

    .presentation--reverse & {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        right: 0;
      }
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      bottom: 0;
      height: $image-height;
      margin: auto;
      max-width: none;
      position: absolute;
      top: 0;

      /*
      The Laced image was too close to the hero. It's also quite awkward and big, and deviates from
      the sizing scale below by so much that the class feels like a one-time usage.
      */

      &--laced {
        height: 115%;

        @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
          top: $spacing-11;
        }

        .presentation--reverse & {

          @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
            right: -6rem;
          }
        }
      }

      &--90 {
        height: 90%;
      }

      &--80 {
        height: 80%;
      }
    }
  }
}
