mixin presentation(c)
  .presentation(class= c.presentationModifier ? "presentation--" + c.presentationModifier : "")
    .presentation__content
      if c.project
        +project({
          projectSubHeading: c.project.projectSubHeading,
          projectHeading: c.project.projectHeading,
          projectText: c.project.projectText,
          projectButton: {
            buttonModifier: c.project.projectButton.buttonModifier,
            buttonText: c.project.projectButton.buttonText,
            buttonUrl: c.project.projectButton.buttonUrl,
            triggerModal: c.project.projectButton.triggerModal,
          }
        })
      else if c.blockList
        +block-list(c.blockList)
    +image({
      context: "presentation",
      modifier: c.imageModifier,
      src: c.presentationImage.src,
      alt: c.presentationImage.alt
    })
