$icon-size: 2.7rem;
$image-size: $size-1;

.social-tile {
  @include focus-ring;
  @include touch-boost;
  display: block;

  @include hover {
    text-decoration: none;

    .social-tile__icon {
      transform: scale(1.1);
    }
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    display: flex;
  }

  &__icon {
    background-color: $color-container;
    border-radius: $border-radius-full;
    position: relative;
    text-align: center;
    height: $icon-size;
    transition: transform $duration-2 $timing-ease;
    width: $icon-size;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      margin-right: $spacing-4;
    }
  }

  &__image {
    height: $image-size;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $image-size;
  }

  &__content {
    display: none;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      display: block;
      padding-top: .2rem;
    }
  }

  &__heading,
  &__handle {
    display: block;
  }

  &__heading {
    color: $color-white;
    font-size: .6rem;
    font-weight: 700;
    letter-spacing: .05rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__handle {
    font-family: $font-family-sans-serif-medium;
    font-size: $font-size-xs;
  }
}
