$icon-size: 2.7rem;

.social-tile {

  @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
    display: flex;
  }

  &__icon {
    background-color: #31319B;
    border-radius: $border-radius-full;
    position: relative;
    text-align: center;
    height: $icon-size;
    width: $icon-size;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      margin-right: $spacing-4;
    }
  }

  &__image {
    height: 1rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
  }

  &__content {
    display: none;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      display: block;
    }
  }

  &__heading {
    color: $color-white;
    font-family: $font-family-sans-serif-bold;
    font-size: .6rem;
    letter-spacing: .05rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__link {
    color: $color-green;
    display: block;
    font-family: $font-family-sans-serif-medium;
    font-size: $font-size-xs;
  }
}
