$icon-size: 1.2rem;

.social-tile {

  @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
    display: flex;
  }

  &__icon {
    height: $icon-size;
    text-align: center;
    width: $icon-size;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      flex: 0 0 auto;
      margin-right: $spacing-4;
    }

    img {
      height: 100%;
      max-width: 100%;
      width: auto;
    }
  }

  &__content {
    display: none;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      display: block;
    }
  }

  &__heading {
    font-size: $font-size-sm;
    margin: 0 0 $spacing-1;
  }

  &__text {
    color: $color-grey-dark;
    font-size: $font-size-xs;
    margin: 0;
  }

  &__link {
    color: $brand-secondary;
    display: block;
    font-family: $font-family-sans-serif-medium;
    font-size: $font-size-sm;
  }
}
