mixin social-tile(c)
  a.social-tile(
    class=(c.socialTileModifier ? "social-tile--" + c.socialTileModifier : "")
    href= c.socialTileLink target="_blank" rel="noopener")
    .social-tile__icon
      img.social-tile__image(src= c.socialTileIcon.src alt= c.socialTileIcon.alt)
    .social-tile__content
      span.social-tile__heading= c.socialTileHeading
      span.social-tile__handle= c.socialTileHandle
