.share {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: $spacing-vertical;
    }

    .share--inline & {
      display: inline-block;
      margin: 0 1.875em 0 0;
    }
  }

  &__link {
    display: block;
  }

  svg {
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    width: 1.5em;
  }

  &__fill {
    transition: fill 0.2s ease-in-out;

    .share__link:hover & {
      fill: lighten($color-grey-dark, 10%);
    }
  }
}

.section {
  &--margin {
    margin-bottom: $spacing-blog-grid / 2;
    margin-top: $spacing-blog-grid;
  }
}
@media screen and (min-width: map-get($bp, "md")) {
  .section {
    &--margin {
      margin-bottom: $spacing-vertical-lg;
    }
  }
}
