.share {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: $spacing-5;
    }

    .share--inline & {
      display: inline-block;
      margin: 0 $spacing-7 0 0;
    }
  }

  &__link {
    cursor: pointer;
    display: block;
  }

  svg {
    display: inline-block;
    height: $size-2;
    vertical-align: middle;
    width: $size-2;
  }

  &__fill {
    transition: fill $duration-2 $timing-ease-in-out;

    .share__link:hover & {
      fill: darken($color-white, 5%);
    }
  }
}

.section {
  &--margin {
    margin-bottom: $spacing-6;
    margin-top: $spacing-8;
  }
}
@media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
  .section {
    &--margin {
      margin-bottom: $spacing-7;
    }
  }
}
