mixin share-icons(c)
  .share-icons
    a.share-icons__link.share-icons__link--twitter(href= c.twitterUrl)
      +image({
        class: "share-icons__image share-icons__image--twitter",
        src: c.twitterImage.src,
        fallbackSrc: c.twitterImage.fallbackSrc,
        alt: c.twitterImage.alt
      })
    a.share-icons__link.share-icons__link--linkedin(href= c.linkedinUrl)
      +image({
        class: "share-icons__image share-icons__image--linkedin",
        src: c.linkedinImage.src,
        fallbackSrc: c.linkedinImage.fallbackSrc,
        alt: c.linkedinImage.alt
      })
    a.share-icons__link.share-icons__link--facebook(href= c.facebookUrl)
      +image({
        class: "share-icons__image share-icons__image--facebook",
        src: c.facebookImage.src,
        fallbackSrc: c.facebookImage.fallbackSrc,
        alt: c.facebookImage.alt
      })
