//- Banner
//-
//- A full width banner image, to be displayed below the hero banner component


//- Options
//- -- alt
//- -- src


mixin banner(args)
  .banner
    img.banner__image(src='/images/' + args.src, alt=args.alt)
