//- Biography item
//-
//- A single link to a person or social site. To be called by the biography component


//- Options
//- -- href
//- -- site


mixin biography-item(args)
  - var href = (typeof args.href === 'undefined') ? '#' : args.href

  li.biography__list__item
    a.biography__list__link(href=href) #{args.site}
