//- Block item
//-
//- A blocked link item, highlighting primary content to explore. To be called by the block component


//- Options
//- -- intro
//- -- text
//- -- title


mixin block-item(args)
  - var href = (typeof args.href === "undefined") ? "#" : args.href

  a.block__item(href=href)
    span.block__intro #{args.intro}
    h3.block__title #{args.title}
    p.block__text #{args.text}
