//- Buckets
//-
//- A wrapper buckets component, simply looping through each included bucket item


//- Options
//- -- item


mixin buckets(args)
  .buckets(class=args.wide ? "buckets--wide" : null)
    each item in args.items
      +buckets-item(item)
