//- Form group (control)
//-
//- A label and control-group pair


//- Options
//- -- error
//- -- name


mixin form-group-controls(args)
  if args.formGroupArgs
    - var errorMessage = args.formGroupArgs.error ? args.formGroupArgs.error : null
    - var errorState = args.formGroupArgs.error ? "form-group--error" : null
    - args.controlArgs.name = args.formGroupArgs.name
    - args.controlArgs.type = args.formGroupArgs.type

  .form-group(class=errorState)
    +label(args.labelArgs).form-group__label
    .form-group__controls
      +control(args.controlArgs)
    if errorMessage
      .form-group__error-message!= errorMessage
