//- Form group (textarea)
//-
//- A label and textarea pair


//- Options
//- -- error
//- -- name


mixin form-group-textarea(args)
  if args.formGroupArgs
    - var errorMessage = args.formGroupArgs.error ? args.formGroupArgs.error : null
    - var errorState = args.formGroupArgs.error ? "form-group--error" : null
    - args.labelArgs.for = args.formGroupArgs.name
    - args.textareaArgs.name = args.formGroupArgs.name

  .form-group(class=errorState)
    +label(args.labelArgs).form-group__label
    +textarea(args.textareaArgs).form-group__input
    if errorMessage
      .form-group__error-message!= errorMessage
