//- Form group (input)
//-
//- A label and input pair


//- Options
//- -- error
//- -- name


mixin form-group-input(args)
  if args.formGroupArgs
    - var errorMessage = args.formGroupArgs.error ? args.formGroupArgs.error : null
    - var errorState = args.formGroupArgs.error ? "form-group--error " : ' '
    - args.labelArgs.for = args.formGroupArgs.name
    - args.inputArgs.name = args.formGroupArgs.name

  .form-group(class=errorState + args.formGroupArgs.name)
    +label(args.labelArgs).form-group__label
    +input(args.inputArgs).form-group__input
    if errorMessage
      .form-group__error-message!= errorMessage
