//- Hamburger
//-
//- A simple menu button


mixin hamburger(args)
  button.hamburger(class=args.white ? "hamburger--white" : null, type="button")
    span.hamburger__inner
      span.hamburger__content
