//- Hero banner
//-
//- A styled wrapper element encapsulating the masthead and page-header


//- Options
//- -- intro (page header)
//- -- title (page header)


mixin hero-banner(args)
  .hero-banner
    .hero-banner__inner
      include ../layout/masthead
      if args
        +page-header(args)
