//- Hero banner
//-
//- A styled wrapper element encapsulating the masthead and page-header


//- Options


mixin hero-banner(heroBannerArgs, logoArgs, hamburgerArgs, pageHeaderArgs)
  .hero-banner
    .hero-banner__inner
      +masthead(logoArgs, hamburgerArgs)
      +page-header(pageHeaderArgs)
