//- Navigation
//-
//- The primary method of moving around the website


mixin navigation(args)
  nav.navigation
    .navigation__inner
      +hamburger(args)
      ul.navigation__list.hidden(role="navigation")
        li.navigation__list__item
          a.navigation__list__link.animated.fadeInUp(href="/company") Company
        li.navigation__list__item
          a.navigation__list__link.animated.fadeInUp(href="/portfolio") Portfolio
        li.navigation__list__item
          a.navigation__list__link.animated.fadeInUp(href="/design") Design
        li.navigation__list__item
          a.navigation__list__link.animated.fadeInUp(href="/development") Development
