//- Quote
//-
//- A component for displaying a nice, promotional quote about ourselves


//- Options
//- -- author
//- -- quote


mixin quote(args)
  - var centerClass = args.center ? "quote--center" : null

  blockquote.quote(class=centerClass)
    .quote__text!= args.quote
    cite.quote__author!= args.author
