//- Related content
//-
//- A collection of relayted items, encouraging the user to continue their journey, Loops through each included item


//- Options
//- -- item


mixin related-content(args)
  .related-content
    .related-content__inner
      each item in args
        +related-content-item(item)
