//- Section
//-
//- A section block to encapsulate groups of related content


//- Options
//- -- description (optional)
//- -- title (optional)


mixin section(args)
  section.section(class=attributes.class ? attributes.class : null)
    .section__inner
      if args.title
        .section__intro
          h2.section__heading!= args.heading
          if args.description
            p.section__text!= args.text
      .section__content(class=args.narrow ? "section__content--narrow" : null)
        block
