//- Section
//-
//- A section block to encapsulate groups of related content


//- Options
//- -- description (optional)
//- -- title (optional)


mixin section(args)
  if attributes.class
    - var sectionClass = attributes.class ? attributes.class : null

  section.section(class=sectionClass)
    .section__inner
      if args.heading
        .section__intro
          h2.section__heading!= args.heading
          if args.text
            p.section__text!= args.text
      .section__content(class=args.narrow ? "section__content--narrow" : null)
        block
