mixin twitter-metadata(options)
  meta(name="twitter:card",content="summary")
  if options.site
    meta(name="twitter:site", content= options.site)
  if options.title
    meta(name="twitter:title", content= options.title)
  if options.description
    meta(name="twitter:description", content= options.description)
  if options.image
    meta(name="twitter:image", content= options.image)