mixin project(c)
  .project(class= c.projectModifier ? "project--" + c.projectModifier : "")
    .project__content
      h6.project__subheading= c.projectSubHeading
      h2.project__heading= c.projectHeading
      p.project__text= c.projectText
      +button(c.projectButton)
    +image({
      context: "project",
      modifier: "test",
      src: c.projectImage.src,
      alt: c.projectImage.alt
    })
