.statement {
  display: flex;

  &__icon {
    flex: 0 0 auto;
    margin-right: $spacing-horizontal * 1.5;
    width: 3em;
  }

  &__heading {
    color: $color-grey-dark;
    font-size: 1.5em;
  }

  &__text {
    margin: 0;
  }
}
