.statement {

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    display: flex;
  }

  &__icon {
    flex: 0 0 auto;
    margin-bottom: $spacing-5;
    margin-right: 0;
    width: 3.8rem;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      margin-bottom: 0;
      margin-right: $spacing-6;
    }
  }

  &__img {
    align-items: center;
    background-color: $color-indigo;
    border-radius: $border-radius-full;
    display: flex;
    height: 3.8rem;
    justify-content: center;
    padding: .9rem;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      padding: 0;
    }
  }

  &__text {
    //color: $color-white;
    font-size: $font-size-sm;
    margin-bottom: 0;
  }

  &__link {
    @include animated-link($border-width-sm);
    display: inline-block;
    font-family: 'Larsseit-Medium';
    font-size: $font-size-xs;
    margin-top: $spacing-4;
  }
}
