mixin benefit-statements(c)
  .grid.grid--statements
    .grid__item
      +statement({
        statementIcon: "/assets/images/icons/magic.svg",
        statementHeading: "An intelligent approach",
        statementText: "All sorts of tasks can be automated; aquisition, processing, reporting, support, and distribution are just a few examples. Our three step approach combines analysis, recommendation, and implementation to ensure a tangible return on investment for your business."
      })

    .grid__item
      +statement({
        statementIcon: "/assets/images/icons/tasks.svg",
        statementHeading: "Brilliant service",
        statementText: "Give your customers a fast, reliable, and convenient experience. We use our automation and software development expertise to deliver solutions that support both your customers and staff. These operate with superb accuracy, at lightning speed, 24 hours per day."
      })

    .grid__item
      +statement({
        statementIcon: "/assets/images/icons/growth.svg",
        statementHeading: "Turbocharge growth",
        statementText: "For your business to grow, you need to research new markets, improve existing products, and explore new revenue streams. Automation frees your staff up from the day to day, and enables them to focus on doing important and interesting work."
      })

    .grid__item
      +statement({
        statementIcon: "/assets/images/icons/coins.svg",
        statementHeading: "Minimised costs",
        statementText: "Automations deliver immediate savings, and massive profitability as you grow because they cost orders of magnitude less to run than people. This allows you to reinvest and innovate from a position of strength."
      })
