mixin statement(c)
  .statement
    .statement__icon
      img(src= c.statementIcon alt="")
    .statement__content
      h3.statement__heading= c.statementHeading
      p.statement__text= c.statementText
