.blog__item {
  &__image img {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: 100%;
  }

  &__blog__header {
    color: $color-grey-dark;
    font-size: 2em;
  }

  &__blog__text {
    color: $color-grey;
    margin: 0;
  }
}
