mixin blog-small(c)
    .blog-grid
      .card
      .card
      .card
      .card
      .card
      .card
        +image({
      class: "resource__image",
      src: c.resourceImage.src,
      fallbackSrc: c.resourceImage.fallbackSrc,
      alt: c.resourceImage.alt
    })
    .card__container
      .card__content
        h3.card__heading= c.resourceHeading
        p.card__text= c.resourceText
