mixin email-button(c)
  a.button.email-button(href= c.emailUrl)
    <svg width="30px" height="23px" viewBox="0 0 30 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>mail-black-envelope-symbol</title>
    <desc>Created with Sketch.</desc>
    <g id="Site-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Landing-page-|-Leaf" transform="translate(-1548.000000, -88.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="Simplified-contact-button" transform="translate(1527.000000, 63.000000)">
                <g id="mail-black-envelope-symbol" transform="translate(21.000000, 25.000000)">
                    <path d="M30,19.1665613 C30,19.8388494 29.8150083,20.4620921 29.518663,21.0104395 L20.0464334,10.1768496 L29.4159654,1.79717126 C29.780446,2.38843334 30,3.08296877 30,3.83350187 L30,19.1665613 Z M15.0000309,12.14391 L28.0374311,0.482995702 C27.5024268,0.183604098 26.8999672,0 26.250085,0 L3.74997681,0 C3.09929082,0 2.49664579,0.183604098 1.96380544,0.482995702 L15.0000309,12.14391 Z M18.6347589,11.4384405 L15.6169584,14.1393484 C15.4404373,14.2965337 15.220636,14.3750316 15.0000309,14.3750316 C14.7793022,14.3750316 14.5595009,14.2965337 14.3829798,14.1393484 L11.3644992,11.4383141 L1.77244539,22.4103812 C2.34739113,22.7791063 3.02120109,23 3.74991499,23 L26.250085,23 C26.9786753,23 27.6527944,22.7791063 28.2275546,22.4103812 L18.6347589,11.4384405 Z M0.584158232,1.79710806 C0.219739454,2.38837014 0,3.08290557 0,3.83350187 L0,19.1666245 C0,19.8389126 0.184126081,20.4621553 0.4815843,21.0105027 L9.95270099,10.1750168 L0.584158232,1.79710806 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>