.study {
  display: block;
  position: relative;

  &__media {
    display: block;
  }

  &__image {
    display: block;
    transition: opacity $duration-4 $timing-ease;
    width: 100%;
  }

  &__content {
    background-color: $color-white;
    bottom: 0;
    left: 0;
    padding: $spacing-6 $spacing-6 0 0;
    position: absolute;
    width: 50%;
  }

  &__heading {
    color: $color-grey-dark;
    transition: color $duration-4 $timing-ease;
  }

  &__text {
    color: initial;
    font-size: $font-size-sm;
    margin-bottom: 0;
  }

  &__link {
    color: $brand-secondary;
    display: block;
    font-family: $font-family-sans-serif-medium;
    font-size: $font-size-sm;
    margin-top: $spacing-3;
  }
}
