.permalink {
  margin-top: $spacing-8;

  &__heading {
    position: relative;
    scroll-margin-top: $spacing-6;
  }

  &__link {
    color: var(--color-accent);
    font-size: .6em;
    margin-inline-start: $spacing-3;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      left: -2.5rem;
      margin-inline-start: 0;
      position: absolute;
      top: $spacing-2;
    }
  }

  + h3,
  + h4 {
    margin-top: $spacing-7;
  }
}
