.block {
  margin-bottom: $spacing-9;

  @media screen and (min-width: map-get($breakpoint, "breakpoint-3")) {
    align-items: center;
    display: flex;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__content {

    @media screen and (min-width: map-get($breakpoint, "breakpoint-3")) {
      width: 50%;
    }

    .block--reverse & {

      @media screen and (min-width: map-get($breakpoint, "breakpoint-3")) {
        order: 1;
      }
    }
  }

  &__media {
    margin-top: $spacing-6;
    max-width: 80%;

    @media screen and (min-width: map-get($breakpoint, "breakpoint-3")) {
      margin-left: $spacing-7;
      max-width: none;
      width: 40%;
    }

    .block--reverse & {

      @media screen and (min-width: map-get($breakpoint, "breakpoint-3")) {
        margin-left: 0;
        margin-right: $spacing-7;
      }
    }
  }
}
