mixin block(c)
  .block(class= c.blockModifer ? "block--" + c.blockModifer : "")
    .block__content
      h3.block__heading= c.blockHeading
      .block__text!= c.blockContent
    +image({
      context: "block",
      src: c.blockImage.src,
      alt: c.blockImage.alt
    })
