mixin block(c)
  .block(class= c.blockModifer ? "block--" + c.blockModifer : "")
    .block__content
      h2.block__heading= c.blockHeading
      .block__text!= c.blockContent
    .block__image
      if c.blockImage.fallbackSrc
        img(src= c.blockImage.src alt= c.blockImage.alt onerror= "this.onerror=null; this.src='" + c.blockImage.fallbackSrc + "'")
      else
        img(src= c.blockImage.src alt= c.blockImage.alt)
