mixin block(c)
  .block(class= c.blockModifer ? "block--" + c.blockModifer : "")
    .block__content
      h2.block__heading= c.blockHeading
      .block__text!= c.blockContent
    +image({
      class: "block__image",
      src: c.blockImage.src,
      fallbackSrc: c.blockImage.fallbackSrc,
      alt: c.blockImage.alt
    })
