include _mixins

block vars

doctype html
//if lt IE 7
    <html class='no-js lt-ie9 lt-ie8 lt-ie7'>
//if IE 7
    <html class='no-js lt-ie9 lt-ie8'>
//if IE 8
    <html class='no-js lt-ie9'>
// [if gt IE 8] <!
html(class='no-js', lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    title #{title}

    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1.0')

    meta(http-equiv='cleartype', content='on')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='#{title}')

    script(src='https://use.typekit.net/huw3wqz.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}

    link(rel='stylesheet', href='/styles/main.css')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62036216-1', 'auto');
      ga('send', 'pageview');

  body(dir='ltr', class='#{bodyClass}')

    .site-wrapper

      <!--[if lt IE 9]>
      p.browsehappy
        | You are using an <strong>outdated</strong> browser.
        | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
        | to improve your experience.
      <![endif]-->

      main.content-wrapper

        if bodyClass !== 'home-page'
          include ../layout/header

        block content

        include ../layout/footer

    block footerScripts