.button {
  background-color: $color-purple-dark;
  border: none;
  border-radius: $border-radius-base;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
  font-family: $font-family-sans-serif-medium;
  padding: $spacing-4 $spacing-5;
  text-align: center;
  text-decoration: none;
  transition: background-color $duration-2 $timing-ease;

  // Gnarly hack to force visual text alignment within a button.
  &::before {
    content: '';
    display: block;
    margin-top: .125rem;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    font-size: $font-size-sm;
    padding: $spacing-5 $spacing-6;
  }

  &:hover,
  &:focus {
    background-color: darken($color-purple-dark, 3%);
    text-decoration: none;
  }

  &--small {
    font-size: $font-size-xs;
    padding: $spacing-3 $spacing-5;
  }
}
