.post-large {
  display: block;

  &:hover {
    text-decoration: none;

    .post-large__image {
      opacity: 0.75;
    }

    .post-large__heading {
      color: $brand-primary;
    }
  }

  &__image {
    display: block;

    img {
      height: 204px;
      width: 100%;
      object-fit: cover;
      // 77.5em
      @media screen and (min-width: 1240px) {
        height: 240px;
      }
      transition: opacity $duration-1 $timing-base;
    }
  }

  &__content {
    margin-top: $spacing-vertical * 1.5;
  }

  &__heading {
    color: $color-grey-dark;
    font-size: 1.5em;
    margin: 0 0 0.333em;
    transition: color $duration-1 $timing-base;
  }

  &__text {
    color: $color-grey;
    margin: 0;
  }

  &__footer {
    height: 50px;
  }
}
