.post-large {
  display: block;

  &:hover {
    text-decoration: none;

    .post-large__image {
      opacity: 0.75;
    }

    .post-large__heading {
      color: $brand-primary;
    }
  }

  &__image {
    display: block;

    img {
      height: 10rem;
      width: 100%;
      object-fit: cover;
      @media screen and (min-width: 77.5em) {
        height: 12rem;
      }
      transition: opacity $duration-2 $timing-1;
    }
  }

  &__content {
    margin-top: $spacing-4 * 1.5;
  }

  &__heading {
    color: $color-grey-dark;
    font-size: $font-size-h3;
    margin: 0 0 0.333em;
    transition: color $duration-2 $timing-1;
  }

  &__text {
    color: $color-grey;
    margin: 0;
  }

  &__footer {
    height: 2.5rem;
    margin-top: $spacing-3;
  }
}
