.post-large {
  display: block;

  &:hover {
    text-decoration: none;

    .post-large__image {
      opacity: .75;
    }

    .post-large__heading {
      color: $brand-primary;
    }
  }

  &__image {
    display: block;

    img {
      height: 10rem;
      width: 100%;
      object-fit: cover;
      transition: opacity $duration-2 $timing-ease;

      @media screen and (min-width: map-get($breakpoints, "breakpoint-6")) {
        height: 12rem;
      }
    }
  }

  &__content {
    margin-top: $spacing-5;
  }

  &__heading {
    color: $color-grey-dark;
    font-size: $font-size-h3;
    margin: 0 0 .333em;
    transition: color $duration-2 $timing-ease;
  }

  &__text {
    color: $color-grey;
    margin: 0;
  }

  &__footer {
    height: $size-4;
    margin-top: $spacing-3;
  }
}
