mixin post-large(c)
  a.post-large(href= c.cardUrl)
    +image({
      class: "post-large__image",
      src: c.postImage.src,
      fallbackSrc: c.postImage.fallbackSrc,
      alt: c.postImage.alt
    })
    .post__content
      h3.post__heading= c.postHeading
      p.post__text= c.postText
      .post__footer
        +author({
          authorUrl: "/heha",
          authorThumbnail: {
            src: "/assets/images/mike_blog.png",
            fallbackSrc: "/assets/images/mike_blog.png",
            alt: "Mike",
          },
          authorName: "Mike Carter",
          authorDetails: "20 Nov 2018 · 4 min read"
        })

      