mixin post-large(c)
  a.post-large(href= c.postUrl)
    +image({
      class: "post-large",
      src: c.postImage.src,
      alt: c.postImage.alt
    })
    .post__content
      h3.post-large__heading= c.postHeading
      p.post-large__text= c.postText
      .post-large__footer
        +author({
          class: c.author.class,
          authorDetails: c.author.authorDetails,
          authorName: c.author.authorName,
          authorThumbnail: {
            alt: c.author.authorThumbnail.alt,
            fallbackSrc: c.author.authorThumbnail.fallbackSrc,
            src: c.author.authorThumbnail.src
          }
        })
