.profile {

  &--small {
    align-items: center;
    display: flex;
    margin-bottom: $spacing-5;
  }

  &__media {
    margin-bottom: $spacing-4;

    .profile--small & {
      margin-bottom: 0;
    }
  }

  &__image {
    border-radius: $border-radius-lg;
    transition:
      box-shadow $duration-6 $timing-ease,
      transform $duration-2 $timing-ease;

    &--small {
      max-width: $size-5;
    }
  }

  &__block {
    @include aspect-ratio;
    background: $color-bluegem url('../../assets/images/company/question.svg') no-repeat center center;
    border-radius: $border-radius-lg;
    margin-bottom: $spacing-4;
    transition:
      box-shadow $duration-6 $timing-ease,
      transform $duration-2 $timing-ease;
  }

  &__heading {
    color: $color-white;
    margin-bottom: 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      text-align: center;
    }

    .profile--small & {
      margin-left: $spacing-5;
      text-align: left;
    }
  }

  &__text {
    color: var(--color-paragraph);
    font-family: $font-family-sans-serif-medium;
    font-size: $font-size-xs;
    margin-bottom: 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      text-align: center;
    }

    .profile--small & {
      margin-bottom: -0.4rem;
      margin-left: $spacing-5;
      text-align: left;
    }
  }
}

a.profile {

  &:hover {
    cursor: pointer;
    text-decoration: none;

    .profile__block,
    .profile__image {
      box-shadow: 0 .5rem 1rem 0 rgba($color-black, .015);
      transform: scale(1.02);

      &--small {

        &:hover {
          box-shadow: none !important; // Prevent higher specificity `__image` from working
          transform: scale(1) !important;
        }
      }
    }
  }
}