.profile {

  &__media {
    margin-bottom: $spacing-2;
  }

  &__heading {
    color: $color-white;
    margin-bottom: 0;
    text-align: center;
  }

  &__text {
    color: $color-green;
    font-family: $font-family-sans-serif-regular;
    font-size: $font-size-xs;
    margin-bottom: 0;
    text-align: center;
  }
}
