mixin profile(c)
  .profile
    +image({
      context: "profile",
      src: c.profileImage.src,
      alt: c.profileImage.alt
    })
    .profile__content
      h4.profile__heading= c.profileHeading
      p.profile__text= c.profileText
