mixin form
  script#howdy-script(async src='https://static.howdyform.com/howdyClient.js?token=aGVsbG9Ad2VhcmVsZWFmLmNvbQ==' data-howdy-recipient='hello@weareleaf.com')
  form.form
    fieldset.form__fieldset
      legend.form__legend About you
      .form__grid.form__grid--half
        .form__group
          label.form__label(for="name") What's your name?
          input#name.form__input(name="name" type="text" placeholder="James P. Sullivan")
        .form__group
          label.form__label(for="email") What's your email address?
          input#email.form__input(name="email" type="email" placeholder="sulley@monstersinc.com")
    fieldset.form__fieldset
      legend.form__legend Your company
      .form__grid.form__grid--half
        .form__group
          label.form__label(for="company_name") What's the company or organsation?
          input#company_name.form__input(name="company_name" type="text" placeholder="Monsters, Inc.")
        .form__group
          label.form__label(for="company_location") Where are you based?
          input#company_location.form__input(name="company_location" type="text" placeholder="Monstropolis")
    fieldset.form__fieldset
      legend.form__legend The problem
      label.form__label(for="project_description") How can we help?
      textarea#project_description.form__input.form__input--textarea(name="project_description" rows="7" placeholder="The more you can share with us, the better")
    +button({
      buttonText: "Send your enquiry",
      buttonType: "submit"
    })
