extends ./templates/base/_base

block prepend vars
  -var bodyClass = "unknown-page"
  -var title = "404 - Leaf"

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      },
      callToActionArgs: {
        link: "/contact",
        name: "Let's chat"
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "Toto, I've a feeling we're not in Kansas any more... We've looked everywhere, but that page doesn't seem to exist.",
      inverse: true,
      title: "404"
    }
  })

  //- Section
  +section({
    heading: "Lets get you back on track",
    text: "Of course, we don't know exactly what you're looking for, but here are a few useful pages to help get you going again."
  })

    //- Duo nav
    +duo-nav([{
      heading: "Home",
      href: "/",
      text: "Start over"
    },{
      heading: "Company",
      href: "company",
      text: "Learn about Leaf"
    }])
