extends ./templates/base/_base

block prepend vars
  -var bodyClass = "careers-page"
  -var title = "Careers - Leaf"

block content

  //- Hero banner
  +hero-banner({
    intro: "We're interested in where you're going, not where you've come from. If you're driven, passionate about your craft, and like to learn, we want to hear from you.",
    title: "Careers"
  })

  //- Banner
  +banner({
    alt: "Mike Carter at Leaf",
    src: "banners/careers.jpg"
  })

  main

    section.section
      .section__inner

        //- Buckets
        +buckets({
          items: [{
            heading: "Love working here",
            text: [
              "We'll only ever ask you to work your contracted hours, and leave you to manage your work/life balance. With flexi-time and remote working available as you need it, we'll ensure you have the environment you need to do your best work."
            ]
          },{
            heading: "A better you",
            text: [
              "We've pride ourselves on continual self-improvement, and we'll make sure you get the every oppertunity to do so yourself. That means making up-skilling available, through through peer work, personal development time and conference tickets."
            ]
          },{
            heading: "Can't see your role?",
            text: [
              "We advertise for specific skillsets, but we never know what our next rising star is going to look like. If you think Leaf would be a great opportunity, <a href='#'>introduce yourself</a> and let us know why you'd be a good fit."
            ]
          }]
        })
