extends ./templates/base/_base

block prepend vars
  -var bodyClass = "careers-page"
  -var title = "Careers - Leaf"

block header
  //- Open Graph
  +facebook-metadata({
    title: "Leaf Software Ltd",
    description: "Leaf are web application development experts, specialising in lean digital products that make peoples lives easier.",
    image: "http://www.weareleaf.com/images/leaf-logo-1200.png",
    type: "business.business",
    url: "http://www.weareleaf.com"
  })

  //- Twitter card
  +twitter-metadata({
    title: "Leaf Software Ltd",
    description: "Leaf are web application development experts, specialising in lean digital products that make peoples lives easier.",
    site: "@we_are_leaf",
    image: "http://www.weareleaf.com/images/leaf-logo-1200.png"
  })

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      },
      callToActionArgs: {
        link: "/contact",
        name: "Let's chat"
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "We're interested in where you're going, not where you've come from. If you're driven, passionate about your craft, and like to learn, we want to hear from you.",
      inverse: true,
      title: "Careers"
    }
  })

  //- Banner
  +banner({
    alt: "Mike Carter at Leaf",
    src: "/images/responsive/banners/careers-1800.jpg",
    mobile_srcset: "/images/responsive/banners/careers-cropped-640.jpg 640w, /images/responsive/banners/careers-cropped-750.jpg 750w, /images/responsive/banners/careers-cropped-1080.jpg 1080w",
    desktop_srcset: "/images/responsive/banners/careers-800.jpg 800w, /images/responsive/banners/careers-1000.jpg 1000w, /images/responsive/banners/careers-1200.jpg 1200w, /images/responsive/banners/careers-1400.jpg 1400w, /images/responsive/banners/careers-1600.jpg 1600w, /images/responsive/banners/careers-1800.jpg 1800w"
  })

  //- Section
  +section({
    heading: "Open positions <span>(1)</span>",
    text: "That's right; we're hiring. We have two positions open, and we have a sneaky feeling one of them has your name on it."
  })

    //- Duo nav
    +duo-nav([{
      heading: "Software Engineer",
      href: "careers/software-engineer",
      text: "Salary <abbr title='Depending On Experience'>DOE</abbr>"
    }])


    //- Buckets
    +buckets({
      items: [{
        heading: "Love working here",
        text: [
          "We'll only ever ask you to work your contracted hours, and leave you to manage your work/life balance. With flexi-time and remote working available as you need it, we'll ensure you have the environment you need to do your best work."
        ]
      },{
        heading: "A better you",
        text: [
          "We pride ourselves on continual self-improvement, and we'll make sure you get the every opportunity to do so yourself. That means making up-skilling available through through peer work, personal development time, and conference tickets."
        ]
      },{
        heading: "Can't see your role?",
        text: [
          "We advertise for specific positions and skillsets, but we never know what our next protégé is going to look like. If you think working with us at Leaf would be a great opportunity, <a href='mailto:hello@weareleaf.com'>introduce yourself</a> and let us know why you'd be a good fit."
        ]
      }]
    })
