extends ./templates/base/_base

block prepend vars
  -var bodyClass = "contact-page"
  -var title = "Contact us - Leaf"

block content
  script(src="https://static.howdyform.com/howdyClient.js?token=aGVsbG9Ad2VhcmVsZWFmLmNvbQ==", data-howdy-recipient="info@weareleaf.com")

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "If you think we'd be a good fit to help your team out on a project, have a burning question, or simply want to say hello, we'd love to hear from you.",
      inverse: true,
      title: "Contact us"
    }
  })

  //- Section
  +section({
    heading: "Let's chat",
    text: "We're usually able to respond to messages within 24 hours. We also <a href='/project-planner'>have a project planner</a>, which will help us better understand your needs."
  })#section--contact

    .contact
      .contact__content

        form.form.form--small(action="submit", autocomplete="off")

          //- Name
          +form-group-input({
            formGroupArgs: {
              name: "name"
            },
            labelArgs: {
              text: "What's your <mark class='form-group__label__highlight'>name</mark>?"
            },
            inputArgs: {
              placeholder: "Samwise Gamgee",
              optional: true
            }
          })

          //- Email address
          +form-group-input({
            formGroupArgs: {
              name: "email"
            },
            labelArgs: {
              text: "What's your <mark class='form-group__label__highlight'>email address</mark>?"
            },
            inputArgs: {
              placeholder: "samwise@gmail.com",
              type: "email",
              optional: true
            }
          })

          //- Message
          +form-group-textarea({
            formGroupArgs: {
              name: "description"
            },
            labelArgs: {
              text: "Tell us what <mark class='form-group__label__highlight'>we can do for you</mark>?"
            },
            textareaArgs: {
              placeholder: "The more you can share, the better",
              dataHowdyValidate: "required",
              optional: true
            }
          })

          input.button(type="submit", value="Send away")

      .contact__details
        dl.contact__list
          dt.contact__list__term Email
          dd.contact__list__description: a.contact__list__link(href="mailto:info@weareleaf.com") info@weareleaf.com
          dt.contact__list__term Telephone
          dd.contact__list__description: a.contact__list__link(href="tel:01227647006") 01227 647006
          dt.contact__list__term Address
          dd.contact__list__description 25 Castle Street, Canterbury, Kent, CT1 2PX, UK
