extends ./templates/base/_base

block prepend vars
  -var bodyClass = 'development-page'
  -var title = 'Development - Leaf'

block content

  //- Hero banner
  +hero-banner({
    intro: 'Expertly crafted, thoroughly thought out web and mobile applications; we take software engineering incredibly seriously. Our products are as robust as they are usable.',
    title: 'Development'
  })

  //- Banner
  +banner({
    alt: 'Chris Annetts at Leaf',
    src: 'company.jpg'
  })

  main

    section.section
      .section__inner

        //- Buckets
        +buckets({
          items: [{
            heading: 'New product development',
            text: [
              'Every great product has to start somewhere. Having worked on several new products with startups and as part of larger organisations, we\'re  well versed on how to do product development right.',
              'We\'ll guide you getting to your Minimum Viable Product (MVP), working in an agile manner and iterating towards a good product/market fit without burning cash on unproven demand.'
            ]
          },{
          heading: 'Existing products',
          text: [
            'We\'re talented developers, who can get up and going with your existing web applications regardless of their technology, technical debt or bugs. We\'re even happy to work alongside your existing development team.',
            'If you\'re strapped for resource and need a helping hand from true professionals with great technical and communication skills, a cutting edge knowledge of best practices and a bucket load of bright ideas, look no further.'
          ]
          },{
          heading: 'Technical consultancy',
          text: [
            'We understand that software development isn\'t always easy. Hard decisions have to be made without the benefit of hindsight and things can easily go wrong. We\'ve been there and back again many times.',
            'We\'ll help uncover where your developmental problems lie. We can review your code to identify areas of technical debt, advise on automation strategies, or build you a technical roadmap to get your team\'s focus back on track.'
          ]
        }],
        wide: true
      })
