extends ./templates/base/_base

block prepend vars
  -var bodyClass = "development-page"
  -var title = "Development - Leaf"

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      },
      callToActionArgs: {
        link: "/contact",
        name: "Let's chat"
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "Expertly crafted, thoroughly thought-out web and mobile products; we take software engineering incredibly seriously. Our work is both robust and easy to use.",
      inverse: true,
      title: "Development"
    }
  })

  //- Banner
  +banner({
    alt: "Leaf",
    src: "/images/responsive/banners/development-1800.jpg",
    mobile_srcset: "/images/responsive/banners/development-cropped-640.jpg 640w, /images/responsive/banners/development-cropped-750.jpg 750w, /images/responsive/banners/development-cropped-1080.jpg 1080w",
    desktop_srcset: "/images/responsive/banners/development-800.jpg 800w, /images/responsive/banners/development-1000.jpg 1000w, /images/responsive/banners/development-1200.jpg 1200w, /images/responsive/banners/development-1400.jpg 1400w, /images/responsive/banners/development-1600.jpg 1600w, /images/responsive/banners/development-1800.jpg 1800w"
  })

  //- Section
  +section({})

    //- Buckets
    +buckets({
      items: [{
        heading: "New product development",
        text: [
          "Every great product starts somewhere. We've worked on several new products with startups, and as part of larger organisations, and love being involved at such an important part of the journey.",
          "We'll guide you towards getting to your Minimum Viable Product (MVP), working in an agile manner and iterating towards a good product/market fit without burning cash on unproven demand."
        ]
      },{
        heading: "Existing products",
        text: [
          "If you're strapped for development resource, or need a helping hand from a technical partner, we're well versed in moving quickly within an existing product, site, or application.",
          "We can work with your existing systems regardless of their technology, technical debt, or bugs. We're even happy to work alongside your existing development team."
        ]
      }],
      wide: true
    })


  //- Section
  canvas#nodes-animation(data-target="technology-section")
  +section({
    background: "transparent",
    id: "technology-section",
    center: true,
    heading: "Technology",
    text: "We'll always use the most appropriate technology for any project, but have a few favourites in our toolkit."
  })
    //- Logo stack
    +logo-stack([{
      alt: "Ruby",
      src: "tech/ruby.svg",
      description: "Very flexible and hugely popular, the Ruby on Rails framework is a great choice for modern web applications. For you it means fast, affordable, and robust software development."
    },{
      alt: "Redux",
      src: "tech/redux.svg",
      description: "Redux brings sanity to JavaScript web applications by managing state in a carefully structured manner. This reduces the development to your business, while maintaining scaleability."
    },{
      alt: "React",
      src: "tech/react.svg",
      description: "React allows us to develop more professional web applications with no page reloads, the ability to easily handle complex UIs, and absolutely lightning fast performance. A great choice for mobile."
    },{
      alt: "Node.js",
      src: "tech/node.svg",
      description: "APIs allow your software to interact with other software applications no matter the technology in use. We use Node to build lightning fast APIs that power profitable, forward thinking businesses."
    },{
      alt: "JavaScript",
      src: "tech/javascript.svg",
      description: "The base language of the web, our expertise with JavaScript allows us to embed complex desktop-application-like behaviours into your existing websites and web applications."
    }])


  //- Section
  +section({})

      //- Buckets
      +buckets({
        items: [{
          heading: "CMS Development",
          text: [
            "We'll not only help you to choose the best CMS platform for your needs, but will provide any assistance necessary to get your team to confident and competent on your new system."
          ]
        },{
          heading: "Ongoing support",
          text: [
            "We understand that from time to time projects need a degree of of maintenance, bugs fixed, or an upcoming crisis averted. You can rely on us to give you complete peace of mind."
          ]
        },{
          heading: "Technical consultancy",
          text: [
            "We'll help uncover problems by reviewing your code to identify technical debt, advising on automation strategies, or building a technical roadmap to help focus your efforts."
          ]
        }]
      })
