extends ./templates/base/_base

block prepend vars
  -var bodyClass = "development-page"
  -var title = "Development - Leaf"

block content

  //- Hero banner
  +hero-banner({
    intro: "Expertly crafted, thoroughly thought out web and mobile applications; we take software engineering incredibly seriously. Our products are as robust as they are usable.",
    title: "Development"
  })

  //- Banner
  +banner({
    alt: "Leaf",
    src: "banners/development.jpg"
  })

  main

    section.section
      .section__inner

        //- Buckets
        +buckets({
          items: [{
            heading: "New product development",
            text: [
              "We'll guide you getting to your Minimum Viable Product (MVP), working in an agile manner and iterating towards a good product/market fit without burning cash on unproven demand."
            ]
          },{
            heading: "Existing products",
            text: [
              "We can work with your existing web applications regardless of their technology, technical debt or bugs. We're even happy to work alongside your existing development team.",
            ]
          },{
            heading: "Technical consultancy",
            text: [
              "We'll help uncover problems by reviewing your code to identify technical debt, advising on automation strategies, or building a technical roadmap to help focus your efforts."
            ]
          }]
        })
