doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Leaf Project Template
    link(rel='stylesheet', href='css/main.css')

  body(id='home')
    h1 Leaf Project Template

    p This is a barebones project template designed to speed up the process of starting a new project at leaf.</p>

    p For information on running and using it, consult README.md