extends pages/base/_base

block prepend vars
  -var bodyClass = 'home-page'

block content

  section

    .benefits
      .benefit
        h3 Your Brand
        p We can help your business <b>stand head and shoulders above the rest</b>, creating compelling brands and highly informative sites
        a(href='/pages/your-brand.html') Read more

      .benefit
        h3 Full Web Applications
        p We make full single page web applications with <b>lightning fast performance</b> using the <b>latest technologies</b>.
        a(href='/pages/full-web-applications.html') Read more

      .benefit
        h3 Mobile Apps
        p We even make mobile apps for <b>iOS and Android</b> devices.
        a(href='/pages/mobile-apps.html') Read more

      .benefit
        h3 No Project Managers
        p We're perfectly able work directly with you to ensure our work <b>exactly meets your needs</b>, no middle-men, just pure delivery.
        a(href='/pages/no-project-managers.html') Read more

      .benefit
        h3 Quality Like No Other
        p We're tired of the medicore quality of the web, and want to lend <b>our cutting-edge expertise</b> to helping those with big ambitions
        a(href='/pages/quality-like-no-other.html') Read more

      .benefit
        h3 Experience At Every Level
        p We've worked in web agencies, web startups and big businesses, so we're able to <b>understand your needs</b> and appreciate your concerns, even work with your team.
        a(href='/pages/experience-at-every-level.html') Read more

      .benefit
        h3 Always At The Cutting Edge
        p Tech moves fast, and we're determined to stay at the forefront, so we devote <b>20% of our week to learning</b>.
        a(href='/pages/always-at-the-cutting-edge.html') Read more

      .benefit
        h3 Get in touch
        p Think we can help you out?
        a(href='#') Get in touch
