extends pages/base/_base

block prepend vars
  -var bodyClass = 'home-page'

block content

  section.benefits
    .container
      .benefits__content
        h2.benefits__heading Why Choose Leaf?

        article.benefit
          h3.benefit__heading Your Brand
          p.benefit__description We can help your business stand head and shoulders above the rest, creating compelling brands and highly informative sites.
          a.benefit__link(href='/pages/your-brand.html') Read more

        article.benefit
          h3.benefit__heading Full Web Applications
          p.benefit__description We make full single page web applications with lightning fast performance using the latest technologies.
          a.benefit__link(href='/pages/full-web-applications.html') Read more

        article.benefit
          h3.benefit__heading Mobile Apps
          p.benefit__description We design and build cutting-edge mobile apps for iOS and Android devices.
          a.benefit__link(href='/pages/mobile-apps.html') Read more

        article.benefit
          h3.benefit__heading No Project Managers
          p.benefit__description We're perfectly able work directly with you to ensure our work exactly meets your needs, no middle-men, just pure delivery
          a.benefit__link(href='/pages/no-project-managers.html') Read more

        article.benefit
          h3.benefit__heading Vast Experience
          p.benefit__description We've worked in web agencies, web startups and big businesses, so we're able to understand your needs and appreciate your concerns, even work with your team.
          a.benefit__link(href='/pages/experience-at-every-level.html') Read more

        article.benefit
          h3.benefit__heading Cutting Edge
          p.benefit__description Tech moves fast, and we're determined to stay at the forefront, so we devote 20% of our week to learning.
          a.benefit__link(href='/pages/always-at-the-cutting-edge.html') Read more

  section.team
    .container
      .team__content
        h2.team__heading Who Are We?

        article.team-profile
          img.team__photo(src='/images/mike-carter.jpg', alt='Mike Carter')
          h3.team__member Mike Carter
          h4.team__role Developer
          p.team__biography Vivamus congue elit a imperdiet fermentum. Integer ullamcorper dui non sodales pulvinar. Aliquam semper erat vitae leo pharetra, vel ultrices massa volutpat. Sed volutpat, dolor id lacinia sodales, justo ex auctor sapien, id ullamcorper ante ex ut nisi. Aliquam ac porttitor libero, vitae molestie dolor.

         article.team-profile
          img.team__photo(src='/images/chris-annetts.jpg', alt='Chris Annetts')
          h3.team__member Chris Annetts
          h4.team__role Designer
          p.team__biography Aliquam quis nisl eleifend, venenatis enim vitae, varius nunc. Quisque luctus mauris id efficitur blandit. Nam finibus quam ut odio volutpat, vel tincidunt ex pulvinar. Maecenas non tellus lorem. Nullam sed elit sit amet justo ullamcorper pharetra. Aliquam non metus eros.

  section.testimonials
    .container
      .testimonials__content
        .testimonial
          p.testimonial__quote “Chris is an exceptional web designer, and from start to finish, was a total pleasure to work with. He has a great talent to take a client's vision and turn it into a reality”.
          h3.testimonial__person Graham Durbow
          h4.testimonial__company Music Maestro

  //video.video(autoplay muted loop)
    source(src='/videos/leaves.mp4', type='video/mp4')
    source(src='/videos/leaves.ogv', type='video/ogg')
    source(src='/videos/leaves.webm', type='video/webm')