extends templates/base/_base

block prepend vars
  -var bodyClass = 'home-page'
  -var title = 'Leaf'

block content

    header.hero-banner

      .navbar
        .navbar__inner
          .navbar__logo
            include templates/modules/leaf.svg
          a.navbar__link(href='#') Get in touch

      .hero-banner__inner
        h1.hero-banner__title We help brands improve their digital output
        p.hero-banner__intro Leaf are a Kent-based web design and development studio, specialising in building digital products that make peoples lives easier.

    main

      section.section.services.bg--white
        .section__inner.services__inner
          .section__header
            h2.section__title How we work
            p.section__intro We're no pixel-pushing, conveyer-belt outfit. We build products that get under the skin of the problem they’re solving.

          .section__body
            .services__block
              .services__block__icon
                .svg-design.svg-design-dims
              h3 Design
              p Design goes far deeper than the visual. Every decision is made with real data, business constaints and user experience at its heart.

            .services__block
              .services__block__icon
                .svg-development.svg-development-dims
              h3 Development
              p Technical constraints are the light that guides every decision. We create component-driven, scalable eco-systems, with an agile mindset.

      section.section.technologies.bg--alt
        .section__inner.technologies__inner
          .section__header
            h2.section__title Our toolkit
            p.section__intro We'll always use the most appropriate technology or service for the task at hand, but have a few that we use more often than most.

          .section__body
            .technologies__block
              .technologies__block__logo
                .svg-nodejs.svg-nodejs-dims
              h3 Node.js
              p We use Node.js to build super fast, highly scaleable web application servers and APIs.

            .technologies__block
              .technologies__block__logo
                .svg-ruby-on-rails.svg-ruby-on-rails-dims
              h3 Ruby on rails
              p We're brilliant Rails developers. It's a perfect choice for your full-stack web application.

            .technologies__block
              .technologies__block__logo
                .svg-react.svg-react-dims
              h3 React
              p We love using React to give single page web applications a fast, native feel while keeping code clean.

            .technologies__block
              .technologies__block__logo
                .svg-redux.svg-redux-dims
              h3 Redux
              p We use Redux in conjunction with React to bring developer sanity to large single page web applications.

      section.section.bg--white
        .section__inner
          .section__header
            h2.section__title Collective Experience
            p.section__intro With more than 10 years of industry work between us, we've worked with a fantastic bunch of clients; big and small. A small sample include:

          .section__body
            ul.list--3-col
              li Admiral
              li BoxedUp
              li CakeBoxx Technolgies
              li Confused.com
              li Cushelle
              li Cushman &amp; Wakefield
              li Expedia
              li Holiday Extras
              li Greene King IPA
              li Irn Bru
              li Orangina
              li Santander
              li Sprintly
              li Velvet
              li Zendesk
