extends templates/base/_base

block prepend vars
  -var bodyClass = 'home-page'
  -var title = 'Leaf'

block content

  .hero-banner
    .hero-banner__inner

      include ./templates/layout/header

      .page-header
        .page-header__inner
          h1.page-header__title We are Leaf
          p.page-header__intro A creative partner for young &amp; established brands; Leaf are a web design and development studio, specialising in digital products that make peoples lives easier.

  main

    section

      .gallery

        .gallery__pair

          a.gallery__item.gallery__item--link(href='company')
            img.gallery__item__image(src='/images/work/keen.jpg')
            .gallery__item__info
              span.gallery__item__intro Case study
              span.gallery__item__title Keen

          a.gallery__item.gallery__item--link(href='company')
            img.gallery__item__image(src='/images/work/cakeboxx.jpg')
            .gallery__item__info
              span.gallery__item__intro Case study
              span.gallery__item__title CakeBoxx Technology
