extends pages/base/_base

block prepend vars
  -var bodyClass = 'home-page'

block content

  section.benefits
    .container
      .benefits__content
        h2.benefits__heading Why Choose Leaf?

        article.benefit
          .icon__wrapper
            span.icon--brand
          .benefit__content
            a.benefit__heading__link(href='/pages/your-brand.html')
              h3.benefit__heading Your Brand
            p.benefit__description We can help your business stand head and shoulders above the rest, creating compelling brands and highly informative sites.
            a.benefit__link(href='/pages/your-brand.html') Read more

        article.benefit
          .icon__wrapper
            span.icon--web
          .benefit__content
            a.benefit__heading__link(href='/pages/full-web-applications.html')
              h3.benefit__heading Full Web Applications
            p.benefit__description We make full single page web applications with lightning fast performance using the latest technologies.
            a.benefit__link(href='/pages/full-web-applications.html') Read more

        article.benefit
          .icon__wrapper
            span.icon--mobile
          .benefit__content
            a.benefit__heading__link(href='/pages/mobile-apps.html')
              h3.benefit__heading Mobile Apps
            p.benefit__description It's not just web apps we specialise in. We also design and build cutting-edge mobile apps for iOS and Android devices.
            a.benefit__link(href='/pages/mobile-apps.html') Read more

        article.benefit
          .icon__wrapper
            span.icon--managers
          .benefit__content
            a.benefit__heading__link(href='/pages/no-project-managers.html')
              h3.benefit__heading No Project Managers
            p.benefit__description We work directly with you &amp; your team to ensure our work exactly meets your needs. No middle-men; just pure delivery.
            a.benefit__link(href='/pages/no-project-managers.html') Read more

        article.benefit
          .icon__wrapper
            span.icon--experience
          .benefit__content
            a.benefit__heading__link(href='/pages/experience-at-every-level.html')
              h3.benefit__heading Vast Experience
            p.benefit__description Having worked in web agencies, web startups and big businesses, we understand your needs, and can even work with your team.
            a.benefit__link(href='/pages/experience-at-every-level.html') Read more

        article.benefit
          .icon__wrapper
            span.icon--learning
          .benefit__content
            a.benefit__heading__link(href='/pages/always-at-the-cutting-edge.html')
              h3.benefit__heading Cutting Edge
            p.benefit__description Technology moves fast, so to stay at the forefront, we devote 20% of our week to learning &amp; personal development.
            a.benefit__link(href='/pages/always-at-the-cutting-edge.html') Read more

  section.team
    .container
      .team__content
        h2.team__heading Who Are We?

        article.team-profile
          img.team__photo(src='/images/mike-carter.jpg', alt='Mike Carter')
          h3.team__member Mike Carter
          h4.team__role Software Engineer
          p.team__biography Mike is an accomplished full-stack software engineer who specialises in using modern front end JavaScript frameworks backed by cutting edge cloud services to create web applications offering desktop-like user experiences. You can read more about Mike on his personal website, <a href='http://www.mcarter.me/' target='_blank'>www.mcarter.me</a>

         article.team-profile
          img.team__photo(src='/images/chris-annetts.jpg', alt='Chris Annetts')
          h3.team__member Chris Annetts
          h4.team__role Designer
          p.team__biography Chris is a seasoned interaction designer, having worked with some of the UK's biggest names. He specialises in turning complex ideas into accessible, simple, painless interfaces. You can find out more about Chris on his <a href='http://www.chrisannetts.com/' target='_blank'>personal site</a>, on <a href='http://www.twitter.com/cm_annetts/' target='_blank'>Twitter</a>, or through <a href='http://www.dribbble.com/chrisannetts/' target='_blank'>Dribbble</a>, where a selection of his work is available.

  section.testimonials
    .container
      .testimonials__content
        .testimonial
          p.testimonial__quote “Chris is an exceptional web designer, and from start to finish, was a total pleasure to work with. He has a great talent to take a client's vision and turn it into a reality”.
          h3.testimonial__person Graham Durbow
          h4.testimonial__company Music Maestro