extends templates/base/_base

block prepend vars
  -var bodyClass = 'home-page'
  -var title = 'Leaf'

block content

    header.page-header
      h1.page-header__title Agile web products, made with joined up thinking
      p.page-header__intro Leaf are a UK-based web design and development studio, specialising in lean digital products that make peoples lives easier.

    main
      dl
        dt Currently working with
        dd Holiday Extras, Keen, Zendesk
        dt Availability
        dd Available from September

      a(href='#').btn Tell us how we can help

    .portfolio
      ul.portfolio__list
        li.portfolio__item.animated.fade-in-down
          img(src='/images/portfolio-item-2.jpg')
        li.portfolio__item.animated.fade-in-left
          img(src='/images/portfolio-item-3.jpg')
        li.portfolio__item.animated.fade-in-up
          img(src='/images/portfolio-item-1.jpg')
        li.portfolio__item.animated.fade-in-left
          img(src='/images/portfolio-item-3.jpg')
