extends ./templates/base/_base

block prepend vars
  -var bodyClass = "home-page"
  -var title = "Web design and development studio in Kent - Leaf"

block content

  //- Hero banner
  +hero-banner({
    intro: "The creative partner you've been waiting for; Leaf are a web design and development studio, specialising in digital products that make peoples lives easier.",
    title: "We are Leaf"
  })

  main

    section.section
      .section__inner

        .section__intro
          h2.section__heading Portfolio
          p.section__text Our work is the ultimate reflection of ourselves. We've worked on some pretty exciting projects recently; here are some of our favourites.

        //- Gallery
        +gallery([{
          href: "portfolio/keen",
          intro: "Case study",
          src: "/images/responsive/work/keen-600.jpg",
          srcset: "/images/responsive/work/keen-200.jpg 200w, /images/responsive/work/keen-400.jpg 400w, /images/responsive/work/keen-600.jpg 600w",
          title: "Keen"
        },{
          href: "portfolio/cakeboxx",
          intro: "Case study",
          src: "/images/responsive/work/cakeboxx-855.jpg",
          srcset: "/images/responsive/work/cakeboxx-200.jpg 200w, /images/responsive/work/cakeboxx-400.jpg 400w, /images/responsive/work/cakeboxx-600.jpg 600w, /images/responsive/work/cakeboxx-800.jpg 800w, /images/responsive/work/cakeboxx-855.jpg 855w",
          title: "CakeBoxx Technology",
          wide: true
        }])

    section.section.bg--white.no-padding
      .section__inner

        //- Block
        +block([{
          href: "design",
          intro: "Creative",
          text: "Interface design is the marriage of user and business goals, using structure, iteration and style to create a window into your product.",
          title: "Interface design"
        },{
          href: "development",
          intro: "Engineering",
          text: "Expertly crafted, thoroughly thought out web and mobile applications; we take software engineering incredibly seriously.",
          title: "Development"
        }])
