doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Leaf Project Template
    link(rel='stylesheet', href='styles/main.css')

    //- Uncomment one of the lines below to pull in either your app JS, or some library JS.
    //- script(src='scripts/app/main.js')
    //- script(src='scripts/lib/demoLib.js')

  body
    include ./templates/instructions.jade