extends ./templates/base/_base

block prepend vars
  -var bodyClass = "portfolio-page"
  -var title = "Portfolio - Leaf"

block content

  //- Hero banner
  +hero-banner({
    intro: "The sum of everything we do is reflected in the work we procude. We're privilaged to have worked on some great brands, and proud of show off our hard work.",
    title: "Portfolio"
  })

  main

    section.section
      .section__inner

        //- Gallery
        +gallery([{
          href: "portfolio/keen",
          intro: "Case study",
          src: "work/keen.jpg",
          title: "Keen"
        },{
          href: "portfolio/cakeboxx",
          intro: "Case study",
          src: "work/cakeboxx.jpg",
          title: "CakeBoxx Technology",
          wide: true
        },{
          href: "portfolio/boxedup",
          intro: "Case study",
          src: "work/boxedup.jpg",
          title:"BoxedUp",
          wide: true
        },{
          href: "portfolio/zendesk",
          intro: "Case study",
          src: "work/zendesk.jpg",
          title: "Zendesk"
        }])
