extends ./templates/base/_base

block prepend vars
  -var bodyClass = "project-planner-page page--center page--inverse"
  -var title = "Leaf"

block content

  //- Hero banner
  +hero-banner({
    pageHeaderArgs: {
      intro: "This only takes a few minutes to complete, but allows us to understand your motivations and your goals.",
      title: "Project planner"
    }
  })

  //- Section
  +section({
    narrow: true
  }).no-padding-top

    form.form(action="submit", autocomplete="off")

      .form__section

        h2.form__heading About you

        //- Name
        +form-group-input({
          formGroupArgs: {
            name: "name"
          },
          labelArgs: {
            text: "What's your <mark class='form-group__label__highlight'>name</mark>?"
          },
          inputArgs: {
            placeholder: "Samwise Gamgee"
          }
        })

        //- Email address
        +form-group-input({
          formGroupArgs: {
            error: "This doesn't look like a real email address",
            name: "email"
          },
          labelArgs: {
            text: "What's your <mark class='form-group__label__highlight'>email address</mark>?"
          },
          inputArgs: {
            placeholder: "samwise@gmail.com",
            type: "email"
          }
        })

        //- Name
        +form-group-input({
          formGroupArgs: {
            name: "organisation"
          },
          labelArgs: {
            text: "What's your <mark class='form-group__label__highlight'>company or organsation</mark>?"
          },
          inputArgs: {
            placeholder: "Fellowship of the Ring"
          }
        })

      hr

      .form__section
        h2.form__heading The project

        //- Is it a new thing or not?
        +form-group-controls({
          formGroupArgs: {
            name: "productStatus",
            type: "radio"
          },
          labelArgs: {
            text: "Is it a <mark class='form-group__label__highlight'>brand new product</mark> or a <mark class='form-group__label__highlight'>re-design</mark> of existing product?"
          },
          controlArgs: [{
            checked: true,
            label: "New product"
          },{
            label: "Re-design"
          }]
        })

        //- What type of product?
        +form-group-controls({
          formGroupArgs: {
            error: "What is it you think you need? Don't worry if you're not 100% sure yet",
            name: "productType",
            type: "checkbox"
          },
          labelArgs: {
            text: "What <mark class='form-group__label__highlight'>type of products</mark> are you looking for?"
          },
          controlArgs: [{
            label: "Website"
          },{
            label: "Web app"
          },{
            label: "Mobile app"
          },{
            label: "Other"
          }]
        })

        //- URL
        +form-group-input({
          formGroupArgs: {
            name: "url"
          },
          labelArgs: {
            text: "What's the <mark class='form-group__label__highlight'>URL</mark> of the website?"
          },
          inputArgs: {
            placeholder: "lordoftherings.com",
            type: "url"
          }
        })

        //- Budget
        +form-group-input({
          formGroupArgs: {
            name: "budget"
          },
          labelArgs: {
            text: "<mark class='form-group__label__highlight'>How much</mark> are you looking to invest?"
          },
          inputArgs: {
            placeholder: "£15,000"
          }
        })

        //- Timescales
        +form-group-input({
          formGroupArgs: {
            name: "timescales"
          },
          labelArgs: {
            text: "Do you have any <mark class='form-group__label__highlight'>timescales</mark> in mind? <span class='form-group__label__optional'>(optional)</span>"
          },
          inputArgs: {
            optional: true,
            placeholder: "We need it live by May"
          }
        })

        //- Timescales
        +form-group-textarea({
          formGroupArgs: {
            name: "description"
          },
          labelArgs: {
            text: "Tell us about the project, and <mark class='form-group__label__highlight'>what you're looking to achieve</mark>?"
          },
          textareaArgs: {
            placeholder: "The more you can share, the better"
          }
        })

      input.button(type="submit", value="Send away")
