extends ./templates/base/_base

block prepend vars
  -var bodyClass = "project-planner-page page--center page--inverse"
  -var title = "Leaf"

block header
  //- Open Graph
  +facebook-metadata({
    title: "Leaf Software Ltd",
    description: "Leaf are web application development experts, specialising in lean digital products that make peoples lives easier.",
    image: "http://www.weareleaf.com/images/leaf-logo-1200.png",
    type: "business.business",
    url: "http://www.weareleaf.com"
  })

  //- Twitter card
  +twitter-metadata({
    title: "Leaf Software Ltd",
    description: "Leaf are web application development experts, specialising in lean digital products that make peoples lives easier.",
    site: "@we_are_leaf",
    image: "http://www.weareleaf.com/images/leaf-logo-1200.png"
  })

block content

  script(src="https://static.howdyform.com/howdyClient.js?token=aGVsbG9Ad2VhcmVsZWFmLmNvbQ==", data-howdy-recipient="hello@weareleaf.com")

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {},
      navigationArgs: {}
    },
    pageHeaderArgs: {
      intro: "This only takes a few minutes to complete, but allows us to understand your motivations and your goals.",
      title: "Project planner"
    }
  })

  //- Section
  +section({
    narrow: true
  }).no-padding-top

    form.form(action="submit", autocomplete="off")

      .form__section

        h2.form__heading About you

        //- Name
        +form-group-input({
          formGroupArgs: {
            name: "name"
          },
          labelArgs: {
            text: "What's your <mark class='form-group__label__highlight'>name</mark>?"
          },
          inputArgs: {
            placeholder: "Samwise Gamgee",
            optional: true
          }
        })

        //- Email address
        +form-group-input({
          formGroupArgs: {
            name: "email"
          },
          labelArgs: {
            text: "What's your <mark class='form-group__label__highlight'>email address</mark>?"
          },
          inputArgs: {
            placeholder: "samwise@gmail.com",
            type: "email",
            optional: true
          }
        })

        //- Organisation
        +form-group-input({
          formGroupArgs: {
            name: "organisation"
          },
          labelArgs: {
            text: "What's your <mark class='form-group__label__highlight'>company or organsation</mark>?"
          },
          inputArgs: {
            placeholder: "Fellowship of the Ring",
            dataHowdyValidate: "required",
            optional: true
          }
        })

      hr

      .form__section
        h2.form__heading The project

        //- Is it a new thing or not?
        +form-group-controls({
          formGroupArgs: {
            name: "productStatus",
            type: "radio"
          },
          labelArgs: {
            text: "Is it a <mark class='form-group__label__highlight'>brand new product</mark> or a <mark class='form-group__label__highlight'>re-design</mark> of existing product?"
          },
          controlArgs: [{
            checked: true,
            label: "New product"
          },{
            label: "Re-design"
          }]
        })

        //- What type of product?
        +form-group-controls({
          formGroupArgs: {
            name: "productType",
            type: "checkbox"
          },
          labelArgs: {
            text: "What <mark class='form-group__label__highlight'>type of products</mark> are you looking for?"
          },
          controlArgs: [{
            label: "Website",
            name: "websiteRequired"
          },{
            label: "Web app",
            name: "webAppRequired"
          },{
            label: "Mobile app",
            name: "mobileAppRequired"
          },{
            label: "Other",
            name: "otherRequired"
          }]
        })

        //- URL
        +form-group-input({
          formGroupArgs: {
            name: "url"
          },
          labelArgs: {
            text: "What's the <mark class='form-group__label__highlight'>URL</mark> of the website?"
          },
          inputArgs: {
            placeholder: "lordoftherings.com",
            type: "text",
            optional: true
          }
        })

        //- Budget
        +form-group-input({
          formGroupArgs: {
            name: "budget"
          },
          labelArgs: {
            text: "<mark class='form-group__label__highlight'>How much</mark> are you looking to invest?"
          },
          inputArgs: {
            placeholder: "£15,000",
            dataHowdyValidate: "required",
            optional: true
          }
        })

        //- Timescales
        +form-group-input({
          formGroupArgs: {
            name: "timescales"
          },
          labelArgs: {
            text: "Do you have any <mark class='form-group__label__highlight'>timescales</mark> in mind? <span class='form-group__label__optional'>(optional)</span>"
          },
          inputArgs: {
            optional: true,
            placeholder: "We need it live by May",
            dataHowdyValidate: "required",
            optional: true
          }
        })

        //- Message
        +form-group-textarea({
          formGroupArgs: {
            name: "description"
          },
          labelArgs: {
            text: "Tell us about the project, and <mark class='form-group__label__highlight'>what you're looking to achieve</mark>?"
          },
          textareaArgs: {
            placeholder: "The more you can share, the better",
            dataHowdyValidate: "required",
            optional: true
          }
        })

      input.button(type="submit", value="Send away")

    script.
      var urlField = document.querySelector('.form-group.url')

      var adjustURLFieldVisibility = function(e) {
        var redesignChecked = document.querySelector('input[name="productStatus"]:checked').value === 'Re-design'
        var websiteChecked = !!document.querySelector('input[name="websiteRequired"]:checked')
        return urlField.style.display = (redesignChecked && websiteChecked) ? 'block' : 'none'
      }

      var addChangeListener = function(input) {
        input.addEventListener('change', adjustURLFieldVisibility)
      }

      var productStatusElements = document.querySelectorAll('input[name="productStatus"]')
      for (var i = 0; i < productStatusElements.length; i++) {
        addChangeListener(productStatusElements[i])
      }
      addChangeListener(document.querySelector('input[name="websiteRequired"]'))
      urlField.style.display = 'none'
