extends ./templates/base/_base

block prepend vars
  -var bodyClass = "terms-page page--center page--inverse"
  -var title = "Resources - Leaf"

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {},
      navigationArgs: {}
    },
    pageHeaderArgs: {
      intro: "Resources we depend upon, available for you to use for free",
      title: "Resources"
    }
  })

  //- Section
  +section({
    narrow: true
  })
    h2 Documents

    p We organise all of our documents via Google Docs. It does everything we need and more, and its browser-based nature keeps our resources accessible from any computer, anywhere in the world.

    //- Buckets
    +buckets({
      items: [{
        heading: "Work Proposal",
        image_src: "/images/resources/proposal.jpg",
        image_href: "https://docs.google.com/document/d/1vYrVEKYdfVZCahw9fb-5W2OZGxypoKnNFr8HwX8zxeQ/edit?usp=sharing",
        text: [
          "Our template for all projects proposed by Leaf, as well as other official documents."
        ]
      },{
        heading: "Standard SLA",
        image_src: "/images/resources/standard-sla.jpg",
        image_href: "https://docs.google.com/document/d/1Mr40ByuviP7KbBz_05ZmQAH-lz9kSv8cTgZAQYJ2bfI/edit?usp=sharing",
        text: [
          "Our Standard SLA, which covers out of hours bug fixes on software projects we work on."
        ]
      },{
        heading: "Extended SLA",
        image_src: "/images/resources/extended-sla.jpg",
        image_href: "https://docs.google.com/document/d/1qn2ayp26QK6BeDp8_K2AUZbw-OeQZ3aVVn9D5fwbWiI/edit?usp=sharing",
        text: [
          "Our Extended SLA, which covers bug fixes and infrastructure on software projects we work on."
        ]
      }]
    })

    small Last updated: 29 Jan 2018
