extends ./templates/base/_base

block prepend vars
  -var bodyClass = "landing-page"
  -var title = "User Interface Design in Canterbury, Kent - Leaf"

block header
  //- Open Graph
  +facebook-metadata({
    title: "Leaf Software Ltd",
    description: "Leaf are web application development experts, specialising in lean digital products that make peoples lives easier.",
    image: "http://www.weareleaf.com/images/leaf-logo-1200.png",
    type: "business.business",
    url: "http://www.weareleaf.com"
  })

  //- Twitter card
  +twitter-metadata({
    title: "Leaf Software Ltd",
    description: "Leaf are web application development experts, specialising in lean digital products that make peoples lives easier.",
    site: "@we_are_leaf",
    image: "http://www.weareleaf.com/images/leaf-logo-1200.png"
  })

block content
  script(src="https://static.howdyform.com/howdyClient.js?token=aGVsbG9Ad2VhcmVsZWFmLmNvbQ==", data-howdy-recipient="enquiries@weareleaf.com")

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        static: true,
        white: true
      },
      callToActionArgs: {
        link: "#section--contact",
        name: "Work with us"
      }
    },
    heroBannerArgs: {
      green: true
    },
    hamburgerArgs: {
      white: true
    },
    pageHeaderArgs: {
      intro: "We are Leaf; a web design studio who care for your users as much as you do. Formed in 2015, we're based in the historic city of Canterbury, Kent.",
      inverse: true,
      title: "User interface design"
    }
  })

  //- Section
  +section({})

    .content-group.content-group--image.content-group--iphone
      img.content-group__image(src="/images/devices/iphone.png" alt="UI design")

    .content-group.content-group--image.content-group--iphones
      img.content-group__image(src="/images/devices/iphones.png" alt="Native app design")

    .content-group.content-group--text.content-group--native
      h3 iOS &amp; Android design
      p With nearly 3 billion active Apple and Android devices in use, it’s no suprise that organisations are routinely catering for such a thriving market.
      p Good iOS and Android app design applies fundemental web-based principles, while making use of native design patterns and gestures.

    .content-group.content-group--text.content-group--web
      h3 Website design
      p Simply having an online presence is no longer enough. The web has matured rapidly in recent years, creating a myriad of sites no longer fit for purpose.
      p We design and build responsive, accessible, performant websites for startups and organisations who care about their users.

    .content-group.content-group--image.content-group--macbook
      img.content-group__image(src="/images/devices/macbook.png" alt="Web app design")

    .content-group.content-group--text.content-group--web-app
      h3 Web application design
      p While native apps understandably generate a lot of excitement, the humble web app is often the more appropriate route.
      p Web applications are not only accessible to anyone with a browser, irrespective of their device, but are far more cost effective to produce.


  hr

  +section({})
    +quote({
      center: true,
      author: "Stuart Clark, CakeBoxx Technologies",
      quote: "We approached Leaf to redesign our previously dated site. Their team quickly got us up and running with a beautiful new site; optimised for our client-base with a mobile-first approach. Feedback from our customers has been fantastic!"
    })

  +section({
    background: "white",
    shadow: true
  })#section--contact.no-padding-bottom

    //- Logo stack
    +logo-stack([{
      alt: "Keen",
      src: "clients/colour/keen.svg"
    },{
      alt: "Zendesk",
      src: "clients/colour/zendesk.svg"
    },{
      alt: "Holiday Extras",
      src: "clients/colour/holiday-extras.svg"
    },{
      alt: "CakeBoxx Technology",
      src: "clients/colour/cakeboxx.svg"
    }])

    .contact
      .contact__intro
        p.contact__lead Interested?
        h3.contact__heading You’re in good company
        p.contact__text If you have some interface design work you think we could help with, we’d love to hear from you. Leave us a message, and we'll get back to you within 24 hours.

      .contact__content

        form.form.form--small(action="submit", autocomplete="off")

          //- Name
          +form-group-input({
            formGroupArgs: {
              name: "name"
            },
            labelArgs: {
              text: "What's your <mark class='form-group__label__highlight'>name</mark>?"
            },
            inputArgs: {
              placeholder: "Samwise Gamgee",
              optional: true
            }
          })

          //- Email address
          +form-group-input({
            formGroupArgs: {
              name: "email"
            },
            labelArgs: {
              text: "What's your <mark class='form-group__label__highlight'>email address</mark>?"
            },
            inputArgs: {
              placeholder: "samwise@gmail.com",
              type: "email",
              optional: true
            }
          })

          //- Message
          +form-group-textarea({
            formGroupArgs: {
              name: "description"
            },
            labelArgs: {
              text: "Tell us about the project, and <mark class='form-group__label__highlight'>what you're looking to achieve</mark>?"
            },
            textareaArgs: {
              placeholder: "The more you can share, the better",
              dataHowdyValidate: "required",
              optional: true
            }
          })

          input.button(type="submit", value="Send away")

      .contact__details
        dl.contact__list
          dt.contact__list__term Email
          dd.contact__list__description: a.contact__list__link(href="mailto:enquiries@weareleaf.com") enquiries@weareleaf.com
          dt.contact__list__term Telephone
          dd.contact__list__description: a.contact__list__link(href="tel:01227647006") 01227 647006
          dt.contact__list__term Address
          dd.contact__list__description 25 Castle Street, Canterbury, Kent, CT1 2PX, UK


    footer.simple-footer
      .simple-footer__inner
        span.simple-footer__item &copy; Leaf Software Ltd
        span.simple-footer__item Company no: 09664307

  //- Google Code for Landing page Conversion Page
  script.
    /* <![CDATA[ */
    var google_conversion_id = 858685293;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "O-TyCNDkiW8Q7f65mQM";
    var google_remarketing_only = false;
    /* ]]> */

  script(type="text/javascript", src="//www.googleadservices.com/pagead/conversion.js")
  noscript
    div(style="display:inline;")
      img(height="1", width="1", style="border-style:none;", alt="", src="//www.googleadservices.com/pagead/conversion/858685293/?label=O-TyCNDkiW8Q7f65mQM&amp;guid=ON&amp;script=0")
