extends ../../layouts/content.pug

block prepend vars
  -var pageTitle = "Chris | Leaf"
  -var metaUrl = "https://weareleaf.com/company/chris"
  -var metaTitle = ""
  -var metaDescription = ""

block pageComponents

  +close({
    closeUrl: "/company#team"
  })