extends ../../layouts/bio.pug

block prepend vars
  -var pageTitle = "Curt | Leaf"
  -var metaUrl = "https://weareleaf.com/company/curt"
  -var metaTitle = "Curtis Lee is a Product Designer at Leaf"
  -var metaDescription = "Curt's talents are far-reaching, with a deep understanding of human behaviour, a natural creative streak, and the ability to write clear and accessible content. His infectious energy and hunger for self-improvement is invaluable around the team, and pushes each of us to keep growing."

block pageComponents

  .biography
    +image({
      context: "biography",
      src: "/assets/images/team/curt-bio.jpg",
      alt: "Curtis Lee looking very happy in front of a tree."
    })
    .biography__content
      .biography__meta Product Designer
      h1.hero__heading.hero__heading--bio Curtis Lee<span class="hero__heading__period">.</span>
      .biography__social
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/twitter.svg",
            alt: "The Twitter logo"
          },
          socialTileModifier: "bio",
          socialTileHeading: "Twitter",
          socialTileHandle: "@CurtisLee97",
          socialTileLink: "https://mobile.twitter.com/CurtisLee97"
        })
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/linkedin.svg",
            alt: "The LinkedIn logo"
          },
          socialTileModifier: "bio",
          socialTileHeading: "LinkedIn",
          socialTileHandle: "/curtis97lee",
          socialTileLink: "https://www.linkedin.com/in/curtis97lee/"
        })
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/dribbble.svg",
            alt: "The Dribbble logo"
          },
          socialTileModifier: "bio",
          socialTileHeading: "Dribbble",
          socialTileHandle: "/Curtis_A_Lee",
          socialTileLink: "https://dribbble.com/Curtis_A_Lee"
        })
      +block({
        blockHeading: "What are their superpowers?",
        blockText: "Curt's talents are far-reaching, with a deep understanding of human behaviour, a natural creative streak, and the ability to write clear and accessible content. His infectious energy and hunger for self-improvement is invaluable around the team, and pushes each of us to keep growing."
      })
      +block({
        blockHeading: "What's interesting about them?",
        blockText: "After 7 years playing ice hockey for local team Sutton Sting, Curt's adamant he can ice-skate better than he can walk. Away from his favourite sport, Curt's passionate about fast cars and classic sneakers, and dreams of one day driving a BMW M4 Competition wearing a pair of Air Jordan Retro 4's."
      })
      +block({
        blockHeading: "What are their credentials?",
        blockText: "Curt joined Leaf in February 2019 after graduating from Nottingham Trent University, where he received a First Class degree in Digital Media Design. Prior to Leaf, he worked as a Junior Designer at Strafe Creative following a successful internship, and more recently with London-based agency Wiser."
      })