extends ../../layouts/bio.pug

block prepend vars
  -var pageTitle = "Tina | Leaf"
  -var metaUrl = "https://weareleaf.com/company/tina"
  -var metaTitle = ""
  -var metaDescription = ""

block pageComponents

  +image({
    context: "biography",
    src: "/assets/images/team/tina-bio.jpg",
    alt: "Chris"
  })