extends ../../layouts/bio.pug

block prepend vars
  -var pageTitle = "Tina | Leaf"
  -var metaUrl = "https://weareleaf.com/company/tina"
  -var metaTitle = "Tina van Schelt is a Software Engineer at Leaf"
  -var metaDescription = "Tina's ability to analyse and interrogate stem from her natural curiosity, keeping those around her honest, and helping to uncover problems that others would spot much later. She's a perpetual learner, and is at her happiest expanding her knowledge of technology and human behaviour."

block pageComponents

  .biography
    +image({
      context: "biography",
      src: "/assets/images/team/tina-bio.jpg",
      alt: "Tina van Schelt looking happy while facing slightly away from the camera."
    })
    .biography__content
      .biography__meta Software Engineer
      h1.hero__heading.hero__heading--bio Tina van Schelt<span class="hero__heading__period">.</span>
      .biography__social
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/twitter.svg",
            alt: "The Twitter logo"
          },
          socialTileModifier: "bio",
          socialTileHeading: "Twitter",
          socialTileHandle: "@tinavanschelt",
          socialTileLink: "https://mobile.twitter.com/tinavanschelt"
        })
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/linkedin.svg",
            alt: "The LinkedIn logo"
          },
          socialTileModifier: "bio",
          socialTileHeading: "LinkedIn",
          socialTileHandle: "/tinavanschelt",
          socialTileLink: "https://www.linkedin.com/in/tinavanschelt/"
        })
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/github.svg",
            alt: "The Github logo"
          },
          socialTileModifier: "bio",
          socialTileHeading: "Github",
          socialTileHandle: "/tinavanschelt",
          socialTileLink: "https://github.com/tinavanschelt"
        })
      +block({
        blockHeading: "What are their superpowers?",
        blockText: "Tina's ability to analyse and interrogate stem from her natural curiosity, keeping those around her honest, and helping to uncover problems that others would spot much later. She's a perpetual learner, and is at her happiest expanding her knowledge of technology and human behaviour."
      })
      +block({
        blockHeading: "What's interesting about them?",
        blockText: "Tina is a habitual explorer, and has travelled to more than a dozen countries in the last couple of years. Originally from Cape Town, she's based in Limerick, although will be leaving Ireland shorty for Amsterdam. She's also a keen runner, completing the Dublin Marathon and well over 50 Parkruns."
      })
      +block({
        blockHeading: "What are their credentials?",
        blockText: "Tina started her career as a Digital Product Owner before leading the Ruby on Rails development at one of South Africa’s largest online liquor stores. She moved to Babylonstoren as a Senior Javascript Developer, where she helped rebuild their eCommerce platform, before joining Leaf in May 2018."
      })