.jumbotron
  .container
    .jumbotron__content

      .jumbotron__logo
      a.jumbotron__button(href='/pages/work-with-us.html') Work with us

      .jumbotron__message
        span.jumbotron__logomark
        h1.jumbotron__title We're on a mission
        p.jumbotron__intro We're a <strong>designer &amp; developer duo</strong> based in Canterbury, UK with over 15 years industry experience across a wide range of web technologies.<br/>Let us show you what the Internet is capable of.