video.video(autoplay muted loop)
  source(src='/videos/leaves.mp4', type='video/mp4')
  source(src='/videos/leaves.ogv', type='video/ogg')
  source(src='/videos/leaves.webm', type='video/webm')

img.video-fallback(src="/images/video-fallback.jpg")