extends ../templates/base/_base

block prepend vars
  -var bodyClass = 'inner-page'
  -var title = 'Interface design - Leaf'

block content

    .page-header
      h1.page-header__title Interface Design
      p.page-header__intro Interface design is the marriage of user and business goals, using structure, iteration and style to create a window into your product.

    main

      section.section.services.bg--white
        .section__inner.services__inner

          h3 How we work
          p Information architecture (IA) focuses on organizing your content in a logical, sustainable way. A well thought out IA will map to the expectations of the user, providing context of where they are in the site, as well as what they can expect to find next.

          h3 Content strategy
          p Laid bare, a website is nothing more than a bunch of words on a page. Your content is the sole reason a user will choose to interact with your site, and is the starting point of any design. We’ll work with you to ensure you messaging meets the needs of the user, as well as your business.

          h3 Sketching &amp; wireframing
          p In spite of a such a rich armoury of design tools, pen and paper remain the go-to weapon of choice when exploring design patterns. Alongside low fidelity wireframes, they enforce an emphasis on solving the problems at hand, rather than sweating over whether to use a 3px or 5px border radius.

          h3 Prototyping
          p Prototyping allows us to focus on solving a specific problem in isolation. Whether you’re exploring an experimental interaction, a simplified version of an existing user flow, or the technical limitations of an API, prototyping provides a resource-friendly method of testing a hypothesis.

          h3 Visual design
          p The layer of brand-flavoured polish that sits between the user and the content itself, visual design is the art of manipulating how a website looks and feels. A well executed design will build trust, create a clear visual hierarchy, and be appropriate to the needs of the demographic.

          h3 Styleguides
          p A styleguide is a library of interface components, design patterns and brand assets, used to create a cohesive, consistent design language. By designing at site-wide level, rather than on a page-by-page basis, we create a set core, underlying guidelines that inform and underpin every design decision.