extends ../templates/base/_base

block prepend vars
  -var bodyClass = 'inner-page'
  -var title = 'Howdy - Leaf'

block content

    .page-header
      img.page-header-image(src='/images/howdy-header.jpg')
      h1.page-header-title Code-free web forms for designers &amp; marketers

    hr

    section.section
      h2 The mission

      p.intro-paragraph It’s no secret that it can be a frustrating industry for the non-technical folk amoung us. Designers & marketers especially are often at the mercy of web developers, or their internal IT team.

      p Personal portfolios, marketing sites &amp; landing pages can all be created with relative ease, but each of those examples often need one reacurring component — the form. Enquiry forms, contact forms, an email capture form; the list goes on.

      p By removing the pain of long lead times and endless road blocks, we’d be able to put the power back in the hands of designers &amp; marketers.

    .content-blocks
      .content-block.text.bg-light-green
        h3 Work fast, release early
        p From a simple concept, howdy was named, branded, designed, developed, tested, and released in BETA in little under 2 weeks.
      .content-block
        img(src='/images/howdy-1.jpg')

    section.section
      h2 How we did it

      p.intro-paragraph Sed in nibh turpis. Sed lacinia ante in porttitor volutpat. Nullam dapibus dui sed nunc lobortis, ac pharetra sapien ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

      p Nunc a neque elit. Vestibulum fringilla egestas scelerisque. Aliquam porttitor libero sollicitudin interdum vestibulum. Curabitur tempus egestas ligula, ut accumsan elit luctus ac. Curabitur ultrices luctus feugiat.

      p Nunc at tristique lacus. Quisque vel neque dolor. Donec a tellus pretium, lacinia eros at, aliquet nisl. Sed nec ante faucibus, rhoncus dui ultrices, blandit quam. Proin sed porttitor justo, bibendum porttitor augue. Ut dignissim ultricies elementum.

block footerScripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='/scripts/lib/classie.js')
  script(type='text/javascript').
    (function() {
      [].slice.call(document.querySelectorAll('.navbar')).forEach(function(menu) {
        var menuItems = menu.querySelectorAll('.navbar-nav-link'),
          setCurrent = function(ev) {
            ev.preventDefault();

            var item = ev.target.parentNode; // li

            // return if already current
            if (classie.has(item, '.navbar-nav-item.active')) {
              return false;
            }
            // remove current
            classie.remove(menu.querySelector('.navbar-nav-item.active'), 'active');
            // set current
            classie.add(item, 'active');
          };

        [].slice.call(menuItems).forEach(function(el) {
          el.addEventListener('click', setCurrent);
        });
      });

    })(window);

    $('.navbar-toggle').click(function() {
      $(this).toggleClass('active');
      $('#overlay').toggleClass('open');
    });