.content-block {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  min-height: $size-11;

  &:not(:last-child) {
    margin-bottom: $spacing-13;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: $spacing-8;
    }
  }

  &__content {
    align-self: center;
  }

  &__media {
    position: relative;
  }

  &__image {
    bottom: 0;
    margin: auto;
    position: absolute;
    top: 0;

    &--hx-image-2 {
      box-shadow: 0px 0px 0px .6rem var(--color-background);
      right: 1.25rem;
      top: 14rem;
      max-width: 70%;
    }

    &--hx-image-4 {
      max-width: 125%;
    }

    &--hx-image-5 {
      max-width: 115%;
      //top: -5rem;
      right: 1rem;
    }

    &--hx-image-6 {
      max-width: 120%;
    }
  }

  &__content {
    .content-block--reverse & {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        order: 1;
      }
    }
  }

  &__heading {
    color: var(--color-heading-2);
    font-size: 2.2rem;
    margin-bottom: $spacing-8;
  }
}