mixin content-block(c)
  .content-block(class= c.contentBlockModifier ? "content-block--" + c.contentBlockModifier : "")
    if c.introHeading === true
      .content-block__content
        h2.content-block__heading= c.contentBlockHeading
        ul.content-block__list-items.unstyled-list
          each item in c.contentBlockItems
            li.content-block__list-item
              +content(item)
    else
      .content-block__content
        ul.content-block__list-items.unstyled-list
          each item in c.contentBlockItems
            li.content-block__list-item
              +content(item)
    +image({
      context: "content-block",
      modifier: c.contentBlockModifier,
      src: c.contentBlockImage.src,
      alt: c.contentBlockImage.alt
    })