extends ../../layouts/content.pug

block prepend vars
  -var pageTitle = "A home office for productivity | Leaf"
  -var metaUrl = "https://weareleaf.com/blog/a-home-office-for-productivity"
  -var metaTitle = "A home office for productivity"
  -var metaDescription = "In the average office, people are constantly walking around in the background or making sporadic eye contact. My home environment is much less disruptive."

  -var heroHeading = "A home office for productivity"

block pageComponents

  article

    +hero({
      heading: heroHeading,
      author: "Mike Carter",
      date: "2 August 2018",
      minutesToRead: 2
    })

    .section
      .container

        .grid.grid--post

          +share-icons({})

          .blog-post

            p.blog-post__intro At Leaf, we embrace remote work to get a productive edge. However, it’s easy for a remote environment to work against you.

            figure
              img.blog-post__image(src="/assets/images/blog/mike-setup.jpg" alt="A clear, distraction-free workspace with just laptop, external monitor, a webcam, keyboard, mouse, pen pot, and space for a drink.")
              figcaption My home setup

            p.blog-post__text My own workspace is very boring looking, and not particularly fancy, but I’ve taken several steps to make it a great place for me to get things done.

            +permalink({
              heading: "Peripheral vision"
            })

            p.blog-post__text I’m easily distracted by movement, so I’ve positioned my desk in an alcove so that my I have walls 180 degrees around me. There’s a window there so I’m not completely boxed in, but there’s nothing particularly distracting going on outside — it’s mostly clouds.

            p.blog-post__text Compared to the average office, where people are constantly walking around in the background or making sporadic eye contact, my home environment is much less disruptive for me.

            +permalink({
              heading: "Light control"
            })

            p.blog-post__text I’ve also installed a blackout blind, and dimmable lamp that I can control directly from my computer. This allows me to adjust the amount of light around me, so on bright days or if my eyes are tired, I can dim everything down and work without strain.

            p.blog-post__text It’s a small thing, but the aggressive fluorescent lighting of shared offices can get very wearing over time, and personal preferences in lighting vary a lot from person to person. Having this level of control makes it that much easier to settle into focussed work.

            +permalink({
              heading: "Room to breathe"
            })

            p.blog-post__text Working from home means I get to be selfish with my space. My workspace isn’t huge, but there’s plenty of room there for me to move about, or have extra stuff on my desk.

            p.blog-post__text Most importantly, however, it’s completely tailored to me. I’m 6'5" tall, so the desk it extra deep to accommodate my legs, and sits a couple of inches higher than a standard office desk, which feels much better to work at. I also invested in a proper chair, preventing me from fidgeting, and allowing me to get comfortable.

            +permalink({
              heading: "Sound"
            })

            p.blog-post__text I find I’m able to concentrate much more with the right kind of music playing. In a shared working environment I’m forced to use headphones, but at home I can crank up the Sonos in comfort.

            p.blog-post__text There’s also no background chatter at home either, meaning it’s impossible for me to be dragged into conversations, or get distracted by noises behind me.

  section.section.section--lg-spacing
    .container
      .blog-content
        h3.blog-content__heading Keep reading
        +blog-post-grid
