extends ../../layouts/content.pug

block prepend vars
  -var pageTitle = "Burnout in tech, and why you could be part of the problem | Leaf"
  -var metaUrl = "https://weareleaf.com/blog/burnout-in-tech-and-why-you-could-be-part-of-the-problem"
  -var metaTitle = "Burnout in tech, and why you could be part of the problem"
  -var metaDescription = "We all feel overwhelmed occasionally, and in a world of 24-hour notifications that's to be expected. But what happens when every day feels insurmountable?"

  -var heroHeading = "Burnout in tech, and why you could be part of the problem"

block pageComponents

  article

    +hero({
      heading: heroHeading,
      author: "Chris Annetts",
      date: "6 February 2017",
      minutesToRead: 2
    })

    .section
      .container

        .grid.grid--post

          +share-icons({})

          .blog-post

            p.blog-post__intro We all feel overwhelmed from time to time, and in a psychologically exhausting World of 24-hour iOS notifications and <a href="https://m.signalvnoise.com/is-group-chat-making-you-sweat/" target="_blank" rel="noopener">15-man group chats</a>, it’s to be expected. But what happens when every day feels insurmountable?

            p.blog-post__text A sense of helplessness, a drop in your usual productivity, or an chronic lack of energy are just a few symptoms of <a href="https://en.wikipedia.org/wiki/Occupational_burnout" target="_blank" rel="noopener">burnout</a>; an emotional, mental, and physical state of exhaustion, caused by a prolonged exposure to stress.

            +permalink({
              heading: "Why those in tech are at risk"
            })

            p.blog-post__text Worryingly, there are a number of reasons why those in tech are at an increased risk:

            ul.styled-list
              li.styled-list__item Unless we setup our tools (email, Slack etc) appropriately, we’re on call 24/7
              li.styled-list__item We change jobs more than most industries, which means another new boss/team to impress
              li.styled-list__item Many of us are freelancers, and without a large dose of self-discipline, working hours become open-ended
              li.styled-list__item Those of us in offices often take our work home
              li.styled-list__item <i>“Our product is finally getting some traction”</i>
              li.styled-list__item <i>“Our product isn’t getting traction”</i>
              li.styled-list__item <i>“We’ve landed our first big account”</i>
              li.styled-list__item <i>“We haven’t won any big accounts yet”</i>

            +permalink({
              heading: "You may be part of the problem"
            })

            p.blog-post__text When you pander to a client, a stakeholder, or a superior, by pushing yourself to meet an unreasonable target, you’re creating unrealistic exceptions of not only yourself, but for your peers.

            p.blog-post__text When you say yes to an unfair timescale, you’re perpetuating the notion that such a request is reasonable. Slave-driving seniors are arseholes, and the longer we allow them to be arseholes, they will be.

            +permalink({
              heading: "It starts with you"
            })

            p.blog-post__text <a href="https://www.abc.net.au/news/2017-02-02/working-more-than-39-hours-a-week-puts-health-at-risk-anu-study/8234064" target="_new" rel="noopener">New research from Australian National University</a> suggests that working beyond 39 hours puts us at risk of developing mental health problems. Every single one of us should be able to do our job without risking our psychological wellbeing.

            p.blog-post__text We have an obligation, not only to ourselves, but to every single person in the tech industry. Until we all do our bit, the cycle of acceptance will continue.

  section.section.section--lg-spacing
    .container
      .blog-content
        h3.blog-content__heading Keep reading
        +blog-post-grid
