extends ../../layouts/content.pug

block prepend vars
  -var pageTitle = "Fixed cost is hurting your business | Leaf"
  -var metaUrl = "https://weareleaf.com/blog/fixed-cost-is-hurting-your-business"
  -var metaTitle = "Fixed cost is hurting your business"
  -var metaDescription = "If you’ve ever been on either side of a web-based project, there’s a high chance you’ve experienced the high-stakes fun of a fixed cost quote."

  -var heroHeading = "Fixed cost is hurting your business"

block pageComponents

  article

    +hero({
      heading: heroHeading,
      author: "Chris Annetts",
      date: "9 May 2017",
      minutesToRead: 3
    })

    .section
      .container

        .grid.grid--post

          +share-icons({})

          .blog-post

            p.blog-post__intro Projects turn in to games of brinksmanship, where neither side wins.

            p.blog-post__text If you’ve ever been on either side of a web-based project, there’s a high chance you’ve experienced the high-stakes fun of a fixed cost quote.

            p.blog-post__text The most common, and often favoured way of pricing a website or an application, is to fix a one-time cost against the agreed scope of the work.

            hr.divider

            +permalink({
              heading: "The theory"
            })

            p.blog-post__text At a glance, it makes a lot of sense. The producers know how much they’re going to be paid for the work, and can plan accordingly. The client knows exactly how much to budget, and can confidently make an argument for allocating funds.

            +permalink({
              heading: "The reality"
            })

            p.blog-post__text Digital products are highly likely to change course. With a website, it could be the result of user testing, a killer new idea, or stakeholder interference. In product development, it may be unexpected early-doors feedback or a full-blown pivot.

            p.blog-post__text When costed ahead of time, you simply cannot plan for the unknown. As new ideas get discussed, or features emerge, who decides if it’s actually in scope or not?

            blockquote.blog-blockquote
              p.main-blockquote
                | You didn’t say you’d do it, but you didn’t say you wouldn’t either. I just assumed it’d be included.
              cite Joe Schmoe, Client

            p.blog-post__text The truth is that, when project costs are finalised, neither party quite knows what they’re agreeing to.

            +permalink({
              heading: "Why neither side wins"
            })

            p.blog-post__text Though they’re often referred to as estimates, the initial quote given is nothing more than a best guess, based loosely on previous experiences.

            p.blog-post__text Fixing the cost of a large project switches the mentality from the get-go; “This is your profit pot, and the quicker you smash this out, the more money you’ll make”.

            p.blog-post__text When the budget is running low, it’s again product that suffers. Care and craftsmanship go out of the window; features are sidelined, or worse half-arsed. Testing is rushed through; “who uses Opera Mini anyway?”.

            +permalink({
              heading: "A better way"
            })

            p.blog-post__text For small or ad hoc pieces of work, we bill at our hourly rate, and invoice for the sum of hours at the end of the calendar month. For everything else, there’s sprints.

            p.blog-post__text A sprint is a small, focused subset of work, usually lasting between a 5–15 days. Rather than making best guesses at the total project cost, the work is instead broken in to mini-projects.

            p.blog-post__text As the project progresses, knowledge increases; patterns emerge, users feedback, and priorities shift. After each sprint, both parties are able to reevaluate and/or reposition themselves. The next sprint is then conceived with informed judgment and hindsight.

            +permalink({
              heading: "Don’t do it. Just don’t"
            })

            p.blog-post__text Fixed cost contacts are cumbersome artefacts, lingering from a younger, more naive Web. Today, they just don’t map to the flexible workflow needed to create great products.

            p.blog-post__text It can be daunting to leave the comfort of a fixed cost waterfall project, but it’s nothing more than smoke and mirrors. Empower yourself to make informed decisions throughout the project; it’ll show in the quality of the work that’s produced.

  section.section.section--lg-spacing
    .container
      .blog-content
        h3.blog-content__heading Keep reading
        +blog-post-grid
