extends ../../layouts/content.pug

block prepend vars
  -var pageTitle = "tina's cool post - Leaf"
  -var metaUrl = "https://weareleaf.com/blog/tinas-cool-post"
  -var metaTitle = "#{tina's cool post}"
  -var metaDescription = "no really, it's super cool. you should read it"

  -var heroHeading = "tina's cool post"
  -var heroSubheading = "(by tina van schelt)"

block pageComponents

  +banner({
  })

  .banner-spacer

  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  .section
    .container

      .grid.grid--center

        +share-icons({
          socialModifier: "inline"
        })

        .blog-post

          p.blog-post__intro intro text

          p.blog-post__text first paragraph

          p.blog-post__text second paragraph

          h3.blog-post__h3 section title

          ul.styled-list.styled-list--inside
            li.styled-list__item <strong>List</strong> - Example.
            li.styled-list__item <strong>List</strong> - Example.
            li.styled-list__item <strong>List</strong> - Example.
          br

          p.blog-post__text more text

          blockquote
            q
              | A quote
            cite Joe Schmoe, A smart guy

          p.blog-post__text more text

          h3.blog-post__h3 more title

          hr.divider.divider--block-hr

          p.blog-post__text As we work to add automation to our client's businesses <a href="/">at Leaf</a>, we define a clear goals before starting each piece of work. They make a tremendous difference in the productivity, effectiveness, and happiness of the teams we work with.

    section.section.section--lg-spacing
      .container
        .blog-content
          h3.blog-content__heading Keep reading
          .grid.grid--blog.grid--blog-preview
