extends ../../layouts/content.pug

block prepend vars
  -var pageTitle = "Working too much? Please stop | Leaf"
  -var metaUrl = "https://weareleaf.com/blog/working-too-much-please-stop"
  -var metaTitle = "Working too much? Please stop"
  -var metaDescription = "Why you should resist the pressure to work out of hours, and how you can change your work habits for the better."

  -var heroHeading = "Working too much? Please stop"

block pageComponents

  article

    +hero({
      heading: heroHeading,
      author: "Mike Carter",
      date: "20 November 2017",
      minutesToRead: 4
    })

    .section
      .container

        .grid.grid--post

          +share-icons({})

          .blog-post

            p.blog-post__intro Projects turn in to games of brinksmanship, where neither side wins.

            p.blog-post__text These days, people in most organisations are encouraged to work in their personal time. These expectations are sometimes explicit out of hours requests; <i>“Could just reply to that email”</i>, <i>“Did you see that thing from Sarah?”</i>, <i>“Can you take a look over this for me?”</i>; and sometimes just an implicit pressure to do more work than you can manage in your 9-5.

            p.blog-post__text Strangely we seem willing to go along with this. Many of us believe the extra work makes us dedicated and hard-working. We feel like team players who’ll go above and beyond the call of duty to get things done and achieve organisational goals.

            p.blog-post__text In some ways it’s not surprising we think working extra hours helps you to be successful. After all, it’s not uncommon for the out of hours workers in organisations to get the promotions and pay rises, apparently “getting ahead” of everyone else. That’s plain wrong; we’ve got it all backwards.

            +permalink({
              heading: "Doing the math"
            })

            p.blog-post__text When you look at things a little more closely it becomes clear how flawed our thinking is. It’s easily demonstrated by looking at our income <i>relative to time.</i>

            p.blog-post__text Let’s imagine you earn £24,000 a year. Assuming 260 working days in the year and a 37.5 hour (5 day) week, you’d be paid paid ~<strong>£12</strong> per hour. Doing the same work in 30 hours per week you’ll make ~<strong>£15</strong> per hour — go you! Flipping this on its head though, delivering that work in 45 hours per week, you’re only making about <strong>£10</strong> per hour.

            +permalink({
              heading: "The hidden cost"
            })

            p.blog-post__text More worrying than our ability to under-value our time is the negative impact working too much can have on our mental health, and our silent complicity with this.

            p.blog-post__text The working population has a problem with stress. It impacts both our health and our ability to perform well at work, which in turn means we work harder to compensate, leading to yet more stress. This cycle continues until either we decide to give ourselves a reprieve, the stressors disappear, or we’re forced to stop through burnout.

            p.blog-post__text Most of us bounce in and out of this cycle several times a year. This is leaving us less successful, less productive and less happy than we could otherwise be. The good news is, isn’t how life has to be.

            +permalink({
              heading: "How you can change this"
            })

            p.blog-post__text Organisations are unlikely to do much to rectify the situation as they’re often either unaware of the problem, or just aren’t incentivised to change. They see the output you generate, but it’s much harder for them to see the personal time invested, or personal toll work related stress can take on you.

            p.blog-post__text Even if they could, a lot seem to be stuck in the mindset that their employees owe them some sort of allegiance beyond what’s stipulated in their contract. Don’t believe me? Try turning up 2 hours late every week and, when challenged, say “Oh it’s just this once!”. See how well that works, and keep in mind the same is being asked of you every time you agree to work in your own time.

            p.blog-post__text It doesn’t need to be so complicated. What if you were rewarded for getting more done during your paid work hours? How much less stressful could your life be? How much happier might you be? How much more productive?

            p.blog-post__text The hard truth you need to face is that the solution to your work life balance is actually entirely in your control. All of the ability to control your situation rests with you, your employers and co-workers can only influence you, they cannot make you do anything. To begin improving the situation, all you have to do is stop:

            ul.styled-list
              li.styled-list__item Stop working out of hours; spend your time on things you want to do.
              li.styled-list__item Stop wasting time at work; work at improving your effectiveness.
              li.styled-list__item Stop committing to deadlines etc you cannot make; deliver on those you can.
              li.styled-list__item Stop trying to outperform your peers; outperform yourself.
              li.styled-list__item Stop worrying about what others think; worry about what you think.
              li.styled-list__item Stop trying to do everything; focus on what matters.

            p.blog-post__text Give this a try – You won’t get fired, you won’t get less done, and you won’t “miss out”. At worst you’re risking a few snarky remarks from your peers to begin with, but you have everything to gain; new hobbies, free time, less stress, the respect of your coworkers, more room to be successful. You’re more in control than you think, all you need to do is stop.

  section.section.section--lg-spacing
    .container
      .blog-content
        h3.blog-content__heading Keep reading
        +blog-post-grid
