mixin location-marker(c)
  .location-marker(class= c.locationMarkerModifier ? "location-marker--" + c.locationMarkerModifier : "")
    .location-marker__content(class= c.locationMarkerContentModifier ? "location-marker__content--" + c.locationMarkerContentModifier : "")
      h4.location-marker__heading= c.locationMarkerHeading
      p.location-marker__text= c.locationMarkerText
