.author {
  align-items: center;
  display: flex;

  &--margin-top {
    margin-top: $bio-spacing-md;
  }

  &__thumbnail {
    display: block;

    img {
      border-radius: $border-radius-full;
      display: block;
      height: $size-large;
      width: $size-large;
    }
  }

  &__content {
    margin-left: $bio-spacing-xs;
  }

  &__name {
    color: $color-grey-dark;
    font-size: $author-heading;
    margin-bottom: 0;
  }

  &__details {
    color: $color-grey;
    font-size: $author-details;
    margin: 0;
  }
}
