.author {
  align-items: center;
  display: flex;

  &--margin-top {
    margin-top: $bio-spacing-md;
  }

  &__media {
    display: block;

    img {
      border-radius: $border-radius-full;
      display: block;
      height: $size-large;
      width: $size-large;
    }
  }

  &__content {
    margin-left: $bio-spacing-xs;
  }

  &__name {
    color: $color-grey-dark;
    margin-bottom: 0;
  }

  &__details {
    color: $color-grey;
    font-size: $font-size-sm;
    line-height: 1;
    margin: $spacing-1 0 0;
  }
}
