.author {
  align-items: center;
  display: flex;

  &__media {
    display: block;

    img {
      border-radius: $border-radius-full;
      display: block;
      height: $size-5;
      object-fit: cover;
      width: $size-5;
    }
  }

  &__content {
    margin-left: $spacing-5;
  }

  &__name {
    color: var(--color-author-name);
    font-size: $font-size-xs;
    margin-bottom: .2rem;
  }

  &__details {
    color: var(--color-author-details);
    font-size: .7rem;
    line-height: 1;
    margin: $spacing-1 0 0;
  }
}
