$image-height: 30rem;

.work-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacing-9;
  margin-bottom: $spacing-9;
  min-height: $image-height;

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      align-self: center; 
    }

    .work-preview--reverse & {
      @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
        order: 1;
      }
    }
  }

  &__media {
    position: relative;
  }

  &__image {
    height: $image-height;
    max-width: none;
    position: absolute;
    top: 0;
    bottom: 0;

    .work-preview--reverse & {
      @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
        right: 0;
      }
    }
  }
}
