.work-preview {
  margin-bottom: $spacing-9;

  @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
    align-items: center;
    display: flex;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      margin-left: $spacing-9;
      max-width: 36rem;
    }

    .work-preview--reverse & {
      @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
        order: 1;
      }
    }
  }

  &__image {
    max-width: 41rem;
  }
}
