mixin work-preview(c)
  .work-preview(class= c.workPreviewModifier ? "work-preview--" + c.workPreviewModifier : "")
    .work-preview__content
      h6.work-preview__subheadingheading= c.workPreviewSubHeading
      h2.work-preview__heading= c.workPreviewHeading
      p.work-preview__text= c.workPreviewText
      button.work-preview__button= c.workPreviewButton
    +image({
      context: "work-preview",
      src: c.workPreviewImage.src,
      alt: c.workPreviewImage.alt
    })
