.hero {
  margin: $spacing-11 0 $spacing-8 0;
  position: relative;

  @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
    margin: $spacing-8 0 $spacing-9 0;
  }

  &__container {
    @include container;
  }

  &__heading {
    font-size: $font-size-h1;
    line-height: 1.125em;
    margin-bottom: 0;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      font-size: 3rem;
      line-height: 1.075em;
      margin-bottom: $spacing-2;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-6")) {
      font-size: 3.5rem;
      max-width: $size-12;
    }
  }

  &__subheading {
    font-family: 'Permanent Marker', cursive;
    font-size: 1rem;
    line-height: 1.412em;
    margin: 0;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-6")) {
      font-size: 1.25rem;
      max-width: $size-12;
    }
  }
}