.hero {
  margin: $spacing-7 0;
  position: relative;

  @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
    margin: $spacing-8 0;
  }

  &__container {
    @include container;
  }

  &__heading {
    font-size: $font-size-h1;
    margin-bottom: $spacing-1;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      font-size: 3rem;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-6")) {
      font-size: 3.5rem;
      max-width: $size-12;
    }
  }

  &__subheading {
    font-family: 'Permanent Marker', cursive;
    font-size: $font-size-sm;
    margin: 0;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-6")) {
      font-size: $root-font-size-xl;
      max-width: $size-12;
    }
  }
}