.hero {
  margin: $spacing-8 0;
  position: relative;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    margin: $spacing-10 0 $spacing-11;
  }

  &__container {
    @include container;

  }

  &__content {
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
      margin: 0 auto;
      max-width: 40rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
      margin: 0;
      max-width: 100%;
    }
  }

  &__heading {
    font-size: $font-size-h1;
    left: .4rem;
    margin-bottom: $spacing-6;
    text-align: center;
    position: relative;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      font-size: 3rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      display: inline-block;
      font-size: 3.5rem;
      max-width: $size-12;
    }

    &--bio {
      margin-bottom: $spacing-4;
      margin-left: -$spacing-3;
      text-align: left;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        margin-bottom: $spacing-6;
      }
    }

    &--small {

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
        max-width: 48rem;
      }
    }

    &__period {
      color: var(--color-accent);
    }
  }

  &__subheading {
    color: var(--color-hero-subheading);
    font-size: 1rem;
    line-height: 1.73;
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      font-size: 1.3rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      font-size: 1.1rem;
      max-width: 36rem;
    }

    &--narrow {
      max-width: 32rem;
    }
  }

  &__media {
    align-items: flex-start; // Fixes Safari jank
    display: flex;
    justify-content: center;
  }

  &__image {
    &--hx {
      margin-top: $spacing-8;
      min-width: 40rem; // Min fixes Firefox width issue

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        min-width: 68rem;
      }

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
        margin-top: $spacing-10;
      }
    }
    &--rift {
      margin-left: -$spacing-5;
      margin-bottom: -$spacing-8;
      margin-top: -$spacing-6;
      min-width: 66rem;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        margin-bottom: -$spacing-9;
        margin-left: 0;
      }

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
        margin-bottom: 0;
        margin-top: $spacing-4;
      }

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
        min-width: 78rem;
      }
    }
  }
}