mixin hero(c)
  section.hero(class= c.heroModifier ? "hero--" + c.heroModifier : "")
    .hero__container
      svg.hero__blob(viewBox="0 0 1000 1000")
        path.hero__blob-path
      .hero__content
        h1.hero__heading= c.heroHeading
        p.hero__text= c.heroText

        if c.heroButton
          .hero__button
            +button(c.heroButton)
      +image({
        context: "hero",
        src: c.heroImage.src,
        alt: c.heroImage.alt
      })
