mixin footer-condensed
  footer.footer(role="contentinfo")
    .container
      .grid.grid--footer
        .grid__item
          .footer__cta
            p.footer__copyright
              | &copy; Leaf Software Ltd
              br
              | Company no: 09664307
              br
              | VAT no: GB 265125317
            .footer__contact
              a.footer__link(href="mailto:hello@weareleaf.com") hello@weareleaf.com
              br
              a.footer__link(href="tel:01227647006") 01227 647006
            
        .grid__item
          .footer__grid
            .header__logo
              +logo ({
            })


    