mixin footer-condensed
  footer.footer.footer--condensed(role="contentinfo")
    .container
      .grid.grid--footer
        .grid__item
          p.footer__copyright.footer__copyright--condensed
            | &copy; Leaf Software Ltd  |  Company no: 09664307  |  VAT no: GB 265125317
          .footer__contact.footer__contact--condensed
            a.footer__link(href="mailto:hello@weareleaf.com") hello@weareleaf.com  |
            a.footer__link(href="tel:01227647006")  01227 647006
            
        .grid__item
          .footer__logo
            +logo ({
          })


    