mixin footer-condensed
  footer.footer(role="contentinfo")
    .container
      .grid.grid--footer-condensed
        .grid__item
          p.footer__copyright
            | &copy; Leaf Software Ltd | Company no: 09664307 | VAT no: GB 265125317
          .footer__contact
            a.footer__link(href="mailto:hello@weareleaf.com") hello@weareleaf.com |
            a.footer__link(href="tel:01227647006") 01227 647006
          .header__logo
            +logo ({
          })