.company-logos {
  margin-bottom: $spacing-9;

  &__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    @include padding-horizontal($spacing-3);
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      @include padding-horizontal($spacing-6);
    }
  }
}
