mixin company-logos(c)
  .company-logos
    ul.company-logos__list.unstyled-list
      li.company-logos__item
        img(src="/assets/images/client-logos/rift.svg", alt="Rift")
      li.company-logos__item
        img(src="/assets/images/client-logos/laced.svg", alt="Laced")
      li.company-logos__item
        img(src="/assets/images/client-logos/holiday-extras.svg", alt="Holiday Extras")
      li.company-logos__item
        img(src="/assets/images/client-logos/zendesk.svg", alt="Zendesk")
      li.company-logos__item
        img(src="/assets/images/client-logos/heha.svg", alt="HEHA")

