mixin company-logos(c)
  .logos
    ul.logos__list
      li.logos__item
        img(src="/assets/images/logos/rift-grey.svg", alt="Rift")
      li.logos__item
        img(src="/assets/images/logos/laced-grey.svg", alt="Laced")
      li.logos__item
        img(src="/assets/images/logos/hx-grey.svg", alt="Holiday Extras")
      li.logos__item
        img(src="/assets/images/logos/zendesk-grey.svg", alt="Zendesk")
      li.logos__item
        img(src="/assets/images/logos/heha-grey.svg", alt="HEHA")

