mixin company-logos(c)
  .logos
    ul.logos__list
      li.logos__item.logos__item--left
        img(src="/assets/images/client-logos/rift.svg", alt="Rift")
      li.logos__item
        img(src="/assets/images/client-logos/laced.svg", alt="Laced")
      li.logos__item
        img(src="/assets/images/client-logos/holiday-extras.svg", alt="Holiday Extras")
      li.logos__item
        img(src="/assets/images/client-logos/zendesk.svg", alt="Zendesk")
      li.logos__item.logos__item--right
        img(src="/assets/images/client-logos/heha.svg", alt="HEHA")

