html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 0.75em;
  overflow-x: hidden;

  @include susy-breakpoint($bp-xs) {
    font-size: 0.9em;
  }

  @include susy-breakpoint($bp-md) {
    font-size: 1em;
  }
}
