.btn {
  background-color: $bright-green;
  border: none;
  border-radius: 100px;
  color: $white;
  display: inline-block;
  font-family: inherit;
  font-size: 1.059em;
  font-weight: 600;
  padding: $padding-vertical $padding-horizontal-lg;
  transition: background-color $base-duration $base-timing;

  &:hover {
    background-color: lighten($bright-green, 5%);
    cursor: pointer;
  }

  &--block {
    display: block;
    width: 100%;
  }
}