
$fontSizeForm: 2em;
$fontSizeLabel: .65em;


.form {

  &__group {
    border-bottom: $base-border;
    min-height: 4em;
    margin-bottom: $spacing-vertical;
    position: relative;
  }

  $inputTop: .5em;

  textarea {

  }

  input,
  textarea {
    background: none;
    border: 0;
    color: $base-font-color;
    font-family: $base-font-family;
    //position: absolute;
    position: relative;
    top: $inputTop;
    width: 100%;
    z-index: 1;
    font-size: $fontSizeForm;
  }

  $animations: labelIn, labelOut;
  $animationTime: .35s;
  $ease: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

  label {
    display: block;
    position: absolute;
    color: rgba($base-font-color, .5);
    animation-name: nth($animations, 1);
    animation-duration: $animationTime;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-timing-function: $ease;
  }

  // Change label position on focus & valid
  input:focus + label,
  input:valid + label {
    animation-name: nth($animations, 2);
    animation-duration: $animationTime;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: $ease;
  }

  // Create separate animation keyframes for in and out animations to avoid conflicts
  @each $animationName in $animations {
    @keyframes #{$animationName} {
      0% {
        left: 0;
        opacity: 1;
        top: $inputTop;
        font-size: $fontSizeForm;
        font-weight: 300;
      }
      50% {
        font-size: $fontSizeForm;
        left: .25em;
        opacity: 0;
        top: $inputTop;
        font-weight: 300;
      }
      50.01% {
        //font-size: $fontSizeLabel;
        left: .25em;
        opacity: 0;
        top: .25em;

        color: $white;
        font-size: 0.65em;
        font-weight: 800;

      }
      100% {
        //font-size: $fontSizeLabel;
        opacity: 1;
        left: 0;
        top: .25em;
        color: $white;
        font-weight: 400;

        color: $white;
        font-size: 0.65em;
        font-weight: 800;

        letter-spacing: .25em;
        font-family: $font-sans-serif;
        text-transform: uppercase;

      }
    }
  }

  // disable focus outline
  *:focus {
    outline: 0;
  }

  // Fade in to hide the inital animation of the labels
  opacity: 0;
  animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) $animationTime/2 1 normal forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
