ul,
ol,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-position: inside;
}

ul {
  list-style-type: none;
}

dl {
  //margin-bottom: $spacing-vertical-lg;
  //margin-top: 0;
  //max-width: 33.529em;

  @include susy-breakpoint($bp-sm) {
    //column-count: 2;
  }
}

dt {
  color: $white;
  font-weight: 600;
}

dd {
  margin-bottom: $spacing-vertical;
}

li,
dd,
dt {
  display: block;
  font-family: $font-sans-serif;
  //font-size: .8rem;
}
