ul,
ol,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-position: inside;
}

ul {
  list-style-type: none;
  margin-bottom: $spacing-vertical;
}

dt {
  color: $white;
  font-weight: 600;
}

dd {
  margin-bottom: $spacing-vertical;

  ul {
    margin-bottom: 0;
  }
}

.section__content,
.section__aside {

  li {
    display: table;
    padding-bottom: $padding-vertical-xs;

    &::before {
      content: '—';
      display: table-cell;
      margin-left: $spacing-horizontal-sm;
      padding-right: $padding-horizontal-xs;
      text-align: right;
    }
  }
}

.section__content li,
.section__aside li {
  font-size: $p-font-size;
  padding-bottom: $padding-vertical-sm;
}

@include susy-breakpoint($bp-xl) {
  .section__aside h3 {
    font-size: $h4-font-size;
    font-weight: 600;
    margin-bottom: $spacing-vertical;
  }

  .section__aside li,
  dd,
  dt {
    font-family: $font-sans-serif;
    font-size: .8rem;
  }
}
