table {
  border-collapse: collapse;
  margin: $spacing-vertical-sm 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 0.05em solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $padding-vertical-sm 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $padding-vertical-sm 0;
}

tr,
td,
th {
  vertical-align: middle;
}