html {
  font-size: $base-font-size;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: .8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $base-line-height;

  @include susy-breakpoint($bp-sm) {
    font-size: 1em;
  }
}

h1, %h1,
h2, %h2,
h3, %h3,
h4, %h4,
h5, %h5,
h6, %h6, {
  color: $heading-font-color;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $spacing-vertical-sm;
}

h1, %h1 {
  color: $white;
  font-size: $h1-font-size;
  font-weight: 900;
  letter-spacing: .3em;
  text-transform: uppercase;
}

h2, %h2 {
  font-size: $h2-font-size;
  font-weight: 600;
}

h3, %h3 {
  font-size: $h3-font-size;
  font-weight: 600;
}

h4, %h4 {
  font-size: $h4-font-size;
  font-weight: 600;
  margin-bottom: $spacing-vertical;
}

p {
  display: inline-block;
  font-size: $p-font-size;
  margin: 0 0 $spacing-vertical;

  strong {
    color: lighten($base-font-color, 15%);
    font-weight: 600;
  }
}

p, ul {

  @include susy-breakpoint($bp-sm) {
    + h3 {
      margin-top: $spacing-vertical-sm;
    }
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

%label {
  color: $white;
  font-family: $font-sans-serif;
  font-size: 0.765em;
  font-weight: 800;
  letter-spacing: .025em;
  text-transform: uppercase;
}

.heading-intro,
%heading-intro {
  color: $leaf-green;
  font-family: $heading-font-family;
  font-size: $h1-font-size;
  font-weight: 900;
  letter-spacing: .3em;
  margin-bottom: $spacing-vertical-sm;
  text-transform: uppercase;
}

small {
  display: block;
  font-family: $font-sans-serif;
  font-size: .75rem;
  margin-top: $spacing-vertical-lg;

  @include susy-breakpoint($bp-sm) {
    margin-top: $spacing-vertical-xl;
  }
}

img {
  max-width: 100%;
}

.link-callout {
  font-size: 1.5em;
}
