@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Bitter:400,700,400italic);

body {
  @include font-feature-settings("kern", "liga", "pnum");
  color: $base-font-colour;
  font: {
    family: $base-font-family;
    size: $base-font-size;
  }
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $base-heading-colour;
  font: {
    family: $heading-font-family;
    size: $base-font-size;
  }
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: $base-h1-size;
}


h2 {
  font: {
    size: $base-h2-size;
    weight: 600;
  }
  margin-bottom: 0.333em;
}

h3 {
  font: {
    size: $base-h3-size;
    weight: 600;
  }
}

h4 {
  color: $dark-gray;
  font: {
    size: $base-h4-size;
    weight: 700;
  }
  margin-bottom: 1.111em;
  text-transform: uppercase;
}

h5 {
  color: white;
  font-size: $base-h5-size;
  text-transform: uppercase;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $leaf-green;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border: {
    bottom: $base-border;
    left: none;
    right: none;
    top: none;
  }
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}