// Colours
$dark-gray: #a6b7b7;
$dark-green: #52635d;
$medium-gray: #999;
$leaf-green: #29b197;
$light-gray: #f5f8f7;

// Border
$base-border-colour: #e4ebeb;
$base-border: 1px solid $base-border-colour;

// Background Colours
$base-background-colour: #fff;
$secondary-background-colour: lighten($base-border-colour, 10%);

// Buttons
$base-button-background-colour: #2bc284;

// Font Colours
$base-font-colour: #303735;
$base-heading-colour: $leaf-green;

// Font Sizes
$base-font-size: 1.125em;
$base-h1-size: 2em;
$base-h2-size: 1.445em;
$base-h3-size: 1.445em;
$base-h4-size: 1em;
$base-h5-size: 0.889em;

// Font Stacks
$font-family-sans-serif: 'Dosis', Helvetica, Arial, sans-serif;
$font-family-serif: 'Bitter', Georgia, Times, 'Times New Roman', serif;

// Forms
$input-background-colour: #fafcfc;
$input-border-colour: #dee5e5;
$input-border-width: 2px;
$form-box-shadow: 0;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($light-gray, $lightness: -5%, $alpha: -0.3);

// Line Height
$base-line-height: 1.7;
$heading-line-height: 1;

// Other Sizes
$base-border-radius: 5px;
$base-scew-angle: 6deg;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 0.8;
$base-z-index: 0;

// Typography
$base-font-family: $font-family-serif;
$heading-font-family: $font-family-sans-serif;