// Colors
$bright-green: #65cebe;
$dark-blue: #1d2541;
$deep-blue: #0a132a;
$mid-blue: #3a506b;
$light-gray: #d0d4d2;
$light-green: #cbece7;
$mid-gray: #bdc7c3;
$mid-green: #65bcba;
$pale-green: #f6f8f7;


$coal: #323834;
$snow: #f9fbfa;
$white: #fff;

$leaf: #a1c59d;
$leaf-dark: #74936f;
$leaf-light: #c5edc1;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Background colors
$base-background-color: $pale-green;

// Border
$base-border-color: $pale-green;
$base-border-style: solid;
$base-border-width: 0.15em;
$base-border: $base-border-style $base-border-width $base-border-color;

// Brand
$brand-primary: $bright-green;
$brand-secondary: $dark-blue;

// Breakpoints
$bp-xs : 24em;
$bp-sm : 36em;
$bp-md : 50em;
$bp-lg : 64em;
$bp-xl : 72em;

// Font colors
$base-font-color: $coal;
$heading-font-color: $coal;
$action-color: $bright-green;

// Font sizes
$base-font-size: 1.25em;
$em-base: 20px;

// Forms


// Line height
$base-line-height: 1.7;
$heading-line-height: 1.2;

// Other sizes
$base-border-radius: 0.15em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$max-width: 59em;

// Padding (horizontal)
$padding-horizontal: 1.5em;
$padding-horizontal-lg: $padding-horizontal * 2;
$padding-horizontal-sm: $padding-horizontal / 2;
$padding-horizontal-xl: $padding-horizontal * 4;
$padding-horizontal-xs: $padding-horizontal / 4;

// Padding (vertical)
$padding-vertical: 1.5em;
$padding-vertical-lg: $padding-vertical * 2;
$padding-vertical-sm: $padding-vertical / 2;
$padding-vertical-xl: $padding-vertical * 4;
$padding-vertical-xs: $padding-vertical / 4;

// Padding (horizontal - fluid)
$padding-horizontal-fluid: 10%;
$padding-horizontal-fluid-lg: $padding-horizontal-fluid * 1.5;
$padding-horizontal-fluid-sm: $padding-horizontal-fluid / 1.5;

// Padding (vertical - fluid)
$padding-vertical-fluid: 10%;
$padding-vertical-fluid-lg: $padding-vertical-fluid * 1.5;
$padding-vertical-fluid-sm: $padding-vertical-fluid / 1.5;

// Padding (root)
$padding-horizontal-root: 5vw;
$padding-vertical-root: 5vw;

// Padding (block)
$padding-block-horizontal: $padding-horizontal * 1.5;
$padding-block-vertical: $padding-vertical * 6;
$padding-block: $padding-block-vertical $padding-block-horizontal;

// Spacing (horizontal)
$spacing-horizontal: 1.5em;
$spacing-horizontal-lg: $spacing-horizontal * 2;
$spacing-horizontal-sm: $spacing-horizontal / 2;
$spacing-horizontal-xl: $spacing-horizontal * 4;
$spacing-horizontal-xs: $spacing-horizontal / 4;

// Spacing (vertical)
$spacing-vertical: 1.5em;
$spacing-vertical-lg: $spacing-vertical * 2;
$spacing-vertical-sm: $spacing-vertical / 2;
$spacing-vertical-xl: $spacing-vertical * 4;
$spacing-vertical-xs: $spacing-vertical / 4;

// Spacing (horizontal - fluid)
$spacing-horizontal-fluid: 10%;
$spacing-horizontal-fluid-lg: $spacing-horizontal-fluid * 1.5;
$spacing-horizontal-fluid-sm: $spacing-horizontal-fluid / 1.5;

// Spacing (vertical - fluid)
$spacing-vertical-fluid: 10%;
$spacing-vertical-fluid-lg: $spacing-vertical-fluid * 1.5;
$spacing-vertical-fluid-sm: $spacing-vertical-fluid / 1.5;

// Spacing (root)
$spacing-horizontal-root: 5vw;
$spacing-vertical-root: 5vw;

// Typography
$font-serif: 'karmina', serif;
$font-sans-serif: 'soleil', sans-serif;
$base-font-family: $font-serif;
$heading-font-family: $font-sans-serif;