@mixin circular($size) {
  border-radius: $size / 2;
  height: $size;
  line-height: $size;
  overflow: hidden;
  width: $size;
}

@mixin reset-list-style {
  list-style: none;

  li {
    &::before {
      content: '';
      display: none;
    }
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute-fill($top: 0, $right: 0, $bottom: 0, $left: 0) {
  bottom: $bottom;
  left: $left;
  position: absolute;
  right: $right;
  top: $top;
}