@mixin circular($size) {
  border-radius: $size / 2;
  height: $size;
  line-height: $size;
  overflow: hidden;
  width: $size;
}

@mixin reset-list-style {
  list-style: none;

  li {
    &::before {
      content: '';
      display: none;
    }
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}