.numbered-steps {
  list-style: none;
  margin: 0 auto;
  max-width: 40rem;
  padding: 0;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    @include two-col-grid;
    max-width: unset;
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $spacing-4;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      padding: $spacing-8;
    }

    &:nth-child(1) {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        border-bottom: $border-width-sm $border-style $color-iris;
        border-right: $border-width-sm $border-style $color-iris;
      }
    }

    &:nth-child(2) {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        border-bottom: $border-width-sm $border-style $color-iris;
      }
    }

    &:nth-child(3) {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        border-right: $border-width-sm $border-style $color-iris;
      }
    }
  }

  &__step {
    align-items: center;
    background: $color-bluegem;
    border-radius: $border-radius-full;
    display: flex;
    height: $size-2;
    justify-content: center;
    margin-bottom: $spacing-3;
    width: $size-2;
  }

  &__number {
    color: $color-ivory;
    font-size: $font-size-xxs;
    font-weight: bold;
    margin: .15rem .010rem 0 0;
  }

  &__text {
    margin-bottom: 0;
  }
}