.email {
  &__field {
    display: flex;
  }

  &__input {
    appearance: none;
    background-color: $color-off-white;
    border: 1px solid $color-off-white;
    border-radius: $border-radius 0 0 $border-radius;
    color: $color-grey-dark;
    display: block;
    font-size: 0.9em;
    line-height: 1;
    margin: 0;
    padding: ($spacing-vertical * 1.1) $spacing-horizontal $spacing-vertical;
    transition: border-color 0.15s ease-in-out;
    width: 100%;

    &--textarea {
      height: auto;
      min-height: 10em;
      resize: vertical;
    }

    &.erroneous {
      border: 1px solid $color-red;
    }
  }

  &__button {
    background-color: $color-red;
  }

  .error {
    color: $color-red;
    font-size: 0.75em;
  }
}
