mixin email-input
  script#howdy-script(async src='https://static.howdyform.com/howdyClient.js?token=aGVsbG9Ad2VhcmVsZWFmLmNvbQ==' data-howdy-recipient='hello@weareleaf.com')
  form.form
    .form__group
      input#email.form__input(name="email" type="email" placeholder="Your email address")