$footer-bg: #132f45;
$footer-callout-color: $white;
$footer-intro-color: #95afc9;

.footer {
  @include clearfix;
  background:
    //url('/images/hero-leaf-2.svg') left -4em bottom,
    //url('/images/hero-leaf-3.svg') left 7.5em top -12em,
    url('/images/hero-leaf-5.svg') right -6em top 6em;
  background-color: $footer-bg;
  background-repeat: no-repeat;
  display: block;
  padding: 0 $padding-horizontal-root $padding-vertical-xl;
  position: relative;
  transition: background-color $base-duration $base-timing;

  &:hover {
    background-color: lighten($footer-bg, 3%);
  }

  @include susy-breakpoint($bp-sm) {
    background:
      url('/images/hero-leaf-1.svg') left bottom 6em,
      //url('/images/hero-leaf-2.svg') left 3em bottom,
      //url('/images/hero-leaf-3.svg') right 18em bottom 6em,
      url('/images/hero-leaf-4.svg') right bottom,
      url('/images/hero-leaf-5.svg') right bottom 9em;
      //url('/images/hero-leaf-6.svg') center top;
    background-color: $footer-bg;
    background-repeat: no-repeat;
    background-size:
      8em auto,
      24em auto,
      24em auto,
      24em auto,
      16em auto,
      24em auto;
  }
  border-top: solid $spacing-vertical-sm $base-background-color; // Fake padding
  font-family: $font-sans-serif;
  padding: $spacing-vertical-root $padding-horizontal-root;

  &__inner {
    @include container(64em);
  }

  &__logo {
    display: none;

    svg path {
      fill: #95afc9;
    }

    @include susy-breakpoint($bp-md) {
      @include span(2);
      display: block;
    }
  }

  &__body {

    @include susy-breakpoint($bp-md) {
      @include span(8);
    }
  }

  &__intro {
    color: $footer-intro-color;
    font-size: 1.1em;
  }

  &__callout {
    @extend %h1;
    color: $footer-callout-color;
    display: block;
  }

  &__small {
    font-size: 0.75em;

    &__copyright {
      color: #95afc9;
      margin-right: $spacing-horizontal;
    }
  }
}