.header {
  border-bottom: solid 1px $base-border-colour;
  position: relative;
  z-index: 3;

  .error-page & {
    border-bottom: none;
  }

  &__logo {
    @extend %icon;
    @extend .icon--logo;
    float: left;
    font-size: rem(28);
    margin-top: rem(16);
  }

  .error-page &__logo {
    color: #a4a69d;
  }

  &__button {
    @extend .button;
    float: right;
  }
}