.navbar {
  @include container(64em);
  padding-top: calc(#{$padding-vertical} + 2%);
  position: relative;

  &__inner {
    display: table;
    width: 100%;
  }

  &__logo,
  &__link {
    display: table-cell;
    vertical-align: middle;
  }

  &__link {
    color: $leaf-dark;
    font-family: $font-sans-serif;
    font-size: 0.8em;
    text-align: right;

    &:hover,
    &:focus {
      color: darken($leaf-dark, 15%);
    }
  }
}