.navbar {
  @include container(64em);
  padding: $padding-vertical-lg 0;
  //margin-bottom: $spacing-vertical-fluid;
  //padding: $padding-vertical-lg $padding-horizontal $padding-vertical-xl;

  @media (min-width: 49.6em) {
    //margin: 0 auto $spacing-vertical-fluid;
    //max-width: 75%;
  }

  &__inner {
    display: table;
    width: 100%;
  }

  &__logo,
  &__link {
    display: table-cell;
    vertical-align: middle;
  }

  &__link {
    color: $leaf-dark;
    font-family: $font-sans-serif;
    font-size: 0.8em;
    text-align: right;

    &:hover,
    &:focus {
      color: darken($leaf-dark, 15%);
    }
  }
}