.masthead {
  display: flex;
  align-items: center;

  &__logo {
    flex: 1 0 auto;

    svg {
      max-height: 2em;
    }

    svg:hover path {
     opacity: .9;
   }
  }
}

.logo {
  display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 60.6%;
	vertical-align: middle;
	overflow: hidden;

  &__content {
    display: inline-block;
  	position: absolute;
  	top: 0;
  	left: 0;
  }
}

.navigation {

  &.on {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: $coal;
  position: fixed;
  left: 0;
  top: 0;
  }

  &__inner {
    @include container;
    padding: $spacing-vertical $padding-horizontal-fluid-sm;

    @include susy-breakpoint($bp-sm) {
      padding-bottom: $spacing-vertical-lg;
      padding-top: $spacing-vertical-lg;
    }
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4em auto;
  text-align: center;

  &:hover a {
    color: rgba($white, .15);
  }

  &:hover a:hover {
    color: $white;
  }

  &__item {

    @include susy-breakpoint($bp-md) {
      float: left;
      width: 50%;

      &:nth-of-type(odd) {
        border-right: solid 1px rgba($white, .05);
      }

      &:nth-of-type(-n+2) {
        border-bottom: solid 1px rgba($white, .05);
      }
    }

    &:nth-of-type(1) .navigation__list__link {
      animation-delay: 100ms;
    }

    &:nth-of-type(2) .navigation__list__link {
      animation-delay: 200ms;
    }

    &:nth-of-type(3) .navigation__list__link {
      animation-delay: 300ms;
    }

    &:nth-of-type(4) .navigation__list__link {
      animation-delay: 400ms;
    }
  }

  &__link {
    font-family: $font-serif;
    font-size: 2.5em;
    line-height: $heading-line-height;
    margin-bottom: 0;
    padding: $padding-vertical-sm;

    @include susy-breakpoint($bp-md) {
      padding: $padding-vertical;
    }
  }

  &.hidden {
    display: none;
  }

    a {
      text-decoration: none;
      color: white;
      font-size: 3em;
      line-height: 1.5;
      width: 100%;
      display: block;
    }
}










.hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  font: inherit;
  margin: -.25em;
  padding: .25em;
  transition: opacity $base-duration $base-timing;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 0;
  }

  &.is-active .hamburger__content {
    transform: translate3d(0, .5em, 0) rotate(45deg);

    &::before {
      transform: rotate(-45deg) translate3d(.3em, -.3em, 0);
      opacity: 0;
    }

    &::after {
      transform: translate3d(0, -1em, 0) rotate(-90deg);
    }
  }

  &__inner {
    display: block;
    height: 1.2em;
    position: relative;
    width: 2em;
  }

  &__content {
    display: inline-block;
    right: 0;
    top: 0;
    width: 2em;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
    }

    &::before {
      right: 0;
      top: .5em;
      transition: opacity $base-duration $base-timing;
      width: 75%;
    }

    &::after {
      top: 1em;
    }
  }

  &__content,
  &__content::before,
  &__content::after {
    height: .1rem;
    background-color: $white;
    position: absolute;
    transition: transform $base-duration $base-timing;
  }
}
