.page {

  &--inverse {
    background-color: $white;

    .masthead path {
      fill: $leaf-green;
    }

    .page-header {
      text-align: center;

      &__title {
        color: #c4c8ce !important;
      }
    }
  }
}
