.section {
  @include clearfix;
  padding: $spacing-vertical-root 0;
  //margin: $spacing-vertical-xl 0;
  //padding: $padding-vertical-lg $padding-horizontal;

  @media (min-width: 49.6em) {
    //padding: $padding-vertical-xl $padding-horizontal;
  }

  &__header,
  &__body {
    @include container();
  }

  &__header {
    margin-bottom: $spacing-vertical-lg;
  }

  & p:last-child {
    margin-bottom: 0;
  }

  &__intro {
    font-size: 1.2em;
  }
}