.section {
  @include clearfix;
  margin-bottom: -$spacing-vertical;
  padding: $padding-vertical-root $padding-horizontal-root;

  &__header,
  &__body {
    @include container();
  }

  &__header {
    margin-bottom: $spacing-vertical-lg;
  }

  & p:last-child {
    //margin-bottom: 0;
  }

  &__intro {
    font-size: 1.2em;
  }
}