html {
  opacity: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &.wf-active-override,
  &.wf-active {
    opacity: 1;
    transition: opacity 800ms ease-in;
  }
}

body {
  background-color: $base-background-color;
  margin: 0; // Remove this when Normalize is working
  min-height: 100%;
}

.section {
  padding: $padding-vertical-lg 0;

  @include susy-breakpoint($bp-lg) {
    padding-bottom: $spacing-vertical-xl;
    padding-top: $spacing-vertical-xl;
  }

  &--center {
    text-align: center;
  }

  &__inner {
    @include container;
    padding: 0 $padding-horizontal-fluid;

    > :last-child {
      //margin-bottom: 0;
    }
  }

  &__content {

    @include susy-breakpoint($bp-xl) {
      @include span(8 of 12);
    }

    &:not(:first-of-type) {
      margin-top: $spacing-vertical;
    }
  }

  &__aside {
    background-color: lighten($coal, 3%);
    margin-bottom: $spacing-vertical-lg;
    padding: $padding-vertical $padding-horizontal;

    @include susy-breakpoint($bp-xl) {
      @include span(3 of 12);
      @include pre(1);
      @include last;
    }
  }

  &__intro {

    @include susy-breakpoint($bp-md) {
      display: inline-block;
      max-width: 29em;
    }
  }

  &__heading span {
    font-weight: 400;
  }

  &__text {
    font-size: 1.35em;
  }
}

.no-scroll {
  overflow: hidden;
}

.bg--coal-light {
  background-color: lighten($coal, 3%);
}

.bg--white {
  background-color: $white;

  h2,
  h3 {
    color: #34393F;
    font-weight: 600;
  }
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-padding {
  padding: 0;
}

.animated {
  animation-duration: 750ms;
  animation-fill-mode: both;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fade;
}

.sr-only,
%sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.section__aside:not(.section__aside--inline) {

  ul {
    column-count: 3;
    column-width: 12em;
  }
}

.section__aside--inline {
  @include clearfix;

  @media (min-width: $bp-lg) and (max-width: $bp-xl) {

    dl {
      float: left;
      margin-bottom: 0;
      width: 50%;

      &:first-child {
        display: none;
      }
    }

    li {
      display: inline-block;

      &::before {
        content: '';
        margin-left: 0;
        padding-right: 0;
      }

      &:not(:last-of-type)::after {
        content: ', ';
      }
    }
  }
}

.logo-bar {
  display: block;
  margin: 0 auto;
}
