html {
  transition: opacity 800ms ease;
}

body {
  background-color: $base-background-color;
  margin: 0; // Remove this when Normalize is working

  @include susy-breakpoint($bp-sm) {

    .home-page & {
      overflow: hidden;
    }
  }
}

.site-wrapper {
  @include container;
  overflow-y: scroll;
  padding: 0 $padding-horizontal $spacing-vertical-root;

  @include susy-breakpoint($bp-sm) {
    overflow-y: visible;
  }

  .home-page & {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: $padding-horizontal;
  }
}

.wf-loading {
  opacity: 0;
}

main {
  padding-bottom: $padding-vertical;
}