.author-bio-small {
  &__image {
    display: block;

    &--twitter {
      display: block;
      width: 16px;
    }
    &--linkedin {
      display: block;
      width: 16px;
    }
  }

  &__paragraph {
    color: $color-grey;
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
    width: 240px;
  }
  &__link {
    color: orange;
    font-size: 16px;
  }
}
