.article {

  &__content {
    //transform: skewY($base-scew-angle);

    &__text {
      @include span(12);

      @include susy-breakpoint($small-screen) {
        @include push(2);
        @include span(8);
      }
    }

    &__image {
      @include span(12);
    }
  }

  &__image {
    margin-bottom: rem(60);
  }

  &__logos {

    @include susy-breakpoint($small-screen) {
      background: {
        image: url('/images/tech-logos-rows-2.png');
        position: center top;
        repeat: no-repeat;
        size: auto;
      }
      height: rem(222);
      margin-bottom: rem(60);
    }

    @include susy-breakpoint($large-screen) {
      background: {
        image: url('/images/tech-logos-rows-1.png');
        size: 100% auto;
      }
      height: rem(110);
    }
  }

  &__heading {
    @extend %section-heading;

    &::after {
      @extend %heading-tail;
      background-color: $leaf-green;
    }
  }
}