.article {

  &__content {
    transform: skewY($base-scew-angle);

    &__text {
      @include span(12);

      @include susy-breakpoint($small-screen) {
        @include push(2);
        @include span(8);
      }
    }

    &__image {
      @include span(12);
    }
  }

  &__image {
    margin-bottom: rem(60);
  }

  &__heading {
    @extend %section-heading;

    &::after {
      @extend %heading-tail;
      background-color: $leaf-green;
    }
  }
}