.benefits {
  &__content {
    transform: skewY($base-scew-angle);
  }

  &__heading {
    @extend %section-heading;

    &::after {
      @extend %heading-tail;
      background-color: $base-border-colour;
    }
  }
}

.benefit {
  margin-top: rem(40);

  &__link::after {
    content: '\2192';
    margin-left: rem(10);
    transition: margin-left 200ms ease;
  }

  &:hover {
    .benefit__link:after {
      margin-left: rem(18);
    }
  }

  @include susy-breakpoint($small-screen) {
    @include span(6);
    margin-top: rem(80);

    &:nth-of-type(2n) {
      @include last;
    }
  }

  @include susy-breakpoint($medium-screen) {
    @include span(4);

    &:nth-of-type(2n) {
      @include span(4);
    }

    &:nth-of-type(3n) {
      @include last;
    }

    &__description {
      min-height: rem(108);
    }
  }
}