.benefits {
  text-align: center;

  &__content {
    transform: skewY($base-scew-angle);
  }

  &__heading {
    @extend %section-heading;

    &::after {
      @extend %heading-tail;
      background-color: $base-border-colour;
    }
  }

  @include susy-breakpoint($small-screen) {
    text-align: left;
  }
}

.benefit {
  display: block;
  margin-top: rem(40);

  &__heading {
    margin-bottom: rem(20);
  }

  &__description {
    margin-bottom: rem(10);

    @include susy-breakpoint($small-screen) {
      margin-bottom: rem(24);
    }
  }

  &__content {
    display: table-cell;
    vertical-align: top;

    @include susy-breakpoint($small-screen) {
      padding: 10px 0 0 20px;
    }
  }

  &__link::after {
    content: '\2192';
    margin-left: rem(10);
    transition: margin-left 200ms ease;
  }

  &:hover {
    .benefit__link::after {
      margin-left: rem(18);
    }
  }

  @include susy-breakpoint($small-screen) {
    @include span(6);
    display: table;
    margin-top: rem(80);

    &:nth-of-type(-n+2) {
      margin-top: 0;
    }

    &:nth-of-type(2n) {
      @include last;
    }
  }

  @include susy-breakpoint($medium-screen) {
    @include span(4);

    &:nth-of-type(-n+3) {
      margin-top: 0;
    }

    &:nth-of-type(2n) {
      @include span(4);
    }

    &:nth-of-type(3n) {
      @include last;
    }

    &__description {
      min-height: rem(210);
    }
  }

  @include susy-breakpoint($large-screen) {
    &__description {
      min-height: rem(160);
    }
  }

  @include susy-breakpoint($huge-screen) {
    &__description {
      min-height: rem(1);
    }
  }
}