.contact {
  @include clearfix;
  @include margin-vertical($spacing-vertical-lg);
  font-family: $font-sans-serif;

  @include susy-breakpoint($bp-lg) {
    @include margin-vertical($spacing-vertical-xl);
  }

  &__intro {

    @include susy-breakpoint($bp-lg) {
      @include clearfix;
      max-width: span(5);
    }
  }

  &__content,
  &__details {
    margin-top: $spacing-vertical;
  }

  &__content {
    margin-bottom: $spacing-vertical-lg;

    @include susy-breakpoint($bp-lg) {
      @include span(7);
      @include post(1);
      margin-bottom: 0;
    }

    @include susy-breakpoint($bp-xl) {
      @include span(5);
      @include post(1);
    }
  }

  &__details {

    @include susy-breakpoint($bp-lg) {
      @include span(4);
    }

    @include susy-breakpoint($bp-xl) {
      @include span(6);
    }
  }

  &__lead {
    margin-bottom: 0;
  }

  &__heading {
    color: $coal;
    margin-top: 0;
  }

  &__text {
    font-size: .9em;
    line-height: 1.8;
  }

  &__list {

    &__term {
      color: $leaf-green-dark;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__description {
      color: $coal;
      font-size: 1.1em;
    }

    &__link {
      color: inherit;
    }
  }
}
