.jumbotron_title {
  color: white;
}
/*
.jumbotron::after {
  background-color: white;
  content: '';
  height: 100px;
  width: calc(100% + 10px);
  transform: skewY(-$base-scew-angle);
  position: absolute;
  bottom: 89px;
  left: -10px;
}
*/

.jumbotron {
  @extend %z-index-up;
  background-color: rgba(#27a18e, 0.9);
  background-size: cover;
  border: solid 10px white;
  color: white;
  display: table;
  height: calc(100vh);
  width: calc(100%);

  .jumbotron_logo {
    @include retina-image('/images/leaf-logo', 97px 33px);
    display: block;
    height: rem(33);
    left: 50%;
    margin-left: rem(-48);
    position: absolute;
    top: rem(50);
    width: rem(97);

    @include susy-breakpoint($small-screen) {
      left: rem(50);
      margin-left: auto;
      top: rem(50);
    }
  }

  .jumbotron_logomark {
    @include retina-image('/images/leaf', 40px 76px);
    display: none;
    height: rem(76);
    margin-bottom: rem(20);
    width: rem(40);

    @include susy-breakpoint($small-screen) {
      display: inline-block;
    }
  }

  .jumbotron_content {
    padding: rem(20) rem(20) rem(120);
    position: relative;
    top: rem(80);
    @extend %vertical-center;

    @include susy-breakpoint($medium-screen) {
      padding-bottom: 0;
      top: 0;
    }
  }


  h1 {
    font-family: $font-family-serif;
    font-size: rem(48);
    font-weight: 300;
    margin: 0 auto rem(30);

    @include susy-breakpoint($medium-screen) {
      font-size: rem(64);
    }
  }

  p {
    font-family: $font-family-sans-serif;
    font-size: rem(22);
    line-height: 1.8;
    margin: 0 auto;
    max-width: rem(730);

    @include susy-breakpoint($medium-screen) {
      font-size: rem(26);
    }
  }
}