.jumbotron {
  @extend %z-index-up;
  background-color: rgba(#27a18e, 0.9);
  color: white;
  margin-top: rem(-200);
  padding-top: rem(20);
  text-align: center;
  transform: skewY(-$base-scew-angle);
  width: 100%;

  @include susy-breakpoint($small-screen) {
    padding-top: rem(60);
  }

  &__content {
    padding-top: rem(200);
    transform: skewY($base-scew-angle);
  }

  &__logo {
    @include retina-image('/images/leaf-logo', 97px 33px);
    display: block;
    float: left;
    height: rem(33);
    position: relative;
    top: rem(15);
    width: rem(97);
  }

  &__button {
    float: right;
  }

  &__message {
    padding: rem(160) rem(20) rem(200);

    @include susy-breakpoint($small-screen) {
      padding: rem(180) rem(20) rem(280);
    }
  }

  &__logomark {
    @include retina-image('/images/leaf', 40px 76px);
    display: none;
    height: rem(76);
    margin-bottom: rem(20);
    width: rem(40);

    @include susy-breakpoint($small-screen) {
      display: inline-block;
    }
  }

  &__title {
    color: white;
    font-family: $font-family-serif;
    font-size: rem(48);
    font-weight: 300;
    margin: 0 auto rem(30);

    @include susy-breakpoint($medium-screen) {
      font-size: rem(64);
    }
  }

  &__intro {
    font-family: $font-family-sans-serif;
    font-size: rem(22);
    line-height: 1.8;
    margin: 0 auto;
    max-width: rem(730);

    @include susy-breakpoint($medium-screen) {
      font-size: rem(26);
    }
  }
}