.jumbotron_title {
  color: white;
}

.jumbotron {
  @extend %z-index-up;
  background-color: rgba(#27a18e, 0.9);
  background-size: cover;
  border: solid 10px white;
  color: white;
  display: table;
  height: calc(100vh);
  width: calc(100%);

  .jumbotron_logo {
    @include retina-image('/images/leaf-logo', 97px 33px);
    display: block;
    height: 33px;
    left: 50%;
    margin-left: -48px;
    position: absolute;
    top: 50px;
    width: 97px;

    @include susy-breakpoint($small-screen) {
      left: 50px;
      margin-left: auto;
      top: 50px;
    }
  }

  .jumbotron_logomark {
    @include retina-image('/images/leaf', 40px 76px);
    display: none;
    height: 76px;
    margin-bottom: 20px;
    width: 40px;

    @include susy-breakpoint($small-screen) {
      display: inline-block;
    }
  }

  .jumbotron_content {
    padding: 20px;
    position: relative;
    padding-bottom: 120px;
    top: 80px;
    @extend %vertical-center;

    @include susy-breakpoint($medium-screen) {
      padding-bottom: 0;
      top: 0;
    }
  }

  h1 {
    font-family: $font-family-serif;
    font-size: rem(48);
    font-weight: 300;
    margin: 0 auto 30px;

    @include susy-breakpoint($medium-screen) {
      font-size: rem(64);
    }
  }

  p {
    font-family: $font-family-sans-serif;
    font-size: rem(22);
    line-height: 1.8;
    margin: 0 auto;
    max-width: 730px;

    @include susy-breakpoint($medium-screen) {
      font-size: rem(26);
    }
  }

}