.masthead {
  align-items: center;
  display: flex;

  &__logo {
    margin-right: auto;
    @include margin-vertical($spacing-vertical-lg);

    &__inner,
    &__link {

      svg {
        display: block;
        height: 1.97em;
        width: 3.25em;
      }
    }

    &__link:hover path {
      opacity: .9;
    }
  }

  &__actions {
    text-align: right;

    &__button {
      background-color: #20A36F;
      display: inline-block;
      width: auto;
    }
  }
}
