.masthead {
  display: table;
  width: 100%;

  &__logo {
    display: table-cell;
    vertical-align: middle;

    &__link {

      svg {
        display: block;
        height: 1.97em;
        width: 3.25em;

        &:hover path {
          opacity: .9;
        }
      }
    }
  }

  &__actions {
    @include margin-vertical($spacing-vertical-lg);
    text-align: right;

    &__button {
      background-color: #20A36F;
      display: inline-block;
      width: auto;
    }
  }
}
