.simple-footer {
  @include padding-vertical($padding-vertical);
  border-top: $base-border-style $light-stone $base-border-width;
  font-family: $font-sans-serif;
  text-align: left;

  &__inner {

  }

  &__item {
    font-size: .7em;
    margin-right: $spacing-horizontal;
  }
}
