.technologies {

  @include susy-breakpoint($bp-lg) {

    &__block {
      @include span(3 of 12);

      &:last-of-type {
        @include omega;
      }

      &__logo {
        display: flex;
        height: 4em;
        margin-bottom: $spacing-vertical;

        svg {
          height: 100%;
          width: auto;
        }
      }
    }
  }

  .section__body {
    @include container(64em);
  }
}