.testimonials {
  background-color: $light-gray;
  text-align: center;

  &__content {
    transform: skewY($base-scew-angle);
  }
}

.testimonial {
  @include span(12);

  @include susy-breakpoint($small-screen) {
    @include push(2);
    @include span(8);
  }

  &__quote {
    @extend %section-header;
    font-size: rem(28);
    margin-bottom: rem(36);
  }

  &__person {
    margin-bottom: rem(10);
  }

  &__company {
    margin-bottom: 0;
  }
}