.testimonials {
  text-align: center;

  &__content {
    transform: skewY($base-scew-angle);
  }
}

.testimonial {
  @include push(2);
  @include span(8);

  &__company {
    margin-bottom: 0;
  }

  &__quote {
    @extend %section-header;
    font-size: rem(28);
  }
}