.content {
  .content-list &{
    &:not(:last-child){
      margin-bottom: $spacing-7;
    }

    & >:last-child {
      margin-bottom: 0;
    }

    & > * {
      margin-bottom: 2rem;
    }

    & .content__heading:first-child {
      margin-bottom: 0.75rem;
    }
  }

  &__heading-2 {
    color: var(--color-heading-2);
    font-size: $font-size-h2;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      font-size: $font-size-xl;
    }
  }

  &__heading-3 {
    color: var(--color-heading-3);
    font-size: $font-size-h3;
    margin-bottom: $spacing-3;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      font-size: 1.6rem;
    }
  }

  &__intro {
    color: var(--color-intro-text);
    font-size: $font-size-md;
    font-family: $font-family-sans-serif;
    line-height: 1.6;
    margin-bottom: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
      margin-bottom: $spacing-6;
    }

    &--analysis,
    &--center {
      color: var(--color-heading);
      margin-bottom: $spacing-5;
    }

    &--center {
      text-align: center;
    }
  }

  &__text {
    color: var(--color-text);
    line-height: 1.7;
    margin-bottom: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
      margin-bottom: $spacing-6;
    }

    &--contrast {
      color: hsl(254, 100%, 95%);
    }

    &--analysis {
      margin-bottom: $spacing-7;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        margin-bottom: $spacing-5;
      }
    }

    &--larger {
      font-size: $font-size-sub;
      line-height: 1.57;
    }
  }
}