mixin content(c)
  .content
    if c.heading2 === true
      h2.content__heading.content__heading-2= c.heading
    else
      h2.content__heading.content__heading-3= c.heading
    if c.intro
      p.content__intro= c.intro
    each item in c.items
      case item.type
        when "bullet"
          +bullet(item.locals)
        when "explanation"
          +explanation(item.locals)
        when "divider"
          hr.divider.divider--block-hr
        default
          p.content__text(class= c.contentTextModifier ? "content__text--" + c.contentTextModifier : "")!=item.text


