.form-group {
  .loading & {
    opacity: 0.6;
  }

  label {
    color: $color-slate;
    display: block;
    font-size: 0.6rem;
    font-weight: $font-weight-bold;
  }

  input {
    background-color: $color-white;
    border: $border-style 1px $color-smoke;
    border-radius: $border-radius-base;
    font-size: 0.8rem;
    height: $size-5;
    margin: $spacing-2 0;
    padding: $spacing-5;
    width: 100%;
  }
}