mixin subscribe
  .subscribe
    .container
      .grid.grid--footer
        .grid__item
          p.subscribe__text <strong>Subscribe to the Leaf newsletter</strong> for fortnightly emails on business automation best practices and company updates.