.resource {
  background-color: $color-indigo;
  border-radius: $border-radius-lg;
  font-size: $font-size-lg;
  height: 100%;

  &[href] {
    @include focus-ring;
    @include shadow-effect;
  }

  &__container {
    align-items: center;
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
  }

  &__media {
    display: block;
    padding: $spacing-4;
  }

  &__image {
    display: block;
    width: 8rem;
  }

  &__placeholder {
    @include aspect-ratio(160 206);
    background: $color-eggplant;
    border-radius: $border-radius-sm;
    //height: calc(100% - (#{$spacing-4} * 2));
    margin: $spacing-4;
    width: 8rem;
  }

  &__content {
    padding: $spacing-6;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      padding: $spacing-5 $spacing-6 $spacing-5 $spacing-4;
    }
  }

  &__meta {
    align-items: center;
    color: $color-white;
    display: flex;
    font-family: $font-family-sans-serif-extrabold;
    font-size: .55rem;
    letter-spacing: .05rem;
    line-height: 1;
    margin-bottom: $spacing-4;
    position: relative;
    text-transform: uppercase;
  }

  &__badge {
    background-color: #5F42F0;
    border-radius: $border-radius-xs;
    margin-left: $spacing-3;
    padding: .2rem .2rem .05rem;
    position: absolute;
    right: -1.7rem;
    top: -.2rem;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      padding: .2rem .2rem .07rem;
      position: relative;
      right: unset;
      top: -.07rem;
    }
  }

  &__text {
    font-size: $font-size-sm;
    margin-bottom: 0;
  }
}
