.resource {
  font-family: $font-family-sans-serif-medium;
  font-size: $font-size-lg;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &__container {
    background-color: $color-container;
    border-radius: 9px;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }

  &__left {
    display: none;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      display: block;
      padding: $spacing-3;
    }
  }

  &__right {
    align-self: center;
    padding: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      padding: $spacing-4 $spacing-3;
    }
  }

  &__media {
    display: flex;
  }

  &__image {
    border-radius: 4px;
    height: 4rem;
    object-fit: cover;
    max-width: 7.5rem;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      height: $size-8;
      width: 7.5rem;
    }
  } 

  &__meta {
    align-items: center;
    color: $color-white;
    display: flex;
    font-family: $font-family-sans-serif-bold;
    letter-spacing: .05rem;
    position: relative;
    text-transform: uppercase;
  }

  &__subheading {
    font-size: .6rem;
    margin-bottom: $spacing-1;
  }

  &__badge {
    background-color: #5F42F0;
    border-radius: 2px;
    font-size: .6rem;
    margin: 0 0 0 5rem;
    padding: .1rem .3rem;
    position: absolute;
    bottom: .05rem;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      padding: .15rem .3rem;
      bottom: 0;
    }
  }

  &__heading {
    color: $color-green;
    font-size: 1.3rem;
    margin-bottom: $spacing-1;
  }

  &__text {
    color: $color-white;
    font-family: $font-family-sans-serif-light;
    font-size: $font-size-sm;
    line-height: $line-height;
    margin: 0;
  }
}
