mixin resource(c)
  a.resource(href= c.resourceUrl)
    .resource__container
      .resource__left
        +image({    
          context: "resource",
          src: c.resourceImage.src,
          alt: c.resourceImage.alt
        })
      .resource__right
        p.resource__meta= c.resourceMeta
        p.resource__heading= c.resourceHeading
        p.resource__text= c.resourceText
