mixin resource(c)
  .resource
    +image({
      class: "resource__image",
      src: c.resourceImage.src,
      alt: c.resourceImage.alt
    })
    .resource__container
      .resource__content
        h3.resource__heading= c.resourceHeading
        p.resource__text= c.resourceText
      .resource__meta
        .resource__button
          a.button(href= c.resourceButton.buttonUrl target="_blank" rel="noopener")= c.resourceButton.buttonText
        p.resource__meta-text= c.resourceMetaText
