mixin resource(c)
  a.resource(href= c.resourceUrl)
    .resource__container
      .resource__left
        +image({    
          context: "resource",
          src: c.resourceImage.src,
          alt: c.resourceImage.alt
        })
      .resource__right
        .resource__meta
          p.resource__subheading= c.resourceSubheading
          p.resource__badge= c.resourceBadge
        p.resource__heading= c.resourceHeading
        p.resource__text= c.resourceText
