extends ../templates/base/_base

block prepend vars
  -var bodyClass = "case-study-page"
  -var title = "CakeBoxx Technologies Case Study - Leaf"

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "CakeBoxx Technologies",
      inverse: true,
      title: "Case study"
    }
  })

  //- Banner
  +banner({
    alt: "CakeBoxx Technologies' unique container design",
    src: "/images/responsive/portfolio/cakeboxx/banner-1800.jpg",
    mobile_srcset: "/images/responsive/portfolio/cakeboxx/banner-cropped-640.jpg 640w, /images/responsive/portfolio/cakeboxx/banner-cropped-750.jpg 750w, /images/responsive/portfolio/cakeboxx/banner-cropped-1080.jpg 1080w",
    desktop_srcset: "/images/responsive/portfolio/cakeboxx/banner-1000.jpg 1000w, /images/responsive/portfolio/cakeboxx/banner-1400.jpg 1400w, /images/responsive/portfolio/cakeboxx/banner-1800.jpg 1800w"
  })

  +section({})

    aside.section__content__aside.section__content__aside--inline
      dl
        dt Client
        dd CakeBoxx Technologies

      dl
        dt Services
        dd
          ul
            li Content strategy
            li Technical consultancy
            li Theme customisation

      dl
        dt Technology
        dd
          ul
            li WordPress

    .section__content__main
      h3 The brief
      p CakeBoxx Technologies offer a range of revolutionary shipping containers, and wanted to modernise their digital presence. On-site analytics had shown a sharp increase in handheld devices being used to view the site, and CakeBoxx were keen to capitalise on this by optimising the site for smaller screens. In November 2015, they approached Leaf looking to refresh their existing site.

      img.snapshot(src="/images/responsive/portfolio/cakeboxx/snapshot-1.jpg", alt="CakeBoxx Technologies")

      h3 The challenge
      p It quickly became clear that the biggest challenge would be condensing and re-focussing content. The site was full of well written copy, but there was far too much of it. The sheer volume pointed to a lack of prioritisation, which in turn diluted the messages being conveyed.

      img.snapshot(src="/images/responsive/portfolio/cakeboxx/snapshot-2.jpg", alt="CakeBoxx Technologies")

      h3 Our approach
      p We started by creating a set of guidelines to facilitate the creation of any new content. While the pages were content-heavy, the site structure too was unnecessarily complicated, and simplifying the underlying information architecture provided a solid, focussed base to build on.
      p With a short turnaround time in mind, the decision was made to customise an existing theme. We made the decision to use WordPress as the content management system of choice, opening the door to a huge selection of professional themes available.

  hr

  +section({})
    +quote({
      author: "Stuart Clark, CakeBoxx Technologies",
      quote: "We approached Leaf to redesign our previously dated site. Their team quickly got us up and running with a beautiful new site; optimised for our client-base with a mobile-first approach. Feedback from our customers has been fantastic!"
    })

  //- Section
  +section({
    background: "onyx",
    center: true,
    heading: "Related projects",
    text: "This isn't our first rodeo. Here's some similar projects that we've recently been working on."
  })

    //- Related content
    +related-content([{
      href: "boxedup",
      intro: "Case study",
      src: "/images/responsive/work/boxedup-855.jpg",
      srcset: "/images/responsive/work/boxedup-200.jpg 200w, /images/responsive/work/boxedup-400.jpg 400w, /images/responsive/work/boxedup-600.jpg 600w, /images/responsive/work/boxedup-800.jpg 800w, /images/responsive/work/boxedup-855.jpg 855w",
      title: "BoxedUp"
    },{
      href: "zendesk",
      intro: "Case study",
      src: "/images/responsive/work/zendesk-600.jpg",
      srcset: "/images/responsive/work/zendesk-200.jpg 200w, /images/responsive/work/zendesk-400.jpg 400w, /images/responsive/work/zendesk-600.jpg 600w",
      title: "Zendesk"
    }])
