extends ../templates/base/_base

block prepend vars
  -var bodyClass = "case-study-page"
  -var title = "HEHA Case Study - Leaf"

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      },
      callToActionArgs: {
        link: "/contact",
        name: "Let's chat"
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "HEHA",
      inverse: true,
      title: "Case study"
    }
  })

  //- Banner
  +banner({
    alt: "HEHA",
    src: "/images/responsive/portfolio/heha/banner-1200.jpg",
    mobile_srcset: "/images/responsive/portfolio/heha/banner-cropped-640.jpg 640w, /images/responsive/portfolio/heha/banner-cropped-750.jpg 750w, /images/responsive/portfolio/heha/banner-cropped-1080.jpg 1080w",
    desktop_srcset: "/images/responsive/portfolio/heha/banner-1000.jpg 1000w, /images/responsive/portfolio/heha/banner-1200.jpg 1200w, /images/responsive/portfolio/heha/banner-1800.jpg 1800w"
  })


  +section({})

    aside.section__content__aside.section__content__aside--inline
      dl
        dt Client
        dd Holiday Extras

      dl
        dt Services
        dd
          ul
            li Wireframing
            li Prototyping
            li iOS design
            li Android design
            li Technical consultancy

      dl
        dt Technology
        dd
          ul
            li React Native
            li Node
            li GraphQL


    .section__content__main
      h3 The brief

      p Not content with being the UK's market leader for travel extras, Holiday Extras decided try their hand at helping travellers plan and organise their trips together.

      p HEHA! provides travellers with a central place for everything to do with their trip, including storing booking confirmations, creating travel wish lists, itinerary plans, and group chats for family and friends to share their ideas and travel details.

      img.snapshot.snapshot--centered(src="/images/responsive/portfolio/heha/snapshot-3.jpg", alt="HEHA", width="350")

      h3 The challenge

      p As with any incubated startup, our commodity was time. We had a small window of opportunity to answer a number of questions; what was important to our users when planning a trip? What tools and processes did travellers currently use? Was there even a hunger for such an app? 

      img.snapshot.snapshot--centered(src="/images/responsive/portfolio/heha/snapshot-2.jpg", alt="HEHA", width="350")

      h3 Our approach

      p Speaking to thousands to customers a day, the Holiday Extras team had realised that there were recurring pain-points when planning trips away, and the initial vision was driven by a desire to tackle these stresses.

      p By using React Native, the team were able to most efficiently work towards both iOS and Android versions of the application. From a design perspective, mapping to the iOS Human Interface Guidelines and Material Design respectfully provided a toolkit to further speed up our decision making.

      p Early user testing sessions were invaluable in not only validating our hypothesis, but in gauging how closely we’d hit the mark of a useful trip planning app. While feedback was largely positive, we discovered that users didn’t simply want an inspirational app, but something truly personalised to to them and their trip. 

      img.snapshot.snapshot--centered(src="/images/responsive/portfolio/heha/snapshot-1.jpg", alt="HEHA", width="350")

      p We even had an opportunity to test our work for real, and the August 2017, we joined the HEHA! team for a 4-day break in Rome; for work purposes, of course.

      p After taking stock of the user testing sessions, we began working towards addressing the recurring patterns. The concept of a trip itinerary had been one that was requested almost unanimously across the two days, while other common discussions revolved around a place to store trip-specific documentation, and even a post-trip communal gallery.

      h3 The outcome

      p HEHA! launched in both the App Store and Google Play Store in the summer of 2017, and already has with an increasingly pool of active users and trip creators.

      p We’re continuing to work with the HEHA! team in refining both applications, and are exciting to keep making trip planning not only more collaborative, but more fun.

  //- Section
  +section({
    background: "onyx",
    center: true,
    heading: "Related projects",
    text: "This isn't our first rodeo. Here's some similar projects that we've recently been working on."
  })

    //- Related content
    +related-content([{
      href: "keen",
      intro: "Case study",
      src: "/images/responsive/work/keen-600.gif",
      srcset: "/images/responsive/work/keen-200.gif 200w, /images/responsive/work/keen-400.gif 400w, /images/responsive/work/keen-600.gif 600w",
      title: "Keen"
    },{
      href: "my-rift",
      intro: "Case study",
      src: "/images/responsive/work/my-rift-600.jpg",
      srcset: "/images/responsive/work/my-rift-200.jpg 200w, /images/responsive/work/my-rift-400.jpg 400w, /images/responsive/work/my-rift-600.jpg 600w",
      title: "MyRIFT"
    }])
