extends ../templates/base/_base

block prepend vars
  -var bodyClass = "case-study-page"
  -var title = "MyRIFT Case Study - Leaf"

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      },
      callToActionArgs: {
        link: "/contact",
        name: "Let's chat"
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "MyRIFT",
      inverse: true,
      title: "Case study"
    }
  })

  //- Banner
  +banner({
    alt: "MyRIFT",
    src: "/images/responsive/portfolio/my-rift/banner-1200.jpg",
    mobile_srcset: "/images/responsive/portfolio/my-rift/banner-cropped-640.jpg 640w, /images/responsive/portfolio/my-rift/banner-cropped-750.jpg 750w, /images/responsive/portfolio/my-rift/banner-cropped-1080.jpg 1080w",
    desktop_srcset: "/images/responsive/portfolio/my-rift/banner-1000.jpg 1000w, /images/responsive/portfolio/my-rift/banner-1200.jpg 1200w, /images/responsive/portfolio/my-rift/banner-1800.jpg 1800w"
  })


  +section({})

    aside.section__content__aside.section__content__aside--inline
      dl
        dt Client
        dd RIFT

      dl
        dt Services
        dd
          ul
            li Wireframing
            li Prototyping
            li Web design
            li Software development
            li Analytics development
            li Technical consultancy
            li Product consultancy


      dl
        dt Technology
        dd
          ul
            li Ruby on Rails
            li JavaScript


    .section__content__main
      h3 The brief

      p RIFT Group Ltd specialise in Tax Refunds and are based in Kent, UK. They assist both individuals and businesses claim back their hard earned money. Since their inception, RIFT have claimed back £153,000,000 in tax refunds, helped more than 400 small businesses beat the odds to survive and grow, claimed back an average of £49,000 for each organisation research and development claim they handle, and helped employers of all sizes with the complexities of employment status legislation.

      p Our relationship with RIFT started in early 2017, when we were briefed on troubles they were having with their tax rebate web application; MyRIFT. MyRIFT allows people in various industries to fill out a their work, address, and income history to so that RIFT could automatically handle a tax refund claim for them from HMRC.

      img.snapshot(src="/images/responsive/portfolio/my-rift/snapshot-3.jpg", alt="MyRIFT")

      h3 The challenge

      p MyRIFT was doing a poor job of converting incoming prospective claimants into successful claims. Visitors to RIFTs main refunds site were not being efficiently encouraged to sign up for MyRIFT, and the MyRIFT application itself was confusing to use. As a result of this, potential claimants were being preemptively called by the RIFT contact centre to assist, removing any motivation for users to fill in their own tax refund claims, and costing RIFT money.

      p We were required to turn all these user experience issues around, getting refund eligible claimants signing up for the MyRIFT platform efficiently, and then guiding them through the claims process ensuring high quality relevant claim information was being filled in along the way to give them the best chance of a successful and fair tax refund on their own, without involving RIFT staff.

      p In addition to this, we had significant technical challenges to overcome, ensuring data was kept consistent between disparate systems, and that during the transition period we weren’t interrupting “business as usual” or affecting all important lead generation.

      img.snapshot(src="/images/responsive/portfolio/my-rift/snapshot-2.jpg", alt="MyRIFT")

      h3 Our approach

      p To clarify our understanding of RIFT’s business problems and demonstrate how we could improve the MyRIFT application, we first created prototypes that showed our vision for an ideal MyRIFT sign up and claim-completion process. This went through rounds of discussion and feedback with stakeholders at RIFT, to clarify our own understanding and come to an agreed upon solution that solves everyone’s problems.

      p Before any changes to MyRIFT were made, we then added up to date analytics to the RIFT website, and MyRIFT application. This allowed us to look accurately at user behaviour, and establish a baseline rate of conversion for new leads coming to the site.

      p With our analytics in place, we re-built the questionnaire new visitors use to establish their eligibility for a refund. Our goal here was to improve the customer experience by making the questionnaire faster on slow connections, and easier to use on mobile devices. This is particularly important to RIFT, as a large number of their claimant's work in the construction and armed forces industries where fast Internet connections are sometimes scarce, and mobile device usage is high.

      img.snapshot(src="/images/responsive/portfolio/my-rift/snapshot-1.jpg", alt="MyRIFT")

      p At the end of the eligibility questionnaire, we also replaced a contact form with MyRIFT registration form that immediately generated the user an account. This allowed potential claimants to go directly into filling out their claim information themselves, rather than waiting for RIFT to email them with a customer number. This was crucial to our goal of improving the rates of self-served claims that didn’t need involvement from RIFT staff.

      p Lastly, our plan includes an overhaul of the rest of the user experience on the MyRIFT application, swapping out the confusing user interface for an updated one that guides users through clear steps towards completing their claim, using intuitive controls and well thought out tooltips to assist where there might be uncertainty.

      h3 The outcome

      p Still a work in progress, we've implemented the new MyRIFT eqlibility questionnaire and have significantly improved conversion to registration, as well as improved the claims experience for visitors on mobile devices. Going into 2018, we're continuing our overhaul of the MyRIFT application to allow users to quickly and confidently make tax refund claims themselves.


  //- Section
  +section({
    background: "onyx",
    center: true,
    heading: "Related projects",
    text: "This isn't our first rodeo. Here's some similar projects that we've recently been working on."
  })

    //- Related content
    +related-content([{
      href: "heha",
      intro: "Case study",
      src: "/images/responsive/work/heha-600.jpg",
      srcset: "/images/responsive/work/heha-200.jpg 200w, /images/responsive/work/heha-400.jpg 400w, /images/responsive/work/heha-600.jpg 600w",
      title: "HEHA"
    },{
      href: "zendesk",
      intro: "Case study",
      src: "/images/responsive/work/zendesk-600.jpg",
      srcset: "/images/responsive/work/zendesk-200.jpg 200w, /images/responsive/work/zendesk-400.jpg 400w, /images/responsive/work/zendesk-600.jpg 600w",
      title: "Zendesk"
    }])
