.summary {
  max-width: $size-11;

  &__heading {
    color: var(--color-footer-text);
    font-size: 2.25rem;
    margin-bottom: $spacing-3;
  }

  &__text {
    font-size: $root-font-size-xl;
    margin: 0;
  }
}
