.author-bio {
  background-color: $color-off-white;
  margin-bottom: 3rem;
  padding: 1.5rem;
  position: relative;

  &--margin-top {
    margin-top: $spacing-7;
  }

  @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
    &--margin-top {
      margin-top: 0;
    }
  }

  &__social-icons {
    display: flex;
    position: absolute;
    right: 1.5rem;
  }

  &__image {
    display: block;
    height: auto;
    margin-left: $spacing-3;
    width: 1rem;
  }

  &__paragraph {
    color: $color-grey;
    line-height: $line-height - .35rem;
    margin: $spacing-3 0 $spacing-3 0;
    font-size: $font-size-sm;
    width: 100%;
  }

  &__link {
    color: $color-red;
    font-family: $font-family-sans-serif-medium;
    font-size: $font-size-sm;
  }
}
