mixin author-bio(c)
  .author-bio(class= c.class)
    .author-bio__social-icons
      a.twitter(href= c.twitterUrl)
        +image({
          context: "author-bio",
          modifier: "twitter",
          src: c.twitterImage.src,
          alt: c.twitterImage.alt
        })
      a.linkedin(href= c.linkedinUrl)
        +image({
          context: "author-bio",
          modifier: "linkedin",
          src: c.linkedinImage.src,
          alt: c.linkedinImage.alt
        })
    +author({
      class: c.author.class,
      authorDetails: c.author.authorDetails,
      authorName: c.author.authorName,
      authorThumbnail: {
        alt: c.author.authorThumbnail.alt,
        src: c.author.authorThumbnail.src
      }
    })
    .bio__content
      p.author-bio__paragraph= c.authorParagraph
      a.author-bio__link(href= c.authorLinkUrl) Get to know the team &rarr;
