mixin author-bio-chris()
  +author-bio({
    author: {
      authorName: "Chris Annetts",
      authorDetails: "Director · Leaf",
      authorThumbnail: {
        src: "/assets/images/chris_blog.png",
        alt: "Chris"
      }
    },
    twitterUrl: "https://twitter.com/cm_annetts",
    twitterImage: {
      src: "https://img.icons8.com/metro/420/twitter.png",
      alt: "Find Chris on Twitter",
    },
    linkedinUrl: "https://www.linkedin.com/in/chrisannetts/",
    linkedinImage: {
      src: "https://image.flaticon.com/icons/png/512/34/34227.png",
      alt: "Find Chris on LinkedIn",
    },
    authorParagraph: "I'm a Designer & Director at Leaf, and like frontend chat, design musings, and football bants.",
    authorLinkUrl: "https://weareleaf.com/company",
  })
