mixin author-bio-mike()
  +author-bio({
    author: {
      authorName: "Mike Carter",
      authorDetails: "Director · Leaf",
      authorThumbnail: {
        src: "/assets/images/mike_blog.jpg",
        alt: "Mike"
      }
    },
    twitterUrl: "https://twitter.com/mcarterj",
    twitterImage: {
      src: "https://img.icons8.com/metro/420/twitter.png",
      alt: "Find Mike on Twitter",
    },
    linkedinUrl: "https://www.linkedin.com/in/mike-carter-097b9855/",
    linkedinImage: {
      src: "https://image.flaticon.com/icons/png/512/34/34227.png",
      alt: "Find Mike on LinkedIn",
    },
    authorParagraph: "I'm a Software Engineer & Director at Leaf, and like the web, dogs, food & travel.",
    authorLinkUrl: "https://weareleaf.com/company",
  })
