.detail-tags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
    width: 30rem;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    bottom: $spacing-8;
    position: absolute;
    justify-content: flex-end;
    right: $spacing-8;
    width: 18rem;
  }

  &__heading {
    color: var(--detail-heading);
    font-family: $font-family-sans-serif-extrabold;
    font-size: .75rem;
    letter-spacing: .1rem;
    position: absolute;
    text-transform: uppercase;
    top: -1.5rem;
  }
  
  &__item {
    align-items: center;
    background-color: #6F43B9;
    border-radius: $border-radius-sm;
    display: flex;
    margin: .25rem;
    padding: .4rem;
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    height: .8rem;
    margin-right: .3rem;
    width: .8rem;
  }

  &__text {
    color: var(--color-detail-text);
    font-size: $font-size-xs;
    margin-bottom: -.2rem;
  }
}
