.card {
  display: block;

  &__media {
    display: block;
  }

  &__image {
    display: block;
    transition: opacity $duration-base $timing-base;
    width: 100%;
  }

  &__content {
    margin-top: $spacing-6;
  }

  &__heading {
    color: $color-grey-dark;
    transition: color $duration-base $timing-base;
  }

  &__text {
    color: initial;
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  &__link {
    color: $brand-secondary;
    display: block;
    font-family: $font-family-sans-serif-medium;
    font-size: $font-size-small;
    margin-top: $spacing-1;
  }
}

a.card {
  &:hover {
    text-decoration: none;

    .card__image {
      opacity: 0.75;
    }

    .card__heading {
      color: $brand-primary;
    }

    .card__image {
      opacity: 0.75;
    }
  }
}
