mixin card(c)
  if c.cardUrl
    a.card(href= c.cardUrl)
      +image({
        class: "card__image",
        src: c.cardImage.src,
        alt: c.cardImage.alt
      })
      .card__content
        h3.card__heading= c.cardHeading
        p.card__text= c.cardText
  else
    .card
      +image({
        class: "card__image",
        src: c.cardImage.src,
        alt: c.cardImage.alt
      })
      .card__content
        h3.card__heading= c.cardHeading
        p.card__text= c.cardText

