.tile {
  font-family: $font-family-sans-serif-medium;
  font-size: $font-size-lg;

  &__container {
    background-color: #31319B;
    //display: flex;
    padding: 3rem;
  }

  &__title {
    
  }

  &__text {
    color: $color-white;
  }
}
