.tile {

  &:hover,
  &:active {
    text-decoration: none;
  }

  &__container {
    background-color: $color-container;
    border-radius: 9px;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      display: -ms-grid;
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }

  &__media {
    display: flex;
    padding: $spacing-3;
  }

  &__image {
    border-radius: 4px;
    height: 8.5rem;
    object-fit: cover;
    width: 8.5rem;
  }

  &__content {
    align-self: center;
    padding: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      padding: $spacing-4 $spacing-5 $spacing-4 $spacing-3;
    }
  }

  &__text {
    //color: $color-white;
    //font-family: $font-family-sans-serif-regular;
    font-size: $font-size-sm;
    //line-height: $line-height;
    margin-bottom: 0;
  }
}
