.tile {
  background-color: $color-white;
  border: $border-style 3px $border-color;
  border-radius: $border-radius;
  color: $color-red;
  display: block;
  font-family: $font-family-sans-serif-bold;
  font-size: 1.5em;
  padding: $spacing-vertical-sm $spacing-horizontal * 3 $spacing-vertical-sm $spacing-horizontal;
  position: relative;

  &::after {
    background: url('../images/icons/arrow-right.svg') no-repeat center center;
    content: '';
    display: block;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    transition: right .1s ease-in;
    width: 1em;
  }

  &:hover {
    text-decoration: none;

    &::after {
      right: .667em;
    }
  }
}
