mixin tile(c)
  a.tile(href= c.tileUrl)
    .tile__container
      .tile__left
        +image({
          context: "tile",
          src: c.tileImage.src,
          alt: c.tileImage.alt
        })
      .tile__right
        p.tile__title= c.tileTitle
        p.tile__text= c.tileText
