.pin {
  position: absolute;

  &--nottingham {
    right: -3.5rem;
    top: -4.9rem;
  }

  &--amsterdam {
    right: -6.25rem;
    top: -2rem;
  }

  &--kent {
    right: $spacing-8;
    text-align: right;
    top: -1.25rem;
  }

  &--centurion {
    right: .5rem;
    text-align: right;
    top: 13.5rem;
  }

  &__content {
    visibility: hidden;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
      visibility: visible;
    }
  }

  &__name {
    font-size: $font-size-xs;
    margin-bottom: -.20rem;
  }

  &__location {
    font-family: $font-family-sans-serif-medium;
    font-size: .7rem;
    margin-bottom: 0;
  }
}
