.numbered-steps {
  @include grid-center;
  list-style: none;
  padding: 0;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    @include two-col-grid;
    max-width: unset;
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $spacing-5;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      padding: $spacing-6 $spacing-8;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      padding: $spacing-8;
    }

    &:nth-child(1) {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        border-bottom: $border-style $border-width-sm $color-iris;
        border-right: $border-style $border-width-sm $color-iris;
      }
    }

    &:nth-child(2) {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        border-bottom: $border-style $border-width-sm $color-iris;
      }
    }

    &:nth-child(3) {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        border-right: $border-style $border-width-sm $color-iris;
      }
    }
  }

  &__step {
    align-items: center;
    background: $color-bluegem;
    border-radius: $border-radius-full;
    display: flex;
    height: $size-2;
    justify-content: center;
    margin-bottom: $spacing-3;
    width: $size-2;
  }

  &__number {
    color: $color-ivory;
    font-size: $font-size-xxs;
    font-weight: 700;
    margin: 0.15rem -0.05rem 0 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      margin: 0.2rem -0.01rem 0 0;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-13')) {
      margin: 0.15rem 0.01rem 0 0;
    }
  }

  &__text {
    margin-bottom: 0;
  }
}
