footer.footer
  .footer__inner

    .footer__block
      h4.footer__heading Leaf headquarters
      ul.footer__list
        li.footer__text 25 Castle Street 
        li.footer__text Canterbury, Kent
        li.footer__text CT1 2PX, United Kingdom

    .footer__block
      h4.footer__heading About
      ul.footer__list
        li: a.footer__link(href='#') Company 
        li: a.footer__link(href='design') Design 
        li: a.footer__link(href='#') Development

    .footer__block
      h4.footer__heading General
      ul.footer__list
        li: a.footer__link(href='#') Portfolio 
        li: a.footer__link(href='#') Careers 
        li: a.footer__link(href='#') Contact

    .footer__block
      h4.footer__heading Social
      ul.footer__list
        li: a.footer__link(href='#') Twitter 
        li: a.footer__link(href='#') Dribbble 
        li: a.footer__link(href='#') Medium

    .footer__block.footer__block--callout
      h4.footer__heading Collaborate
      p.footer__text If you've got a project in mind, and think we can help, lets us know.
      a.button(href='#') Leaf project planner
