footer.footer
  .footer__inner

    .footer__primary

      .footer__block
        h4.footer__heading About
        ul.footer__list
          li.footer__text
            a.footer__link(href="/company") Company 
          li.footer__text
            a.footer__link(href="/design") Design 
          li.footer__text
            a.footer__link(href="/development") Development

      .footer__block
        h4.footer__heading General
        ul.footer__list
          li.footer__text
            a.footer__link(href="/portfolio") Portfolio 
          li.footer__text
            a.footer__link(href="/careers") Careers 
          li.footer__text
            a.footer__link(href="/terms") Terms

      .footer__block
        h4.footer__heading Social
        ul.footer__list
          li.footer__text
            a.footer__link(href="https://twitter.com/we_are_leaf", target="_blank") Twitter 
          li.footer__text
            a.footer__link(href="https://dribbble.com/leaf", target="_blank") Dribbble 
          li.footer__text
            a.footer__link(href="https://medium.com/leaf-software", target="_blank") Medium

      .footer__block
        h4.footer__heading Contact
        ul.footer__list
          li.footer__text
            a.footer__link(href="mailto:enquiries@weareleaf.com") Enquiries
          li.footer__text
            a.footer__link(href="mailto:support@weareleaf.com") Support 
          li.footer__text
            a.footer__link(href="mailto:hello@weareleaf.com") General

      .footer__block.footer__block--wide
        h4.footer__heading Leaf headquarters
        ul.footer__list.footer__list--inline
          li.footer__text 25 Castle Street , Canterbury, Kent
          li.footer__text CT1 2PX, United Kingdom
          li.footer__text Tel: 01227 647006

    .footer__secondary
      span.footer__secondary__item &copy; Leaf Software Ltd
      span.footer__secondary__item Company no: 09664307
