a.footer(href='/templates/contact')
  .footer__inner
    .footer__logo
      include ../../images/leaf.svg

    .footer__body
      span.footer__intro We're available for work
      span.footer__callout Lets chat

      .footer__small
        span.footer__small__copyright &copy; Leaf Software 2016