.masthead
  a.masthead__logo(href='/')
    include ../../images/leaf.svg

  nav.navigation

    .navigation__inner

      button.hamburger.hamburger--3dx(type='button')
        span.hamburger-box
          span.hamburger-inner

    ul.navigation__list.hidden(role='navigation')
      li: a(href='#') Company
      li: a(href='#') Portfolio
      li: a(href='#') Design
      li: a(href='#') Development
