// Header
//header.header
  .navbar
    .navbar-logo Leaf
    ul.navbar-nav
      li.navbar-nav-item.active
        a.navbar-nav-link(href='#') Projects
      li.navbar-nav-item
        a.navbar-nav-link(href='#') About
      li.navbar-nav-item
        a.navbar-nav-link(href='#') Contact

    .navbar-toggle
      span.navbar-toggle-bar
      span.navbar-toggle-bar
      span.navbar-toggle-bar