.masthead
  a.masthead__logo(href='/')
    include ../../images/leaf.svg

  nav.navigation

    .navigation__inner

      button.hamburger.hamburger--slider(type='button')
        span.hamburger-box
          span.hamburger-inner

      ul.navigation__list.hidden(role='navigation')
        li: a(href='company') Company
        li: a(href='company') Portfolio
        li: a(href='company') Design
        li: a(href='company') Development
