.masthead
  a.masthead__logo(href='/')
    include ../../images/leaf.svg

  nav.navigation

    .navigation__inner

      button.hamburger.hamburger--slider(type='button')
        span.hamburger-box
          span.hamburger-inner

      ul.navigation__list.hidden(role='navigation')
        li.navigation__list__item: a.navigation__list__link.animated.fadeInUp(href='company') Company
        li.navigation__list__item: a.navigation__list__link.animated.fadeInUp(href='company') Portfolio
        li.navigation__list__item: a.navigation__list__link.animated.fadeInUp(href='company') Design
        li.navigation__list__item: a.navigation__list__link.animated.fadeInUp(href='company') Development
