.masthead
  .masthead__logo
    a.masthead__logo__link(href="/")
      include ../../images/leaf.svg

  nav.navigation

    .navigation__inner

      button.hamburger(type="button")
        span.hamburger__inner
          span.hamburger__content

      ul.navigation__list.hidden(role="navigation")
        li.navigation__list__item: a.navigation__list__link.animated.fadeInUp(href="/company") Company
        li.navigation__list__item: a.navigation__list__link.animated.fadeInUp(href="/portfolio") Portfolio
        li.navigation__list__item: a.navigation__list__link.animated.fadeInUp(href="/design") Design
        li.navigation__list__item: a.navigation__list__link.animated.fadeInUp(href="/development") Development
