.bullet {
  &--strike-through {
    margin: -$spacing-4 0;
    margin-left: $spacing-6;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      margin-left: 0;
    }
  }

  &__heading {
    color: var(--color-heading);
    font-size: $font-size-xxs;
    font-weight: $font-weight-heading;
    letter-spacing: .05rem;
    margin-bottom: $spacing-5;
    text-transform: uppercase;
  }

  .styled-list {
    margin-top: -$spacing-3;

    &__item {
      margin-bottom: .25rem;
    }
  }
}