.bullet {
  &__heading {
    color: var(--color-heading);
    font-family: $font-family-sans-serif-extrabold;
    font-size: $font-size-xxs;
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin-bottom: $spacing-4;
    text-transform: uppercase;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-top: 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0 0 $spacing-7;
    padding: 0;

    &__item {
      font-size: $font-size-sm;
      padding-left: #{$spacing-4 + 0.3rem};
      position: relative;

      &:not(:last-child) {
        margin-bottom: $spacing-2;
      }

      &::before {
        background-color: var(--color-accent);
        content: '';
        display: block;
        height: 0.3rem;
        left: 0;
        position: absolute;
        top: 0.3rem;
        width: 0.3rem;

        @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
          top: $spacing-3;
        }
      }

      &--padded {
        line-height: 1.2;
        font-size: $font-size-sub;
        margin-bottom: $spacing-3;
        padding-left: #{$spacing-7 + 0.4rem};

        @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
          line-height: 1.6;
          margin-bottom: $spacing-2;
        }

        &::before {
          height: 0.4rem;
          left: $spacing-5;
          width: 0.4rem;
        }
      }
    }

    &--2-col {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        display: grid;
        grid-column-gap: $spacing-9;
        grid-template-columns: repeat(2, 1fr);
        max-width: max-content;
      }

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-gap: 0;
        max-width: unset;
      }
    }
  }
}
