mixin bullet(c)
  .bullet
    if c.heading
      h3.bullet__heading= c.heading
    ul.bullet__list(class= c.modifier ? "bullet__list--" + c.modifier : "")
      each item in c.items
        li.bullet__list__item(class= c.itemModifier ? "bullet__list__item--" + c.itemModifier : "")!= item.item
