mixin bullet(c)
  .bullet
    if c.listHeading === true
      h5.bullet__heading= c.styledListHeading
      ul.bullet.styled-list(class= c.styledListModifier ? "styled-list--" + c.styledListModifier : "")
        each item in c.styledListItems 
          li.bullet.styled-list__item(class= c.styledListItemModifier ? "styled-list__item--" + c.styledListItemModifier : "")= item.styledListItem
    else
      ul.bullet.styled-list(class= c.styledListModifier ? "styled-list--" + c.styledListModifier : "")
        each item in c.styledListItems 
          li.bullet.styled-list__item(class= c.styledListItemModifier ? "styled-list__item--" + c.styledListItemModifier : "")= item.styledListItem