mixin bullet(c)
  .bullet
    if c.listHeading === true
      h5.bullet__heading= c.styledListHeading
    ul.bullet.styled-list(class= c.styledListModifier ? "bullet__list--" + c.styledListModifier : "")
      each item in c.styledListItems
        li.bullet.styled-list__item!= item.styledListItem
