extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Page Not Found | Specialist Data Capture Experts | Leaf"
  -var metaUrl = "https://weareleaf.com/terms"
  -var metaTitle = "Page Not Found"
  -var metaDescription = "The page you requested does not exist."

  -var heroHeading = "We're not in Kansas anymore"
  -var heroSubheading = "It looks like the page you have requested doesn't exist. Please use one of the links above to get back to the site."

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading,
  })

  section.section.section--longform
    .container
      .grid.grid--center
        .grid__item
          +image({
            src: "/assets/images/case-studies/hx/presentation.jpg",
            alt: "Holiday Extras insurance quote questionnaire, showing several of the steps on some mobile devices."
          })
