extends ../layouts/automation-page.pug

block prepend vars
  -var pageTitle = "Bespoke business automation - Leaf"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "Wasting time on repetitive work?"
  -var metaDescription = "We're specialists in transforming organisations through businesses process automation."

block pageComponents
  +hero({
    heroModifier: "home",
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroButton: {
      buttonUrl: "#contact",
      buttonText: "Get in touch"
    },
    heroImage: {
      src: "/assets/images/heros/home.gif",
      alt: "We work with you to uncover automation opportunities.",
    }
  })

  section.section
    .container
      +benefit-statements()

  section.section
    .container
      h2.small Recent successes
      .grid.grid--symmetrical-card
        .grid__item
          +card({
            cardImage: {
              src: "/assets/images/laced.jpg",
              alt: "Laced",
            },
            cardHeading: "21st century sneaker trading",
            cardText: "We moved Laced's rare sneaker trading business online, automating their buying, selling, shipping, and quality control. Laced have since secured their series A funding, and can now scale up without hiring new staff."
          })
        .grid__item
          +card({
            cardImage: {
              src: "/assets/images/rift.jpg",
              alt: "MyRIFT",
            },
            cardHeading: "Helping the UK to claim tax refunds",
            cardText: "We allowed RIFT's customers to self-service their tax refunds online, and synchronised all of their internal systems. This took significant cost out of call centres, staff processing, and repetitive administrative work."
          })

  section.section--margin-b
    .container
      +company-logos({
      })

  section.section
    .container
      hr.divider.divider--margin-top

  section#contact.section
    .container
      +page-header({
        pageHeaderHeading: "Want to hear more?",
        pageHeaderText: "We won't work with you unless we're sure we can deliver a return on investment. Feel free to drop us an email and we'll get back to you as quickly as possible."
      })

      .grid.grid--two-thirds
        .grid__item
          +contact-form

        .grid__item
            +sidebar([{
              item: "We'll deliver a clear <strong>return on investment</strong> for your business."
              },{
              item: "We'll reduce your <strong>staffing costs</strong> with automations that handle workloads <strong>24/7</strong>."
            },{
              item: "We'll increase the <strong>speed</strong> and <strong>reliability</strong> of your business with smarter, automated workflows."
            },{
              item: "We'll create <strong>new revenue streams</strong>, with automations that integrate your business with other products."
            }])

  section.section--condensed
    +footer-condensed ({
  })
