extends ../layouts/page.pug

block prepend vars
  -var activePage = "Blog"
  -var pageTitle = "Blog - Leaf"
  -var metaUrl = "https://weareleaf.com/blog"
  -var metaTitle = "We write about stuff."
  -var metaDescription = "(More specifically, about business, services, tech, and agency life)"


block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroSubheading: metaDescription,
  })

  section.section
    .container

      .grid.grid--blog.grid--blog-index
