extends ../layouts/case-study.pug

block prepend vars
  -var pageTitle = "Blog Post - Leaf"
  -var metaUrl = "https://weareleaf.com/blog-post"
  -var metaTitle = "Blog Post"
  -var metaDescription = "Blog post content"

block pageComponents
  +banner({
    bannerCompany: "Blog",
    bannerModifer: "photo",
    bannerImage: {
      src: "/assets/images/blog-banner.png",
      fallbackSrc: "/assets/images/blog-banner.png",
      alt: "Blog post banner",
    },
  })
  
  .section
    .container
    
      +share-icons({
        twitterUrl: "https://twitter.com/we_are_leaf",
        twitterImage: {
          src: "https://img.icons8.com/metro/420/twitter.png",
          fallbackSrc: "https://twitter.com/",
          alt: "Find Mike on Twitter",
        },
        linkedinUrl: "https://www.linkedin.com/company/weareleaf/",
        linkedinImage: {
          src: "https://image.flaticon.com/icons/png/512/34/34227.png",
          fallbackSrc: "https://www.linkedin.com/feed/",
          alt: "Find Mike on LinkedIn",
        },
      })

      .grid.grid--blog
        .grid__item.grid__item--span-2
          .blog-post
            h1 The power of small development phases
            p.intro-paragraph Imagine this scenario — someone in your company proposes a new software feature with the potential to save the business thousands of hours of human effort per year. It’s going to replace it all with error free, instant, cheap automation.
            p Planning of the feature begins, and strategic stakeholders add scope with “could it also…” questions in order to maximise benefit to the business. Then, as possible edge case issues are identified, operational stakeholders add scope with “what about…” questions so that every angle is covered.
            p Discussions drag on for weeks, and before you know it, the small feature has grown into a large project. At this point, getting agreement between everyone involved has become very difficult.
            p Eventually a compromise is reached and development on the feature begins. However, progress is slow as all the additional requirements and edge cases are worked through. Unanticipated blockers are frequent, and the non-technical stakeholders start to wonder what’s taking so long.

            hr.divider.divider--block-hr

            h4 Heading
            p Over time confidence in the work drops, and eventually other urgent changes take priority. Work on the feature is paused, scaled back significantly, or sometimes even cancelled altogether. Stakeholders and developers are all left frustrated and disheartened by the experience.
            p Sound familiar? It doesn’t have to be this way. All of this pain can be avoided by just breaking your projects into small and separate <strong>phases</strong>.
            p Using simple numbers, if there’s a 20% potential improvement from some new feature, there’s nothing wrong with implementing that in eight 2.5% phases; each one agreed, worked on, and deployed separately. In fact, this approach has many benefits:

            blockquote
              q
                | This would be a standard blockquote that can be used across various Leaf posts, with or without a citation.
              cite Mike Carter, Director
          
            p This cycle continues until either we decide to give ourselves a reprieve, the stressors disappear, or we’re forced to stop through burnout. The good news is, this isn’t how life has to be.
            
            figure
              img(src="/assets/images/blog-figure.png" alt="Blog figure image" onerror="this.onerror=null; this.src='/assets/images/blog-figure'")

            h4 How you can change this
            p Organisations are unlikely to do much to rectify the situation as they’re often either unaware of the problem, or just aren’t incentivised to change. They see the output you generate, but it’s much harder for them to see the personal time invested, or personal toll work related stress can take on you.
            p The hard truth you need to face is that the solution to your work life balance is actually entirely in your control. All of the ability to control your situation rests with you, your employers and co-workers can only influence you, they cannot make you do anything. To begin improving the situation, all you have to do is stop:

            +bullet({
              class: "bullet--margin",
              bulletContent: "<ul class=\"styled-list styled-list--inside-sm\"><li class=\"styled-list__item\"><strong> Small phases deliver results quickly.</strong>Instead of waiting 8 weeks for a 20% benefit, you accumulate a 2.5% benefit each week for 8 weeks, starting from the end of the first week.</li><li class=\"styled-list__item\"><strong>Small phases are resilient against competing priorities.</strong> If you have to abandon things half-way through, you’ll still have developed, tested, and deployed a 10% improvement.</li><li class=\"styled-list__item\"><strong>Small phases avoid sunk cost.</strong> If your planned improvement doesn’t work, you can change course without throwing away months of effort.</li></ul>",
            })

            p So, next time you‘re struggling to get things done, try breaking your project up into small phases, and see how much easier it is to release features, keep stakeholders happy, and build trust.

          +author-bio-large({
            author: {
              authorDetails: "17 Dec 2018 · 3 min read",
              authorName: "Mike Carter",
              authorThumbnail: {
                src: "/assets/images/mike_blog.png",
                fallbackSrc: "/assets/images/mike_blog.png",
                alt: "Mike"
              }
            },
            twitterUrl: "https://twitter.com/we_are_leaf",
            twitterImage: {
              src: "https://img.icons8.com/metro/420/twitter.png",
              fallbackSrc: "https://twitter.com/",
              alt: "Find Mike on Twitter",
            },
            linkedinUrl: "https://www.linkedin.com/company/weareleaf/",
            linkedinImage: {
              src: "https://image.flaticon.com/icons/png/512/34/34227.png",
              fallbackSrc: "https://www.linkedin.com/feed/",
              alt: "Find Mike on LinkedIn",
            },
            authorParagraph: "I'm a Software Engineer & Director at Leaf, and like the web, dogs, food & travel.",
            authorLink: "Get to know the team →",
          })
          
        .grid__item
          +author-bio-small({
            author: {
              authorDetails: "17 Dec 2018 · 3 min read",
              authorName: "Mike Carter",
              authorThumbnail: {
                src: "/assets/images/mike_blog.png",
                fallbackSrc: "/assets/images/mike_blog.png",
                alt: "Mike"
              }
            },
            twitterUrl: "https://twitter.com/we_are_leaf",
            twitterImage: {
              src: "https://img.icons8.com/metro/420/twitter.png",
              fallbackSrc: "https://twitter.com/",
              alt: "Find Mike on Twitter",
            },
            linkedinUrl: "https://www.linkedin.com/company/weareleaf/",
            linkedinImage: {
              src: "https://image.flaticon.com/icons/png/512/34/34227.png",
              fallbackSrc: "https://www.linkedin.com/feed/",
              alt: "Find Mike on LinkedIn",
            },
            authorParagraph: "I'm a Software Engineer & Director at Leaf, and like the web, dogs, food & travel.",
            authorLink: "Get to know the team →",
          })
          
    .section
      .container
      
        hr.divider.divider--margin-blog
      
        .grid.grid--blog
          .grid__item
            +post({
              author: {
                class: "author--margin-top",
                authorDetails: "2 Aug 2018 · 3 min read",
                authorName: "Mike Carter",
                authorThumbnail: {
                  src: "/assets/images/mike_blog.png",
                  fallbackSrc: "/assets/images/mike_blog.png",
                  alt: "Mike"
                }
              },
              postUrl: "https://medium.com/leaf-software/a-home-office-for-productivity-d23f0aee627b",
              postImage: {
                src: "/assets/images/home-office.png",
                fallbackSrc: "/assets/images/home-office.png",
                alt: "A home office for productivity",
              },
              postHeading: "A home office for productivity",
              postText: "At Leaf, we embrace remote work to get a productive edge. However, it’s easy for a remote environment to work against you."
            })
        
          .grid__item
            +post({
              author: {
                class: "author--margin-top",
                authorDetails: "21 May 2018 · 3 min read",
                authorName: "Mike Carter",
                authorThumbnail: {
                  src: "/assets/images/mike_blog.png",
                  fallbackSrc: "/assets/images/mike_blog.png",
                  alt: "Mike"
                }
              },
              postUrl: "https://medium.com/leaf-software/behavioural-traps-in-software-teams-e27806f35884",
              postImage: {
                src: "/assets/images/behavioural-traps.png",
                fallbackSrc: "/assets/images/behavioural-traps.png",
                alt: "Behavioural traps in software teams",
              },
              postHeading: "Behavioural traps in software teams",
              postText: "In my experience of software teams, there are a few behavioural traps that leaders (senior stakeholders …"
            })

          .grid__item
            +post({
              author: {
                class: "author--margin-top",
                authorDetails: "20 Nov 2017 · 4 min read",
                authorName: "Mike Carter",
                authorThumbnail: {
                  src: "/assets/images/mike_blog.png",
                  fallbackSrc: "/assets/images/mike_blog.png",
                  alt: "Mike"
                }
              },
              postUrl: "https://medium.com/leaf-software/working-too-much-please-stop-8dc0ac3ec179",
              postImage: {
                src: "/assets/images/work-too-much.png",
                fallbackSrc: "/assets/images/work-too-much.png",
                alt: "Working too much? Please stop",
              },
              postHeading: "Working too much? Please stop",
              postText: "These days, people in most organisations are encouraged to work in their personal time …"
            })
