extends ../layouts/page.pug

block prepend vars
  -var activePage = "Blog"
  -var pageTitle = "Blog - Leaf"
  -var metaUrl = "https://weareleaf.com/blog"
  -var metaTitle = "Blog"
  -var metaDescription = "A collection of content dedicated to all things design, tech and process."


block pageComponents
  +hero({
    heroModifier: "blog",
    heroHeading: "Blog",
    heroText: "A collection of content dedicated to all things design, tech and process.",
    heroImage: {
      src: "/assets/images/ebooks.png",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +page-header({
        pageHeaderHeading: "Our content",
        pageHeaderText: "We aim to give an insight into what it is we do when building digital products, as well as show you more of Leaf and how we operate behind the scenes."
      })

      .grid.grid--blog.grid--blog-index

