extends ../layouts/page.pug

block prepend vars
  -var activePage = "Blog"
  -var pageTitle = "Blog - Leaf"
  -var metaUrl = "https://weareleaf.com/blog"
  -var metaTitle = "Blog"
  -var metaDescription = "A collection of content dedicated to all things design, tech and process."


block pageComponents
  +hero({
    heroModifier: "blog",
    heroHeading: "Blog",
    heroText: "A collection of content dedicated to all things design, tech and process.",
    heroImage: {
      src: "/assets/images/ebooks.webp",
      fallbackSrc: "/assets/images/ebooks.png",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +page-header({
        pageHeaderHeading: "Our content",
        pageHeaderText: "We aim to give an insight into what it is we do when building digital products, as well as show you more of Leaf and how we operate behind the scenes."
      })

      .grid.grid--blog
        .grid__item-large
          +post-large({
            author: {
              class: "author--margin-top",
              authorDetails: "17 Dec 2018 · 3 min read",
              authorName: "Mike Carter",
              authorThumbnail: {
                src: "/assets/images/mike_blog.png",
                fallbackSrc: "/assets/images/mike_blog.png",
                alt: "Mike"
              }
            },
            postUrl: "/blog-post",
            postImage: {
              src: "/assets/images/small-development.png",
              fallbackSrc: "/assets/images/small-development.png",
              alt: "The power of small development phases",
            },
            postHeading: "The power of small development phases",
            postText: "Imagine this scenario — someone in your company proposes a new software feature with the potential to save the business thousands of hours of human effort per year. It’s going to replace it all with error free, instant, cheap automation …"
          })

        .grid__item
          +post({
            author: {
              class: "author--margin-top",
              authorDetails: "2 Aug 2018 · 3 min read",
              authorName: "Mike Carter",
              authorThumbnail: {
                src: "/assets/images/mike_blog.png",
                fallbackSrc: "/assets/images/mike_blog.png",
                alt: "Mike"
              }
            },
            postUrl: "https://medium.com/leaf-software/a-home-office-for-productivity-d23f0aee627b",
            postImage: {
              src: "/assets/images/home-office.png",
              fallbackSrc: "/assets/images/home-office.png",
              alt: "A home office for productivity",
            },
            postHeading: "A home office for productivity",
            postText: "At Leaf, we embrace remote work to get a productive edge. However, it’s easy for a remote environment to work against you."
          })
      
        .grid__item
          +post({
            author: {
              class: "author--margin-top",
              authorDetails: "21 May 2018 · 3 min read",
              authorName: "Mike Carter",
              authorThumbnail: {
                src: "/assets/images/mike_blog.png",
                fallbackSrc: "/assets/images/mike_blog.png",
                alt: "Mike"
              }
            },
            postUrl: "https://medium.com/leaf-software/behavioural-traps-in-software-teams-e27806f35884",
            postImage: {
              src: "/assets/images/behavioural-traps.png",
              fallbackSrc: "/assets/images/behavioural-traps.png",
              alt: "Behavioural traps in software teams",
            },
            postHeading: "Behavioural traps in software teams",
            postText: "In my experience of software teams, there are a few behavioural traps that leaders (senior stakeholders …"
          })

        .grid__item
          +post({
            author: {
              class: "author--margin-top",
              authorDetails: "20 Nov 2017 · 4 min read",
              authorName: "Mike Carter",
              authorThumbnail: {
                src: "/assets/images/mike_blog.png",
                fallbackSrc: "/assets/images/mike_blog.png",
                alt: "Mike"
              }
            },
            postUrl: "https://medium.com/leaf-software/working-too-much-please-stop-8dc0ac3ec179",
            postImage: {
              src: "/assets/images/work-too-much.png",
              fallbackSrc: "/assets/images/work-too-much.png",
              alt: "Working too much? Please stop",
            },
            postHeading: "Working too much? Please stop",
            postText: "These days, people in most organisations are encouraged to work in their personal time …"
          })

        .grid__item
          +post({
            author: {
              class: "author--margin-top",
              authorDetails: "30 Jun 2017 · 4 min read",
              authorName: "Chris Annetts",
              authorThumbnail: {
                src: "/assets/images/chris_blog.png",
                fallbackSrc: "/assets/images/chris_blog.png",
                alt: "Chris"
              }
            },
            postUrl: "https://medium.com/leaf-software/leaf-is-two-years-old-977a9864fe90",
            postImage: {
              src: "/assets/images/2-yrs-old.png",
              fallbackSrc: "/assets/images/2-yrs-old.png",
              alt: "Leaf is two years old",
            },
            postHeading: "Leaf is two years old - A few words to celebrate",
            postText: "By the age of two, many toddlers will have gained significant new skills; from improvements in their ability to …"
          })

        .grid__item
          +post({
            author: {
              class: "author--margin-top",
              authorDetails: "30 May 2018 · 3 min read",
              authorName: "Chris Annetts",
              authorThumbnail: {
                src: "/assets/images/chris_blog.png",
                fallbackSrc: "/assets/images/chris_blog.png",
                alt: "Chris"
              }
            },
            postUrl: "https://medium.com/leaf-software/how-to-write-better-work-enquiries-b5b98e640d85",
            postImage: {
              src: "/assets/images/better-enquiries.png",
              fallbackSrc: "/assets/images/better-enquiries.png",
              alt: "How to write better work enquiries",
            },
            postHeading: "How to write better work enquiries",
            postText: "Five steps to start off on the right foot. As somebody with little-to-no experience of the web, the idea of enquiring …"
          })

        .grid__item
          +post({
            author: {
              class: "author--margin-top",
              authorDetails: "9 May 2017 · 3 min read",
              authorName: "Chris Annetts",
              authorThumbnail: {
                src: "/assets/images/chris_blog.png",
                fallbackSrc: "/assets/images/chris_blog.png",
                alt: "Chris"
              }
            },
            postUrl: "https://medium.com/leaf-software/fixed-cost-is-hurting-your-business-ec3d63ffa329",
            postImage: {
              src: "/assets/images/fixed-costs.png",
              fallbackSrc: "/assets/images/fixed-costs.png",
              alt: "Fixed cost is hurting your business",
            },
            postHeading: "Fixed cost is hurting your business",
            postText: "Projects turn in to games of brinksmanship, where neither side wins. If you’ve ever been on either side of …"
          })

