extends ../layouts/page.pug

block prepend vars
  -var activePage = "Blog"
  -var pageTitle = "Blog - Leaf"
  -var metaUrl = "https://weareleaf.com/blog"
  -var metaTitle = "Blog"
  -var metaDescription = "Our thoughts, advice, and general musings around a collection of themes, including data capture, productivity, and remote working."

  -var heroHeading = "We like to write"
  -var heroSubheading = "It's no good accruing knowledge if you keep it to yourself. We write about a range of themes, including how to gather information effectively, working productively and remotely, and even the occasional company update."


block pageComponents
  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section
    .container

      .grid.grid--blog.grid--blog-index
