extends ../layouts/page.pug

block prepend vars
  -var activePage = "Blog"
  -var pageTitle = "Blog - Leaf"
  -var metaUrl = "https://weareleaf.com/blog"
  -var metaTitle = "Blog"
  -var metaDescription = "A collection of content dedicated to all things design, tech and process."


block pageComponents
  +hero({
    heroModifier: "blog",
    heroHeading: "Blog",
    heroText: "A collection of content dedicated to all things design, tech and process.",
    heroImage: {
      src: "/assets/images/ebooks.webp",
      fallbackSrc: "/assets/images/ebooks.png",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +page-header({
        pageHeaderHeading: "Our content",
        pageHeaderText: "We aim to give an insight into what it is we do when building digital products, as well as show you more of Leaf and how we operate behind the scenes."
      })

      .grid.grid--blog
        .grid__item-large
          +post-large({
            postUrl: "https://medium.com/leaf-software/the-power-of-development-phases-c65aa077e0ca",
            postImage: {
              src: "/assets/images/blog-large.png",
              fallbackSrc: "/assets/images/blog-large.png",
              alt: "Power of Development Phases",
            },
            postHeading: "Working too much? Please stop",
            postText: "These days, people in most organisations are encouraged to work in their personal time. These expectations are sometimes explicit out of hours requests; “Could just reply to that email”, “Did you see that …"
          })

        .grid__item
          +post({
            postUrl: "https://medium.com/leaf-software/the-power-of-development-phases-c65aa077e0ca",
            postImage: {
              src: "/assets/images/blog.png",
              fallbackSrc: "/assets/images/blog.png",
              alt: "Power of Development Phases",
            },
            postHeading: "The power of development phases",
            postText: "Learn how splitting software feature into phases can transform your team’s productivity, trust and relationships …"
          })

        .grid__item
          +post({
            postUrl: "https://medium.com/leaf-software/the-power-of-development-phases-c65aa077e0ca",
            postImage: {
              src: "/assets/images/blog.png",
              fallbackSrc: "/assets/images/blog.png",
              alt: "Power of Development Phases",
            },
            postHeading: "The power of development phases",
            postText: "Learn how splitting software feature into phases can transform your team’s productivity, trust and relationships …"
          })

        .grid__item
          +post({
            postUrl: "https://medium.com/leaf-software/the-power-of-development-phases-c65aa077e0ca",
            postImage: {
              src: "/assets/images/blog.png",
              fallbackSrc: "/assets/images/blog.png",
              alt: "Power of Development Phases",
            },
            postHeading: "The power of development phases",
            postText: "Learn how splitting software feature into phases can transform your team’s productivity, trust and relationships …"
          })

        .grid__item
          +post({
            postUrl: "https://medium.com/leaf-software/the-power-of-development-phases-c65aa077e0ca",
            postImage: {
              src: "/assets/images/blog.png",
              fallbackSrc: "/assets/images/blog.png",
              alt: "Power of Development Phases",
            },
            postHeading: "The power of development phases",
            postText: "Learn how splitting software feature into phases can transform your team’s productivity, trust and relationships …"
          })
