extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Job Openings | Specialist Data Capture Experts | Leaf"
  -var metaUrl = "https://weareleaf.com/careers"
  -var metaTitle = "Job Openings"
  -var metaDescription = "Join us in helping organisations excel online by making it easy for their users to provide them with high quality information. We love the web."

  -var heroHeading = "We're hiring"
  -var heroSubheading = "We're a driven, passionate, and friendly bunch, and are looking for like-minded people to help us build great software. We hire based on character rather than skill, and give our team an environment in which they can thrive."

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading
  })

  section.section
    .container
      .grid.grid--tile
        .grid__item
          +tile({
            url: "mailto:hello@weareleaf.com?subject=I'd love to work at Leaf",
            heading: "Can't see your role?",
            text: "If you think you’d be a good fit, but can’t see anything that matches your skillset, introduce yourself and tell us why.",
            newTab: true
          })

  section.section
    .container
      .grid.grid--statements
        .grid__item
          +statement({
            icon: "/assets/images/icons/game.svg",
            iconAlt: "A video game console controller.",
            heading: "We'll help you level-up",
            text: "We pride ourselves on continual self-improvement, and we'll make sure you get the every opportunity to do so yourself."
          })

        .grid__item
          +statement({
            icon: "/assets/images/icons/robot.svg",
            iconAlt: "A humanoid robot's head.",
            heading: "We hire humans, not robots",
            text: "A happier you is a better you. We'll only ever ask you to work your contracted hours, and will leave you to manage your work/life balance."
          })

        .grid__item
          +statement({
            icon: "/assets/images/icons/time.svg",
            iconAlt: "A clock face set to 4pm.",
            heading: "Flexible working hours",
            text: "With flexible hours and remote working available, you'll ensure you have the foundation needed to do your best work."
          })

        .grid__item
          +statement({
            icon: "/assets/images/icons/cash.svg",
            iconAlt: "Some cash, in note form.",
            heading: "Personal budgets",
            text: "We invest heavily in our team, with personal growth budgets available for courses and conferences, and home-office budgets for remote workers."
          })
