extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Careers - Leaf"
  -var metaUrl = "https://weareleaf.com/careers"
  -var metaTitle = "Jobs at Leaf"
  -var metaDescription = "If you're driven, passionate about your craft, and keen to learn, we want to hear from you."

block pageComponents
  +hero({
    heroModifier: "careers",
    heroHeading: "Jobs at Leaf",
    heroText: "If you're driven, passionate about your craft, and keen to learn, we want to hear from you.",
    heroImage: {
      src: "/assets/images/heros/jobs.gif",
      alt: metaTitle
    }
  })

  section.section
    .container
      +page-header({
        pageHeaderHeading: "Open positions",
        pageHeaderModifier: "sm-spacing"
      })

      .grid.grid--tile
        .grid__item
          +tile({
            tileUrl: "/researcher",
            tileTitle: "Researcher"
          })

      p.color-grey-dark #[strong Can't see your role?] We advertise for specific positions and skillsets, but we never know what our next protégé is going to look like. If you think we'd be good together, #[a(href="javascript:void(0)", data-micromodal-trigger="modal-contact") introduce yourself] and tell us why.
      hr.divider.divider--margin-top

  section.section
    .container
      .grid.grid--statements
        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/game.svg",
            statementHeading: "We'll help you level-up",
            statementText: "We pride ourselves on continual self-improvement, and we'll make sure you get the every opportunity to do so yourself."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/robot.svg",
            statementHeading: "We hire humans, not robots",
            statementText: "A happer you is a better you. We'll only ever ask you to work your contracted hours, and will leave you to manage your work/life balance."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/time.svg",
            statementHeading: "Flexible working hours",
            statementText: "With flexible hours and remote working available, you'll ensure you have the foundation needed to do your best work."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/cash.svg",
            statementHeading: "Personal budgets",
            statementText: "We invest heavily in our team, with personal growth budgets available for courses and conferences, and home-office budgets for remote workers."
          })
