extends ../layouts/page.pug

block prepend vars
  -var activePage = "Case studies"
  -var pageTitle = "Case studies - Leaf"
  -var metaUrl = "https://weareleaf.com/case-studies"
  -var metaTitle = "Case studies"
  -var metaDescription = "We've helped some wonderful clients use technology to improve to their products and processes."

  -var heroHeading = "We help clients achieve their goals."
  -var heroSubheading = "(using technology and design to add tangible value)"

block pageComponents
  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section
    .container
      +presentation({
        project: {
          projectSubHeading: "Laced",
          projectHeading: "21st century sneaker trading",
          projectText: "We moved Laced's rare sneaker trading business online, automating their buying, selling, shipping, and quality control.",
          projectButton: {
            buttonUrl: "/laced",
            buttonText: "See the case study"
          }
        },
        presentationImage: {
          src: "/assets/images/laced/laced-image-group.png",
          alt: "Laced"
        },
        presentationModifier: "reverse",
        imageModifier: "laced",
      })

      +presentation({
        project: {
          projectSubHeading: "Keen",
          projectHeading: "Onboarding, done right",
          projectText: "No two users are the same. We partnered with Keen to build an MVP of their customer-success tool.",
          projectButton: {
            buttonUrl: "/keen",
            buttonText: "See the case study"
          }
        },
        presentationImage: {
          src: "/assets/images/keen/keen-image-group.png",
          alt: "Keen"
        },
        imageModifier: "90"
      })

      +presentation({
        project: {
          projectSubHeading: "MyRIFT",
          projectHeading: "Helping Brits claim back tax",
          projectText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers.",
          projectButton: {
            buttonUrl: "/rift",
            buttonText: "See the case study"
          }
        },
        presentationImage: {
          src: "/assets/images/rift/rift-image-group.png",
          alt: "RIFT"
        },
        presentationModifier: "reverse"
      })

      +presentation({
        project: {
          projectSubHeading: "Heha!",
          projectHeading: "Hassle-free travel",
          projectText: "Planning trips is tough. We worked with Holiday Extras to create HEHA!, an iOS and Android app to simplify the task.",
          projectButton: {
            buttonUrl: "/heha",
            buttonText: "See the case study"
          }
        },
        presentationImage: {
          src: "/assets/images/heha/heha-image-group.png",
          alt: "RIFT"
        },
        imageModifier: "90"
      })
