extends ../layouts/page.pug

block prepend vars
  -var activePage = "Case studies"
  -var pageTitle = "Case Studies | Specialist Data Capture Experts | Leaf"
  -var metaUrl = "https://weareleaf.com/case-studies"
  -var metaTitle = "Case Studies"
  -var metaDescription = "We've helped some wonderful organisations use technology to capture higher quality information from their users. Specialist web design & development."

  -var heroHeading = "We add measurable value"
  -var heroSubheading = "The Web is the most cost-effective way to communicate to your users. From established dot-coms to bootstrapped startups, we help clients of all sizes keep their most important conversation going."

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading,
  })

  section.section
    .container

      +presentation({
        project: {
          subheading: "Holiday Extras Travel Insurance",
          heading: "Painless insurance quotes",
          text: "Holiday Extras wanted the experience of buying travel insurance online to match that of their award-winning call centre.",
          button: {
            url: "/holiday-extras",
            text: "See the case study"
          }
        },
        image: {
          src: "/assets/images/case-studies/hx/presentation.jpg",
          alt: "Holiday Extras insurance quote questionnaire, showing several of the steps on some mobile devices."
        },
        modifier: "reverse"
      })

      +presentation({
        project: {
          subheading: "Heha!",
          heading: "Hassle-free travel",
          text: "Planning trips is tough. We worked with Holiday Extras to create HEHA!, an iOS and Android app to simplify the task.",
          button: {
            url: "/heha",
            text: "See the case study"
          }
        },
        image: {
          src: "/assets/images/case-studies/heha/presentation.jpg",
          alt: "Holiday Extras' HEHA! Mobile app, showing several planned trips on some mobile devices."
        },
        modifier: "90"
      })

      +presentation({
        project: {
          subheading: "MyRIFT",
          heading: "Helping Brits claim back tax",
          text: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers.",
          button: {
            url: "/rift",
            text: "See the case study"
          }
        },
        image: {
          src: "/assets/images/case-studies/rift/presentation.jpg",
          alt: "RIFT's MyRIFT Web application, showing customer provided tax refund information on tablet and mobile devices."
        },
        modifier: "reverse"
      })

      +presentation({
        project: {
        subheading: "Laced",
          heading: "21st century sneaker trading",
          text: "We moved Laced's rare sneaker trading business online, automating their buying, selling, shipping, and quality control.",
          button: {
            url: "/laced",
            text: "See the case study"
          }
        },
        image: {
          src: "/assets/images/case-studies/laced/presentation.jpg",
          alt: "Laced's sneaker trading website shown on a tablet and mobile device."
        },
        modifier: "laced",
      })
