extends ../layouts/page.pug

block prepend vars
  -var activePage = "Company"
  -var pageTitle = "The Company | Specialist Data Capture Experts | Leaf"
  -var metaUrl = "https://weareleaf.com/company"
  -var metaTitle = "The Company"
  -var metaDescription = "Five web experts working hard to help organisations capture higher quality information from happier users. Specialist web design & development."

  -var heroHeading = "We're good eggs"
  -var heroSubheading = "What started as a side-hustle in summer 2015 is now an established team of five designers and engineers, focused solely on creating software that benefits not only the organisations we work with, but their users too."

block pageComponents
  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section
    .container
      .grid.grid--statements
        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/leaves.svg",
            statementIconAlt: "A small plant sprouting from the ground.",
            statementHeading: "We nurture relationships",
            statementText: "As a remote organisation, we work with clients from all across the world. Our focus on cultivating relationships puts your success first."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/scales.svg",
            statementIconAlt: "A pair of traditional scales in perfect balance.",
            statementHeading: "Intentionally lean",
            statementText: "We hate the faceless conveyor belt model of larger agencies. Keeping our overheads low and our core team small means you'll always be a priority."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/communicate.svg",
            statementIconAlt: "A smiling face inside a speech bubble.",
            statementHeading: "We talk honestly, and often",
            statementText: "The most honest advice can sometimes be the most difficult to give. We’ll always be completely open and tell you the truth, even when it hurts."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/lego.svg",
            statementIconAlt: "A single lego brick.",
            statementHeading: "Evolution, not revolution",
            statementText: "With existing products, we focus on continual improvement, delivering low-risk and fast results, one considered piece at a time."
          })

  section.section
    .container
      .grid.grid--profiles
        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/chris.jpg",
              alt: "Chris Annetts looking serious in front of a brick wall."
            },
            profileHeading: "Chris Annetts",
            profileText: "Design Director"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/mike.jpg",
              alt: "Mike Carter looking mildly amused in front of a brick wall."
            },
            profileHeading: "Mike Carter",
            profileText: "Engineering Director"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/oj.jpg",
              alt: "OJ looking relaxed in front of a brick wall."
            },
            profileHeading: "Oliver Standeven (OJ)",
            profileText: "Software Engineer"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/tina.jpg",
              alt: "Tina van Schelt looking pleased in front of a brick wall."
            },
            profileHeading: "Tina van Schelt",
            profileText: "Software Engineer"
          })

        .grid__item
          +profile({
            profileImage: {
              src: "/assets/images/team/curt.jpg",
              alt: "Curtis Lee looking very happy in front of a tree."
            },
            profileHeading: "Curtis Lee",
            profileText: "Product Designer"
          })
