extends ../layouts/page.pug

block prepend vars
  -var activePage = "Company"
  -var pageTitle = "Company - Leaf"
  -var metaUrl = "https://weareleaf.com/company"
  -var metaTitle = "Company"
  -var metaDescription = "Five friends with experience in helping organisations to capture higher quality infromation from happier users."

  -var heroHeading = "We're good eggs"
  -var heroSubheading = "What started as a side-hustle in summer 2015 is now an established team of five designers and engineers, focused solely on creating software that benefits not only the organisations we work with, but their users too."

block pageComponents
  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section
    .container
      .grid.grid--statements
        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/leaves.svg",
            statementHeading: "We nurture relationships",
            statementText: "As a remote organisation, we work with clients from all across the world. Our focus on cultivating relationships puts your success first."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/scales.svg",
            statementHeading: "Intentionally lean",
            statementText: "We hate the faceless conveyor belt model of larger agencies. Keeping our overheads low and our core team small means you'll always be a priority."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/communicate.svg",
            statementHeading: "We talk honestly, and often",
            statementText: "The most honest advice can sometimes be the most difficult to give. We’ll always be completely open and tell you the truth, even when it hurts."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/lego.svg",
            statementHeading: "Evolution, not revolution",
            statementText: "With existing products, we focus on continual improvement, delivering low-risk and fast results, one considered piece at a time."
          })

  section.section
    .container
      .grid.grid--profiles
        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/chris.webp",
              fallbackSrc: "/assets/images/team/chris.jpg",
              alt: "Chris Annetts"
            },
            profileHeading: "Chris Annetts",
            profileText: "Design Director"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/mike.webp",
              fallbackSrc: "/assets/images/team/mike.jpg",
              alt: "Mike Carter"
            },
            profileHeading: "Mike Carter",
            profileText: "Engineering Director"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/oj.webp",
              fallbackSrc: "/assets/images/team/oj.jpg",
              alt: "Oliver Standeven"
            },
            profileHeading: "Oliver Standeven",
            profileText: "Software Engineer"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/tina.webp",
              fallbackSrc: "/assets/images/team/tina.jpg",
              alt: "Tina van Schelt"
            },
            profileHeading: "Tina van Schelt",
            profileText: "Software Engineer"
          })

        .grid__item
          +profile({
            profileImage: {
              src: "/assets/images/team/curt.webp",
              fallbackSrc: "/assets/images/team/curt.jpg",
              alt: "Curtis Lee"
            },
            profileHeading: "Curtis Lee",
            profileText: "Product Designer"
          })
