extends ../layouts/page.pug

block prepend vars
  -var activePage = "Company"
  -var pageTitle = "The Company | Specialist Data Capture Experts | Leaf"
  -var metaUrl = "https://weareleaf.com/company"
  -var metaTitle = "The Company"
  -var metaDescription = "Five web experts working hard to help organisations capture higher quality information from happier users. Specialist web design & development."

  -var heroHeading = "We know our onions"
  -var heroSubheading = "What started as a side-hustle in summer 2015 is now an established team of five designers and engineers, focused solely on creating software that benefits not only the organisations we work with, but their users too."

block pageComponents
  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section
    .container
      .company.grid.grid--company
        .grid__item
          .company__overview
            +block({
              blockHeading: "Where are you based?",
              blockText: "We’re a remote company, and have shunned the traditional office in favour of the many collective benefits brought about by distributed working:"
            })
            .grid.grid--bullet-points
              +bullet({
                styledListModifier: "inside",
                styledListItems: [
                  {
                    styledListItem: "More time for loved ones."
                  },
                  {
                    styledListItem: "No daily commute."
                  },
                  {
                    styledListItem: "Access to the best talent."
                  },
                  {
                    styledListItem: "Freedom to live anywhere."
                  }
                ]
              })
              +bullet({
                styledListModifier: "inside",
                styledListItems: [
                  {
                    styledListItem: "Increased productivety."
                  },
                  {
                    styledListItem: "Less distractions."
                  },
                  {
                    styledListItem: "Reduced overheads."
                  },
                  {
                    styledListItem: "Lower carbon footprint."
                  }
                ]
              })
            +block({
              blockHeading: "What makes you different?",
              blockText: "We look after our team so that they can better look after you. We strive to work smarter, not harder, and believe a good work/life balance and a calm working environment are key to producing happier, more effective teams. An engaged and highly-skilled individual is infinitely better prepared to do great work than someone working all hours to meet an unrealistic deadline."
            })
        .grid__item
          .company__map
            +image({
              context: "company-map",
              src: "/assets/images/company/british-isles.svg",
              alt: "Map of Great Britain and Ireland"
            })
          .company__explanation
            +explanation({
              explanationExample: true,
              explanationHeading: "Did you know",
              explanationText: "Our team are based in various parts of England and Ireland. We have an entirely remote workforce, and all work from the comfort of our own home offices.",
              explanationModifier: "rounded"
            })

  section.section
    .container
      .company.grid.grid--company
        +image({
          context: "company-image",
          src: "/assets/images/company/pets.png",
          alt: "Cute pet pics",
          modifier: "pets"
        })
        .company__ethos
          +block({
            blockTextModifier: "margin-bottom",
            blockHeading: "What is important to you?",
            blockText: "We believe that work should be something that doesn't fill you with dread, that you should be passionate about your craft, but that work comes second to family. We also believe the key to good software is simple; understand the problem, refine your product, and repeat the process."
          })
          .grid.grid--bullet-points
            +bullet({
              listHeading: true,
              styledListHeading: "Things we do",
              styledListModifier: "inside",
              styledListItems: [
                {
                  styledListItem: "Clear and measurable KPIs."
                },
                {
                  styledListItem: "Iterative improvements."
                },
                {
                  styledListItem: "Long-term relationships."
                },
                {
                  styledListItem: "Talk often and honestly."
                },
                {
                  styledListItem: "Design inclusively."
                },
                {
                  styledListItem: "Think deeply and ponder."
                },
                {
                  styledListItem: "Prioritise effectiveness."
                },
              ]
            })
            +bullet({
              listHeading: true,
              styledListHeading: "Things we don't do",
              styledListModifier: "inside",
              styledListItems: [
                {
                  styledListItem: "Increased productivety."
                },
                {
                  styledListItem: "Less distractions."
                },
                {
                  styledListItem: "Reduced overheads."
                },
                {
                  styledListItem: "Lower carbon footprint."
                }
              ]
            })

  section.section
    .container
      .company.grid.grid--company
        .company__ethos
          +block({
            blockTextModifier: "margin-bottom",
            blockHeading: "What is important to you?",
            blockText: "We believe that work should be something that doesn't fill you with dread, that you should be passionate about your craft, but that work comes second to family. We also believe the key to good software is simple; understand the problem, refine your product, and repeat the process."
          })
          .grid.grid--bullet-points
            +bullet({
              listHeading: true,
              styledListHeading: "Things we do",
              styledListModifier: "inside",
              styledListItems: [
                {
                  styledListItem: "More time for loved ones."
                },
                {
                  styledListItem: "No daily commute."
                },
                {
                  styledListItem: "Access to the best talent."
                },
                {
                  styledListItem: "Freedom to live anywhere."
                }
              ]
            })
            +bullet({
              listHeading: true,
              styledListHeading: "Things we don't do",
              styledListModifier: "inside",
              styledListItems: [
                {
                  styledListItem: "Increased productivety."
                },
                {
                  styledListItem: "Less distractions."
                },
                {
                  styledListItem: "Reduced overheads."
                },
                {
                  styledListItem: "Lower carbon footprint."
                }
              ]
            })
        +image({
          context: "company-image",
          src: "/assets/images/company/holiday-snaps.png",
          alt: "Holiday photos",
          modifier: "holiday"
        })