extends ../layouts/page.pug

block prepend vars
  -var activePage = "eBooks"
  -var pageTitle = "eBooks - Leaf"
  -var metaUrl = "https://weareleaf.com/ebooks"
  -var metaTitle = "We write books about building teams."
  -var metaDescription = "( And give them away for free)"
block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroSubheading: metaDescription,
  })

  section.section
    .container
      +resource({
        resourceImage: {
          src: "/assets/images/working-environments.jpg",
          alt: "Working environments"
        },
        resourceMeta: "meta",
        resourceHeading: "Working environments",
        resourceText: "A good workspace is often an afterthought, when in reality, it’s essential to getting the most out of your team. Whether your working with developers, designers, or writers, this eBook will help create an environment that allows them to thrive."
      })
