extends ../layouts/page.pug

block prepend vars
  -var activePage = "eBooks"
  -var pageTitle = "eBooks - Leaf"
  -var metaUrl = "https://weareleaf.com/ebooks"
  -var metaTitle = "We write books about building teams."
  -var metaDescription = "( And give them away for free)"
block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroSubheading: metaDescription,
  })

  section.section
    .container
      .grid.grid--tile
        .grid__item
          +resource({
            resourceUrl: "/resources/articles/Better%20Digital%20Teams%20-%20Working%20environment.pdf",
            resourceImage: {
              src: "/assets/images/placeholder.jpg",
              alt: "Working environments"
            },
            resourceSubheading: "Episode one",
            resourceHeading: "Working environments",
            resourceText: "Learn how to create a productive workspace, getting the most out of your team of developers, designers, or writers."
          })

        .grid__item
          +resource({
            resourceUrl: "/resources/articles/Better%20Digital%20Teams%20-%20Working%20environment.pdf",
            resourceImage: {
              src: "/assets/images/placeholder.jpg",
              alt: "Working environments"
            },
            resourceSubheading: "Episode two",
            resourceBadge: "badge goes here",
            resourceHeading: "Remote working",
            resourceText: "Discover how to shrink your overheads whilst keeping the team feeling connected and the work qualify high."
          })
