extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "eBooks - Leaf"
  -var metaUrl = "https://weareleaf.com/ebooks"
  -var metaTitle = "eBooks"
  -var metaDescription = "We’re creating a suite of articles to advance your skills in product design and development."

  -var heroHeading = "We write books about building teams."
  -var heroSubheading = "(And give them away for free)"

block pageComponents

  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section
    .container
      .grid.grid--tile
        .grid__item
          +resource({
            resourceImage: {
              src: "/assets/images/ebooks/better-digital-teams.jpg",
              alt: "Working environments"
            },
            resourceUrl: "/resources/articles/Better%20Digital%20Teams%20-%20Working%20environment.pdf",
            resourceSubheading: "Episode one",
            resourceHeading: "Working environments",
            resourceText: "Learn how to create a productive workspace, getting the most out of your team of developers, designers, or writers."
          })

        .grid__item
          +resource({
            resourceSubheading: "Episode two",
            resourceHeading: "Remote working",
            resourceText: "Discover how to shrink your overheads whilst keeping the team feeling connected and the work qualify high."
          })
