extends ../layouts/page.pug

block prepend vars
  -var activePage = 'Expertise'
  -var pageTitle = 'Expertise - Leaf'
  -var metaUrl = "https://weareleaf.com/expertise"
  -var metaTitle = "Expertise"
  -var metaDescription = "We help organisations gather complex information using research-backed methods that keep your users feeling in control."

  -var heroHeading = "We're led by data too."
  -var heroSubheading = "(Using research-driven insights and best practices to provide measurable value.)"

block pageComponents
  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading
  })

  section.section
    .container
      +presentation({
        blockList: {
          blockListHeading: "Research",
          blockListItems: [
            {
              blockHeading: "Behavioural analytics",
              blockText: "See what users are really doing on your digital products, identifying sticking points based on actual user data."
            },
            {
              blockHeading: "A/B testing",
              blockText: "Put multiple variants of a feature head-to-head to see which is best for your business, driving continual improvement."
            },
            {
              blockHeading: "Observations",
              blockText: "Insight into any unnecessary overheads in your business processes, identifying opportunities for optimisation or automation."
            }
          ]
        },
        presentationImage: {
          src: "/assets/images/expertise/research.png",
          alt: "Research"
        },
        presentationModifier: "reverse",
      })

      +presentation({
        blockList: {
          blockListHeading: "UX design",
          blockListItems: [
            {
              blockHeading: "Sketching",
              blockText: "Quick and primative, the humble paper and pencil remain the most effective option for rapid concept idealtion."
            },
            {
              blockHeading: "Wireframing",
              blockText: "Place a focus on the underlying design problems that need solving, rather than shallow visual details of your product."
            },
            {
              blockHeading: "Prototyping",
              blockText: "A cost-effective method of overcoming technological and design hurdles before building a product or feature."
            }
          ]
        },
        presentationImage: {
          src: "/assets/images/expertise/ux-design.png",
          alt: "UX Design"
        }
      })

      +presentation({
        blockList: {
          blockListHeading: "UI Design",
          blockListItems: [
            {
              blockHeading: "Visual design",
              blockText: "Visual design gives a polished and professional validation to your product, whilst helping build trust and familiarity with your brand itself."
            },
            {
              blockHeading: "Motion design",
              blockText: "Use movement cleverly to not only draw the user’s attention, but to add an subtle additional layer of flair to static pages."
            },
            {
              blockHeading: "Styleguides and Pattern libraries",
              blockText: "Promote a consistent design language, informing future design decisions for more efficient development process."
            }
          ]
        },
        presentationImage: {
          src: "/assets/images/expertise/ui-design.png",
          alt: "UI Design"
        },
        presentationModifier: "reverse",
      })

      +presentation({
        blockList: {
          blockListHeading: "Development",
          blockListItems: [
            {
              blockHeading: "Software engineering",
              blockText: "Using cutting edge JavaScript, Node, and Ruby means we’re able to deliver value quickly on a wide range of products."
            },
            {
              blockHeading: "Automated testing",
              blockText: "Continually checking that your products are working properly means we can confidently make website or app changes at a moments notice."
            },
            {
              blockHeading: "Performance-driven code",
              blockText: "Because not everyone viewing your app is on a 2019 Macbook Pro or an iPhone 11. We don’t just make products that work; we build them properly.  "
            }
          ]
        },
        presentationImage: {
          src: "/assets/images/expertise/development.png",
          alt: "Development"
        }
      })
