extends ../layouts/page.pug

block prepend vars
  -var activePage = "Expertise"
  -var pageTitle = "Our Expertise | Specialist Data Capture Experts | Leaf"
  -var metaUrl = "https://weareleaf.com/expertise"
  -var metaTitle = "Our Expertise"
  -var metaDescription = "We help organisations gather complex information using research-backed methods that keep your users feeling in control. Specialist web design & development."

  -var heroHeading = "We know our onions"
  -var heroSubheading = "More than just text fields and checkboxes, well executed data gathering means capturing information intelligently, ethically, and in a way that delivers the maximum possible value to the organisation."

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading
  })

  section.section
    .container

      +specialism({
        subheading: "Forms",
        heading: "Research-backed approach to form-based data capture.",
        text: "Web forms are the bread and butter of digital data capture, and are easy to make but difficult to make well. We create form-based user flows using decades of industry research, helping your users serve themselves.",
        explanationList: {
          items: [
            {
              heading: "For example",
              text: "Despite their popularity, studies have shown that form fields containing placeholder text are often left empty, with users mistaking the inputs as being pre-filled or completed.",
              example: true
            },
            {
              heading: "How this helps me",
              text: "The cost of capturing data online is far lower than gathering it by phone. When your users provide information themselves, your staff are free to do other valuable work."
            }
          ]
        },
        image: {
          src: "/assets/images/expertise/forms.jpg",
          alt: "A name, email address, and password form input demonstrating how clear labelling, colours, and helper text can be used to aid information capture."
        },
        modifier: "reverse"
      })

      +specialism({
        subheading: "Accessibility",
        heading: "Inclusive design decisions and engineering practices.",
        text: "The Web is not solely for those without a disability, although it's often treated as if it were. Over a billion of us have an impairment of some kind, and designing inclusively means designing for the full spectrum of human diversity.",
        explanationList: {
          items: [
            {
              heading: "For example",
              text: "Colour blindness affects roughly 1 in 12 men and 1 in 200 women, making colour alone a poor choice for indicating or inferring meaning in an interface.",
              example: true
            },
            {
              heading: "How this helps me",
              text: "1 in 5 of us in the UK have a long term illness, impairment or disability. Making your digital products accessible isn't just ethically sound; it increases your audience too."
            }
          ]
        },
        image: {
          src: "/assets/images/expertise/accessibility.jpg",
          alt: "4 different colour pallettes demonstrating normal vision compared to the effects of Deuteranopia, Protanopia, and Tritanopia."
        }
      })

      +specialism({
        subheading: "Psychology",
        heading: "An understanding of what makes humans tick (and click).",
        text: "You can't confidently design for humans if you don't understand people. We all make conscious and unconscious decisions, and appealing to each neurological influence is essential in crafting compelling experiences.",
        explanationList: {
          items: [
            {
              heading: "For example",
              text: "Most of us can only recall 5–9 items from our short-term memories. Breaking long lists into more precise categories helps people retain new information, like where to find a feature.",
              example: true
            },
            {
              heading: "How this helps me",
              text: "Organisations who accommodate the underlying desires and behaviours of their users tend to enjoy higher conversion rates and stronger brand loyalty."
            }
          ]
        },
        image: {
          src: "/assets/images/expertise/psychology.jpg",
          alt: "A series of radio button form inputs, demonstrating how proper labelling can guide the conscious and unconscious mind in information capture."
        },
        modifier: "reverse"
      })

      +specialism({
        subheading: "Writing",
        heading: "Content written for humans, not computers.",
        text: "An interface is simply a tool for communicating with somebody, yet too often the language used on the Web is cold and robotic. Writing copy with humans in mind is the quickest way to start building trust with your users.",
        explanationList: {
          items: [
            {
              heading: "For example",
              text: "Speaking your audience's language may mean avoiding technical terms, using fewer nouns, and opting for informal words like ‘ask’ and ‘need’ over ‘request’ and ‘require’.",
              example: true
            },
            {
              heading: "How this helps me",
              text: "Trust is central to building and retaining value, and a consistent tone of voice helps to build confidence, humanise the brand, and separate you from your competitors."
            }
          ]
        },
        image: {
          src: "/assets/images/expertise/writing.jpg",
          alt: "Writing",
          modifier: "Two similar phone number form inputs with different error messages demonstrating how language can be used to create engaging experiences."
        }
      })

      +specialism({
        subheading: "Deep thinking",
        heading: "Decision-making dictated by the needs of the audience.",
        text: "Software isn't one-size-fits-all, and different audiences will have different expectations, hopes, and fears. A well-designed product should lower the barriers to entry, catering for a range of technical and situational capabilities.",
        explanationList: {
          items: [
            {
              heading: "For example",
              text: "The needs of an app for a sales rep (a repeat user,  working at speed, and using an iPad in direct sunlight) would be very different to that of an over-50's life insurance quote engine (designed for trust, and catering for poor eyesight and/or motor skills).",
              example: true
            },
            {
              heading: "How this helps me",
              text: "Accommodating the needs of your users is good business. Designing empathetically increases conversions, generates referrals, and turns customers into brand ambassadors."
            }
          ]
        },
        image: {
          src: "/assets/images/expertise/deep-thinking.jpg",
          alt: "Two simlar credit card number inputs rendered at different sizes to demonstrate how design can accommodate the needs of your audience."
        },
        modifier: "reverse"
      })

      +specialism({
        subheading: "Intelligent data capture",
        heading: "Data inferred or gathered indirectly where possible.",
        text: "The data you need doesn't always come directly from people. With the emergence of powerful <abbr title='Application programming interface'>API</abbr> lookup services, hardware-enabled sensors, and wearables, it's rare that all of our questions are answered by your users.",
        explanationList: {
          items: [
            {
              heading: "For example",
              text: "Rather than asking the user to enter every detail about their vehicle, ask for the registration, and use an appropriate <abbr title='Application programming interface'>API</abbr> to automatically gather the information.",
              example: true
            },
            {
              heading: "How this helps me",
              text: "Gathering data indirectly from a well maintained <abbr title='Application programming interface'>API</abbr> leads to easier customer tasks, increasing your convertion rates, and reducing the burden on your support staff."
            }
          ]
        },
        image: {
          src: "/assets/images/expertise/intelligent-data-capture.jpg",
          alt: "Car details generated via a car registration lookup, demonstrating how useful information can be automatically retrieved for users."
        }
      })

      +specialism({
        subheading: "Data quality",
        heading: "Turning high-quality data into opportunities.",
        text: "Capturing vague, varied, or poorly formated data comes at a cost, and not just financially. The better the data, the greater your ability to provide (or disprove) hunches, uncover patterns or trends, and reduce human involvement.",
        explanationList: {
          items: [
            {
              heading: "For example",
              text: "Capturing well formed addresses reduces the likelihood of failed deliveries, removes the need for manual verification, and builds a valuable picture of your customer distribution.",
              example: true
            },
            {
              heading: "How this helps me",
              text: "Poorly structured or stored data cannot be manipulated, analysed, or validated with any confidence, forcing your staff to routinely pick up the tasks themselves."
            }
          ]
        },
        image: {
          src: "/assets/images/expertise/data-quality.jpg",
          alt: "Automated address lookup suggestions, demonstrating how quickly capturing well structured address information can be achieved on the web."
        },
        modifier: "reverse"
      })
