extends ../layouts/case-study.pug

block prepend vars
  -var pageTitle = "HEHA! Case Study - Leaf"
  -var metaUrl = "https://weareleaf.com/heha"
  -var metaTitle = "HEHA! Case Study"
  -var metaDescription = "Not content with being the UK's market leader for travel extras, Holiday Extras decided try their hand at helping travellers plan and organise their trips together."

block pageComponents
  +banner({
    bannerCompany: "heha",
    bannerImage: {
      src: "/assets/images/heha/header.webp",
      fallbackSrc: "/assets/images/heha/header.jpg",
      alt: "Alt text for card image",
    },
  })

  .section.section--sm-spacing
    .container
      +intro({
        introImage: {
          src: "/assets/images/heha/logo.svg",
          alt: "HEHA!",
        },
        introText: "Not content with being the UK's market leader for travel extras, Holiday Extras decided try their hand at helping travellers plan and organise their trips together."
      })

      +details({
        details: [
          {
            detailHeading: "Themes",
            detailText: "Consultancy, product design"
          },
          {
            detailHeading: "Deliverables",
            detailText: "Wireframes, prototypes"
          },
          {
            detailHeading: "Technology",
            detailText: "React Native, Node, GraphQL"
          },
          {
            detailHeading: "Platform",
            detailText: "iOS, Android"
          }
        ]
      })

  .section
    .container
      figure
        img(src="/assets/images/heha/inline-1.webp" alt="The HEHA! iOS application" onerror="this.onerror=null; this.src='/assets/images/heha/inline-1.jpg'")

      .grid.grid--two-thirds-reverse
        .grid__item
          +summary({
            summaryHeading: "What is it?",
            summaryText: "HEHA! is a trip-planning app, allowing travellers to manage everything from booking confirmations, to creating shared, collaborative itineraries."
          })

        .grid__item
          h4 The challenge
          p As with any incubated startup, our commodity was time. We had a small window of opportunity to answer a number of questions; what was important to our users when planning a trip? What tools and processes did travellers currently use? Was there even a hunger for such an app?

          h4 Our approach
          p Speaking to thousands to customers a day, the Holiday Extras team had realised that there were recurring pain-points when planning trips away, and the initial vision was driven by a desire to tackle these stresses.
          p By using React Native, the team were able to most efficiently work towards both iOS and Android versions of the application. From a design perspective, mapping to the iOS Human Interface Guidelines and Material Design respectfully provided a toolkit to further speed up our decision making.

      figure
        img(src="/assets/images/heha/inline-2.webp" alt="The HEHA! iOS application" onerror="this.onerror=null; this.src='/assets/images/heha/inline-2.jpg'")

      .grid.grid--two-thirds
        .grid__item
          h4 User testing
          p Early user testing sessions were invaluable in not only validating design decisions, but in gauging how closely the initial brief resonated with travellers.
          p While feedback was largely positive, we found that users didn't simply want an inspirational app, but something truly personalised to to them and their trip.

          h4 Post-MVP
          p Having taken stock of the user testing sessions, we began working towards addressing the recurring patterns, with a trip itinerary and shared documentation heavily requested.
          p Over the next few months, we began moving away from the native design frameworks we'd initially used, introducing more of our own personality into the applications.
          p In August 2017, we even had an opportunity to test our work for real, joining the HEHA! team for a 4-day break in Rome; for work purposes, of course.

          h4 The outcome
          p HEHA! launched in both the App Store and Google Play Store in the summer of 2017, and already has with an increasing pool of active users and trip creators.
          p We're continuing to work with the HEHA! team, refining the application and making trip planning not only more collaborative, but more fun.
