extends ../layouts/hx.pug

block prepend vars
  -var pageTitle = "Holiday Extras Travel Insurance Case Study | Leaf"
  -var metaUrl = "https://weareleaf.com/holiday-extras"
  -var metaTitle = "Holiday Extras Travel Insurance Case Study"
  -var metaDescription = "Having successfully reimagined their mobile booking process, Holiday Extras asked us to explore a customer-first approach to selling travel insurance online."

  -var heroHeading = "Painless insurance quotes"
  -var heroSubheading = "Holiday Extras wanted the experience of buying travel insurance online to match that of their award-winning cell-centre."

block pageComponents
  +banner({
    href: '/case-studies'
  })

  .banner-spacer

  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  .section.section--sm-spacing
    .container

  .section
    .container
      figure
        img.case-study-image(src="/assets/images/case-studies/hx/image-1.png" alt="Holiday Extras Travel Insurance wireframes" onerror="this.onerror=null; this.src='/assets/images/case-studies/hx/image-1.jpg'")
    
      .content-group
        .content-group__items
          +content-block({
            contentBlockItems: [
              {
                contentHeading2: true,
                contentHeading: "The challenge",
                contentIntro: "Having worked together previously, Holiday Extras asked us to help them improve their travel insurance booking flow.",
                contentText: "We were tasked with creating an experience comparable to their award-winning call centre. Their staff are friendly, helpful, and able to shield the customer from the inherent complexity of insurance, and they wanted an online booking flow that was equally unintimidating."
              }
            ],
            contentBlockImage: {
              src: "/assets/images/case-studies/hx/image-2.png",
              alt: "Customer Service Rep"
            },
            contentBlockModifier: "reverse",
            contentBlockImageModifier: "image-2"
          })

          .hx-details
            +detail-tags({
              detailTags: [
                {
                  detailTagIcon: "assets/images/icons/leaves.svg",
                  detailTagText: "yes mate"
                }
              ]
            })
            .hx-details__image
              img(src="/assets/images/case-studies/hx/image-3.png" alt="Customer Service Rep")

      +content-block({
        introHeading: true,
        contentBlockHeading: "Our approach",
        contentBlockItems: [
          {
            contentHeading: "Improve iteratively",
            contentIntro: 'Although this was a "reimagination", changes would be made iteratively by building on the existing online booking process.',
            contentText: "Any recommendations we made would need to be work both in isolation and as part of the current system. Where possible, we reused existing elements, minimising the friction as sections of our work were introduced."
          },
          {
            contentHeading: "Be guided by the numbers",
            contentIntro: "While reviewing the previous 12 months of policies, we found that most people were going to the same handful of places.",
            contentText: "By suggesting these popular destinations, 4 out of 5 travellers would be able to select a location in a single interaction, with the remaining destinations available through an autocompleting search field."
          }
        ],
        contentBlockImage: {
          src: "/assets/images/case-studies/hx/image-4.png",
          alt: "Choose A Destination"
        }
      })

      +content-block({
        contentBlockItems: [
          {
            contentHeading: "Be clear about effort and progress",
            contentIntro: "People are more likely to give up on a task when they’re unsure how far away they are from completing it.",
            contentText: "We intoduced a progress tracker to help set expections, showing users how much effort is needed as they move through the process. The tracker also makes it simple to navigate between sections, removing an existing pain-point for those who need to go back to a previous step."
          }
        ],
        contentBlockImage: {
          src: "/assets/images/case-studies/hx/image-5.png",
          alt: "Progress Tracker"
        },
        contentBlockModifier: "reverse"
      })

      +content-block({
        contentBlockItems: [
          {
            contentHeading: "Help people progress quickly",
            contentIntro: "Truly great online experiences accommodate inherent human behaviours, rather than forcing new ones.",
            contentText: "We used iconography throughout the process to help users to more easily distinguish between various choices. People tend to scan Web pages rather than read them word-for-word, and can interpret images much faster than words, making icons the ideal visual parter to a text description. "
          }
        ],
        contentBlockImage: {
          src: "/assets/images/case-studies/hx/image-6.png",
          alt: "Iconography"
        }
      })

      +content-block({
        contentBlockItems: [
          {
            contentHeading: "Show a price as early as possible ",
            contentIntro: "With so many insurance providers to choose from, you’d better make sure you give your users a reason to hang about.",
            contentText: "In the very first step, a range of personal information was previously being asked for each traveller, even though date-of-births were the only details needed to calculate a price. Other than first-names, which made it easier to gather the remaining details later, we deferred the remaining questions until later on, radically reducing the time required to see a price."
          }
        ],
        contentBlockImage: {
          src: "/assets/images/case-studies/hx/image-7.png",
          alt: "Personal Details"
        },
        contentBlockModifier: "reverse"
      })

      +metrics({
        metricsHeading: "user testing",
        metricItems: [
          {
            metricsUnit: "233%",
            metricsSubText: "quicker to see a price",
            metricsText: "It took users an average of 1 min and 24 secs to see their price, compared to 3 mins and 16 secs in the previous version."
          },
          {
            metricsUnit: "74",
            metricsSubText: "few interactions to see a price",
            metricsText: "Users tapped their screen an average of 68 times before they saw their price, compared to 142 times in the previous version."
          },
        ]
      })

