extends ../layouts/content.pug

block prepend vars
  -var pageTitle = "Holiday Extras Travel Insurance Case Study | Leaf"
  -var metaUrl = "https://weareleaf.com/holiday-extras"
  -var metaTitle = "Holiday Extras Travel Insurance Case Study"
  -var metaDescription = "Having successfully reimagined their mobile booking process, Holiday Extras asked us to explore a customer-first approach to selling travel insurance online."

  -var heroHeading = "Painless insurance quotes"
  -var heroSubheading = "Holiday Extras wanted the experience of buying travel insurance online to match that of their award-winning cell-centre."

block pageComponents
  +banner({
    href: '/case-studies'
  })

  .banner-spacer

  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  .section.section--sm-spacing
    .container

  .section
    .container
      figure
        img(src="/assets/images/case-studies/hx/image-1.webp" alt="Holiday Extras Travel Insurance wireframes" onerror="this.onerror=null; this.src='/assets/images/case-studies/hx/image-1.jpg'")
    
      +content({
        contentHeading2: true,
        contentHeading: "The challenge",
        contentIntro: "test",
        contentText: "test"
      })

      +content-block({
        contentBlockItems: [
          {
            contentHeading: "test",
            contentIntro: 'test 1',
            contentText: "test 2"
          }
        ],
        contentBlockImage: {
          src: "/assets/images/expertise/forms.png",
          alt: "test"
        }
      })
