extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Holiday Extras Travel Insurance Case Study | Leaf"
  -var metaUrl = "https://weareleaf.com/holiday-extras"
  -var metaTitle = "Holiday Extras Travel Insurance Case Study"
  -var metaDescription = "Having successfully reimagined their mobile booking process, Holiday Extras asked us to explore a customer-first approach to selling travel insurance online."
  -var pageClass = "holiday-extras"

  -var heroHeading = "Painless insurance quotes"
  -var heroSubheading = "Holiday Extras wanted the experience of buying travel insurance online to match that of their award-winning cell-centre."

block pageComponents

  +hero({
    heading: heroHeading,
    subheading: heroSubheading,
    subheadingModifier: "narrow",
    introImage: true,
    image: {
      src: "/assets/images/case-studies/hx/image-1.png",
      alt: "6 wireframed screens showing our process of mapping the users journey."
    },
    imageModifier: "hx"
  })

  section.section
    .container
      .hx-challenge
        .hx-challenge__items
          +content-block({
            items: [
              {
                contentHeading2: true,
                heading: "The challenge",
                intro: "Having worked together previously, Holiday Extras asked us to help them improve their travel insurance booking flow.",
                paragraphs: [
                  {
                    text: "We were tasked with creating an experience comparable to their award-winning call centre. Their staff are friendly, helpful, and able to shield the customer from the inherent complexity of insurance, and they wanted an online booking flow that was equally unintimidating."
                  }
                ]
              }
            ],
            image: {
              src: "/assets/images/case-studies/hx/image-2.jpg",
              alt: "A customer service rep smiling while wearing a headset."
            },
            modifier: "reverse",
            imageModifier: "hx-image-2"
          })

          .hx-details
            .hx-details__tags
              +detail-tags({
                heading: "What we did",
                modifier: "hx",
                tags: [
                  {
                    icon: "assets/images/case-studies/icons/pen.svg",
                    text: "Content writing"
                  },
                  {
                    icon: "assets/images/case-studies/icons/data.svg",
                    text: "Data analysis"
                  },
                  {
                    icon: "assets/images/case-studies/icons/switch.svg",
                    text: "Form design"
                  },
                  {
                    icon: "assets/images/case-studies/icons/journey.svg",
                    text: "Journey mapping"
                  },
                  {
                    icon: "assets/images/case-studies/icons/prototype.svg",
                    text: "Prototypes"
                  },
                  {
                    icon: "assets/images/case-studies/icons/ear.svg",
                    text: "Stakeholder interviews"
                  },
                  {
                    icon: "assets/images/case-studies/icons/wireframe.svg",
                    text: "Wireframes"
                  }
                ]
              })
            .hx-details__image
              img(src="/assets/images/case-studies/hx/image-3.jpg" alt="A customer service rep looking very happy while wearing a headset.")

  section.section
    .container
      +content-block({
        introHeading: true,
        heading: "Our approach",
        items: [
          {
            heading: "Improve iteratively",
            intro: 'Although this was a "reimagination", changes would be made iteratively by building on the existing online booking process.',
            paragraphs: [
              {
                text: "Any recommendations we made would need to work both in isolation and as part of the current system. Where possible, we reused existing elements, minimising the friction as sections of our work were introduced."
              }
            ]
          },
          {
            heading: "Be guided by the numbers",
            intro: "While reviewing the previous 12 months of policies, we found that most people were going to the same handful of places.",
            paragraphs: [
              {
                text: "By suggesting these popular destinations, 4 out of 5 travellers would be able to select a location in a single interaction, with the remaining destinations available through an autocompleting search field."
              }
            ]
          }
        ],
        image: {
          src: "/assets/images/case-studies/hx/image-4.png",
          alt: "Suggested destinations based on the most popular choices of 4/5 customers. There is also an autocomplete search field to help customers find their destination."
        },
        imageModifier: "hx-image-4"
      })
      +image({
        context: "content-block",
        src: "/assets/images/case-studies/hx/image-10.png",
        alt: "An autocomplete search field to help customers find their destination faster, and with less typing.",
        modifier: "hx-image-10"
      })

  section.section
    .container
      +content-block({
        items: [
          {
            heading: "Be clear about effort and progress",
            intro: "People are more likely to give up on a task when they’re unsure how far away they are from completing it.",
            paragraphs: [
              {
                text: "We intoduced a progress tracker to help set expections, showing users how much effort is needed as they move through the process. The tracker also makes it simple to navigate between sections, removing an existing pain-point for those who need to go back to a previous step."
              }
            ]
          }
        ],
        image: {
          src: "/assets/images/case-studies/hx/image-5.png",
          alt: "The six types of trip a customer can choose, including Business trip, cruise, golf trip, hazardous activities, winter sports, and your wedding."
        },
        modifier: "reverse",
        imageModifier: "hx-image-5"
      })
      +image({
        context: "content-block",
        src: "/assets/images/case-studies/hx/image-11.png",
        alt: "The six types of trip a customer can choose, including Business trip, cruise, golf trip, hazardous activities, winter sports, and your wedding.",
        modifier: "hx-image-11"
      })

  section.section
    .container
      +content-block({
        items: [
          {
            heading: "Help people progress quickly",
            intro: "Truly great online experiences accommodate inherent human behaviours, rather than forcing new ones.",
            paragraphs: [
              {
                text: "We used iconography throughout the process to help users to more easily distinguish between various choices. People tend to scan Web pages rather than read them word-for-word, and can interpret images much faster than words, making icons the ideal visual parter to a text description."
              }
            ]
          }
        ],
        image: {
          src: "/assets/images/case-studies/hx/image-6.png",
          alt: "The five steps a customer goes through in the quote process: 1. Trip, 2. People, 3. Cover, 4. Details, and 5. Payment."
        },
        imageModifier: "hx-image-6"
      })
      +image({
        context: "content-block",
        src: "/assets/images/case-studies/hx/image-12.png",
        alt: "The five steps a customer goes through in the quote process: 1. Trip, 2. People, 3. Cover, 4. Details, and 5. Payment.",
        modifier: "hx-image-12"
      })

  section.section
    .container
      +content-block({
        items: [
          {
            heading: "Show a price as early as possible ",
            intro: "With so many insurance providers to choose from, you’d better make sure you give your users a reason to hang about.",
            paragraphs: [
              {
                text: "In the very first step, a range of personal information was previously being asked for each traveller, even though date-of-births were the only details needed to calculate a price. Other than first-names, which made it easier to gather the remaining details later, we deferred the remaining questions until later on, radically reducing the time required to see a price."
              }
            ]
          }
        ],
        image: {
          src: "/assets/images/case-studies/hx/image-7.png",
          alt: "A form that requires customers to enter only their first name and date of birth to get a price."
        },
        imageModifier: "hx-image-7",
        modifier: "reverse"
      })

    .centered-content.centered-content--hx
      .bg-shapes
        .bg-shape.bg-shape--1
          img(src="/assets/images/case-studies/hx/shape.png", alt="Background shape")
        .bg-shape.bg-shape--2
          img(src="/assets/images/case-studies/hx/shape.png", alt="Background shape")
      .container
        .grid.grid--center-text
          .grid__item
            +content({
              heading: "Personalise the experience",
              intro: "It’s no longer enough to create one-size fits all products, and the entire experience should be tailored for each individual.",
              contentTextModifier: "contrast",
              paragraphs: [
                {
                  text: "We were able to offer users highly relevant upgrades by allowing them to tell us more about their trip. By making this step optional, the majority can continue without interacting at all, and those that do have additional requirements will only see upgrades that meet their needs."
                },
                {
                  text: "When a couple are travelling, and both have Mr and Mrs selected as their titles, the second traveller will be asked whether they share a surname (we apply the same logic to families too). By asking the user if this is the case, rather than assuming it to be so, the action feels useful and thoughtful rather than rude and presumptuous."
                }
              ]
            })
        figure.hx-image-8
          img(src="/assets/images/case-studies/hx/image-8.png" alt="The five steps a customer goes through in the quote process: 1. Trip, 2. People, 3. Cover, 4. Details, and 5. Payment.")

  section.section
    .container
      +content-block({
        items: [
          {
            heading: "Not everybody needs to see everything",
            intro: "Your booking flow shouldn't feel intimidating to all of your customers to meet the needs of a small minority.",
            paragraphs: [
              {
                text: "Previously, every customer was offered every upgrade, although our research showed that just four of the options were commonly asked about through the Call Centre. We radically simplified the comparison of available tiers by including only these four benefits, but made the full breakdown available for those who wanted to see more."
              }
            ]
          },
          {
            heading: "Write inclusively by cutting the jargon",
            intro: "It shouldn’t take a law degree for your potential customers to understand whether or not the policy is a good fit for them.",
            paragraphs: [
              {
                text: "We worked closely with the Holiday Extras compliance team to simplify their explanation of a pre-existing medical condition, while still meeting their legal requirements. A full description remained available, but the majority benefitted from a jargon-free list of illnesses and ailments."
              }
            ]
          }
        ],
        image: {
          src: "/assets/images/case-studies/hx/image-9.png",
          alt: "A full description of jargon-free illnesses that a customer can choose from in order to declare any pre-existing medical conditions."
        },
        modifier: "reverse",
        imageModifier: "hx-image-9"
      })
      +image({
        context: "content-block",
        src: "/assets/images/case-studies/hx/image-13.png",
        alt: "A full description of jargon-free illnesses that a customer can choose from in order to declare any pre-exisiting medical conditions.",
        modifier: "hx-image-13"
      })

  section.section
    .container
      .hx-outcome
        .hx-outcome__content
          h2.content-block__heading The outcome
          +content({
              heading: "Radically faster quotes",
              intro: "The changes made meant we were able to provide an insurance quote in a fraction of time it had taken previously.",
              paragraphs: [
                {
                  text: "Changes to how a pre-existing medical condition was described meant test users were able to understand and answer whether or not they had one more than a minute quicker than had been the case before."
                }
              ]
            })
          +metrics({
            heading: "user testing",
            items: [
              {
                unit: "233%",
                subtext: "quicker to see a price",
                text: "It took users an average of 1 min and 24 secs to see their price, compared to 3 mins and 16 secs in the previous version."
              },
              {
                unit: "74",
                subtext: "fewer interactions to see a price",
                text: "Users tapped their screen an average of 68 times before they saw their price, compared to 142 times in the previous version."
              },
            ]
          })
          +content({
            heading: "Small and continuous improvements",
            intro: "As was the intention, the new content and structure of the process will gradually be integrated into the booking flow.",
            paragraphs: [
              {
                text: "The engineering team at Holiday Extras have started introducing a number of elements of our prototype into the live booking flow, and we look forward to seeing further progress over the coming months."
              }
            ]
          })
          +testimonial({
            quote: "Leaf were a pleasure to work with – always available and willing to offer advice or to put forward constructive suggestions. The decision to work with them is one we haven’t regretted, and I’d gladly recommend them to anyone looking to improve their own booking flow.",
            author: {
              name: "Carl Burdett",
              details: "Digital Marketing Manager — Holiday Extras",
              thumbnail: {
                src: "assets/images/case-studies/hx/carl.png",
                alt: "A picture of Carl Burdett with a purple background behind him."
              }
            }
          })
        .hx-outcome__prototype
          .hx-outcome__main-prototype
            iframe(src="https://marvelapp.com/1cbg8j3g?emb=1&iosapp=false&frameless=false", width="500", height="1033", frameborder="0", allowtransparency="true", title="Holiday Extras Prototype")

