extends ../layouts/page.pug

block prepend vars
  -var metaUrl = "https://weareleaf.com"
  -var heroHeading = "We're data capture experts"
  -var heroSubheading = "More than any other period in time, people want to serve themselves, and on their own terms. We help organisations excel online by making it easy for their users to provide them with high quality information."

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading,
  })

  section.section
    .container
      +presentation({
        project: {
          subheading: "MyRIFT",
          heading: "Helping Brits claim back tax",
          text: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers.",
          button: {
            url: "/rift",
            text: "See the case study"
          }
        },
        image: {
          src: "/assets/images/case-studies/rift/presentation.jpg",
          alt: "RIFT's MyRIFT Web application, showing customer provided tax refund information on tablet and mobile devices."
        },
        modifier: "reverse"
      })

      +presentation({
        project: {
          subheading: "Heha!",
          heading: "Hassle-free travel",
          text: "Planning trips is tough. We worked with Holiday Extras to create HEHA!, an iOS and Android app to simplify the task.",
          button: {
            url: "/heha",
            text: "See the case study"
          }
        },
        image: {
          src: "/assets/images/case-studies/heha/presentation.jpg",
          alt: "Holiday Extras' HEHA! Mobile app, showing several planned trips on some mobile devices."
        },
        modifier: "90"
      })


  section.section.section--sm-spacing
    .container
      +company-logos

  section.section.section--lg-spacing
    .container
      .blog-content
        h3.blog-content__heading From the blog
        +blog-post-grid
