extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Kent based web and mobile development"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "Bespoke web design & development"
  -var metaDescription = "We're specialists in building accessible, performant, and scalable applications."

  -var heroHeading = "We make superfast applications."
  -var heroSubheading = "(That your users will love)"

block pageComponents
  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section
    .container
      +project({
        projectSubHeading: "MyRIFT",
        projectHeading: "Helping Brits claim back tax",
        projectText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers.",
        projectButton: {
            buttonUrl: "/rift",
            buttonText: "See the case study"
          },
        projectImage: {
          src: "/assets/images/rift/rift-image-group.png",
          alt: "RIFT"
        },
        projectModifier: "reverse",
      })

      +project({
        projectSubHeading: "MyRIFT",
        projectHeading: "Helping Brits claim back tax",
        projectText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers.",
        projectButton: {
            buttonUrl: "/heha",
            buttonText: "See the case study"
          },
        projectImage: {
          src: "/assets/images/heha/heha-image-group.png",
          alt: "RIFT"
        },
        imageModifier: "80",
      })
          

  section.section.section--sm-spacing
    .container
      +company-logos

  section.section.section--lg-spacing
    .container
      .blog-content
        p.blog-content__heading From the blog
        .grid.grid--blog.grid--blog-preview
