extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Web, iOS, and Android data capture experts"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "Web, iOS, and Android data capture experts"
  -var metaDescription = "We help organisations excel online by making it easy for their users to provide them with high quality information."

  -var heroHeading = "We're data capture experts"
  -var heroSubheading = "More than any other period in time, people want to serve themselves, and on their own terms. We help organisations excel online by making it easy for their users to provide them with high quality information."

block pageComponents
  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section
    .container
      +presentation({
        project: {
          projectSubHeading: "MyRIFT",
          projectHeading: "Helping Brits claim back tax",
          projectText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers.",
          projectButton: {
            buttonUrl: "/rift",
            buttonText: "See the case study"
          }
        },
        presentationImage: {
          src: "/assets/images/case-studies/rift/presentation.png",
          alt: "RIFT"
        },
        presentationModifier: "reverse"
      })

      +presentation({
        project: {
          projectSubHeading: "Heha!",
          projectHeading: "Hassle-free travel",
          projectText: "Planning trips is tough. We worked with Holiday Extras to create HEHA!, an iOS and Android app to simplify the task.",
          projectButton: {
            buttonUrl: "/heha",
            buttonText: "See the case study"
          }
        },
        presentationImage: {
          src: "/assets/images/case-studies/heha/presentation.png",
          alt: "HEHA!"
        },
        imageModifier: "90"
      })


  section.section.section--sm-spacing
    .container
      +company-logos

  section.section.section--lg-spacing
    .container
      .blog-content
        h3.blog-content__heading From the blog
        +blog-post-grid
