extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Bespoke business automation - Leaf"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "Bespoke business automation"
  -var metaDescription = "We're specialists in using technology to automate all kinds of traditionally human tasks."

block pageComponents
  +hero({
    heroModifier: "home",
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroButton: {
      buttonUrl: "/what-we-do",
      buttonText: "Find out how we do it"
    },
    heroImage: {
      src: "/assets/images/home.png",
      alt: "We work with you to uncover automation opportunities.",
    }
  })

  section.section
    .container

      .grid.grid--statements
        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/magic.svg",
            statementHeading: "Business Processes",
            statementText: "Automating repetitive tasks, like running weekly reports, reviewing job applications, or handling data transfers, keeps your team focused on doing things computers can't."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/tasks.svg",
            statementHeading: "Higher data quality",
            statementText: "Auto-completion of forms, and stringent validation of fields, ensures data enters your systems efficiently and accurately from both staff and customers."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/growth.svg",
            statementHeading: "Improved service",
            statementText: "Digital products allow customers to self-serve in convenience, with communications via their preferred medium, and entirely unconstrained by the 9-to-5."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/coins.svg",
            statementHeading: "Reduced costs",
            statementText: "Once they're set up, automations cost very little to run. Unlike people, computers are immune to dips in efficiency, work around the clock, and don't make mistakes."
          })
  
  section.section
    .container

      .grid.grid--card
        .grid__item
          +card({
            cardUrl: "/rift",
            cardImage: {
              src: "/assets/images/rift.jpg",
              alt: "MyRIFT",
            },
            cardHeading: "Helping the UK to claim tax refunds",
            cardText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers and staff."
          })

        .grid__item
          +card({
            cardUrl: "/laced",
            cardImage: {
              src: "/assets/images/laced.jpg",
              alt: "Laced",
            },
            cardHeading: "21st century sneaker trading",
            cardText: "We moved Laced's entire business online, allowing their customers to effortlessly buy and sell rare sneakers."
          })
