extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Kent based web and mobile development"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "We make superfast applications."
  -var metaDescription = "(That your users will love)"

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroSubheading: metaDescription,
  })

  section.section
    .container
      +work-preview({
        workPreviewSubHeading: "MyRIFT",
        workPreviewHeading: "Helping Brits claim back tax",
        workPreviewText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers.",
        workPreviewButton: "See the case study",
        workPreviewImage: {
        src: "/assets/images/rift/rift-image-group.png",
        alt: "RIFT"
        },
        workPreviewModifier: "reverse",
      })

      +work-preview({
        workPreviewSubHeading: "MyRIFT",
        workPreviewHeading: "Helping Brits claim back tax",
        workPreviewText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers.",
        workPreviewButton: "See the case study",
        workPreviewImage: {
        src: "/assets/images/heha/heha-image-group.png",
        alt: "RIFT"
        }
      })
          

  section.section.section--margin-b
    .container
      +company-logos

  section.section.section--sm-spacing
    .container
      .grid.grid--blog.grid--blog-preview
