extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Bespoke software automation - Leaf"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "Bespoke software automation"
  -var metaDescription = "We use research and technology to drive automation within forward-thinking organisations."

block pageComponents
  +hero({
    heroModifier: "home",
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroButton: {
      buttonUrl: "/what-we-do",
      buttonText: "Find out how we do it"
    },
    heroImage: {
      src: "/assets/images/home.png",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +page-header({
        pageHeaderHeading: "What is automation?",
        pageHeaderText: "Automation is the act of using data, design and technology to turn a task, traditionally undertaken by humans, into a partially or completely automatic process."
      })


    .grid.grid--statements
      .grid__item
        +statement({
          statementIcon: "/assets/images/icons/magic.svg",
          statementHeading: "Business Processes",
          statementText: "Automating repetitive and well-defined tasks, like running weekly reports or reviewing an application, keeps your team focused on doing the hard parts computers can't do well."
        })

      .grid__item
        +statement({
          statementIcon: "/assets/images/icons/tasks.svg",
          statementHeading: "Higher data quality",
          statementText: "Lookups and autocompleting fields make it easier for users to provide high-quality information, which itself creates further automation opportunities in processing and handling said data."
        })

      .grid__item
        +statement({
          statementIcon: "/assets/images/icons/growth.svg",
          statementHeading: "Improved service",
          statementText: "Create convenience by automating customer processes; automatic emails and online self-help are quicker and more cost-effective than hand-posted letters or physical 9-5 support teams."
        })
        
      .grid__item
        +statement({
          statementIcon: "/assets/images/icons/coins.svg",
          statementHeading: "Reduced costs",
          statementText: "Once they're set up, automation systems cost very little to run. Unlike people, computers are immune to dips in efficiency, and work around the clock at their given task."
        })

      .grid.grid--card
        .grid__item
          +card({
            cardUrl: "/rift",
            cardImage: {
              src: "/assets/images/rift.jpg",
              alt: "MyRIFT",
            },
            cardHeading: "Helping the UK to claim tax refunds",
            cardText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers and staff."
          })

        .grid__item
          +card({
            cardUrl: "/laced",
            cardImage: {
              src: "/assets/images/laced.jpg",
              alt: "Laced",
            },
            cardHeading: "21st century sneaker trading",
            cardText: "We moved Laced's entire business online, allowing their customers to effortlessly buy and sell rare sneakers."
          })
