extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Kent based web and mobile development"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "We make superfast applications."
  -var metaDescription = "(That your users will love)"

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroSubheading: metaDescription,
  })

  section.section
    .container
      .grid.grid--work-preview
        .grid__item
          +work-preview({
            workPreviewImage: "/assets/images/icons/leaves.svg",
            workPreviewHeading: "We nurture relationships",
            workPreviewText: "As a remote organisation, we work with clients from all across the world. Our focus on cultivating relationships puts your success first.",
            workPreviewButton: "Button"
          })
          

  section.section.section--margin-b
    .container
      +company-logos

  section.section.section--sm-spacing
    .container
      h2.small From the blog
      .grid.grid--blog.grid--blog-preview
