extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Bespoke software automation - Leaf"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "Bespoke software automation"
  -var metaDescription = "We use research and technology to drive automation within forward-thinking organisations."

block pageComponents
  +hero({
    heroModifier: "home",
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroButton: {
      buttonUrl: "/what-we-do",
      buttonText: "Find out how we do it"
    },
    heroImage: {
      src: "/assets/images/home.webp",
      fallbackSrc: "/assets/images/home.png",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      .grid.grid--card
        .grid__item
          +card({
            cardUrl: "/rift",
            cardImage: {
              src: "/assets/images/rift.webp",
              fallbackSrc: "/assets/images/rift.jpg",
              alt: "MyRIFT",
            },
            cardHeading: "Helping the UK to claim tax refunds",
            cardText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers and staff."
          })

        .grid__item
          +card({
            cardUrl: "/laced",
            cardImage: {
              src: "/assets/images/laced.webp",
              fallbackSrc: "/assets/images/laced.jpg",
              alt: "Laced",
            },
            cardHeading: "21st century sneaker trading",
            cardText: "We moved Laced's entire business online, allowing their customers to effortlessly buy and sell rare sneakers."
          })
