extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Bespoke business automation - Leaf"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "Bespoke business automation"
  -var metaDescription = "We're specialists in transforming organisations through businesses process automation."

block pageComponents
  +hero({
    heroModifier: "home",
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroButton: {
      buttonUrl: "/what-we-do",
      buttonText: "Find out how we do it"
    },
    heroImage: {
      src: "/assets/images/heros/home.gif",
      alt: "We work with you to uncover automation opportunities.",
    }
  })

  section.section
    .container
      +benefit-statements()

  section.section
    .container
      h2.small Recent successes
      .grid.grid--symmetrical-card
        .grid__item
          +card({
            cardUrl: "/rift",
            cardImage: {
              src: "/assets/images/rift.jpg",
              alt: "MyRIFT",
            },
            cardHeading: "Helping the UK to claim tax refunds",
            cardText: "We allowed RIFT's customers to self-service their tax refunds online, and synchronised all of their internal systems. This took significant cost out of call centres, staff processing, and repetitive administrative work."
          })

        .grid__item
          +card({
            cardUrl: "/laced",
            cardImage: {
              src: "/assets/images/laced.jpg",
              alt: "Laced",
            },
            cardHeading: "21st century sneaker trading",
            cardText: "We moved Laced's rare sneaker trading business online, automating their buying, selling, shipping, and quality control. Laced have since secured their series A funding, and can now scale up without hiring new staff."
          })

  section.section--margin-b
    .container
      +company-logos({
      })

  section.section.section--sm-spacing
    .container
      h2.small From the blog
      .grid.grid--blog.grid--blog-preview