extends ../layouts/content.pug

block prepend vars
  -var pageTitle = "Keen Case Study - Leaf"
  -var metaUrl = "https://weareleaf.com/keen"
  -var metaTitle = "Keen Case Study"
  -var metaDescription = "We worked with Keen to deliver an MVP of their customer success tool, helping organisations monitor users through the onboarding process and identify those struggling."

block pageComponents
  +banner({
    href: '/case-studies'
  })
  
  +progress-bar ({
  })

  section.case-study
    .case-study__blue-bg
      .case-study__images
        .case-study__image.case-study__image--keen-1
          img(src="/assets/images/case-studies/keen/keen-1.png" alt="Keen iPhone X")
        .case-study__image.case-study__image--keen-2
          img(src="/assets/images/case-studies/keen/keen-2.png" alt="Keen iPhone X")
        .case-study__image.case-study__image--keen-3
          img(src="/assets/images/case-studies/keen/keen-3.png" alt="Keen iPhone X")
        .case-study__image.case-study__image--keen-4
          img(src="/assets/images/case-studies/keen/keen-4.png" alt="Keen iPhone X")
        .case-study__image.case-study__image--keen-5
          img(src="/assets/images/case-studies/keen/keen-5.png" alt="Keen iPhone X")
      //-.case-study__bg
      
    .case-study__main
      .case-study__content.case-study__content--intro
        +page-header({
          pageHeaderHeading: "Onboarding, done right.",
          pageHeaderText: "We worked with Keen to deliver an MVP of their customer success tool, helping organisations monitor users through the onboarding process and identify those struggling."
        })

        .case-study__details
          +details({
            detailHeading: "Themes",
            detailListItems: [
              {
                detailItem: "Design"
              },
              {
                detailItem: "Development"
              }
            ]
          })

          +details({
            detailHeading: "Deliverables",
            detailListItems: [
              {
                detailItem: "Pattern library"
              },
              {
                detailItem: "Application"
              }
            ]
          })

          +details({
            detailHeading: "Technology",
            detailListItems: [
              {
                detailItem: "Ruby on Rails"
              },
              {
                detailItem: "JavaScript"
              }
            ]
          })

          +details({
            detailHeading: "Platform",
            detailListItems: [
              {
                detailItem: "Web"
              }
            ]
          })

      .case-study__images-mobile
        .case-study__image.case-study__image--heha-2
          img(src="/assets/images/case-studies/heha/mockup-2.png" alt="HEHA! screen")
          
      .case-study__content.case-study__content--about
        +summary({
            summaryHeading: "What is it?",
            summaryText: "Keen is an onboarding platform, allowing organisations to improve their 'customer success' by helping new users familiarise themselves with a new product."
          })
      
      .case-study__images-mobile
        .case-study__image.case-study__image--heha-5
          img(src="/assets/images/case-studies/heha/mockup-5.png" alt="HEHA! screens")

      .case-study__content.case-study__content--description
        .case-study__block
          h4.case-study__block-heading The challenge
          p.case-study__block-text Building an MVP means making tough technical and design choices. With the concept inherently complex, and with limited time, the biggest challenge would be reducing the vision and building a truly Minimum Viable Product.
          p.case-study__block-text Keen also needed a tutorial creation system that allowed organisations to white-label their onboarding sites with a custom domain. For us, this meant not only supporting custom domains, but allowing end-users to securely sign-up to individual sites.

          h4.case-study__block-heading Technology
          p.case-study__block-text We settled on a pure Ruby on Rails stack for Keen's MVP application, which enabled us to quickly build out a wide variety of features required by modern web applications, including authentication, mail sending, and solid test coverage.
          p.case-study__block-text We used JavaScript to add a layer of finesse to the application's front-end, introducing drag-and-drop image uploads and various off-canvas menus.

          .divider.divider--thin

          h4.case-study__block-heading Our approach
          p.case-study__block-text Our first task was to create a set of interactive prototypes, which not only helped solidify a shared understanding of the product, but helped identify aspects of the product that would be too time consuming to build as part of the MVP.
          p.case-study__block-text With the scope more refined, we built a pattern library of components. This work, along with the prototypes, armed the engineers with everything they needed before undertaking any significant development work.
          p.case-study__block-text We opted to do the database design and authentication at the same time as this was a fairly stable known quantity for the project, and allowed us to build a solid foundation for the project while we worked out some of the finer details.
          p.case-study__block-text With the groundwork in place, we began layering up functionality within the platform. By publishing changes to a development version, the Keen team had direct visibility of the progress, and helping further tighten the feedback loop.
          p.case-study__block-text With careful database design and thorough automated testing we were able to run multiple onboarding websites from Keen with completely separated authentication.

      .case-study__images-mobile
        .case-study__image.case-study__image--heha-8
          img(src="/assets/images/case-studies/heha/mockup-8.png" alt="HEHA! screens")
      
      .case-study__content.case-study__content--outcome
        +summary({
            summaryHeading: "Outcome",
            summaryText: "Keen launched at the beginning of 2017, and has already made its first successful sales."
          })

  +next-project({
    nextProjectUrl: "/rift",
    nextProjectText: "MyRIFT"
  })
