extends ../layouts/case-study.pug

block prepend vars
  -var pageTitle = "Keen Case Study - Leaf"

block pageComponents
  +banner({
    bannerCompany: "keen",
    bannerImage: {
      src: "/assets/images/keen/header.webp",
      fallbackSrc: "/assets/images/keen/header.jpg",
      alt: "Alt text for card image",
    },
  })

  .section.section--sm-spacing
    .container
      +intro({
        introImage: {
          src: "/assets/images/keen/logo.svg",
          alt: "Keen",
        },
        introText: "We worked with Keen to deliver an MVP of their customer success tool, helping organisations monitor users through the onboarding process and identify those struggling."
      })

      +details({
        details: [
          {
            detailHeading: "Themes",
            detailText: "Design, development"
          },
          {
            detailHeading: "Deliverables",
            detailText: "Pattern library, application"
          },
          {
            detailHeading: "Technology",
            detailText: "Ruby on Rails, JavaScript"
          },
          {
            detailHeading: "Platform",
            detailText: "Web"
          }
        ]
      })

  .section
    .container
      figure
        img(src="/assets/images/keen/inline-1.webp" alt="Keen application" onerror="this.onerror=null; this.src='/assets/images/keen/inline-1.jpg'")

      .grid.grid--two-thirds-reverse
        .grid__item
          +summary({
            summaryHeading: "What is it?",
            summaryText: "Keen is an onboarding platform, allowing organisations to improve their 'customer success' by helping new users familiarise themselves with a new product."
          })

        .grid__item
          h4 The challenge
          p Building an MVP means making tough technical and design choices. With the concept inherently complex, and with limited time, the biggest challenge would be reducing the vision and building a truly Minimum Viable Product.
          p Keen also needed a tutorial creation system that allowed organisations to white-label their onboarding sites with a custom domain. For us, this meant not only supporting custom domains, but allowing end-users to securely sign-up to individual sites.

          h4 Technology
          p We settled on a pure Ruby on Rails stack for Keen's MVP application, which enabled us to quickly build out a wide variety of features required by modern web applications, including authentication, mail sending, and solid test coverage.
          p We used JavaScript to add a layer of finesse to the application's front-end, introducing drag-and-drop image uploads and various off-canvas menus.

      figure
        img(src="/assets/images/keen/inline-2.webp" alt="Keen application" onerror="this.onerror=null; this.src='/assets/images/keen/inline-2.jpg'")
        figcaption Keen allows users to manage everything from campaigns to courses

      .grid.grid--two-thirds
        .grid__item
          h4 Our approach
          p Our first task was to create a set of interactive prototypes, which not only helped solidify a shared understanding of the product, but helped identify aspects of the product that would be too time consuming to build as part of the MVP.
          p With the scope more refined, we built a pattern library of components. This work, along with the prototypes, armed the engineers with everything they needed before undertaking any significant development work.
          p We opted to do the database design and authentication at the same time as this was a fairly stable known quantity for the project, and allowed us to build a solid foundation for the project while we worked out some of the finer details.
          p With the groundwork in place, we began layering up functionality within the platform. By publishing changes to a development version, the Keen team had direct visibility of the progress, and helping further tighten the feedback loop.
          p With careful database design and thorough automated testing we were able to run multiple onboarding websites from Keen with completely separated authentication.

          h4 The outcome
          p Keen launched at the beginning of 2017, and has already made its first successful sales.
