extends ../layouts/content.pug

block prepend vars
  -var pageTitle = "Laced Case Study - Leaf"
  -var metaUrl = "https://weareleaf.com/laced"
  -var metaTitle = "Laced Case Study"
  -var metaDescription = "Laced are determined to bring the sneaker trading experience into the 21st century, and we're helping them to achieve that vision."
  -var metaImage = "https://weareleaf.com/assets/images/laced-card2.jpg"

block pageComponents
  +banner({
    href: '/case-studies'
  })

  .section.section--sm-spacing
    .container

      +intro({
        introImage: {
          src: "/assets/images/case-studies/laced/logo.svg",
          alt: "Laced",
        },
        introText: "Laced are determined to bring the sneaker trading experience into the 21st century, and we're helping them to achieve that vision."
      })

      +details({
        details: [
          {
            detailHeading: "Themes",
            detailText: "Consultancy, design, development"
          },
          {
            detailHeading: "Deliverables",
            detailText: "Custom e-commerce platform"
          },
          {
            detailHeading: "Technology",
            detailText: "React, Ruby on Rails, API integrations"
          },
          {
            detailHeading: "Platform",
            detailText: "Web"
          }
        ]
      })

  .section
    .container
      figure
        img(src="/assets/images/case-studies/laced/image-1.webp" alt="The Laced Website" onerror="this.onerror=null; this.src='/assets/images/case-studies/laced/image-1.jpg'")

      .grid.grid--two-thirds-reverse
        .grid__item
          +summary({
            summaryHeading: "What is it?",
            summaryText: "Laced allows sneaker enthusiasts to buy and sell collectible sneakers online, as well as track market values, and reserve items at certain prices."
          })

        .grid__item
          h4 The challenge
          p Laced are up against some huge competition from established sneaker trading platforms in the United States. Spotting an opportunity to own the European market, they needed a high quality automated service that could compete with the big players, delivered quickly in order to maintain a competitive edge.

          h4 Our approach
          p Before Laced, European sneaker enthusiasts were having to trade their shoes on the more generalist platforms like eBay, Facebook, or one of a few poorly executed European sneaker trading platforms available.

          p By using a combination of Ruby on Rails and React, we were able to quickly build Laced a high quality online trading platform. Both technologies also allow us to rapidly develop future features, setting Laced up with a strong competitive edge.

      figure
        img(src="/assets/images/case-studies/laced/image-2.webp" alt="The Laced Website" onerror="this.onerror=null; this.src='/assets/images/case-studies/laced/image-2.jpg'")

      .grid.grid--two-thirds
        .grid__item
          h4 Fully automated payments
          p As a new name in the industry, trust and loyalty are of extra importance to Laced. We integrated Stripe and PayPal into the platform, allowing customers to purchase with confidence.

          p Predominantly a credit-based platform, users can also use their debit or credit card to add funds to their account, allowing them to automatically bid on sneakers within their own pre-defined spend limits.

          p For sellers, withdrawals can be made through Laced transferring credit directly out of the platform, and into their own bank accounts. All of this is fully automated, and has zero human involvement.

          h4 Shipping and quality control
          p One of the main hassles of trading physical items online is having to arrange shipping and quality control. We streamlined this process by allowing sellers to print out pre-paid shipping labels through a UPS integration, and ensuring all items are quality inspected at Laced's headquarters before being sent to buyers. This way, quality can be guaranteed, sellers can ship products directly from their homes, and all users remain anonymous to one another.

          h4 The outcome
          p Laced launched at the beginning of 2019, and started attracting both buyers and sellers straight away, with over 1000 new accounts registered 3 months after launch.  We're continuing to work with Laced on developing new features, and making updates to the platform in response to customer feedback, and our own research.
