extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Bespoke business automation - Leaf"
  -var metaUrl = "https://weareleaf.com"
  -var metaTitle = "Bespoke business automation"
  -var metaDescription = "We're specialists in building digital products & services that automate business."

block pageComponents
  +hero({
    heroModifier: "home",
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroButton: {
      buttonUrl: "#contact",
      buttonText: "Get in touch with us"
    },
    heroImage: {
      src: "/assets/images/heros/home.gif",
      alt: "We work with you to uncover automation opportunities.",
    }
  })

  section.section
    .container
      +page-header({
        pageHeaderHeading: "Improve your products",
        pageHeaderText: "We have a proven success rate in helping businesses to automate their processes through intelligent design and software solutions."
      })
  
  section.section
    .container
      .grid.grid--symmetrical-card
        .grid__item
          img(src="/assets/images/laced.jpg", alt="Laced")

        .grid__item
          img(src="/assets/images/rift.jpg", alt="Rift")
  
  section.section
    .container
      .grid.grid--metrics
        .grid__item
          +automation-metrics({
            metric: [
              {
                metricHeading: "Increased efficiency",
                metricText: "Through automation, our clients have seen a significant increase in the efficiency of their business operations."
              }
            ]
          })

        .grid__item
          +automation-metrics({
            metric: [
              {
                metricHeading: "Higher productivity",
                metricText: "Our systems have proven to be fast and effective 100% of the time, reducing the risk of human related errors."
              }
            ]
          })

        .grid__item
          +automation-metrics({
            metric: [
              {
                metricHeading: "Consistent reliability",
                metricText: "Through automation, our clients have seen a significant increase in the efficiency of their business operations."
              }
            ]
          })
  
  section.section--margin-b
    .container
      +company-logos({
      })

  section.section
    .container
      hr.divider.divider--margin-top

  section#contact.section
    .container
      +page-header({
        pageHeaderHeading: "Want to hear more?",
        pageHeaderText: "We're always happy to help, so if there's anything you want to know, feel free to drop us an email and we'll get back to you as quickly as possible."
      })

      .grid.grid--two-thirds
        .grid__item
          +contact-form

        .grid__item
            +sidebar([{
              item: "Use automation to help make your business more <strong> globally scalable </strong> for less of the cost."
            },{
              item: "Reduce your <strong> staffing costs </strong>, by allowing automated software to effectively handle workloads <strong> 24/7 </strong>."
            },{
              item: "Increase the <strong> speed </strong> and <strong> reliability </strong> of your services with the help of smarter, automated workflows."
            },{
              item: "Maximise your products reach by using automation to <strong> integrate your systems </strong> with other businesses."
            }])

  section.section
    +footer-condensed ({
  })
