extends ../layouts/page.pug

block prepend vars
  -var activePage = "Our work"
  -var pageTitle = "Our Work - Leaf"

block pageComponents
  +hero({
    heroModifier: "our-work",
    heroHeading: "Our work",
    heroText: "We're lucky enough to have helped some wonderful clients in achieving their goals.",
    heroImage: {
      src: "/assets/images/our-work.webp",
      fallbackSrc: "/assets/images/our-work.png",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      .grid.grid--card
        .grid__item
          +card({
            cardUrl: "/keen.html",
            cardImage: {
              src: "/assets/images/keen.webp",
              fallbackSrc: "/assets/images/keen.jpg",
              alt: "Keen",
            },
            cardHeading: "Onboarding users the right way",
            cardText: "No two users are the same, and shouldn’t be treated as such. We partnered with Keen to build an MVP of their customer-success tool."
          })

        .grid__item
          +card({
            cardUrl: "/heha.html",
            cardImage: {
              src: "/assets/images/heha.webp",
              fallbackSrc: "/assets/images/heha.jpg",
              alt: "HEHA!",
            },
            cardHeading: "Taking the hassle out of travel",
            cardText: "Planning trips can be a headache. We worked with Holiday Extras to create HEHA!, an iOS and Android app to make the journey easier."
          })

        .grid__item
          +card({
            cardUrl: "/rift.html",
            cardImage: {
              src: "/assets/images/rift.webp",
              fallbackSrc: "/assets/images/rift.jpg",
              alt: "MyRIFT",
            },
            cardHeading: "Helping the UK to claim tax refunds",
            cardText: "We helped RIFT re-imagine their MyRIFT web application, allowing UK-based workers to claim tax refunds on the move."
          })

        .grid__item
          +card({
            cardUrl: "/zendesk.html",
            cardImage: {
              src: "/assets/images/zendesk.webp",
              fallbackSrc: "/assets/images/zendesk.jpg",
              alt: "Zendesk",
            },
            cardHeading: "Throwing an International tea-party",
            cardText: "Who doesn’t love tea? We worked with Zendesk to create landing pages, in six languages, inviting users to an up-and-coming event."
          })
