extends ../layouts/page.pug

block prepend vars
  -var activePage = "Our work"
  -var pageTitle = "Our Work - Leaf"
  -var metaUrl = "https://weareleaf.com/our-work"
  -var metaTitle = "We help clients achieve their goals."
  -var metaDescription = "(using technology and design to add tangible value)"

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroSubheading: metaDescription,
  })

  section.section
    .container
      .grid.grid--card
        .grid__item
          +card({
            cardUrl: "/rift",
            cardImage: {
              src: "/assets/images/rift.jpg",
              alt: "MyRIFT",
            },
            cardHeading: "Helping the UK to claim tax refunds",
            cardText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers and staff."
          })

        .grid__item
          +card({
            cardUrl: "/laced",
            cardImage: {
              src: "/assets/images/laced.jpg",
              alt: "Laced",
            },
            cardHeading: "21st century sneaker trading",
            cardText: "We moved Laced's rare sneaker trading business online, automating their buying, selling, shipping, and quality control. Laced have since secured their series A funding, and can now scale up without hiring new staff."
          })

        .grid__item
          +card({
            cardUrl: "/heha",
            cardImage: {
              src: "/assets/images/heha.jpg",
              alt: "HEHA!",
            },
            cardHeading: "Taking the hassle out of travel",
            cardText: "Planning trips can be a headache. We worked with Holiday Extras to create HEHA!, an iOS and Android app to make the task simple."
          })

        .grid__item
          +card({
            cardUrl: "/keen",
            cardImage: {
              src: "/assets/images/keen.jpg",
              alt: "Keen",
            },
            cardHeading: "Onboarding users the right way",
            cardText: "No two users are the same, and shouldn’t be treated as such. We partnered with Keen to build an MVP of their customer-success tool."
          })

        .grid__item
          +card({
            cardUrl: "/zendesk",
            cardImage: {
              src: "/assets/images/zendesk.jpg",
              alt: "Zendesk",
            },
            cardHeading: "Throwing an International tea-party",
            cardText: "Who doesn’t love tea? We worked with Zendesk to create landing pages, in six languages, inviting users to an up-and-coming event."
          })
