extends ../layouts/landing.pug

block prepend vars
  -var activePage = "performance"
  -var bodyClass = "landing"
  -var pageTitle = "Web performance exports - Leaf"
  -var metaUrl = "https://weareleaf.com/performance"
  -var metaTitle = "Web application performance experts"
  -var metaDescription = "We help organisations to build fast, robust applications their customers love."


block pageComponents
  +hero({
    heroModifier: "landing",
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroButton: {
      buttonUrl: "javascript:void(0)",
      buttonText: "Start the conversation",
      navItemTriggerModal: true
    },
    heroImage: {
      src: "/assets/images/heros/home.gif",
      alt: metaTitle
    }
  })

  section.section(id="what-we-do")
    .container
      .grid.grid--statements
        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/consult.svg",
            statementHeading: "Consultancy",
            statementText: "We'll work together to guide your architectural and technical approaches, stepping you towards achieving your business goals.",
            statementLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/code.svg",
            statementHeading: "Development",
            statementText: "If you'd like our help with implementing our recommendations, we'll ensure your product is as performant as your codebase is maintainable.",
            statementLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/tasks.svg",
            statementHeading: "Performance audit",
            statementText: "We'll review your existing application, making detailed and prioritised recommendations, helping your team to focus their efforts.",
            statementLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/growth.svg",
            statementHeading: "Team training",
            statementText: "We work with your team to ensure every person is comfortable not only maintaining our work, but confident in building on it too.",
            statementLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

  section.section(id="our-work")
    .container
      h2.small Recent successes
      .grid.grid--symmetrical-card
        .grid__item
          +card({
            cardImage: {
              src: "/assets/images/rift.jpg",
              alt: "MyRIFT",
            },
            cardHeading: "Helping the UK to claim tax refunds",
            cardText: "We allowed RIFT's customers to make their tax refunds online, significant reducing call centre, staff processing, administrative overheads.",
            cardLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

        .grid__item
          +card({
            cardImage: {
              src: "/assets/images/heha.webp",
              fallbackSrc: "/assets/images/heha.jpg",
              alt: "HEHA!",
            },
            cardHeading: "Taking the hassle out of travel",
            cardText: "Planning trips can be a headache. We worked with Holiday Extras to create HEHA!, an iOS and Android app to make the task simple.",
            cardLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

  section.section.section--margin-b
    .container
      +company-logos


  section.section(id="company")
    .container
      .grid.grid--statements
        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/leaves.svg",
            statementHeading: "We nurture relationships",
            statementText: "As a remote organisation, we work with clients from all across the world. Our focus on cultivating relationships puts your success first."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/scales.svg",
            statementHeading: "Intentionally lean",
            statementText: "We hate the faceless conveyor belt model of larger agencies. Keeping our overheads low and our core team small means you'll always be a priority."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/communicate.svg",
            statementHeading: "We talk honestly, and often",
            statementText: "The most honest advice can sometimes be the most difficult to give. We’ll always be completely open and tell you the truth, even when it hurts."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/puzzle.svg",
            statementHeading: "Evolution, not revolution",
            statementText: "With existing products, we focus on continual improvement, delivering low-risk and fast results, one considered piece at a time."
          })

  section.section
    .container
      .grid.grid--profiles
        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/chris.jpg",
              alt: "Chris Annetts"
            },
            profileHeading: "Chris Annetts",
            profileText: "Design Director"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/mike.jpg",
              alt: "Mike Carter"
            },
            profileHeading: "Mike Carter",
            profileText: "Engineering Director"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/oj.jpg",
              alt: "Oliver Standeven"
            },
            profileHeading: "Oliver Standeven",
            profileText: "Software Engineer"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/tina.jpg",
              alt: "Tina van Schelt"
            },
            profileHeading: "Tina van Schelt",
            profileText: "Software Engineer"
          })

        .grid__item
          +profile({
            profileImage: {
              src: "/assets/images/curt.jpg",
              alt: "Curtis Lee"
            },
            profileHeading: "Curtis Lee",
            profileText: "Product Designer"
          })
