extends ../layouts/case-study.pug

block prepend vars
  -var pageTitle = "Product designer job - Leaf"

block pageComponents
  +banner({
    bannerCompany: "leaf",
    bannerHeading: "Product Designer"
  })

  .section.section--sm-spacing
    .container
      +intro({
        introImage: {
          src: "/assets/images/product-designer/logo.svg",
          alt: "Leaf",
        },
        introText: "We're looking for a designer with enough passion to fill a small stadium. The small details mean everything, and you're hell-bent on becoming a better you."
      })

  .section
    .container
      figure
        img(src="/assets/images/product-designer/inline-1.webp" alt="Mike Carter" onerror="this.onerror=null; this.src='/assets/images/product-designer/inline-1.jpg'")

      .grid.grid--two-thirds-reverse
        .grid__item
          +summary({
            summaryHeading: "Who are we?",
            summaryText: "Leaf are a small product-focused studio in South-East England, helping organisations build better digital products."
          })

        .grid__item
          h4 About the role
          p We're looking for a talented designer to help create beautiful, functional and accessible web products. To us, the term 'design' means more than drop shadows and border radius'; you'll be sweating over microcopy, embracing constraints, and questioning everything.
          p Your design career may be in its infancy, or you might be a 10-year industry veteran. We're not big using experience as our barometer, nor are we necessary looking for the finished article. Above all else, we're looking for character.

      figure
        img(src="/assets/images/product-designer/inline-2.webp" alt="Chris and Mike" onerror="this.onerror=null; this.src='/assets/images/product-designer/inline-2.jpg'")
        figcaption Various mobile-first wireframes from the application

      .grid.grid--two-thirds
        .grid__item
          h4 About you
          ul
            li You have background in design, with at least a year of industry experience
            li You're a natural communicator. Being able to articulate your point, both internally and to clients, is essential
            li You have a portfolio of interface work you can't wait to show off
            li You love to teach what you know, and learn what you don't
            li You're bursting with passion, and have a natural drive to better yourself

          h5 Bonus points if…
          ul
            li You're as comfortable in Atom or Sublime as you are in a design application
            li You've used or even created Pattern libraries and styleguides
            li You've got static prototyping experience (e.g. Marvel, InVision)
            li You create your own product illustrations
            li You're a keen and talented photographer

          h4 Location
          p We're based in Canterbury; famous for its cathedrals, cobbles and tales. We're very happy for you to either join us in Kent or work remotely; whatever's going to allow you to do your best work. If you do work remotely, the only thing we ask is that you drop in to Canterbury every couple of months.

          h4 Salary
          p If you're a good fit, your salary will be entirely based on your current skill set and experience. To give a ballpark, a relatively fresh-faced design talent should expect around £25,000-per-anum, with a seriously impressive all-rounder taking home much more.

          h4 How to apply
          p If reading about this position gave you butterflies, we want to hear for you. Tell us a bit about yourself, along with a CV, some examples of your work, and let us know why you'd be a good fit.

          a(href="mailto:hello@weareleaf.com") hello@weareleaf.com

        .grid__item
          +sidebar([{
            item: "You'll receive a salary between <strong>£25,000+</strong>, relative to your skillset and experience."
          },{
            item: "We're a <strong>remote-first</strong> company, and you'll even have the oppertunity of <strong>flexible working hours</strong>."
          },{
            item: "You'll get <strong>20 days holiday</strong>, and well as <strong>your birthday</strong>, off each year (birthday's are for cake, and cake only)."
          },{
            item: "<strong>Monthly one-on-ones</strong> and <strong>6-monthly role reviews</strong> keep your personal progression a priority.  "
          }])
