extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Project Planner - Leaf"
  -var metaUrl = "https://weareleaf.com/project-planner"
  -var metaTitle = "Project planner"
  -var metaDescription = "A few words will help us better understand your motivations and your goals for automation."

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroImage: {
      src: "/assets/images/heros/project-planner.gif",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +page-header({
        pageHeaderHeading: "Your enquiry",
        pageHeaderText: "The more detail you can give, the better placed we’ll be to advise on the most appropriate next steps."
      })

      .grid.grid--two-thirds
        .grid__item
          +form

        .grid__item
          +sidebar([{
            item: "We'll deliver a clear <strong>return on investment</strong> for your business."
          },{
            item: "We'll reduce your <strong>staffing costs</strong> with automations that handle workloads <strong>24/7</strong>."
          },{
            item: "We'll increase the <strong>speed</strong> and <strong>reliability</strong> of your business with smarter, automated workflows."
          },{
            item: "We'll create <strong>new revenue streams</strong>, with automations that integrate your business with other products."
          }])
