extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Project Planner - Leaf"

block pageComponents
  +hero({
    heroHeading: "Project planner",
    heroText: "It only takes a few minutes to do, but it’ll help us better understand your motivations and your goals.",
    heroImage: {
      src: "/assets/images/project-planner.png",
      alt: "Alt text for hero image",
    }
  })
  
  section.section
    .container
      +page-header({
        pageHeaderHeading: "Your enquiry",
        pageHeaderText: "Consider this the start of a very exciting conversation. The more detail you can give, the better placed we’ll be to advise on the most appropriate next steps."
      })
      
      .grid.grid--two-thirds
        .grid__item
          +form
          
        .grid__item
          +sidebar
