extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Referrals - Leaf"
  -var metaUrl = "https://weareleaf.com/referrals"
  -var metaTitle = "Referrals"
  -var metaDescription = "Some of our best relationships have come via recommendations from happy clients."

block pageComponents
  +hero({
    heroHeading: "Referrals",
    heroText: "Some of our best relationships have come via recommendations from happy clients.",
    heroImage: {
      src: "/assets/images/heros/referrals.gif",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +page-header({
        pageHeaderHeading: "How it works",
        pageHeaderModifier: "sm-spacing"
      })

      .grid.grid--two-thirds
        .grid__item
          p We're currently looking to build a close relationship with an organisation we can do great work with, and we want to offer our clients something in return for passing our name along. Unsurprisingly, those who know us best are perfectly positioned to refer us to others!

          h4 What we're looking for
          p Our goal with our client work is to use our product, design, and engineering knowledge to make significant improvements to the success of organisations by working on new and existing digital products.

          p We look for organisations where we can build long-term relationships, establish an intricate understanding of their business, and tackle larger or harder problems than you'd typically expect from an external team.

          h4 The referral offer
          p We're happy to share <b>10%</b> of the billed income of any referred client we take on, limited to the first 3 months of billable work, and up to a cap of <b>£3,000</b>.

          p So, if as a result of your referral we billed £10,000 within the first 3 months of a new relationship, you'd get <b>£1,000</b>. Similarly, if we billed £30,000 in the same period, you'd get <b>£3,000</b> (the cap).

          h4 Making a referral
          p If you think we're a good fit for an organisation you know, drop us an email at <a href="mailto:hello@weareleaf.com">hello@weareleaf.com</a> with some details. We'll then let you know if we'd be interested in working with them.

          p We're a small company that care deeply about building mutually beneficial relationships, so please don't make email introductions to other organisations without our consent.

          h4 Additional information

          p If you're unsure about whether we'd be a good fit for a referral, the following might help you:

          ul.styled-list.styled-list--inside-lg
            li.styled-list__item We're a remote-first business. We don't mind making infrequent site visits, but working on-site won't be the norm.
            li.styled-list__item Our programming toolkit consists mainly of JavaScript (client and server) and Ruby, but we're no strangers to changing tech.
            li.styled-list__item We work at an hourly rate of £100 per person, per hour, <a href="https://medium.com/leaf-software/fixed-cost-is-hurting-your-business-ec3d63ffa329" target="_blank" rel="noopener">and avoid fixed-cost work</a>.
            li.styled-list__item We tend to look for an initial engagement in a new relationship of £10,000+.
            li.styled-list__item We're happy to take on Service Level Agreements (SLAs) or sign Non Disclosure Agreements (NDAs) where necessary.
            li.styled-list__item With few exceptions, we don't work with businesses without an existing revenue stream.
