extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Resources - Leaf"

block pageComponents
  +hero({
    heroHeading: "Resources",
    heroText: "A collection of useful quick-start resources to help you and your startup hit the ground running.",
    heroImage: {
      src: "/assets/images/resources.png",
      alt: "Alt text for hero image",
    }
  })
  
  section.section
    .container
      +page-header({
        pageHeaderHeading: "Documents",
        pageHeaderText: "We organise all of our documents via Google Docs. Its browser-based nature keeps our resources accessible from any computer, anywhere in the world."
      })
      
      +resource({
        resourceImage: {
          src: "https://picsum.photos/1200/580/",
          alt: "Alt text for resource image"
        },
        resourceHeading: "Work Proposal",
        resourceText: "Our standard work proposal template for all projects quoted for by Leaf. Typically, this document is useful for not only introducing your and/or your company, but an opperunity to demonstrate a deep understanding of the brief.",
        resourceButton: {
          buttonUrl: "#",
          buttonText: "Open Google Doc"
        },
        resourceMetaText: "Last updated: 29 June 2018"
      })
      
      +resource({
        resourceImage: {
          src: "https://picsum.photos/1200/580/",
          alt: "Alt text for resource image"
        },
        resourceHeading: "Standard SLA",
        resourceText: "Our Standard SLA, which covers out of hours bug fixes on software projects we work on.",
        resourceButton: {
          buttonUrl: "#",
          buttonText: "Open Google Doc"
        },
        resourceMetaText: "Last updated: 29 June 2018"
      })
      
      +resource({
        resourceImage: {
          src: "https://picsum.photos/1200/580/",
          alt: "Alt text for resource image"
        },
        resourceHeading: "Extended SLA",
        resourceText: "Our Extended SLA, which covers bug fixes and infrastructure on software projects we work on.",
        resourceButton: {
          buttonUrl: "#",
          buttonText: "Open Google Doc"
        },
        resourceMetaText: "Last updated: 29 June 2018"
      })
