extends ../layouts/page.pug

block prepend vars
  -var pageTitle = "Resources - Leaf"
  -var metaUrl = "https://weareleaf.com/resources"
  -var metaTitle = "Resources"
  -var metaDescription = "A collection of useful quick-start resources to help you and your startup hit the ground running."

block pageComponents
  +hero({
    heroModifier: "resources",
    heroHeading: "Resources",
    heroText: "A collection of useful quick-start resources to help you and your startup hit the ground running.",
    heroImage: {
      src: "/assets/images/heros/resources.gif",
      alt: metaTitle
    }
  })

  section.sectionp
    .container
      +page-header({
        pageHeaderHeading: "Documents",
        pageHeaderText: "We organise all of our documents via Google Docs. Its browser-based nature keeps our resources accessible from any computer, anywhere in the world."
      })

      +resource({
        resourceImage: {
          src: "/assets/images/proposal.jpg",
          alt: "Work proposal"
        },
        resourceHeading: "Work Proposal",
        resourceText: "Our standard work proposal template for all projects quoted for by Leaf. Typically, this document is useful for not only introducing your and/or your company, but an opperunity to demonstrate a deep understanding of the brief.",
        resourceButton: {
          buttonUrl: "https://docs.google.com/document/d/1vYrVEKYdfVZCahw9fb-5W2OZGxypoKnNFr8HwX8zxeQ/edit?usp=sharing",
          buttonText: "Open Google Doc"
        },
        resourceMetaText: "Last updated: 18 January 2018"
      })

      +resource({
        resourceImage: {
          src: "/assets/images/sla.jpg",
          alt: "SLA"
        },
        resourceHeading: "Standard SLA",
        resourceText: "Our Standard SLA, which covers out of hours bug fixes on software projects we work on.",
        resourceButton: {
          buttonUrl: "https://docs.google.com/document/d/1Mr40ByuviP7KbBz_05ZmQAH-lz9kSv8cTgZAQYJ2bfI/edit?usp=sharing",
          buttonText: "Open Google Doc"
        },
        resourceMetaText: "Last updated: 18 January 2018"
      })

      +resource({
        resourceImage: {
          src: "/assets/images/extended-sla.jpg",
          alt: "Extended SLA"
        },
        resourceHeading: "Extended SLA",
        resourceText: "Our Extended SLA, which covers bug fixes and infrastructure on software projects we work on.",
        resourceButton: {
          buttonUrl: "https://docs.google.com/document/d/1qn2ayp26QK6BeDp8_K2AUZbw-OeQZ3aVVn9D5fwbWiI/edit?usp=sharing",
          buttonText: "Open Google Doc"
        },
        resourceMetaText: "Last updated: 18 January 2018"
      })
