extends ../layouts/content.pug

block prepend vars
  -var pageTitle = "RIFT Case Study - Leaf"
  -var metaUrl = "https://weareleaf.com/rift"
  -var metaTitle = "RIFT Case Study"
  -var metaDescription = "RIFT have helped claim back £153,000,000 in tax refunds, and we were tasked with rethinking MyRIFT, a web-based platform allowing users to submit their claim online."

block pageComponents
  +banner({
    href: '/case-studies'
  })
  
  +progress-bar ({
  })

  section.case-study
    .case-study__blue-bg
      .case-study__images
        .case-study__image.case-study__image--rift-1
          img(src="/assets/images/case-studies/rift/rift-1.png" alt="RIFT iPad")
        .case-study__image.case-study__image--rift-2.hide-mobile
          img(src="/assets/images/case-studies/rift/rift-2.png" alt="RIFT iPhone X")
        .case-study__image.case-study__image--rift-3.hide-mobile
          img(src="/assets/images/case-studies/rift/rift-3.png" alt="RIFT MacBook Pro")
        .case-study__image.case-study__image--rift-4.hide-mobile
          img(src="/assets/images/case-studies/rift/rift-4.png" alt="RIFT iPhone X")
      //-.case-study__bg
        span rift
      
    .case-study__main
      .case-study__content.case-study__content--intro
        +page-header({
          pageHeaderHeading: "Helping Brits claim back tax.",
          pageHeaderText: "RIFT have helped claim back £153,000,000 in tax refunds, and we were tasked with rethinking MyRIFT, a web-based platform allowing users to submit their claim online."
        })

        .case-study__details
          +details({
            detailHeading: "Themes",
            detailListItems: [
              {
                detailItem: "Consultancy"
              },
              {
                detailItem: "Product design"
              }
            ]
          })

          +details({
            detailHeading: "Deliverables",
            detailListItems: [
              {
                detailItem: "Wireframes"
              },
              {
                detailItem: "Prototypes"
              },
              {
                detailItem: "App"
              }
            ]
          })

          +details({
            detailHeading: "Technology",
            detailListItems: [
              {
                detailItem: "Ruby on Rails"
              },
              {
                detailItem: "JavaScript"
              }
            ]
          })

          +details({
            detailHeading: "Platform",
            detailListItems: [
              {
                detailItem: "Web"
              }
            ]
          })

      .case-study__images-mobile
        .case-study__image.case-study__image--rift-5
          img(src="/assets/images/case-studies/rift/rift-2.png" alt="RIFT iPhone X")
          
      .case-study__content.case-study__content--about
        +summary({
            summaryHeading: "What is it?",
            summaryText: "MyRIFT allows people in various industries to submit tax claims, allowing RIFT to claim on their behalf to HMRC!"
          })
      
      .case-study__images-mobile
        .case-study__image.case-study__image--rift-3
          img(src="/assets/images/case-studies/rift/rift-3.png" alt="RIFT MacBook Pro")

      .case-study__content.case-study__content--description
        .case-study__block
          h4.case-study__block-heading The challenge
          p.case-study__block-text Laced are up against some huge competition from established sneaker trading platforms in the United States. Spotting an opportunity to own the European market, they needed a high quality automated service that could compete with the big players, delivered quickly in order to maintain a competitive edge.

          .divider.divider--thin

          h4.case-study__block-heading Our approach
          p.case-study__block-text Before any changes to MyRIFT were made, we then added analytics to both the RIFT website and MyRIFT itself. This allowed us to accurately understand user behaviour as well as establishing a baseline conversion rate for new leads.
          p.case-study__block-text In the early stages of our design exploration, we relied heavily on prototypes. This approach quickly validated (or dismissed) ideas, helped gain steakholder buy-in, and ensured we had the same shared vision.
          p.case-study__block-text We focussed heavily on designing for slow connections with a mobile-first approach; a large number of users work in construction and the armed forces, where fast Internet connections are scarce, and mobile device usage high.
          p.case-study__block-text We completely rebuilt the pre-registration process; a key failure point for users. An eligibility questionnaire was heavily simplified, and an enquiry form was replaced with a registration form, removing any manual involvement from RIFT.
          p.case-study__block-text With the foundation now in shape, our focus shifted to overhauling the post-registration experience, improving signposting, using more appropriate design patterns, and re-writing web and demographic-friendly copy.

      .case-study__images-mobile
        .case-study__image.case-study__image--rift-3
          img(src="/assets/images/case-studies/rift/rift-5.png" alt="RIFT screen")
      
      .case-study__content.case-study__content--outcome
        +summary({
            summaryHeading: "Outcome",
            summaryText: "The pre-registation questionnaire and amended processes significantly improved conversion to registration, getting more and better qualified leads into the app. Such was the success our initial work with RIFT, we're continuing to work together well into 2018."
          })

  +next-project({
    nextProjectUrl: "/heha",
    nextProjectText: "HEHA!"
  })