extends ../layouts/myrift.pug

block prepend vars
  -var pageTitle = "RIFT Case Study | Specialist Data Capture Experts | Leaf"
  -var metaUrl = "https://weareleaf.com/rift"
  -var metaTitle = "RIFT Case Study"
  -var metaDescription = "RIFT have helped win £153 million in tax refunds for their customers. We rethought their web platform, allowing users to submit and track their claims online."

  -var heroHeading = "Making tax simple"
  -var heroSubheading = "RIFT have helped Brits recoup more than £150m in tax refunds, and approached us to help simplify their online claim process."

block pageComponents
  +banner({
    href: '/case-studies'
  })

  .banner-spacer

  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
    heroIntroImage: true,
    heroImage: {
      src: "/assets/images/case-studies/rift/image-1.png",
      alt: "Components"
    },
    heroImageModifier: "rift"
  })
  
  section.section
    .container
      .rift-challenge
        .rift-challenge__image
          figure.case-study-image.case-study-image--rift-2
            img(src="/assets/images/case-studies/rift/image-2.png" alt="Happy Customers Showing Tax Returns")
          figure.case-study-image.case-study-image--rift-9
            img(src="/assets/images/case-studies/rift/image-9.png" alt="Happy Customers Showing Tax Returns")
        .rift-challenge__content
          +content({
            contentHeading2: true,
            contentHeading: "The challenge",
            contentIntro: "RIFT’s customer-facing claim tool, MyRIFT, wasn’t effectively converting their online leads into successful claims.",
            contentParagraphs: [
              {
                contentText: "We were tasked with more effectively qualifying leads before they signed-up to MyRIFT, and to help eligible claimants submit their claim information, all the while increasing the quality of any information being captured."
              }
            ]
          })
          +detail-tags({
          detailTagHeading: "What we did",
          detailTagModifier: "rift",
          detailTags: [
            {
              detailTagIcon: "assets/images/case-studies/icons/api.svg",
              detailTagText: "API data lookups"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/pen-2.svg",
              detailTagText: "Content writing"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/data-2.svg",
              detailTagText: "Data analysis"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/html-tags.svg",
              detailTagText: "Development"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/switch-2.svg",
              detailTagText: "Form design"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/journey-2.svg",
              detailTagText: "Journey mapping"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/brackets.svg",
              detailTagText: "Pattern library"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/prototype-2.svg",
              detailTagText: "Prototypes"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/ear-2.svg",
              detailTagText: "Stakeholder interviews"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/lightbulb.svg",
              detailTagText: "Stakeholder workshops"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/flip-cards.svg",
              detailTagText: "Visual design"
            },
            {
              detailTagIcon: "assets/images/case-studies/icons/wireframe-2.svg",
              detailTagText: "Wireframes"
            }
          ]
        })

  section.section      
    .container
      +content-block({
        introHeading: true,
        contentBlockHeading: "Our approach",
        contentBlockItems: [
          {
            contentHeading: "Uncover existing pain-points",
            contentIntro: "Analytical software helps answer a range of questions, from how well an app is performing, to where users are struggling.",
            contentParagraphs: [
              {
                contentText: "We added Mixpanel to both the RIFT website and MyRIFT application, helping us to understand existing user behaviours, and to establish a baseline conversion rate for qualifying and converting new leads."
              }
            ]
          },
          {
            contentHeading: "Understand the audience",
            contentIntro: "Many of RIFT's customers were in the Armed Forces, where Internet speeds are often slow and mobile usage is common.",
            contentParagraphs: [
              {
                contentText: "For MyRIFT to be considered a viable alternative to claiming through the RIFT Call Centre, we'd need the application to be optimised for small screens, and be reliable on even the slowest of network connections."
              }
            ]
          }
        ],
        contentBlockImage: {
          src: "/assets/images/case-studies/rift/image-3.png",
          alt: "Analytical Sofware"
        },
        contentBlockImageModifier: "rift-3"
      })
      +image({
        context: "content-block",
        src: "/assets/images/case-studies/rift/image-11.png",
        alt: "Analytical Sofware",
        modifier: "rift-11"
      })

  section.section      
      .container
        .centered-content.centered-content--rift
          .grid.grid--center-text
            .grid__item
              +content({
                contentHeading: "Move quickly and effectively",
                contentIntro: "A combination of quick-fire sketches and wireframing help facilitate ideation and conversation in the most efficient way.",
                contentParagraphs: [
                  {
                    contentText: "We relied heavily on low-fidelity prototypes in the early stages of our design exploration, helping us to quickly validate or discredit concepts, gain stakeholder buy-in, and ensure a single, shared vision."
                  }
                ]
              })
        .full-width
          +image({
            context: "full-width",
            src: "/assets/images/case-studies/rift/image-4.png",
            alt: "Wireframe Prototypes",
            modifier: "rift-4"
          })
  
  section.section
    .rift-metrics
      .rift-metrics__bg-shapes
        .rift-metrics__bg-shape
          img(src="/assets/images/case-studies/rift/bg-shape.png")
      .container
        .rift-metrics__grid
          .rift-metrics__image
            figure.case-study-image.case-study-image--rift-5
              img(src="/assets/images/case-studies/rift/image-5.png" alt="Eligibility Questionaire")
          .rift-metrics__content
            +content({
              contentHeading: "Focus on the lowest hanging fruit",
              contentIntro: "Historical data highlighted the registration processes as a key point of failure in converting prospective claimants.",
              contentParagraphs: [
                {
                  contentText: "A simple questionnaire helped us to quality leads without any form of human intervention, which had been a feature of the previous eligibility process. We also replaced an existing enquiry system with a more conventional registration form, creating a more conventional sign-up process, and further removing manual involvement from the RIFT team."
                }
              ]
            })
            +metrics({
              metricsSimplified: true,
              metricsIconModifier: "mobile",
              metricsTextBold: "14,600",
              metricsText: "people checked their eligibility in April 2020.",
              metricsModifier: "margin"
            })

  section.section
    .container
      .rift-documents-upload
        .rift-documents-upload__content
          +content({
            contentHeading: "Painless document uploads",
            contentIntro: "To prove their income and outgoings, users have to provide a range of documents as part of their claim.",
            contentParagraphs: [
              {
                contentText: "Claimants previously sent their files to a dedicated email address, meaning documents turned up in all sizes and formats, and the RIFT staff had to routinely manage the Inbox. We created a document upload system, allowing claimants to upload any number of wage slips or bank statements in a single action, and without any involvement from the RIFT team."
              }
            ]
          })
          +metrics({
            metricsSimplified: true,
            metricsIconModifier: "mobile",
            metricsTextBold: "1,000+",
            metricsText: "files are now uploaded in MyRIFT each month.",
            metricsModifier: "margin"
          })
        .rift-documents-upload__image
          figure.case-study-image.case-study-image--rift-6
            img(src="/assets/images/case-studies/rift/image-6.png" alt="Document Uploads")
          .full-width
            +image({
              context: "full-width",
              src: "/assets/images/case-studies/rift/image-10.png",
              alt: "Document Uploads",
              modifier: "rift-10"
            })

  section.section
    .container
      .rift-details-lookup
        .rift-details-lookup__image
          figure.case-study-image.case-study-image--rift-7
            img(src="/assets/images/case-studies/rift/image-7.png" alt="Bank Lookup")
        .rift-details-lookup__content
          +content({
            contentHeading: "Make it easy to give high-quality data",
            contentIntro: "Small improvements to a booking flow can have a big impact on the quality and quantity of data you’re able to capture.",
            contentParagraphs: [
              {
                contentText: "Rather than asking the user to enter every detail themselves, we used unique details like postcodes and registration numbers to lookup entire home addresses, employers, and vehicle details. To help customers select the bank account their refund was paid into, we also created a lookup that offered real-time suggestions; for example, ‘The Co-operative Bank’ will be recommended even if a user types 'Co-op bank’, or even 'Britannia’, who they merged with in 2009."
              }
            ]
          })
          +metrics({
            metricsModifier: "margin",
            metricsIconModifier: "rotate",
            metricItems: [
              {
                metricsUnit: "99.8%",
                metricsSubText: "address accuracy.",
                metricsText: "The 20,000 addresses captured in April 2020 were precise enough to successfully plot coordinates on a map in all but 50 cases."
              },
              {
                metricsUnit: "99%",
                metricsSubText: "vehicle accuracy",
                metricsText: "The 5,000 vehicles captured in April 2020 had a valid registration number, make, and model, in all but 50 cases."
              }
            ]
          })
  
  section.section
    .container
      .rift-outcome
        .rift-outcome__content
          h2.content-block__heading The outcome
          +content({
            contentHeading: "Happy customers. Happy client",
            contentIntro: "Such was the success of our initial work with RIFT, we're continuing to work together well into 2020.",
            contentParagraphs: [
              {
                contentText: "The pre-registation questionnaire and amended processes significantly improved conversion to registration, getting more and better qualified leads into the app, and increasing the number of claims submitted online."
              }
            ]
          })
          +metrics({
            metricsModifier: "margin",
            metricsIconModifier: "rotate",
            metricItems: [
              {
                metricsUnit: "192%",
                metricsSubText: "increase in claim submissions.",
                metricsText: "Claim submissions have almost quadrupled in the past 2 years, with more than 5,000 claims submitted in April 2020 alone."
              },
              {
                metricsUnit: "84%",
                metricsSubText: "increase in unqiue sign-ins.",
                metricsText: "The number of people using MyRIFT each month has increased significantly, with over 8,000 active users in March and April 2020."
              }
            ]
          })
        .rift-outcome__testimonial
          +testimonial({
            testimonialBlockQuote: "Leaf were a pleasure to work with – always available and willing to offer advice, or to put forward constructive suggestions. The decision to work with them is one we haven’t regretted, and I’d gladly recommend them to anyone looking to improve their own booking flow.",
            author: {
              authorName: "Bradley Post",
              authorDetails: "Managing Director — RIFT Group",
              authorThumbnail: {
                src: "assets/images/case-studies/rift/bradley.png",
                alt: "Bradley Post"
              }
            }
          })
      .full-width
        +image({
          context: "full-width",
          src: "/assets/images/case-studies/rift/image-8.png",
          alt: "Trustpilot Reviews",
          modifier: "rift-8"
        })