extends ../layouts/myrift.pug

block prepend vars
  -var pageTitle = "RIFT Case Study | Specialist Data Capture Experts | Leaf"
  -var metaUrl = "https://weareleaf.com/rift"
  -var metaTitle = "RIFT Case Study"
  -var metaDescription = "RIFT have helped win £153 million in tax refunds for their customers. We rethought their web platform, allowing users to submit and track their claims online."

  -var heroHeading = "Making tax simple"
  -var heroSubheading = "RIFT have helped Brits recoup more than £150m in tax refunds, and approached us to help simplify their online claim process."

block pageComponents
  +banner({
    href: '/case-studies'
  })

  .banner-spacer

  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section
    figure.image.image--rift-1
      img(src="/assets/images/case-studies/rift/image-1.png" alt="RIFT Components")

    .container
      +content-block({
        introHeading: true,
        contentBlockHeading: "Our approach",
        contentBlockItems: [
          {
            contentHeading: "Uncover existing pain-points",
            contentIntro: "Analytical software helps answer a range of questions, from how well an app is performing, to where users are struggling.",
            contentParagraphs: [
              {
                contentText: "We added Mixpanel to both the RIFT website and MyRIFT application, helping us to understand existing user behaviours, and to establish a baseline conversion rates for qualifying and converting new leads."
              }
            ]
          },
          {
            contentHeading: "Understand the audience",
            contentIntro: "Many of RIFT's customers were in the Armed Forces, where Internet speeds are often slow and mobile usage is common.",
            contentParagraphs: [
              {
                contentText: "For MyRIFT to be considered a viable alternative to claiming through the RIFT Call Centre, we'd need the application to be optimised for small screens, and be reliable on even the slowest of network connections."
              }
            ]
          }
        ],
        contentBlockImage: {
          src: "/assets/images/case-studies/rift/image-3.png",
          alt: "Analytical Sofware"
        }
      })
      .grid.grid--center-text
        .grid__item
          +content({
            contentHeading: "Move quickly and effectively",
            contentIntro: "A combination of quick-fire sketches and wireframing help facilitate ideation and conversation in the most efficient way.",
            contentParagraphs: [
              {
                contentText: "We relied heavily on low-fidelity prototypes in the early stages of our design exploration, helping us to quickly validate or discredit concepts, gain stakeholder buy-in, and ensure a single, shared vision."
              }
            ]
          })

    figure.image.image--rift-2
      img(src="/assets/images/case-studies/rift/image-4.png" alt="Wireframe Prototypes")
  
  section.section
    .metric-block
      .container
        .metric-block__grid
          .metric-block__image
            figure.image.image--rift-3
              img(src="/assets/images/case-studies/rift/image-5.png" alt="Eligibility Questionaire")
          .metric-block__content
            +content({
              contentHeading: "Focus on the lowest hanging fruit",
              contentIntro: "Historical data highlighted the registration processes as a key point of failure in converting prospective claimants.",
              contentParagraphs: [
                {
                  contentText: "A simple questionnaire helped us to quality leads without any form of human intervention, which had been a feature of the previous eligibility process. We also replaced an existing enquiry system with a more conventional registration form, creating a more conventional sign-up process, and further removing manual involvement from the RIFT team."
                }
              ]
            })
            +metrics({
              metricsSimplified: true,
              metricsTextBold: "14,600",
              metricsText: "people checked their eligibility in Apirl 2020.",
              metricsModifier: "margin"
            })
