extends ../layouts/content.pug

block prepend vars
  -var pageTitle = "RIFT Case Study - Leaf"
  -var metaUrl = "https://weareleaf.com/rift"
  -var metaTitle = "RIFT Case Study"
  -var metaDescription = "RIFT have helped claim back £153,000,000 in tax refunds, and we were tasked with rethinking MyRIFT, a web-based platform allowing users to submit their claim online."

block pageComponents
  +banner({
    href: '/case-studies'
  })

  .section.section--sm-spacing
    .container
      +intro({
        introImage: {
          src: "/assets/images/case-studies/rift/logo.svg",
          alt: "MyRIFT",
        },
        introText: "RIFT have helped claim back £153,000,000 in tax refunds, and we were tasked with rethinking MyRIFT, a web-based platform allowing users to submit their claim online."
      })

      +details({
        details: [
          {
            detailHeading: "Themes",
            detailText: "Consultancy, product design"
          },
          {
            detailHeading: "Deliverables",
            detailText: "Wireframes, prototypes, app"
          },
          {
            detailHeading: "Technology",
            detailText: "Ruby on Rails, JavaScript"
          },
          {
            detailHeading: "Platform",
            detailText: "Web"
          }
        ]
      })

  .section
    .container
      figure
        img(src="/assets/images/case-studies/rift/image-1.webp" alt="MyRIFT wireframes" onerror="this.onerror=null; this.src='/assets/images/case-studies/rift/image-1.jpg'")
        figcaption Various mobile-first wireframes from the application

      .grid.grid--two-thirds-reverse
        .grid__item
          +summary({
            summaryHeading: "What is it?",
            summaryText: "RIFT have helped claim back £153,000,000 in tax refunds, and we were tasked with rethinking MyRIFT, a web-based platform allowing users to submit their claim online."
          })

        .grid__item
          h2 The challenge
          p A confusing sign-up process and a lack of guidance through an unnecessarily complicated claim process meant MyRIFT was doing a poor job of converting leads into successful claims.
          p We were brought in to help eligible claimants sign-up for the MyRIFT, as well as leading them through the claims process itself, as well as increasing the quality of the information being captured.

          h2 Our approach

          h3 Uncover existing pain-points
          p To supplement our stakeholder research, we adding Mixpanel analytics to both the RIFT website and MyRIFT itself, helping us to both understand user behaviour and establish a baseline conversion rate for new leads.

          h3 Understand the audience
          p A large portion of RIFT's customer base work in the Armed Forces, where fast Internet speeds are poor and mobile usage high. For MyRIFT to be considered a viable alternative to a phone-based claim, we'd need the application be reliable even on the slowest of connections.

          h3 Move quickly and effectively
          p We relied heavily on prototypes in the early stages of our design exploration, helping us to quickly validate ideas, gain stakeholder buy-in, and ensure a single, shared vision.

      figure
        img(src="/assets/images/case-studies/rift/image-2.webp" alt="MyRIFT application" onerror="this.onerror=null; this.src='/assets/images/case-studies/rift/image-2.jpg'")

      .grid.grid--two-thirds
        .grid__item

          h3 Focus on the lowest hanging fruit
          p We completely rebuilt the pre-registration process; a key failure point for users. An eligibility questionnaire, helping RIFT to pre-quality leads without human intervention, was greatly simplified, and an enquiry process replaced with a registration form, removing further manual involvement from RIFT's staff.

          h3 Multi-document uploads
          p To make a tax claim, customers have to upload a large number of documents, inclduing wage slips to prove their income and receipts to verify purchases. We created a multi-document upload system, allowing customers to upload any number of documents at once.

          h3 Improve the quality of data captured
          p Entering complicated or detailed information is inherently difficult on a handheld device, and small changes can make a big difference to both the quality and quantity of data captured.

          p In MyRIFT, we made extensive use of powerful third-party <abbr title="Application Programming Interface">API</abbr> lookups to automatically make real-time suggestions as the user types. Along with the Google Maps <abbr title="Application Programming Interface">API</abbr> for capturing exact longitude and latitude values of a work location, we used further <abbr title="Application Programming Interface">API</abbr>s to look-up home addresses, employers, and vehicle details.

          p We also created a small database of banks, allowing customers to quickly add their bank details ahead of receiving their refund. The list make suggestions as the user types, and even accepts alternative or former names; for example, The Co-operative Bank will be suggested if a user starts typing 'Britannia', 'Co-operative Bank', or 'Co-op bank'.

          h2 The outcome
          p The pre-registation questionnaire and amended processes significantly improved conversion to registration, getting more and better qualified leads into the app. Such was the success our initial work with RIFT, we're continuing to work together well into 2020.