extends ../layouts/landing.pug

block prepend vars
  -var activePage = "self-service"
  -var pageClass = "landing"
  -var pageTitle = "Digital products for companies with call-centres - Leaf"
  -var metaUrl = "https://weareleaf.com/call-centres"
  -var metaTitle = "Digital products to drive customer self-service"
  -var metaDescription = "We blend technology and design to help businesses empower their customers online."

  -var heroHeading = "We make superfast applications."
  -var heroSubheading = "(allowing your customers to self-serve)"

block pageComponents
  +hero({
    heroHeading: heroHeading,
    heroSubheading: heroSubheading,
  })

  section.section(id="what-we-do")
    .container
      .grid.grid--statements
        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/consult.svg",
            statementHeading: "Consultancy",
            statementText: "We'll work together to guide your architectural and technical approaches, stepping you towards achieving your business goals.",
            statementLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/tasks.svg",
            statementHeading: "Performance audit",
            statementText: "We'll review your existing application, making detailed and prioritised recommendations, helping you focus your efforts.",
            statementLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/magic.svg",
            statementHeading: "UX Design",
            statementText: "We'll make sure your customers love your product, creating applications that meet not only their needs, but those of the business.",
            statementLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/code.svg",
            statementHeading: "Development",
            statementText: "If you'd like our help with implementing our recommendations, we'll ensure your product is as performant as your codebase is maintainable.",
            statementLink: {
              href: "javascript:void(0)",
              text: "Find out more",
              triggerModal: true
            }
          })

  section.section(id="our-work")
    .container
      +presentation({
        project: {
          projectSubHeading: "Laced",
          projectHeading: "21st century sneaker trading",
          projectText: "We moved Laced's rare sneaker trading business online, automating their buying, selling, shipping, and quality control.",
          projectButton: {
            buttonUrl: "/laced",
            buttonText: "See the case study"
          }
        },
        presentationImage: {
          src: "/assets/images/case-studies/laced/presentation.png",
          alt: "Laced"
        },
        imageModifier: "laced"
      })

      +presentation({
        project: {
          projectSubHeading: "MyRIFT",
          projectHeading: "Helping Brits claim back tax",
          projectText: "We helped RIFT re-imagine their web application, making tax refund claims easier to manage for their customers.",
          projectButton: {
            buttonText: "Find out more",
            buttonUrl: "javascript:void(0)",
            triggerModal: true
          }
        },
        presentationImage: {
          src: "/assets/images/case-studies/rift/presentation.png",
          alt: "RIFT"
        },
        presentationModifier: "reverse"
      })

  section.section.section--margin-b
    .container
      +company-logos

  section.section(id="company")
    .container
      .grid.grid--statements
        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/leaves.svg",
            statementHeading: "We nurture relationships",
            statementText: "As a remote organisation, we work with clients from all across the world. Our focus on cultivating relationships puts your success first."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/scales.svg",
            statementHeading: "Intentionally lean",
            statementText: "We hate the faceless conveyor belt model of larger agencies. Keeping our overheads low and our core team small means you'll always be a priority."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/communicate.svg",
            statementHeading: "We talk honestly, and often",
            statementText: "The most honest advice can sometimes be the most difficult to give. We’ll always be completely open and tell you the truth, even when it hurts."
          })

        .grid__item
          +statement({
            statementIcon: "/assets/images/icons/puzzle.svg",
            statementHeading: "Evolution, not revolution",
            statementText: "With existing products, we focus on continual improvement, delivering low-risk and fast results, one considered piece at a time."
          })

  section.section
    .container
      .grid.grid--profiles
        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/chris.jpg",
              alt: "Chris Annetts"
            },
            profileHeading: "Chris Annetts",
            profileText: "Design Director"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/mike.jpg",
              alt: "Mike Carter"
            },
            profileHeading: "Mike Carter",
            profileText: "Engineering Director"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/oj.jpg",
              alt: "Oliver Standeven"
            },
            profileHeading: "Oliver Standeven",
            profileText: "Software Engineer"
          })

        .grid__item
          +profile({
            profileImage: {
              context: "profile",
              src: "/assets/images/team/tina.jpg",
              alt: "Tina van Schelt"
            },
            profileHeading: "Tina van Schelt",
            profileText: "Software Engineer"
          })

        .grid__item
          +profile({
            profileImage: {
              src: "/assets/images/team/curt.jpg",
              alt: "Curtis Lee"
            },
            profileHeading: "Curtis Lee",
            profileText: "Product Designer"
          })
