extends ../layouts/page.pug

block prepend vars
  -var activePage = 'What we do'
  -var pageTitle = 'What we do - Leaf'
  -var metaUrl = "https://weareleaf.com/what-we-do"
  -var metaTitle = "What we do"
  -var metaDescription = "We take a three step approach when helping our clients to automate their businesses."

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroImage: {
      src: "/assets/images/heros/what-we-do.gif",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +block({
        blockHeading: "1. Analysis",
        blockContent: "<p>First, we <strong>listen to you</strong>. Before anything else, we'll seek to <strong>understand your business</strong>, to understand <strong>the problems you're having</strong>, and to understand <strong>your goals</strong> for automation.</p><p>Taking time to listen helps us to get a clear picture of what's important to you, and how we can best work with you to <strong>deliver value</strong>.</p><p>Once we have a shared understanding of your problems and goals, we'll then use techniques like <strong>staff shadowing</strong>, <strong>interviews</strong>, <strong>data analysis</strong>, and <strong>user research</strong> to uncover automation opportunities.</p>",
        blockImage: {
          src: "/assets/images/insight.jpg",
          alt: "Analysing your business"
        }
      })

      +block({
        blockHeading: "2. Recommendations",
        blockContent: "<p>We'll put together a report detailing a series of recommendations for specific software automations that will <strong>increase the speed</strong>, <strong>accuracy</strong>, <strong>scaleability</strong>, <strong>competitiveness</strong>, and <strong>global reach</strong> of your business.</p><p>In each case, we'll provide a clear explanation of how the automation works, how it's best implemented, and the value it will deliver. This way, you can be confident of a <strong>return on investment</strong>.</p><p>If you'd like to handle the implementation yourself from this point, that's fine. <strong>We can treat our recommendations as a standalone engagement</strong>. You're free to take the recommendations and implement them on your own, should you wish.</p>",
        blockImage: {
          src: "/assets/images/design.jpg",
          alt: "Writing our recommendations"
        },
        blockModifer: "reverse",
      })

      +block({
        blockHeading: "3. Implementation",
        blockContent: "<p>With a series of recommendations in hand, our team of software engineers and designers begin to implement them in priority order to ensure value is delivered early. Typically, this involves work like:</p><ul><li><strong>Creating or updating web and mobile apps</strong>, so that customers and staff can interact with your business on a self-service basis, from anywhere, and at any time.</li><li><strong>Improving information capture</strong>, so that data is more accurate, operating costs are reduced, and customer frustration is lower.</li><li><strong>Building Application Programming Interfaces (APIs)</strong>, so B2B partners can write software that connects with your business, and you can build new software products and services more easily.</li><li><strong>Integrating your systems with other APIs</strong> to automate common tasks, deliver additional functionality to your customers, and allow you to offer new products and services.</li><li><strong>Automatically enriching and cleaning up customer data</strong>, so that you can operate with high quality, immediately available information.</li><li><strong>Automatically extracting structured data from scans and images</strong>, so that your staff don't need to manually process physical documents or photos of documents.</li><li><strong>Automating business reporting and analytics</strong>, so that you always have the information you need to hand, and no staff time is being wasted manually collating this for you.</li></ul><p>We'll keep you involved at every step of the implementation, with sensitity to existing procedures, any staff training required, and other business deadlines. This way, you can relax knowing that delivery is going to be as frictionless as possible.</p>",
        blockImage: {
          src: "/assets/images/development.jpg",
          alt: "Implementating automation"
        }
      })

