extends ../layouts/page.pug

block prepend vars
  -var activePage = 'What we do'
  -var pageTitle = 'What we do - Leaf'
  -var metaUrl = "https://weareleaf.com/what-we-do"
  -var metaTitle = "What we do"
  -var metaDescription = "Research ensures our software automates the right problems, experience ensures we deliver effectively."

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroImage: {
      src: "/assets/images/what-we-do.webp",
      fallbackSrc: "/assets/images/what-we-do.png",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +block({
        blockHeading: "Research",
        blockContent: "<p>We use techniques like <strong>staff shadowing</strong> and <strong>behavioural analytics</strong> to help uncover automation opportunities, and recorded user sessions to validate any assumptions and establish an efficiency baseline in the existing processes.</p><p>We'll make a series of recommendations on how software could automate both internal processes and external data-capture, along with rationale on the benefits to your staff, customers, and bottom line.</p>",
        blockImage: {
          src: "/assets/images/insight.webp",
          fallbackSrc: "/assets/images/insight.jpg",
          alt: ""
        }
      })

      +block({
        blockHeading: "Design",
        blockContent: "<p>We design automated solutions to bottlenecks in your business processes, using <strong>sketching</strong>, <strong>wireframing</strong>, <strong>prototyping</strong>, and <strong>visual design</strong> to communicate a clear vision for how your software will work.</p><p>Introducing design-thinking early in the process allows us to identify and eliminate technological and design hurdles early on, while promoting confidence in the end result from stakeholders, staff, and customers.</p>",
        blockImage: {
          src: "/assets/images/design.webp",
          fallbackSrc: "/assets/images/design.jpg",
          alt: ""
        },
        blockModifer: "reverse",
      })

      +block({
        blockHeading: "Development",
        blockContent: "<p>We use technologies like <strong>React</strong>, <strong>Node.js</strong> and <strong>Ruby</strong> to build and deliver the designed solutions. To verify success, we measure our results with state of the art analytics.</p><p>Everything we build is backed by extensive <strong>automated testing</strong>, stringent <strong>code review</strong> processes, and live <strong>performance monitoring</strong> to ensure continual bug-free operation.</p>",
        blockImage: {
          src: "/assets/images/development.webp",
          fallbackSrc: "/assets/images/development.jpg",
          alt: ""
        }
      })

