extends ../layouts/page.pug

block prepend vars
  -var activePage = 'What we do'
  -var pageTitle = 'What we do - Leaf'
  -var metaUrl = "https://weareleaf.com/what-we-do"
  -var metaTitle = "What we do"
  -var metaDescription = "Research ensures our software automates the right problems, experience ensures we deliver effectively."

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroImage: {
      src: "/assets/images/what-we-do.webp",
      fallbackSrc: "/assets/images/what-we-do.png",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +block({
        blockHeading: "Research",
        blockContent: "<p>First, we verify the problems you're having. We use techniques like <strong>staff shadowing</strong>, <strong>behavioural analytics</strong>, and <strong>recorded user sessions</strong> to validate any assumptions and establish a baseline for efficiency in the processes you're looking to improve.</p><p>From this, we'll put together a series of <strong>recommendations</strong> for using software to improve your level of automation, along with rationale on the benefits to your staff, customers, and bottom line.</p>",
        blockImage: {
          src: "/assets/images/insight.webp",
          fallbackSrc: "/assets/images/insight.jpg",
          alt: ""
        }
      })

      +block({
        blockHeading: "Design",
        blockContent: "<p>Next, we work through each of our recommendations, designing automated solutions to bottlenecks in your business processes. We use <strong>sketching</strong>, <strong>wireframing</strong>, <strong>prototyping</strong>, and <strong>visual design</strong> to communicate a clear vision for how your software will work.</p><p>This allows us to identify and eliminate technological and design hurdles early on, while promoting confidence in the end result from stakeholders, staff, and customers.</p>",
        blockImage: {
          src: "/assets/images/design.webp",
          fallbackSrc: "/assets/images/design.jpg",
          alt: ""
        },
        blockModifer: "reverse",
      })

      +block({
        blockHeading: "Development",
        blockContent: "<p>Finally, we use technologies like <strong>React</strong>, <strong>Node.js</strong> and <strong>Ruby</strong> to build and deliver the designed solutions. To verify success, we measure the updated processes against our original baseline from the research phase.</p><p>Everything we build is backed by extensive <strong>automated testing</strong>, stringent <strong>code review</strong> processes, and live <strong>performance monitoring</strong> to ensure continual bug-free operation.</p>",
        blockImage: {
          src: "/assets/images/development.webp",
          fallbackSrc: "/assets/images/development.jpg",
          alt: ""
        }
      })

