extends ../layouts/page.pug

block prepend vars
  -var activePage = 'What we do'
  -var pageTitle = 'What we do - Leaf'
  -var metaUrl = "https://weareleaf.com/what-we-do"
  -var metaTitle = "What we do"
  -var metaDescription = "We don’t consider ourselves an agency, and don’t act like one. We’re in it for the long haul."

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroImage: {
      src: "/assets/images/what-we-do.webp",
      fallbackSrc: "/assets/images/what-we-do.png",
      alt: metaTitle
    }
  })

  section.section
    .container
      +block({
        blockHeading: "Insight",
        blockContent: "<ul class=\"styled-list styled-list--inside-sm\"><li class=\"styled-list__item\"><strong>Behavioural analytics</strong> allow you to see what users are doing on your digital products, identifying sticking points based on actual user data.</li><li class=\"styled-list__item\"><strong>Split testing</strong> allows us to put multiple variants of a feature head to head to see which is best for your business, driving continual improvement.</li><li class=\"styled-list__item\"><strong>Staff shadowing</strong> gives us insight into any unnecessary overheads in your business processes, identifying opportunities for automation.</li></ul>",
        blockImage: {
          src: "/assets/images/insight.webp",
          fallbackSrc: "/assets/images/insight.jpg",
          alt: ""
        }
      })

      +block({
        blockHeading: "Design",
        blockContent: "<ul class=\"styled-list styled-list--inside-sm\"><li class=\"styled-list__item\"><strong>Sketching and wireframing</strong> places a focus on the underlying design problems that need solving, rather than shallow visual details of your product.</li><li class=\"styled-list__item\"><strong>Prototyping</strong> provides a cost-effective method of overcoming technological and design hurdles before building a product or feature.</li><li class=\"styled-list__item\"><strong>Visual design</strong> gives a polished and professional validation to your product, whilst helping build trust and familiarity with your brand itself.</li><li class=\"styled-list__item\"><strong>Styleguides</strong> and <strong>Pattern libraries</strong> promote a consistent design language, informing future design decisions for more efficient development process.</li></ul>",
        blockImage: {
          src: "/assets/images/design.webp",
          fallbackSrc: "/assets/images/design.jpg",
          alt: ""
        },
        blockModifer: "reverse",
      })

      +block({
        blockHeading: "Development",
        blockContent: "<ul class=\"styled-list styled-list--inside-sm\"><li class=\"styled-list__item\"><strong>Software engineering</strong> with cutting edge JavaScript, Node and Ruby means we’re able to deliver value quickly on a wide range of products.</li><li class=\"styled-list__item\"><strong>Technical leadership</strong> is in our DNA. We promote best practices, ownership, and trust in order to get the best from development teams.</li><li class=\"styled-list__item\"><strong>Business automation</strong> removes bottlenecks in your daily operations with software. This promotes speed, quality, and scalability in your business.</li><li class=\"styled-list__item\"><strong>Automated testing</strong> checks that your products are working properly, meaning we can confidently make website or app changes at a moments notice.</li><li class=\"styled-list__item\"><strong>Peer reviewed code</strong> ensures that only well implemented work make it through to your customers, keeping quality high and bug counts low.</li></ul>",
        blockImage: {
          src: "/assets/images/development.webp",
          fallbackSrc: "/assets/images/development.jpg",
          alt: ""
        }
      })
