extends ../layouts/page.pug

block prepend vars
  -var activePage = 'What we do'
  -var pageTitle = 'What we do - Leaf'
  -var metaUrl = "https://weareleaf.com/what-we-do"
  -var metaTitle = "What we do"
  -var metaDescription = "We take a three step approach when helping our clients to automate their businesses."

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroText: metaDescription,
    heroImage: {
      src: "/assets/images/heros/what-we-do.gif",
      alt: "Alt text for hero image",
    }
  })

  section.section
    .container
      +block({
        blockHeading: "1. Analysis",
        blockContent: "<p>First of all, we'll make sure we <strong>understand your business</strong>, the <strong>problems you're having</strong>, and <strong>your automation goals</strong>. Taking time to listen helps us to get a clear picture of what's important to you, and how we can best <strong>deliver value</strong>.</p><p>Once we have a shared understanding of your problems and goals, we'll use techniques such as <strong>staff shadowing</strong>, <strong>interviews</strong>, <strong>data analysis</strong>, and <strong>user research</strong> to uncover automation opportunities.</p>",
        blockImage: {
          src: "/assets/images/insight.jpg",
          alt: "Analysing your business"
        }
      })

      +block({
        blockHeading: "2. Recommendations",
        blockContent: "<p>We'll create a report detailing automation opportunities that will <strong>increase the speed</strong>, <strong>accuracy</strong>, and <strong>scaleability</strong> of your business. Each recommendation will have a clear explanation of its value, helping you prioritise and budget based on the <strong>return on investment</strong>.</p><p>If at this point you'd like to handle the implementation yourself, either in-house or through a third-party, <strong>we can treat our recommendations as a standalone engagement</strong>. You'll never be locked into services you don't need or want.</p>",
        blockImage: {
          src: "/assets/images/design.jpg",
          alt: "Writing our recommendations"
        },
        blockModifer: "reverse",
      })

      +block({
        blockHeading: "3. Implementation",
        blockContent: "<p>With sensitivity to existing business procedures and deadlines, our team of software engineers and designers begin to implement our recommendations in priority order to ensure value is delivered early. Typically, this may involve:</p><ul class='styled-list styled-list--inside-sm'> <li class='styled-list__item'><strong>Creating or updating web and mobile apps</strong>, so that customers and staff can interact with your business on a self-service basis, from anywhere, and at any time.</li><li class='styled-list__item'><strong>Improving information capture</strong>, so that data is more accurate, operating costs are reduced, and customer frustration is lower.</li><li class='styled-list__item'><strong>Building APIs</strong>, so B2B partners can write software that connects with your business, and you can build new software products and services more easily.</li><li class='styled-list__item'><strong>Integrating third-party APIs</strong> to automate common tasks, deliver additional functionality to your customers, and allow you to offer new products and services.</li><li class='styled-list__item'><strong>Automatically enriching and cleaning up customer data</strong>, so that you can operate with high quality, immediately available information.</li><li class='styled-list__item'><strong>Automatically extracting structured data from scans and images</strong>, so that your staff don't need to manually process physical documents or photos of documents.</li><li class='styled-list__item'><strong>Automating reporting and analytics</strong>, so that you always have the information you need to hand, and no staff time is being wasted manually collating this for you.</li></ul>",
        blockImage: {
          src: "/assets/images/development.jpg",
          alt: "Implementating automation"
        }
      })

