extends ../layouts/page.pug

block prepend vars
  -var activePage = 'What we do'
  -var pageTitle = 'What we do - Leaf'
  -var metaUrl = "https://weareleaf.com/what-we-do"
  -var metaTitle = "We know our onions."
  -var metaDescription = "(at least how to Expertly plan, design, and build products)"

block pageComponents
  +hero({
    heroHeading: metaTitle,
    heroSubheading: metaDescription,
  })

  section.section
    .container
      +block({
        blockContent: "<div class=\"content-block\"><h3>Heading</h3><p>This is some text</p></div><div class=\"content-block\"><h3>Heading</h3><p>This is some text</p></div><div class=\"content-block\"><h3>Heading</h3><p>This is some text</p></div>",
        blockImage: {
          src: "/assets/images/research-image-group.png",
          alt: "Research"
        },
        blockModifer: "reverse",
      })
