extends ../layouts/content.pug

block prepend vars
  -var pageTitle = "Zendesk Case Study - Leaf"
  -var metaUrl = "https://weareleaf.com/zendesk"
  -var metaTitle = "Zendesk Case Study"
  -var metaDescription = "We helped Zendesk create a landing page that not only celebrate the tranquil simplicity of afternoon tea, but allowed users to receive a tea-themed box of goodies."

block pageComponents
  +banner({
    bannerModifer: "zendesk",
    bannerImage: {
      src: "/assets/images/zendesk/header.jpg",
      alt: metaTitle
    },
  })

  .section.section--sm-spacing
    .container
      +intro({
        introImage: {
          src: "/assets/images/zendesk/logo.svg",
          alt: "Zendesk",
        },
        introText: "We helped Zendesk create a landing page that not only celebrate the tranquil simplicity of afternoon tea, but allowed users to receive a tea-themed box of goodies."
      })

  .section
    .container
      figure
        img(src="/assets/images/zendesk/inline-1.webp" alt="Zendesk landing page" onerror="this.onerror=null; this.src='/assets/images/zendesk/inline-1.jpg'")

      .grid.grid--two-thirds-reverse
        .grid__item
          +summary({
            summaryHeading: "What is it?",
            summaryText: "Zendesk are an industry-leading customer service software company, based in San Francisco, California,"
          })

        .grid__item
          h4 The challenge
          p The event was released internationally, with the landing page being presented in French, German, and Russian, as well as English. In order to ease this registration process, an API was required to handle Zendesk's user registrations and integrate with a proprietary sales system.

      figure
        img(src="/assets/images/zendesk/inline-2.webp" alt="Zendesk landing page" onerror="this.onerror=null; this.src='/assets/images/zendesk/inline-2.jpg'")

      .grid.grid--two-thirds
        .grid__item
          h4 Our approach
          p Using the Scuba Diver and the Astronaut from Zendesk's much-loved Relationships Are Complicated campaign, allowed us to create a set of pages that were a continuation of recent Zendesk events.
          p We built the landing page using placeholders for content rather than hard-coding in text. This allowed us to automate the process of translating these landing pages into any language by simply creating a new translations file for the language, rather than manually copying and pasting pages.
          p To handle user registrations, we built a small Ruby API that integrated with the sales system supporting the campaign. In order to avoid disruptive page refreshes to registering users, we also created a small JavaScript registrations handler, providing input validation and data submissions.

          h4 The outcome
          p Zendesk were able to run a successful marketing campaign across multiple languages using our work, and were happy enough with the success of their first campaign that in the winter of 2016, we worked together on a second, follow-up campaign.
