extends ../templates/base/_base

block prepend vars
  -var bodyClass = "job-page"
  -var title = "Designer position - Leaf"

block content

  //- Hero banner
  +hero-banner({
    intro: "We're looking for someone enough passion to fill a small stadium. You live and breathe design, the small details matter, and you're hell-bent on becoming a better you.",
    title: "Designer: job role"
  })

  main

    section.section
      .section__inner

        .section__content

          h3 About Leaf
          p We are Leaf; a small design and development studio in the South-East of England. We're still relatively young (currently planning our 2nd birthday party), but have already worked with some pretty cool brands, including the likes of Zendesk and Holiday Extras. Having established ourselves, we're now looking to expand our core team.

          h3 About the role
          p Were looking for fresh design talent to help create beautiful, functional and accessible web products. We're a small team, so you'll be expected to wear a few hats. To us, the term 'designer' encapsulates everything from streamling microcopy to photo manipulation.
          p You may straight out of university, or you could be a 10-year industry veteran. We're not big using experience as our barometer, nor are we necessary looking for the finished article. Above all else, we're looking for character.

          h3 About you
          ul
            li You have background in design; either educational or vocational
            li You're a natural communicator. Being able to articulate your point, both internally and to clients, is everything
            li You've got some portfolio pieces that you can't wait to show off
            li You love to teach what you know, and learn what you don't
            li You think Atom or Sublime Text are far cooler places to hang out than Photoshop
            li You're bursting with passion; an absolute bucket load of it

          h3 Location
          p We're based in Canterbury; famous for its cathedrals, cobbles and tales. We're very happy for you to either join us in Kent or work remotely; whatever's going to allow you to do your best work. If you do work remotely, the only thing we ask is that you drop in to Canterbury every couple of months.

          h3 Salary
          p If you're a good fit, your salary will be entirely based on your current skill set and experience. To give a ballpark, a fresh-faced design talent should expect around £20,000-per-anum, with a seriously impressive all-rounder taking home closer to £30,000-a-year.

        aside.section__aside
          h3 What you'll get
          ul
            li A competitive salary
            li A new Macbook Pro
            li Remote working oppertunity
            li Flexible working hours
            li 25 days holiday a year
            li Your birthday off
            li 6 monthly role and salary reviews
            li Treated like an adult
            li Hopefully, a few new friends!

        .section__content

          h3 How to apply
          p If reading about this position gave you butterflies, we want to hear for you. Tell us a bit about yourself, along with a CV, some examples of your work, and let us know why you'd be a good fit.
          a.link-callout(href="mailto:careers@weareleaf.com?subject=Designer%20role%20at%20Leaf") careers@weareleaf.com
