extends ../templates/base/_base

block prepend vars
  -var bodyClass = "job-page"
  -var title = "Product Designer position - Leaf"

block header
  //- Open Graph
  +facebook-metadata({
    title: "Product Designer position - Leaf",
    description: "We're looking for a designer who values effort, desire, passion, and responsibility. The small details mean everything, and you're hell-bent on becoming a better you.",
    image: "http://www.weareleaf.com/images/leaf-logo-1200.png",
    type: "business.business",
    url: "http://www.weareleaf.com/careers/product-designer"
  })

  //- Twitter card
  +twitter-metadata({
    title: "Product Designer position - Leaf",
    description: "We're looking for a designer who values effort, desire, passion, and responsibility. The small details mean everything, and you're hell-bent on becoming a better you.",
    site: "@we_are_leaf",
    image: "http://www.weareleaf.com/images/leaf-logo-1200.png"
  })

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      },
      callToActionArgs: {
        link: "/contact",
        name: "Let's chat"
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "We're looking for a designer who values effort, desire, passion, and responsibility. The small details mean everything, and you're hell-bent on becoming a better you.",
      inverse: true,
      title: "Product Designer: Job Role"
    }
  })

  +section({})

    aside.section__content__aside
      h4 What you'll get

      ul
        li £20,000 - £30,000 p/a
        li A new Macbook Pro
        li The opportunity to work remotely
        li Flexible working hours
        li 20 days holiday per year
        li Your birthday off
        li 6 monthly role reviews
        li A few new friends!


    .section__content__main

      h3 About Leaf
      p We are Leaf; a small product-focused studio in South-East England, helping organisations build better digital products. Now in our third year, we're looking to expand our core team.

      h3 About the role

      p We're looking for a talented designer to help create beautiful, functional and accessible web products. To us, the term 'design' means more than drop shadows and border radius'; you'll be sweating over microcopy, embracing constraints, and questioning everything.

      p Your design career may be in its infancy, or you might be a 10-year industry veteran. We're not big using experience as our barometer, nor are we necessary looking for the finished article. Above all else, we're looking for character.


      h3 We're looking for

      ul
        li You have background in design, with at least a year of industry experience  
        li You're a natural communicator. Being able to articulate your point, both internally and to clients, is essential  
        li You have a portfolio of interface work you can't wait to show off
        li You love to teach what you know, and learn what you don't
        li You're bursting with passion, and have a natural drive to better yourself

      h3 Bonus points if...

      ul
        li You're as comfortable in Atom or Sublime as you are in a design application
        li You've used or even created Pattern libraries and styleguides
        li You've got static prototyping experience (e.g. Marvel, InVision)
        li You create your own product illustrations 
        li You're a keen and talented photographer

      h3 Location

      p We're based in Canterbury; famous for its cathedrals, cobbles and tales. We're very happy for you to either join us in Kent or work remotely; whatever's going to allow you to do your best work. If you do work remotely, the only thing we ask is that you drop in to Canterbury every couple of months.

      h3 Salary

      p If you're a good fit, your salary will be entirely based on your current skill set and experience. To give a ballpark, a fresh-faced design talent should expect around £20,000-per-anum, with a seriously impressive all-rounder taking home closer to £30,000-a-year. 

      h3 How to apply

      p If reading about this position gave you butterflies, we want to hear for you. Tell us a bit about yourself, along with a CV, some examples of your work, and let us know why you'd be a good fit. 

      a.link-callout(href="mailto:hello@weareleaf.com?subject=Product%20Designer%20role%20at%20Leaf") hello@weareleaf.com
