extends ../templates/base/_base

block prepend vars
  -var bodyClass = "job-page"
  -var title = "Software Engineer position - Leaf"

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      },
      callToActionArgs: {
        link: "/contact",
        name: "Let's chat"
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "We're looking for someone enough passion to fill a small stadium. You live and breathe development, the small details matter, and you're hell-bent on becoming a better you.",
      inverse: true,
      title: "Software Engineer: job role"
    }
  })

  +section({})

    aside.section__content__aside
      h4 What you'll get

      ul
        li A competitive salary
        li A new Macbook Pro
        li Remote working opportunity
        li Flexible working hours
        li 20 days holiday a year
        li Your birthday off
        li 6 monthly role reviews
        li Hopefully, a few new friends!

    .section__content__main

      h3 About Leaf

      p We are Leaf; a small design and development studio in the South-East of England. We're still relatively young (currently planning our 2nd birthday party), but have already worked with some pretty cool brands, including the likes of Zendesk and Holiday Extras. Having established ourselves, we're now looking to expand our core team.

      h3 About the role

      p We're looking for smart, driven, adaptable, product-minded and communicative Software Engineers to help us build cutting edge web applications. At Leaf, a Software Engineer works on all parts of the stack, from configuring web services and writing APIs, to setting up continuous integration and building buttery smooth front-ends with the latest and greatest JavaScript frameworks.

      p Vast amounts of industry experience aren't necessary, but the drive and willingness to self-teach and take an independent lead are a must. You will be supported gladly, but not hand-held through your day.

      h3 We're looking for

      ul
        li Some background in software development; either educational or vocational.
        li At a minimum, we expect your skills to be strong enough to be able to get things done without constant supervision, and self-improve along the way.
        li A natural communicator. Being able to articulate your point, both internally to other techies, and externally to non-technical clients, is everything.
        li A product mindset. You'll need an appreciation for your users, and a sense of duty around building loveable products.
        li Examples of your work; anything from side projects to full blown large-scale production software.

      h3 Location

      p We're based in Canterbury; famous for its cathedrals, cobbles and tales. We're very happy for you to either join us in Kent or work remotely; whatever's going to allow you to do your best work. If you do work remotely, the only thing we ask is that you drop in to Canterbury every couple of months.

      h3 Salary

      p Your salary will be entirely based on the value we think you can add to what we do, and will be continually assessed as you skill up.. To give a ballpark, a fresh-faced developer should expect around £20,000-per-anum, with a seriously impressive all-rounder taking home closer to £30,000-a-year.

      h3 How to apply

      p If reading about this position gave you butterflies, we want to hear for you. Tell us a bit about yourself, along with a CV, some examples of your work, and let us know why you'd be a good fit.

      a.link-callout(href="mailto:hello@weareleaf.com?subject=Software%20Engineer%20role%20at%20Leaf") hello@weareleaf.com
