extends ../templates/base/_base

block prepend vars
  -var bodyClass = "job-page"
  -var title = "Software Engineer position - Leaf"

block content

  //- Hero banner
  +hero-banner({
    mastheadArgs: {
      logoArgs: {
        white: true
      },
      navigationArgs: {
        white: true
      },
      callToActionArgs: {
        link: "/contact",
        name: "Let's chat"
      }
    },
    heroBannerArgs: {
      green: true
    },
    pageHeaderArgs: {
      intro: "We'ree looking for a developer with enough passion to fill a small stadium. You live and breathe code, the small details matter, and you're hell-bent on becoming a better you.",
      inverse: true,
      title: "Software Engineer: Job Role"
    }
  })

  +section({})

    aside.section__content__aside
      h4 What you'll get

      ul
        li £19,000 - £24,000 p/a
        li 15" Retina Macbook Pro
        li Remote working
        li Flexible working hours
        li 20 days holiday a year
        li Your birthday off
        li 6 monthly performance reviews
        li A few new friends!

    .section__content__main

      h3 About Leaf
      p We are Leaf; a small design and development studio in the South-East of England. We're very young, but have already worked with some pretty cool brands, including the likes of <a href="https://www.zendesk.com/">Zendesk</a> and <a href="http://www.holidayextras.co.uk/">Holiday Extras</a>. Having smashed our first year, we're now looking to hire our first employee.

      h3 About the role

      p We're looking for driven, adaptable, product-minded and communicative Software Engineers to help us build cutting edge web applications using JavaScript and Ruby on Rails. At Leaf, a Software Engineer works on all parts of the stack, from configuring web services and writing APIs, to setting up continuous integration and building buttery smooth front-ends with React.

      p We're more interested in where you want to go, than where you've been, so industry experience isn't a must, but raw ability, a drive to self-teach and the instinct to take an independent lead are critically important. You will be supported gladly, but will not always be hand-held through your day.

      p As our first employee, we'll be expecting you to help us grow our little business and grow yourself into one of the most senior people on our team. If that doesn't excite you, then this job isn't for you.

      h3 We're looking for
      ul
        li <strong>Proof that you can program:</strong> This could be anything from a side project to a web application you've worked on previously. We expect your skills to be strong enough to be able to get work done without constant supervision, and self-improve along the way. Experience with either Ruby on Rails or JavaScript is a bonus here.
        li <strong>A natural communicator:</strong> Being able to articulate your point to technical and non-technical people alike is everything.
        li <strong>A product mindset:</strong> You'll need an appreciation for your users, and a sense of duty around building loveable products.

      h3 Location

      p We're based in Canterbury; famous for it's Cathedral, cobbles and tales. We're very happy for you to either join us in Kent or work remotely; whatever's going to allow you to do your best work. If you do work remotely, the only thing we ask is that you drop in to Canterbury every few months for some facetime.

      h3 Salary

      p We understand that making a good living is important to you, and that we're nothing without our staff, so your salary will be continually assessed every 6 months as you skill up. There's no upper limit to this, simply put, we'll pay what we can afford to pay our staff relative to the value they deliver to the business, and we'll be open and honest with you about how we think you progress and grow.

      h3 How to apply

      p If reading about this position gave you butterflies, we want to hear for you. Tell us a bit about yourself, along with a CV, some examples of your work, and let us know why you'd be a good fit.

      a.link-callout(href="mailto:hello@weareleaf.com?subject=Software%20Engineer%20role%20at%20Leaf") hello@weareleaf.com
