.modal {
  display: none;

  &-open {
    overflow: hidden;
  }

  &.is-open {
    display: block;
  }

  &__overlay {
    background-color: rgba(13, 13, 38, .92);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    will-change: opacity;
    z-index: z('default');

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .modal[aria-hidden='false'] & {
      animation: mmfadeIn $duration-3 $timing-ease;
    }

    .modal[aria-hidden='true'] & {
      animation: mmfadeOut $duration-3 $timing-ease;
    }
  }

  &__container {
    background-color: $color-indigo;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    width: 100%;
    will-change: transform;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      display: block;
      border-radius: 1rem;
      height: auto;
      max-width: 44rem;
      width: calc(100vw - 8em);
    }

    .modal[aria-hidden='false'] & {
      animation: mmslideIn $duration-3 $timing-ease;
    }

    .modal[aria-hidden='true'] & {
      animation: mmslideOut $duration-3 $timing-ease;
    }
  }

  &__close {
    @include focus-ring;
    @include touch-boost;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: $font-size-h2;
    line-height: 1;
    outline: none;
    margin-right: 0;
    position: absolute;
    right: $spacing-6;
    top: $spacing-6;

    &::before {
      content: url('/assets/images/icons/close.svg');
    }
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5%);
  }
}
