.modal {
  display: none;

  &-open {
    overflow: hidden;
  }

  &.is-open {
    display: block;
  }

  &__overlay {
    align-items: center;
    background-color: $color-grey-dark-transparent;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    will-change: opacity;
    z-index: 1001;

    .modal[aria-hidden='false'] & {
      animation: mmfadeIn $duration-2 $timing-ease;
    }

    .modal[aria-hidden='true'] & {
      animation: mmfadeOut $duration-2 $timing-ease;
    }
  }

  &__container {
    background-color: $color-white;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow-y: auto;
    width: 100%;
    will-change: transform;

    @media screen and (min-width: map-get($breakpoint, "breakpoint-1")) {
      border-radius: $border-radius;
      height: auto;
      max-width: 62rem;
      width: calc(100vw - 8em);
    }

    .modal[aria-hidden='false'] & {
      animation: mmslideIn $duration-2 $timing-ease;
    }

    .modal[aria-hidden='true'] & {
      animation: mmslideOut $duration-2 $timing-ease;
    }
  }

  &__close {
    background: transparent;
    border: $border-none;
    cursor: pointer;
    font-size: $font-size-h2;
    line-height: 1;
    outline: none;
    padding: 0;
    position: absolute;
    right: $spacing-4 * 1.5;
    top: $spacing-4 * 1.5;

    &::before {
      color: rgba(111, 112, 117, 0.6);
      content: '\2715';
    }
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5%);
  }
}
