include _mixins

block vars
  -var brand = 'Leaf'

doctype html
//if lt IE 7
    <html class='no-js lt-ie9 lt-ie8 lt-ie7'>
//if IE 7
    <html class='no-js lt-ie9 lt-ie8'>
//if IE 8
    <html class='no-js lt-ie9'>
// [if gt IE 8] <!
html(class='no-js', lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    title #{brand}

    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1.0')

    meta(http-equiv='cleartype', content='on')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='#{brand}')

    link(rel='stylesheet', href='/styles/main.css')

  body(dir='ltr', class='#{bodyClass}')

    <!--[if lt IE 9]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    if bodyClass == 'home-page'
      include ../modules/jumbotron
    else
      include ../layout/header

    .content-wrapper

      block content

      include ../layout/footer

    if bodyClass == 'home-page'
      include ../modules/video

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.1.js"><\/script>')

    //- Uncomment one of the lines below to pull in either your app JS, or some library JS.
    //- script(src='/scripts/app/main.js') //- A single page application script.
    //- script(src='/scripts/lib/demoLib.js') //- A project built lib script.
    //- script(src='/lib/foo/bar.min.js') //- A bower installed script.

    block footerScripts