//- Masthead
//-
//- A conventional header, grouping both the brand logo and the primary navigation


//- Options
//- -- logoArgs
//- -- navigationArgs


mixin masthead(args)
  if args.logoArgs
    - var noLink = args.logoArgs.static ? args.logoArgs.static : null

  .masthead
    .masthead__logo
      if noLink
        .masthead__logo__inner
          +logo(args.logoArgs || {})
      else
        a.masthead__logo__link(href="/")
          +logo(args.logoArgs || {})
          
    if args.callToActionArgs
      .masthead__actions
        a.masthead__actions__button.button(href=args.callToActionArgs.link)= args.callToActionArgs.name
    else if args.navigationArgs
      +navigation(args.navigationArgs)
