//- Page header
//-
//- A page header to introduce the purpose of the current page


//- Options
//- -- intro
//- -- title


mixin page-header(args)
  - var pageHeaderClass = args.inverse ? "page-header--inverse" : null

  .page-header(class=pageHeaderClass)
    .page-header__inner
      h1.page-header__title #{args.title}
      p.page-header__intro #{args.intro}
