.page-header {
  margin-bottom: $spacing-vertical * 3;

  &--sm-spacing {
    margin-bottom: $spacing-vertical;
  }

  &__heading {
    font-size: 2em;
  }

  &__text {
    font-size: 1.1em;
    margin: 0;
    max-width: 27em;
  }
}
