mixin next-project(c)
  a.next-project(href= c.nextProjectUrl)
    .next-project__inner
      .next-project__content
        h5.next-project__heading Next case study
        .next-project__name
          p.next-project__text= c.nextProjectText
          span.next-project__arrow &rarr;


