.contact {

  @media screen and (min-width: map-get($bp, 'md')) {
    background: url('../images/contact.jpg') no-repeat 40rem center / auto 100%;
    display: flex;
  }

  &__sidebar {
    display: flex;
    justify-content: space-around;
    padding: $spacing-5;

    @media screen and (min-width: map-get($bp, 'sm')) {
      background-color: $color-grey-green;
    }

    @media screen and (min-width: map-get($bp, 'md')) {
      flex: 0 0 auto;
      flex-direction: column;
      order: 0;
      padding: $spacing-6;
    }

    .social-tile {
      margin-right: $spacing-horizontal * 2;
      @media screen and (min-width: 66.25em) {
        margin-right: 0;
        margin-bottom: $spacing-vertical * 2;
      }
    }
  }

  &__content {
    padding: $spacing-6;

    @media screen and (min-width: map-get($bp, 'md')) {
      order: 1;
    }
  }

  &__tile {
    border-bottom: 3px solid $color-grey-lightest;
    margin-bottom: $spacing-6;
    padding-bottom: $spacing-6;

    &:last-child {
      margin-bottom: 0;

      @media screen and (min-width: map-get($bp, 'sm')) {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
