.contact {
  &__footer {
    display: flex;
    justify-content: space-around;
    padding: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      background-color: #28288B;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      padding: $spacing-6 $spacing-5;
    }

    .social-tile {
      margin-right: $spacing-6;
      @media screen and (min-width: map-get($breakpoints, "breakpoint-5")) {
        margin-right: 0;
      }
    }
  }

  &__content {
    display: flex;
    padding: $spacing-7;
  }

  &__tile {
    border-bottom: $border-default;

    &:not(:last-child) {
      margin-right: $spacing-8;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      border-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;

      @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
