mixin contact
  .contact
    .contact__content
      .contact__tile
        +contact-tile({
          contactTileHeading: "New work",
          contactTileText: "Tell us what you’re looking to achieve, and we’ll reply within 24 hours to let you know if we think we can help.",
          contactTileButton: {
            buttonModifier: "small",
            buttonUrl: "/project-planner",
            buttonText: "enquiries@weareleaf.com"
          }
        })

      .contact__tile
        +contact-tile({
          contactTileHeading: "Ask us anything",
          contactTileText: "If you’ve got a question for us, a proposal, or simply want to say hello, we’re all ears.",
          contactTileButton: {
            buttonModifier: "small",
            buttonUrl: "mailto:hello@weareleaf.com",
            buttonText: "hello@weareleaf.com"
          }
        })

    .contact__footer
      .contact__social-tile
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/twitter.svg",
            alt: "Twitter"
          },
          socialTileHeading: "Twitter",
          socialTileText: "Leaf on Twitter",
          socialTileHandle: "@we_are_leaf",
          socialTileLink: "https://www.twitter.com/we_are_leaf"
        })

      .contact__social-tile
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/facebook.svg",
            alt: "Facebook"
          },
          socialTileHeading: "Facebook",
          socialTileText: "Leaf on Facebook",
          socialTileHandle: "/weareleaf",
          socialTileLink: "https://www.facebook.com/weareleaf"
        })

      .contact__social-tile
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/linkedin.svg",
            alt: "LinkedIn"
          },
          socialTileHeading: "LinkedIn",
          socialTileText: "Leaf on LinkedIn",
          socialTileHandle: "/weareleaf",
          socialTileLink: "https://www.linkedin.com/company-beta/10969781/"
        })
        
      .contact__social-tile
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/dribbble.svg",
            alt: "Dribbble"
          },
          socialTileHeading: "Dribbble",
          socialTileText: "Leaf on Dribbble",
          socialTileHandle: "/leaf",
          socialTileLink: "https://dribbble.com/leaf"
        })
