mixin contact
  .contact
    .contact__content
      .contact__tile
        +contact-tile({
          contactTileHeading: "New work",
          contactTileText: "Tell us what you’re looking to achieve, and we’ll let you know if we're well placed to help.",
          contactTileButton: {
            buttonModifier: "small",
            buttonUrl: "mailto:enquiries@weareleaf.com",
            buttonText: "enquiries@weareleaf.com"
          }
        })

      .contact__tile
        +contact-tile({
          contactTileHeading: "Ask us anything",
          contactTileText: "If you’ve got a question for us, a proposal, or simply want to say hello, then feel free to drop us an email.",
          contactTileButton: {
            buttonModifier: "small",
            buttonUrl: "mailto:hello@weareleaf.com",
            buttonText: "hello@weareleaf.com"
          }
        })

    .contact__footer
      .contact__social-tile
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/twitter.svg",
            alt: "The Twitter logo"
          },
          socialTileHeading: "Twitter",
          socialTileHandle: "@we_are_leaf",
          socialTileLink: "https://www.twitter.com/we_are_leaf"
        })

      .contact__social-tile
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/facebook.svg",
            alt: "The Facebook logo"
          },
          socialTileHeading: "Facebook",
          socialTileHandle: "/weareleaf",
          socialTileLink: "https://www.facebook.com/weareleaf"
        })

      .contact__social-tile
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/linkedin.svg",
            alt: "The LinkedIn logo"
          },
          socialTileHeading: "LinkedIn",
          socialTileHandle: "/weareleaf",
          socialTileLink: "https://www.linkedin.com/company-beta/10969781/"
        })

      .contact__social-tile
        +social-tile({
          socialTileIcon: {
            src: "/assets/images/icons/social/dribbble.svg",
            alt: "The Dribbble logo"
          },
          socialTileHeading: "Dribbble",
          socialTileHandle: "/weareleaf",
          socialTileLink: "https://dribbble.com/leaf"
        })
