mixin contact
  .contact
    .contact__content
      .contact__tile
        +contact-tile({
          heading: "New work",
          text: "Tell us what you’re looking to achieve, and we’ll let you know if we're well placed to help.",
          button: {
            modifier: "small",
            url: "mailto:enquiries@weareleaf.com",
            text: "enquiries@weareleaf.com"
          }
        })

      .contact__tile
        +contact-tile({
          heading: "Ask us anything",
          text: "If you’ve got a question for us, a proposal, or simply want to say hello, then feel free to drop us an email.",
          button: {
            modifier: "small",
            url: "mailto:hello@weareleaf.com",
            text: "hello@weareleaf.com"
          }
        })

    .contact__footer
      .contact__social-tile
        +social-tile({
          icon: {
            src: "/assets/images/icons/social/twitter.svg",
            alt: "The Twitter logo"
          },
          heading: "Twitter",
          handle: "@we_are_leaf",
          link: "https://www.twitter.com/we_are_leaf"
        })

      .contact__social-tile
        +social-tile({
          icon: {
            src: "/assets/images/icons/social/facebook.svg",
            alt: "The Facebook logo"
          },
          heading: "Facebook",
          handle: "/weareleaf",
          link: "https://www.facebook.com/weareleaf"
        })

      .contact__social-tile
        +social-tile({
          icon: {
            src: "/assets/images/icons/social/linkedin.svg",
            alt: "The LinkedIn logo"
          },
          heading: "LinkedIn",
          handle: "/weareleaf",
          link: "https://www.linkedin.com/company-beta/10969781/"
        })

      .contact__social-tile
        +social-tile({
          icon: {
            src: "/assets/images/icons/social/dribbble.svg",
            alt: "The Dribbble logo"
          },
          heading: "Dribbble",
          handle: "/weareleaf",
          link: "https://dribbble.com/leaf"
        })
