.close {
  @include focus-ring;
  background-color: var(--color-container);
  border-radius: $border-radius-full;
  padding: $spacing-5;
  position: absolute;
  right: $spacing-7;
  top: $spacing-7;
  width: $size-5;
  
  &__icon {
    align-items: center;
    display: flex;
    height: $size-1;
    justify-content: center;
    width: $size-1;
  }
}
