mixin close(c)
  a.close(href= c.url aria-label="Close")
    .close__icon
      svg(width="16px" height="16px" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g#Symbols(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
          g(id="Actions-/-Close-/-Close-icon" fill="none" fill-rule="nonzero" style="fill: var(--color-close);")
            path#Close(d="M10.3797872,8 L15.7658713,2.61408415 C16.0773762,2.30258902 16.0773762,1.79709692 15.7658713,1.4851018 L14.5143518,0.23362135 C14.2028469,-0.0778737832 13.697339,-0.0778737832 13.3853341,0.23362135 L7.99975,5.62003719 L2.61366584,0.234121342 C2.30216097,-0.077373791 1.79665307,-0.077373791 1.4846482,0.234121342 L0.23362865,1.4851018 C-0.0778762168,1.79659693 -0.0778762168,2.30208903 0.23362865,2.61408415 L5.61971281,8 L0.23362865,13.3859158 C-0.0778762168,13.697411 -0.0778762168,14.2029031 0.23362865,14.5148982 L1.48514821,15.7663787 C1.79665307,16.0778738 2.30216097,16.0778738 2.61416585,15.7663787 L7.99975,10.3799628 L13.3858342,15.7658787 C13.697339,16.0773738 14.2028469,16.0773738 14.5148518,15.7658787 L15.7663713,14.5143982 C16.0778762,14.2029031 16.0778762,13.697411 15.7663713,13.3854159 L10.3797872,8 Z")