.contact-tile {
  &__text {
    color: $color-grey;
    font-size: $font-size-sm;
    margin: 0;
    max-width: 20em;

    a {
      color: $brand-secondary;
    }
  }

  &__ctas {
    margin-top: $spacing-4 * 1.5;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      align-items: center;
      display: flex;
    }
  }

  &__button {
    margin-bottom: $spacing-4;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      margin: 0 $spacing-4 * 1.5 0 0;
    }
  }

  &__email {
    color: $brand-secondary;
    font-size: $font-size-sm;
  }
}
