.header {
  background-color: #31319B;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;

  @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
    background-color: transparent;
    position: static;
  }

  &__main {
    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: $spacing-4 0;
    }
  }

  & > div {
    pointer-events: auto;
  }

  &__logo {
    left: 1.25rem;
    margin: $spacing-4 auto;
    top: $spacing-6;
    width: $size-6;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      margin: 0;
    }
  }

  &__nav {
    display: flex;
    top: $spacing-6;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-10")) {
      top: $spacing-7;
    }
  }

  &__address {
    bottom: $spacing-7;
    display: none;
    position: absolute;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-11")) {
      display: block;
      left: $spacing-8;
    }
  }

  &__social {
    bottom: $spacing-7;
    display: none;
    position: absolute;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-11")) {
      display: block;
      right: $spacing-8;
    }
  }
}
