.header {
  //background-color: var(--color-header);
  //background-color: var(--color-header-background);

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    background-color: transparent;
  }

  &__main {

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      align-items: center;
      display: -ms-grid;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      padding: $spacing-5 0;
    }
  }

  &__logo {
    @include margin-horizontal(auto);
    padding: $spacing-4;
    width: 4rem;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      margin-left: -$spacing-4; // Pull the logo visually inline with the other elements.
      margin-right: unset;
    }
  }

  &__nav {
    @include margin-horizontal(-$spacing-6);
    align-self: center;
    background-color: var(--color-header-nav);
    display: flex;
    grid-column: 1 / 3;
    height: 100%;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      background-color: transparent;
      grid-column: unset;
      margin: 0;
    }
  }

  &__contact {
    display: none;

    .page--landing & {
      display: block;

      .nav__link {
        display: table;
        margin-left: auto;
      }
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      display: block;
      margin-right: -$spacing-5; // Offet position by .nav__list padding
      text-align: right;
    }
  }

  &__address {
    bottom: $spacing-8;
    display: none;
    position: absolute;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
      display: block;
      left: $spacing-9;
    }
  }

  &__social {
    bottom: $spacing-8;
    display: none;
    position: absolute;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
      display: block;
      right: $spacing-9;
    }
  }

  &__close {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;

    &__inner {
      max-width: 66.5rem;
      position: relative;
      margin: 0 auto;
      right: $spacing-2;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        right: $spacing-6;
      }
    }

    &__link {
      @include focus-ring;
      background-color: var(--color-container);
      border-radius: $border-radius-full;
      margin-left: auto;
      padding: $spacing-4;
      right: 0;
      position: absolute;
      top: $spacing-2;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        padding: $spacing-5;
        top: $spacing-5;
      }
    }

    &__icon {
      align-items: center;
      display: flex;
      height: $size-1;
      justify-content: center;
      width: $size-1;

      svg {
        @include size(.8rem);
      }
    }
  }
}
