.header {
  background-color: $color-container;
  padding: $spacing-4 0 $spacing-1 0;

  @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
    padding: 0;
    background-color: transparent;
  }

  &__main {
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: none;
      padding: $spacing-4 0;
    }
  }

  &__logo {
    margin: 0 auto;
    width: $size-5;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      margin: 0;
    }
  }

  &__nav {
    align-self: center;
    display: flex;
    top: $spacing-6;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      margin-bottom: 0;
    }

    @media screen and (min-width: map-get($breakpoints, "breakpoint-10")) {
      top: $spacing-7;
    }
  }

  &__contact {
    align-self: center;
    justify-self: center;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      justify-self: end;
    }
  }

  &__address {
    bottom: $spacing-7;
    display: none;
    position: absolute;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-11")) {
      display: block;
      left: $spacing-8;
    }
  }

  &__social {
    bottom: $spacing-7;
    display: none;
    position: absolute;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-11")) {
      display: block;
      right: $spacing-8;
    }
  }
}
