mixin header(c)
  header.header(role="banner")
    .container
      .header__main
        .header__logo
          a.logo(href='/', aria-label="Leaf logo")
            +logo

        unless c.contentPage
          .header__nav
            +nav({
              navList: [
                {
                  url: "/expertise",
                  text: "Expertise"
                },
                {
                  url: "/company",
                  text: "Company"
                },
                {
                  url: "/case-studies",
                  textMobile: "Work",
                  text: "Case studies"
                },
                {
                  url: "/blog",
                  text: "Blog"
                },
                {
                  url: "javascript:void(0)",
                  text: "Contact",
                  mobileOnly: true,
                  triggerModal: true
                }
              ],
            })
        if c.contentPage
          .header__close
            .header__close__inner
              a.header__close__link(href="/" aria-label="Close")
                .header__close__icon
                  svg(viewbox="0 0 16 16", xmlns="http://www.w3.org/2000/svg")
                    path(d="M10.38 8l5.386-5.386a.799.799 0 000-1.129L14.515.234a.799.799 0 00-1.13 0L8 5.62 2.614.234a.799.799 0 00-1.13 0L.235 1.485a.799.799 0 000 1.13L5.62 8 .234 13.386a.799.799 0 000 1.129l1.251 1.251a.799.799 0 001.13 0L8 10.38l5.386 5.386a.799.799 0 001.13 0l1.25-1.252a.799.799 0 000-1.129L10.38 8z", fill="var(--color-close)", fill-rule="nonzero")

        else
          .header__contact
            a.nav__link(href="javascript:void(0)", data-micromodal-trigger="modal-contact")
              span.nav__text Contact
