mixin header(c)
  header.header(role="banner")
    .container
      .header__main
        .header__logo
          unless c.landingPage
            a.logo(href="/")
              +logo
          else
            a.logo(href="#")
              +logo
        .header__contact
          a.nav__link(href="javascript:void(0)", data-micromodal-trigger="modal-contact") Contact
        .header__nav
          +nav({
            navList: [
              {
                navItemUrl: "/expertise",
                navItemText: "Expertise"
              },
              {
                navItemUrl: "/company",
                navItemText: "Company"
              },
              {
                navItemUrl: "/case-studies",
                navItemTextMobile: "Work",
                navItemText: "Case studies"
              },
              {
                navItemUrl: "/blog",
                navItemText: "Blog"
              },
              {
                navItemUrl: "javascript:void(0)",
                navItemText: "Contact",
                navItemMobileOnly: true,
                navItemTriggerModal: true
              }
            ],
          })
      //-
        .header__address
        +address

        .header__social
        +social({})
