mixin header(c)
  header.header(role="banner")
    .container
      .header__main
        .header__logo
          unless c.landingPage
            a.logo(href="/")
              +logo
          else
            a.logo(href="#")
              +logo
        .header__nav
          +nav({
            navList: [
              {
                navItemUrl: "/what-we-do",
                navItemText: "Expertise"
              },
              {
                navItemUrl: "/company",
                navItemText: "Company"
              },
              {
                navItemUrl: "/our-work",
                navItemText: "Case studies"
              },
              {
                navItemUrl: "/blog",
                navItemText: "Blog"
              }
            ],
          })
        .header__contact
          +nav({
            navList: [
              {
                navItemUrl: "javascript:void(0)",
                navItemText: "Contact",
                navItemHighlight: true,
                navItemTriggerModal: true
              }
            ],
          })
      //-
        .header__address
        +address
          
        .header__social
        +social({})
