mixin header(c)
  header.header(role="banner")
    .header__logo
      +logo
    .header__nav

      unless c.headerNav === false
        +nav({
          navList: [
            {
              navItemUrl: "/what-we-do",
              navItemText: "What we do"
            },
            {
              navItemUrl: "/company",
              navItemText: "Company"
            },
            {
              navItemUrl: "/our-work",
              navItemText: "Our work"
            },
            {
              navItemUrl: "/blog",
              navItemText: "Blog"
            },
            {
              navItemUrl: "javascript:void(0)",
              navItemText: "Let's talk",
              navItemHighlight: true,
              navItemTriggerModal: true
            }
          ],
          navModifier: "primary"
        })
      else
        +nav({
          navList: [
            {
              navItemUrl: "#what-we-do",
              navItemText: "What we do"
            },
            {
              navItemUrl: "#our-work",
              navItemText: "Our work"
            },
            {
              navItemUrl: "#company",
              navItemText: "Company"
            },
            {
              navItemUrl: "javascript:void(0)",
              navItemText: "Let's talk",
              navItemHighlight: true,
              navItemTriggerModal: true
            }
          ],
          navModifier: "primary"
        })

    .header__address
      +address
    .header__social
      +social({})
