.biography {
  @include clearfix;

  @include susy-breakpoint($bp-sm) {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
  }

  &__image {

    @include susy-breakpoint($bp-sm) {
      @include span(5 of 12);
    }
  }

  &__content {

    @include susy-breakpoint($bp-sm) {
      @include span(5 of 12);
    }
  }

  &__list {

    &__item {
      display: inline-block;
      font-family: $font-sans-serif;
      margin-right: $spacing-horizontal-sm;
    }

    &__link {
      border-bottom: solid 1px rgba($white, .75);
      color: $white;
      font-size: .9em;
    }
  }
}
