.biography {
  @include clearfix;
  margin-bottom: $spacing-vertical-lg;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include susy-breakpoint($bp-sm) {
    @include span(6 of 12);

    &:nth-of-type(even) {
      @include last;
    }
  }

  @include susy-breakpoint($bp-lg) {
    @include span(12 of 12);
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
  }

  &__image {
    margin-bottom: $spacing-vertical-sm;

    @include susy-breakpoint($bp-lg) {
      @include span(5 of 12);
      margin-bottom: 0;
    }
  }

  &__content {

    @include susy-breakpoint($bp-lg) {
      @include span(5 of 12);
    }
  }

  &__list {

    &__item {
      display: inline-block;
      font-family: $font-sans-serif;
      margin-right: $spacing-horizontal-sm;
    }

    &__link {
      border-bottom: solid 1px rgba($white, .75);
      color: $white;
      font-size: .9em;
    }
  }
}
