.gallery {

  &__pair {

    @include susy-breakpoint($bp-sm) {
      display: flex;
    }
  }

  &__item {
    margin-bottom: $spacing-vertical-sm;

    @include susy-breakpoint($bp-sm) {
      flex-grow: 1;

      &:first-child {
        margin-right: $spacing-horizontal-sm;
      }
    }

    &__image {
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    &--link {
      display: block;
    	overflow: hidden;
    	position: relative;

    	&::before {
        @include absolute-fill;
    		background-color: $leaf-green;
      	content: '';
    		opacity: 0;
        transition: opacity $base-duration $base-timing;
        z-index: 1;
    	}

    	img {
    		backface-visibility: hidden;
    		display: block;
    		max-width: 100%;
    	}

      .gallery__item {

      	&__info {
          padding: $padding-vertical $padding-horizontal;
      		position: absolute;
      		top: 0;
      		left: 0;
      		z-index: 3;

      		span {
      			display: block;
      			opacity: 0;
      			position: relative;
      			transition-property: top, opacity;
      			transition-duration: 0.3s;
      			transition-delay: 0s;
            top: -.25em;
      		}

          .gallery__item__title {
      			//top: -.25em;
      		}

      		.gallery__item__info {
      			//top: -.5em;
      		}
      	}

        &__intro {
          color: $leaf-green-light;
          font-family: $heading-font-family;
          font-size: $h1-font-size;
          font-weight: 900;
          letter-spacing: .3em;
          text-transform: uppercase;
        }

        &__title {
          color: $white;
          font-size: 2.5em;
        }

        &__image {
          position: relative;
        }
      }

    	&:focus,
    	&:hover {

    		&::before,
    		span {
    			opacity: 1;
    		}

    		span {
    			top: 0;
    		}

    		.gallery__item__title {
    			transition-delay: 50ms;
    		}

    		.gallery__item__info {
    			transition-delay: 150ms;
    		}
    	}
    }
  }
}
