.hero-banner {
  background-color: $leaf-light;
  padding: 0 $padding-horizontal-root;

  &__inner {
    @include container;
    padding: $spacing-vertical-root 0;
  }

  &__intro {
    color: $leaf-dark;
    font-family: $font-sans-serif;
    font-size: 1.1em;

    @include susy-breakpoint($bp-md) {
      @include span(7);
    }
  }
}