.logo-stack {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -$spacing-vertical;

  &--small {
    margin-top: $spacing-vertical-lg;

    @include susy-breakpoint($bp-lg) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    @include padding-horizontal($padding-horizontal);
    margin-bottom: $spacing-vertical;
    text-align: center;
    flex: 0 0 10em;

    @include susy-breakpoint($bp-lg) {
      flex: 1;
    }

    .logo-stack--small & {
      flex: 0 0 8em;

      @include susy-breakpoint($bp-lg) {
        flex: 0 1 15em;
      }
    }

    img,
    svg {
      max-width: 100%;
    }
  }
}

a.logo-stack__item {

  &:hover {
    transform: translateY(-5px);
    transition: transform $base-duration $base-timing;
  }
}
