.page {

  &--inverse {
    background-color: $white;
    color: $font-color-inverse;

    .section {
      
      h2,
      h3 {
        color: $heading-font-color-inverse;
      }

      a {
        color: $action-color-inverse;
      }
    }
  }

  &--center {
    text-align: center;
  }
}
