.page-header {
  padding: 0 $padding-horizontal-root $padding-vertical-lg;

  &__inner {
    @include container;
    padding: $spacing-vertical-root 0 0;
  }

  &__intro {
    color: #a2a5a7;
    font-family: $font-serif;
    font-size: 1.35em;
    font-style: italic;
  }
}