.page-header {
  @include clearfix;
  padding-top: $padding-vertical-xs;

  .page--inverse & {
    text-align: center;
  }

  &__title {
    margin-bottom: $spacing-vertical;

    .hero-banner & {
      color: $leaf-green-light;
    }
  }

  &__intro {
    @include clearfix;
    color: $white;
    font-size: 1.75rem;
    line-height: $heading-line-height;
    margin-bottom: 0;

    .page--inverse & {
      color: $coal
    }

    @include susy-breakpoint($bp-sm) {
      font-size: 2rem;
    }

    @include susy-breakpoint($bp-lg) {
      //@include span(10 of 12);
      font-size: 2.5rem;
      width: span(10);
    }
  }
}
