.portfolio {
  top: 4%;
  width: 1480px;
  position: absolute;
  right: -10%;
  transform: rotateX(50deg) rotateZ(50deg) scale(0.6);
  transform-style: preserve-3d;

  @include susy-breakpoint($bp-sm) {
    transform: rotateX(50deg) rotateZ(50deg) scale(0.7);
  }

  @include susy-breakpoint($bp-lg) {
    transform: rotateX(50deg) rotateZ(50deg) scale(1);
  }

  &__item {
    transition: 0.2s ease;
    width: 640px;
    float: left;
    margin: 18px;
    list-style-type: none;
    background-size: 0, cover;
    transform-style: preserve-3d;
    position: relative;

    &:nth-child(even) {
      top: -420px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;
      bottom: 30px;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 40px 30px rgba(0, 0, 0, 0.5);
      transform: translateZ(-50px);
    }

    &--1 {
      background: url('/images/portfolio-item-2.jpg');
      height: 968px;
    }

    &--2 {
      background: url('/images/portfolio-item-3.jpg');
      height: 968px;
    }

    &--3 {
      background: url('/images/portfolio-item-1.jpg');
      height: 1220px;
    }

    &--4 {
      background: url('/images/portfolio-item-3.jpg');
      height: 968px;
    }
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInUp {
  animation-name: fadeInUp;
}