.section {
  padding: $padding-vertical-lg 0;

  @include susy-breakpoint($bp-lg) {
    padding-bottom: $spacing-vertical-xl;
    padding-top: $spacing-vertical-xl;
  }

  &--center {
    text-align: center;
  }

  &__inner {
    @include container;
    padding: 0 $padding-horizontal-fluid;
  }

  &__content {

    @include susy-breakpoint($bp-xl) {
      //@include span(8);
    }

    &:not(:first-of-type) {
      margin-top: $spacing-vertical;
    }
  }

  &__aside {
    background-color: lighten($black, 3%);
    margin-bottom: $spacing-vertical-lg;
    padding: $padding-vertical $padding-horizontal;

    @include susy-breakpoint($bp-xl) {
      @include span(3);
      @include last;
    }
  }

  &__intro {

    @include susy-breakpoint($bp-md) {
      display: inline-block;
      max-width: 29em;
    }
  }

  &__heading span {
    font-weight: 400;
  }

  &__text {
    font-size: 1.35em;
  }
}

.section__aside:not(.section__aside--inline) {

  ul {
    column-count: 3;
    column-width: 12em;
  }
}

.section__aside--inline {
  @include clearfix;

  @media (min-width: $bp-lg) and (max-width: $bp-xl) {

    dl {
      float: left;
      margin-bottom: 0;
      width: 50%;

      &:first-child {
        display: none;
      }
    }

    li {
      display: inline-block;

      &::before {
        content: '';
        margin-left: 0;
        padding-right: 0;
      }

      &:not(:last-of-type)::after {
        content: ', ';
      }
    }
  }
}
