.timeline {
  position: relative;

  &::before {
    background: #ee4d4d;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 6rem;
    width: .1rem;
  }

  &__item {
    margin-bottom: 2rem;
    width: 27rem;

    &:nth-of-type(2n) {
      float: right;
    }

    &::before {
      clear: both;
      content: '';
      display: block;
      width: 100%;
    }

    &::after {
      clear: both;
      content: '';
      display: block;
      width: 100%;
    }
  }

  &__marker {
    background-color: red;
    height: 2rem;
    left: 50%;
    margin-left: -$spacing-5;
    margin-top: 1.5rem;
    position: absolute;
    width: 2rem;
  }
}
