$content-width: 27rem; //540px

.timeline {
  margin: 0 auto $spacing-13 auto;
  position: relative;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    max-width: 60rem;
  }

  &::before {
    background: hsl(226, 64%, 94%);
    content: '';
    height: 94%;
    left: 0;
    position: absolute;
    top: 7rem;
    width: $border-width-sm;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      top: $spacing-11;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      left: 50%;
    }
  }

  &__item {
    display: flex;
    margin-bottom: -$spacing-7;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__marker {
    height: $size-2;
    margin-top: $spacing-7;
    width: $size-2;
    position: absolute;
    left: 50%;
    margin-left: -$spacing-4;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    max-width: $content-width;
  }

  &__button {
    background-color: var(--color-background);
    border: $border-width-sm $border-style hsl(226, 64%, 94%);
    bottom: -$spacing-8;
    color: #E3E0F4;
    font-family: $font-family-sans-serif-medium;
    font-size: $font-size-xs;
    left: 50%;
    padding: $spacing-4 $spacing-5;
    position: absolute;
    transform: translate(-50%, 0);
  }
}
