mixin timeline(c)
  .timeline
    each item in c.timelineItems
      .timeline__item
        .timeline__content
          +event(item)
        .timeline__marker
          img(src="/assets/images/company/marker.svg", alt="", role="presentation")
    if c.buttonText
      button.timeline__button= c.buttonText
