// Footer
footer.footer
  .container
    .footer__content
      .footer__section
        .footer__logomark

      .footer__section
        .footer__block
          h5.footer__heading Follow us
          a.footer__link(href='https://twitter.com/leafagency', target='_blank') @leafagency

        .footer__block
          h5.footer__heading Work with us
          a.footer__link(href='/pages/work-with-us') Project Planner

        .footer__block
          h5.footer__heading Say hello
          a.footer__link(href='mailto:hello@weareleaf.com') hello@weareleaf.com

