// Footer
footer.footer
  .container
    .footer__content

      .footer__block
        .footer__logomark

      .footer__block
        h5.footer__heading Follow us
        a.footer__link(href='https://twitter.com/leafagency', target='_blank') @leafagency

      .footer__block
        h5.footer__heading Say hello
        a.footer__link(href='mailto:hello@weareleaf.com') hello@weareleaf.com

      .footer__block
        h5.footer__heading Work with us
        a.footer__link(href='#') Leaf Project Planning