.jumbotron

  .jumbotron_logo

  .jumbotron_content
    span.jumbotron_logomark
    h1.jumbotron_title We're on a mission
    p.jumbotron_intro We're a <b>designer &amp; developer duo</b> based in Canterbury with over 15 years industry experience across a wide range of web technologies, and we want to raise the bar of web applications.
