.collage {
  display: grid;
  grid-column-gap: $spacing-5;

  &--pets {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &::after {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 1 / span 5;
        grid-row: 2 / span 4;
        transform: translateX($spacing-8);
        z-index: z('below');
      }
    }
  }

  &--holiday {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &::after {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 2 / span 2;
        grid-row: 2 / span 2;
      }
    }
  }

  &--culture {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    &::after {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 2 / span 4;
        grid-row: 2 / span 4;
        margin: 0;
        transform: translateX(-$spacing-7);
        z-index: z('below');
      }
    }
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    grid-gap: unset;

    &--pets {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(7, 1fr);
      max-width: 30rem;
      order: -1;
    }

    &--holiday {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(7, 1fr);
      max-width: 28.5rem;
    }

    &--culture {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(6, 1fr);
      max-width: 25rem;
      order: -1;
    }
  }

  &::after {
    background-image: linear-gradient(45deg,
      $color-lavender 10%,
      $color-majorelle 10%,
      $color-majorelle 50%,
      $color-lavender 50%,
      $color-lavender 60%,
      $color-majorelle 60%,
      $color-majorelle 100%
    );
    background-size: .5rem .5rem;
    content: '';
    margin: 0 $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin: 0;
    }
  }

  &__media {
    grid-row: 1 / span 3;
    margin-top: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-top: 0;
    }

    &--happy-barney {
      grid-column: 2 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 4 / span 3;
        grid-row: 1 / span 4;
        transform: translateX(-$spacing-5);
      }
    }

    &--oj-and-orion {
      grid-column: 1 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 1 / span 3;
        grid-row: 3 / span 4;
      }
    }

    &--naughty-bramley {
      grid-column: 3 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 3 / span 4;
        grid-row: 5 / span 3;
      }
    }

    &--jack-and-mike {
      grid-column: 3 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 2 / span 4;
        grid-row: 1 / span 3;
      }
    }

    &--mike {
      grid-column: 1 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 1 / span 3;
        grid-row: 4 / span 4;
        transform: translateX($spacing-5);
      }
    }

    &--ice-cream {
      grid-column: 2 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 4 / span 3;
        grid-row: 3 / span 4;
      }
    }

    &--chris-working {
      grid-column: 1 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 1 / span 4;
        grid-row: 4 / span 3;
      }
    }

    &--leaf-tshirt {
      grid-column: 2 / span 1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 3 / span 3;
        grid-row: 1 / span 4;
      }
    }
  }

  &__caption {
    color: $color-ice;
    font-size: .75rem;
    grid-column: 1 / span 3;
    line-height: 1.4;
    margin-top: $spacing-5;
    position: relative;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      font-size: .65rem;
    }

    &--pets {

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 1 / span 2;
        grid-row: 7 / span 1;
        margin: $spacing-5 $spacing-5 0 0;
        text-align: right;
      }
    }

    &--holiday {

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        grid-column: 4 / span 3;
        grid-row: 7 / span 1;
        margin: $spacing-5 0 0 $spacing-7;
        text-align: left;
      }
    }
  }

  &__image {
    display: block;
    height: 100%;
    max-width: unset;
    object-fit: cover;
    outline: solid .25rem $color-majorelle;
    position: relative;
    width: 100%;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      outline: solid .5rem $color-majorelle;
    }
  }
}
