extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'inner-page'

block content

  section.article
    .container
      .article__content

        h1.article__heading Always At The Cutting Edge

        p We're a bit different at Leaf, we devote a <b>massive 20% of our time</b> to learning and improving our technical, business and people skills. Continual self improvement is absolutely key to staying at the top of our game, and we believe you're fully entitled to expect the very best from working with us.

        p This means that when you work with us, you're always getting the best development methodologies and technology that's right up to date.

        p All that said, if you already have your tech just the way you like it, you'll find we're able to get up and going with your technology stack without fuss. We're great programmers, and we believe and prove that great programmers are able to get going with anyone's system.

