extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'inner-page'

block vars
  -var brand = 'Leaf • Experience At Every Level'

block content

  section.article
    .container
      .article__content

        .article__content__text
          h1.article__heading Experience At Every Level

          p Small business or large corporation. We've been there, and know how know how to work with you efficiently and happily.

          p So, whether you're just looking to get a quality web presence going for your brand, or need your next big app built to serve tens of thousands of customers a day, we've got the know-how to build effectively and efficiently, taking into account your concerns, adapting to changes in your business and integrating with your existing systems seamlessly.

          p Not convinced, take a look at our <a href="/pages/always-at-the-cutting-edge.html">technology page</a>.