extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'inner-page'

block vars
  -var brand = 'Leaf • Full Web Applications'

block content

  section.article
    .container
      .article__content

        .article__content__text
          h1.article__heading Full Web Applications

        .article__content__image
          img.article__image(src='/images/web-apps.jpg', alt='Web Application')

        .article__content__text
          p We started our professional lives in startups, working furious long hours to build the next 'big thing'. Since then we've developed a vast amount of experience in a wide range of web-technologies, so no matter what you're trying to achieve, we can build it, and build it to a <em>brilliant</em> standard.

          p We work using properly implemented agile methodologies, showing you our progress through requirements elicitation, prototyping and development to achieve an exact match to your needs.

          p We're fluent with a wide range of web technologies, but we're also always learning and so happy to pick up more. If you're interested in the details of what we're working with, check out our <a href="#">technologies page</a>.

          h2 Thinking more about a mobile app?

          p We do those too, and to the same excellent standard as our web applications. Why not <a href='/pages/mobile-apps.html'>take a look</a>?

          h2 Already have a development team?

          p If you already have a development team in place we're completely able to adapt our processes around working with <b>you</b>. We understand the difficulties in working with outsiders to your way of doing things and are happy to work around you to achieve the best results without rocking the boat.

