doctype html
html(lang='en')
  include ./includes/head.jade
  body
    h2 Full Web Applications

    p We started our professional lives in startups, working furious long hours to build the next 'big thing'. Since then we've developed a vast amount of experience in a wide range of web-technologies, so no matter what you're trying to achieve, we can build it, and build it to a brilliant standard.

    p We work using properly implemented agile methodologies, showing you our progress through requirements elicitation, prototyping and development to verify an exact match to your needs.