extends base/_base

block prepend vars
  -var bodyClass = 'inner-page'

block content

  h1 Mobile Apps

  p Looking to get something built for iPhone and Android, we're your guys. We can design and build mobile applications that work on both iOS and Android, meaning you get more for your money. 

  p Better yet, we use the same technologies for our mobile apps as we do our web applications, meaning we can take an application from the Web and run it as a native mobile app your customers purchase from the app store, giving your business a permanent presence in their pockets.

  p For more information on our application development, see our <a href='/pages/full-web-applications.html'>web applications</a> page.

