extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'inner-page'

block vars
  -var brand = 'Leaf • No Project Managers'

block content

  section.article
    .container
      .article__content

        .article__content__text
          h1.article__heading No Project Managers

          p Most ordinary agencies put a project management layer between those doing the work and their clients. Luckily for you, we're perfectly able to manage our own projects, meaning you get to talk directly to the people working on your behalf.

          p This has several benefits for you. Costs drop, ideas aren't lost in translation, you aren't promised delivery of things that haven't been completed and communication becomes faster as less time is wasted relaying the same message on again and again to different people.

          p We believe it's very important for those doing the work to be able to talk to clients effectively, openly and honestly about their work, and to be perfectly able to represent Leaf as a business to oursiders. For that reason, we deliberately don't include a project management layer in our operations.