extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'inner-page'

block content

  section.article
    .container
      .article__content

        h1.article__heading Quality Like No Other

        p Buy nice, don't buy twice. That's our motto, and it should be yours too.

        p We absolutely obsess over the quality of our work. Automated testing, uptime monitoring and analytics come as standard, and we even take care to automate any risky parts of the development as much as possible to limit the possibility for human error.

        p We go as far as spending <b>20% of our working week</b> honing our craft rather than taking on money-making client work to ensure we're right up there with the best in terms of ability, and we peer review individual changes to make sure your site or app works perfectly for anyone using it no matter who's looking.