extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'inner-page'

block content

  section.article
    .container
      .article__content

        .article__content__text
          h1.article__heading Work With Us

          p Leave us a message and we'll get right back to you on the email address you provide. Don't let the budget options put you off, we like to work on projects of a range of sizes.

          form(id='contact-form',novalidate)
            input(type='text', placeholder='Name', name='name')
            input(type='email', placeholder="Email address", name='email')
            select(name='budget')
              option(value='<=1000') £1,000 or less
              option(value='<=2500') Less than £2,500
              option(value='<=5000') Less than £5,000
              option(value='<=10000') Less than £10,000
              option(value='<=5000') £10,000 or more
            textarea(name='body', placeholder="Your message, it can be as short or long as you like!")
            input(type="submit" value="Send Message")

          h2 Where's your phone number?

          p We don't have one! Well, at least not publicly. We like to work in a <strong>distraction free environment</strong> so we can work as efficiently as possible, and part of doing that means limiting the amount we're able to be distracted from our work. Drop us a message on the form above and we'll get back to you, or email us at <a href="mailto:hello@weareleaf.com">hello@weareleaf.com</a>.

          script(src='/scripts/app/contactFormHandler.app.js')
