extends base/_base

block prepend vars
  -var bodyClass = 'inner-page'

block content

  h1 Your Brand

  p First impressions count. Nowadays, the first impression you leave your customers is your website. Our technical and design expertise, combined with our attention to detail, mean we can put your brand head and shoulders above your competition.

  p We go way beyond just making things look pretty, and instead work with you on curating meaninful content and site features. Using cutting edge, research-backed user experience techniques to ensure your visitors find exactly what they're looking for; no matter what device they're browsing on.

  p Working together, we'll keep you updated of progress on your site every step of the way. You'll see your site evolve in real time, and we'll report back to you on our progress so you're never out of the loop.

  p Don't worry if you don't have an online presence set up yet; we can handle all of the technical overhead and let you focus on running your business.

  a(href='#') Get in touch