.intro {
  margin-bottom: $spacing-8;

  @media screen and (min-width: map-get($bp, 'md')) {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    margin-bottom: $spacing-4;

    @media screen and (min-width: map-get($bp, 'md')) {
      margin-bottom: 0 $spacing-3 0 0;
    }

    img {
      height: 4.5rem;
      max-width: 12rem;
    }
  }

  &__text {
    color: $color-grey-dark;
    font-size: $root-font-size-xl;

    @media screen and (min-width: map-get($bp, 'md')) {
      max-width: 60%;
    }
  }
}
