.footer {
  background-color: #28288B;
  display: block;
  padding: $spacing-6 0;

  @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
    padding: 0;
  }

  &__cta {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-7;
  }

  &__cta-heading {
    color: $color-green;
    font-family: $font-family-sans-serif-bold;
    font-size: 2.5rem;
    margin: 0 0 $spacing-2;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      margin: 0 0 $spacing-3;
    }
  }

  &__cta-text {
    color: $color-white;
    line-height: 40px;
    margin: 0;
    text-align: center;
    width: 39rem;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-3")) {
      font-size: 1.5rem;
    }
  }

  &__grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-4")) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $spacing-7;
    }

    &--item {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 18rem;
    }
  }

  &__subheading {
    color: #9999E6;
    font-family: $font-family-sans-serif-bold;
    font-size: .6rem;
    letter-spacing: .05rem;
    margin: 0;
    text-transform: uppercase;
  }

  &__link {
    color: $color-white;
    font-size: 1.5rem;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &__social {
    margin-top: .4rem;
  }

  &__info {
    align-items: center;
    border-top: $border-width-base $border-style #5253A8;
    color: #9999E6;
    display: flex;
    font-family: $font-family-sans-serif-regular;
    font-size: $font-size-xs;
    justify-content: space-between;
    margin-top: $spacing-9;
    padding: $spacing-6 0;

    &--copyright,
    &--vat {
      color: inherit;
      font-size: 1em;
      margin-bottom: 0;
    }
  }
}
