.footer {
  background-color: $color-grey-green;
  padding: $spacing-vertical-lg 0;

  @media screen and (min-width: map-get($bp, 'md')) {
    padding: $spacing-vertical * 6 0;
  }

  &__cta-heading {
    font-family: $font-family-sans-serif-medium;
    margin: 0 0 $spacing-vertical;

    @media screen and (min-width: map-get($bp, 'lg')) {
      margin: 0 0 $spacing-vertical * 1.7;
    }
  }

  &__cta-text {
    color: $color-grey-dark;
    margin: 0;

    @media screen and (min-width: map-get($bp, 'md')) {
      font-size: .850em;
    }
  }

  &__cta-link {
    color: $brand-secondary;
    font-family: $font-family-sans-serif-medium;
    margin-left: $spacing-horizontal * .25;
    white-space: nowrap;
  }

  &__social {
    margin-top: $spacing-vertical * 1.5;

    @media screen and (min-width: 96.875em) {
      display: none;
    }
  }

  &__grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 100% $spacing-vertical 100%;
    grid-template-columns: 1fr 1fr;

    @media screen and (min-width: map-get($bp, 'md')) {
      -ms-grid-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 100% 100%;
    }

    @media screen and (min-width: map-get($bp, 'lg')) {
      -ms-grid-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 100% 100;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__nav {
    grid-row: 1 / 3;

    &:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;

      @media screen and (min-width: map-get($bp, 'md')) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-row-span: 2;
      }
    }

    &:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;

      @media screen and (min-width: map-get($bp, 'md')) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        -ms-grid-row-span: 2;
      }
    }
  }

  &__copyright {
    color: $color-grey-dark;
    font-size: .8em;
    margin: 0;
    -ms-grid-row: 3;
    -ms-grid-column: 1;

    @media screen and (min-width: map-get($bp, 'md')) {
      font-size: .75em;
      grid-row: 2 / 3;
      text-align: right;
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
  }

  &__contact {
    font-size: .8em;
    margin: 0 0 $spacing-vertical-lg;
    -ms-grid-row: 3;
    -ms-grid-column: 2;

    @media screen and (min-width: map-get($bp, 'md')) {
      font-size: .75em;
      grid-column: 3;
      grid-row: 1 / 2;
      text-align: right;
      -ms-grid-row: 2;
      -ms-grid-column: 3;
    }
  }

  &__link {
    color: $color-grey-dark;
  }
}
