mixin footer(c)
  case footerType
    when "minimal"
      footer.footer
        .container
          .footer__info.footer__info--no-border
            p.footer__copyright &copy; Leaf Software Ltd
            p.footer__vat VAT no: GB 265125317
    when "analysis"
      footer.footer
        .container
          .footer__info.footer__info--no-border
            a.footer__anchor(href="#header")
              .footer__anchor__icon
                img(src="/assets/images/icons/ui/arrow.svg", alt="Arrow to get back to the top of the page.")
              .footer__anchor__text Back to top
            p.footer__copyright &copy; Leaf Software Ltd
            p.footer__vat VAT no: GB 265125317
    default
      footer.footer(role="contentinfo")
        .container
          .footer__cta
            h2.footer__heading Start the conversation#[span.footer__heading__period .]
            p.footer__text If you think we might be able to help, you’ve got a question, or you just want to say hi, don’t be a stranger.
          .footer__grid
            .footer__item.footer__item--enquiries
              h3.footer__subheading New work
              span.footer__link enquiries@weareleaf.com

            .footer__item.footer__item--hello
              h3.footer__subheading Ask us anything
              span.footer__link hello@weareleaf.com

            .footer__item.footer__item--icons
              h3.footer__subheading Get social
              .footer__social
                +social({})
          .footer__info
            .footer__nav
              +nav({
                navList: [
                  {
                    url: "https://github.com/weareleaf/handbook",
                    text: "Handbook",
                    newTab: true
                  },
                  {
                    url: "/careers",
                    text: "Careers"
                  },
                  {
                    url: "/ebooks",
                    text: "eBooks"
                  },
                  {
                    url: "/terms",
                    text: "Terms"
                  }
                ]
              })
            p.footer__copyright &copy; Leaf Software Ltd
            p.footer__vat VAT no: GB 265125317