mixin footer(c)
  footer.footer(role="contentinfo")
    .container
      .grid.grid--footer
        .grid__item
          .footer__cta
            p.footer__cta-heading
              | Start the conversation
            p.footer__cta-text
              | If you think we might be able to help, you’ve got a question, or you just want to say hi, don’t be a stranger.

        .grid__item
            .footer__grid
              .footer__grid--item
                p.footer__subheading
                | New work
                a.footer__link(href="mailto:enquiries@weareleaf.com") enquiries@weareleaf.com

              .footer__grid--item
                p.footer__subheading
                | Ask us anything
                a.footer__link(href="mailto:hello@weareleaf.com") hello@weareleaf.com
              
              .footer__grid--item
                p.footer__subheading
                | Get social
                +social({
                  socialModifier: "inline"
                })
                
