.link-tile {
  &:hover {
    text-decoration: none;
  }

  &__inner {
    background-color: #4C4CDE;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    padding: $spacing-8 0;
    transition: .2s;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      padding: $spacing-10 0;
    }

    &:hover {
      background-color: darken(#4C4CDE, 2%);
    }
  }

  &__content {
    align-items: center;
    color: $color-white;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    color: inherit;
    margin-bottom: 0;
    font-size: $font-size-md;
    letter-spacing: -.03rem;
  }

  &__name {
    display: flex;
  }

  &__text {
    color: $color-green;
    margin-bottom: 0;
    font-size: $font-size-sm;
    font-family: $font-family-sans-serif-medium;
  }

  &__arrow {
    color: $color-green;
    font-weight: 700;
    margin-left: $spacing-2;

    &::before {
      content: '';
      display: block;
      height: .04rem;
    }
  }
}
