mixin link-tile(c)
  a.link-tile(href= c.linkTileUrl)
    .link-tile__inner
      .link-tile__content
        h5.link-tile__heading Next case study
        .link-tile__name
          p.link-tile__text= c.linkTileText
          span.link-tile__arrow &rarr;


