$testimonial-size: 1.175rem;

.testimonial {
  &--inline {
    align-items: center;
    display: flex;
  }

  &__text {
    color: $color-grey-dark;
    font-size: 1.3rem;
    margin: 0 0 $spacing-3;

    .testimonial--inline & {
      border: $border-width-base $border-style $color-grey-light;
      border-radius: $border-radius;
      color: $color-grey;
      font-size: .85rem;
      margin: 0 $spacing-6 0 0;
      max-width: $size-10;
      padding: 1.765rem;
      position: relative;

      &::after {
        background-color: $color-white;
        border: $border-width-base $border-style $color-grey-light;
        border-bottom-color: $color-white;
        border-left-color: $color-white;
        border-top-right-radius: $border-radius;
        content: '';
        display: block;
        height: $testimonial-size;
        position: absolute;
        right: -.650rem;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        width: $testimonial-size;
      }
    }
  }

  &__author {
    align-items: center;
    display: flex;
    padding-right: $spacing-7;
    position: relative;

    &::after {
      background: url('../images/icons/quotation.svg') no-repeat center center;
      content: '';
      display: block;
      height: $size-4;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: $size-5;
    }

    .testimonial--inline & {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__image-container {
    margin-right: $spacing-3;
  }

  &__image {
    border-radius: $border-radius-half;
    display: inline-block;
    vertical-align: middle;
  }

  &__name {
    font-size: $root-font-size;
    font-weight: 700;
    margin: 0;
  }

  &__role {
    font-size: $font-size-xs;
    margin: 0;
  }
}
