.testimonial {
  position: relative;

  &__quote {
    margin: $spacing-8 0 $spacing-6 0;

    &::before {
      color: var(--color-testimonial-quotation);
      content: "\201c";
      font-family: $font-family-sans-serif-extrabold;
      font-size: 14rem;
      left: -2rem;
      position: absolute;
      top: -5rem;
      z-index: -1;
    }
  }
  
  &__quote-main {
    color: var(--color-testimonial-blockquote);
    display: block;
    font-family: $font-family-sans-serif-regular;
    font-size: 1.2rem;
    line-height: $quote-line-height;
    width: 100%;

    &::before,
    &::after {
      content: none;
    }
  }
}
