.post {
  @include focus-ring;
  @include shadow-effect;
  background-color: var(--color-container);
  border-radius: 8px;
  color: var(--color-paragraph);
  height: 100%;
  padding: $spacing-6;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    padding: $spacing-7;
  }

  &__meta {
    color: currentColor;
    font-size: .6rem;
    font-weight: 700;
    letter-spacing: .05rem;
    margin-bottom: $spacing-4;
    text-transform: uppercase;
  }

  &__middle-dot {
    @include margin-horizontal($spacing-1);
    color: var(--color-accent);
  }

  &__heading {
    color: var(--color-post-heading);
    font-size: $font-size-h3;
    margin: 0 0 $spacing-4;
  }

  &__text {
    -webkit-box-orient: vertical;
    color: currentColor;
    display: -webkit-box;
    font-size: $font-size-sm;
    -webkit-line-clamp: 3;
    margin: 0;
    overflow: hidden;
  }
}
