.post {
  background-color: #31319B;
  border-radius: 8px;
  display: block;
  height: 100%;
  padding: $spacing-6;

  &:hover {
    text-decoration: none;
  }

  &__meta {
    color: $color-white;
    font-size: .6rem;
    letter-spacing: .05rem;
    margin-bottom: $spacing-3;
    text-transform: uppercase;
  }

  &__heading {
    font-size: $font-size-h3;
    margin: 0 0 $spacing-3;
  }

  &__text {
    color: $color-white;
    margin: 0;
  }
}
