.metric {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    margin-bottom: $spacing-vertical;
    width: 320px;

    @media screen and (min-width: map-get($bp, 'sm')) {
      width: 50%;
    }

    @media screen and (min-width: map-get($bp, 'lg')) {
      margin-bottom: 0;
      width: 25%;
    }
  }

  &__heading {
    font-size: 0.85em;
    margin: 0 0 0.118em;
  }

  &__text {
    font-size: 0.8em;
    margin: 0;
  }
}
