.metric {
  &__item {
    width: 100%;
  }

  &__heading {
    font-size: 1.1em;
    margin: 0 0 0.118em;

    @media screen and (max-width: map-get($bp, 'md')) {
      font-size: 1.5em;
    }
  }

  &__text {
    font-size: 0.95em;
    margin: 0;

    @media screen and (max-width: map-get($bp, 'md')) {
      font-size: 1em;
    }
  }
}
