.explanation {
  background-color: $color-indigo;
  padding: $spacing-3 $spacing-5 $spacing-4;

  &__icon {
    display: initial;
    margin-right: $spacing-3;
    position: relative;
    top: .1rem;
  }

  &__heading {
    display: inline-block;
    font-family: $font-family-sans-serif-extrabold;
    font-size: .55rem;
    font-weight: 400;
    letter-spacing: .05rem;
    margin-bottom: $spacing-3;
    text-transform: uppercase;
  }

  &__text {
    color: $color-ice;
    font-size: .75rem;
    margin-bottom: 0;
  }

  &--single {
    border-radius: 6px;
    margin-top: -$spacing-4;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin-top: 0;
    }
  }

  &--inverted {
    background-color: $color-alabaster;
    border-radius: 6px;
    margin: $spacing-7 0 0;
    padding: $spacing-5;

    & .explanation__heading {
      color: $color-kimberly;
    }

    & .explanation__text {
      color: $color-coal;
    }
  }
}
