mixin explanation(c)
  .explanation(class= c.modifier ? "explanation--" + c.modifier : "")
    -var iconName = c.iconName || "question"
    if c.iconModifier
      -iconName = iconName + "--" + c.iconModifier

    img.explanation__icon(src="/assets/images/icons/ui/" + iconName + ".svg", alt="", role="presentation")
    h3.explanation__heading !{c.heading}
    p.explanation__text !{c.text}