mixin explanation(c)
  .explanation
    if c.explanationExample === true
      img.explanation__icon(src="/assets/images/icons/ui/info.svg")
      h3.explanation__heading !{c.explanationHeading}
    else
      img.explanation__icon(src="/assets/images/icons/ui/question.svg")
      h3.explanation__heading !{c.explanationHeading}
    p.explanation__text !{c.explanationText}