include components/mixins.pug

block vars

doctype html
html.no-js(lang="en-GB")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= pageTitle
    meta(name="description", content="Kent based web and mobile development")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#dbffe7')
    meta(name='msapplication-TileColor', content='#603cba')
    meta(name='theme-color', content='#dbffe7')


    link(rel="stylesheet", href="/assets/styles/main.css")
  body
    div#transitioner
    div#barba-wrapper
      .barba-container
        block pageContent

    script(src="/assets/scripts/main.js")
