mixin banks(c)
  .banks
    img.bank(src="/assets/images/analysis/visa.svg", alt="We accept Visa payments.")
    img.bank(src="/assets/images/analysis/mastercard.svg", alt="We accept Mastercard payments.")
    img.bank(src="/assets/images/analysis/amex.svg", alt="We accept American Express payments.")
    img.bank(src="/assets/images/analysis/discover.svg", alt="We accept Discover payments.")
    img.bank(src="/assets/images/analysis/jcb.svg", alt="We accept JCB payments.")
    img.bank(src="/assets/images/analysis/diners.svg", alt="We accept Diners Club International payments.")
    img.bank(src="/assets/images/analysis/union-pay.svg", alt="We accept Union Pay payments.")