.explanation-list {

  &__item {
    border-bottom: solid 1px #3614ab;
    overflow: hidden;

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
