mixin image(c)
  div(class= c.modifier ? c.context + "__media" + " " + c.context + "__media--" + c.modifier : c.context + "__media")
    img(
      class= c.modifier ? c.context + "__image" + " " + c.context + "__image--" + c.modifier : c.context + "__image"
      src= c.src
      alt= c.alt
    )
