extends ../base.pug

block prepend vars
  -var pageClass = "bio"

block pageContent
  main(role="main")
    block pageComponents

    +close({
      closeUrl: "/company#team"
    })

      +image({
        context: "biography",
        src: c.biographyImage.src,
        alt: c.biographyImage.alt
      })
