extends ../base.pug

block prepend vars
  -var pageClass = "content"

block pageContent
  +header({
    contentPage: true
  })

  main.site-content(role="main")
    block pageComponents

  +footer({
    footerNav: true
  })
