extends ../base.pug

block prepend vars
  -var pageClass = "content"
  -var playfairDisplay = true

block pageContent
  +header({
    contentPage: true
  })

  main.site-content(role="main")
    block pageComponents

  +footer({
    nav: true
  })
