extends ../base.pug

block pageContent
  +header({})

  main.site-content(role="main")
    block pageComponents

  +banner({
    preview: true
  })

  +footer({
    footer: true,
    nav: true
  })

  +modal