.metrics {
  margin: $spacing-8 0;

  p {
    margin-bottom: 0;
    text-align: center;
  }

  &__heading {
    font-family: $font-family-sans-serif-extrabold;
    font-size: .75rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-5;
    position: relative;

    &:first-child {
      border-bottom: $border-style $border-width-base var(--color-metric-border);

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        border-bottom: none;
        border-right: $border-style $border-width-base var(--color-metric-border);
      }
    }
  }

  &__grid {
    background-color: var(--color-metric-background);
    border: $border-style $border-width-base var(--color-metric-border);
    border-radius: $border-radius-lg;
    display: grid;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__icon {
    align-items: center;
    background-color: var(--color-container);
    border-radius: $border-radius-full;
    display: flex;
    height: $size-3;
    justify-content: center;
    left: $spacing-4;
    position: absolute;
    top: $spacing-4;
    width: $size-3;
  }

  &__unit {
    color: var(--color-metric-unit);
    font-size: 2.2rem;
    letter-spacing: -.1rem;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-5')) {
      font-size: 2.8rem;
    }
  }

  &__sub-text {
    color: var(--color-metric-unit);
    font-size: $font-size-xs;
    font-weight: bold;
    margin-top: -.75rem;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-5')) {
      margin-top: -1rem;
    }
  }

  &__text {
    color: var(--color-text);
    font-size: $font-size-xs;
    line-height: 1.3;
    margin-top: $spacing-3;
    max-width: 90%;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      max-width: 100%;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      font-size: .6rem;
    }
  }
}
