mixin metrics(c)
  .metrics
    h4.metrics__heading= c.metricsHeading
    .metrics__grid
      each item in c.metricItems
        .metrics__item
          .metrics__icon
          p.metrics__unit= item.metricsUnit
          p.metrics__sub-text= item.metricsSubText
          p.metrics__text= item.metricsText
