.author-bio-small {
  display: none;
  background-color: $color-off-white;
  padding: $bio-spacing-lg;
  position: relative;
  width: 22.5em;

  &__social-icons {
    display: flex;
    position: absolute;
    right: $bio-spacing-lg;
  }

  &__image {
    display: block;
    height: auto;
    margin-left: $bio-spacing-sm;
    width: $size-base;
  }

  &__paragraph {
    color: $color-grey;
    line-height: $bio-paragraph-leading;
    margin-top: $bio-spacing-md;
    font-size: $bio-font-size;
    width: 15em;
  }
  &__link {
    color: $color-red;
    font-size: $bio-font-size;
    margin-top: $bio-spacing-sm;
  }
  @media screen and (min-width: 1240px) {
    display: block;
  }
}
