mixin author-bio-small(c)
  .author-bio-small(class= c.class)
    .author-bio-small__social-icons
      a.twitter(href= c.twitterUrl)
        +image({
          class: "author-bio-small__image author-bio-small__image--twitter",
          src: c.twitterImage.src,
          fallbackSrc: c.twitterImage.fallbackSrc,
          alt: c.twitterImage.alt
        })
      a.linkedin(href= c.linkedinUrl)
        +image({
          class: "author-bio-small__image author-bio-small__image--linkedin",
          src: c.linkedinImage.src,
          fallbackSrc: c.linkedinImage.fallbackSrc,
          alt: c.linkedinImage.alt
        })
    +author({
      class: c.author.class,
      authorDetails: c.author.authorDetails,
      authorName: c.author.authorName,
      authorThumbnail: {
        alt: c.author.authorThumbnail.alt,
        fallbackSrc: c.author.authorThumbnail.fallbackSrc,
        src: c.author.authorThumbnail.src
      }
    })
    .bio__content
      p.author-bio-small__paragraph= c.authorParagraph
      a.author-bio-small__link(href= c.authorLinkUrl) Get to know the team &rarr;
