.nav {
  font-family: $font-family-sans-serif-regular;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-right: 2.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $color-white;
    display: block;
    font-size: $font-size-xs;
    position: relative;

    &:hover {
      color: darken($color-white, 5%);
      text-decoration: none;
    }

    &--active {
      pointer-events: none;
  }

  &__text {
    display: inline-block;
    position: relative;
    }
  }
}
