.nav {
  &--primary {
    text-align: right;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: $spacing-vertical-sm;
  }

  &__link {
    color: $color-grey-dark;
    display: block;
    font-size: .933em;
    position: relative;

    @media screen and (min-width: map-get($bp, 'lg')) {
      font-size: .85em;
    }

    .nav--primary & {
      padding-right: 2em;

      @media screen and (min-width: map-get($bp, 'xl')) {
        padding-right: 4.706em; // Magic number to ensure nav aligns with rest of content in header
      }
    }

    &:hover {
      color: lighten($color-grey-dark, 10%);
      text-decoration: none;
    }

    &--active {
      pointer-events: none;

      .nav--primary & {
        border-right: 4px solid $brand-primary;
        padding-right: 1.714em;
        position: relative;
        text-decoration: line-through;

        @media screen and (min-width: map-get($bp, 'xl')) {
          padding-right: 4.471em; // Magic number to take into account the active border
        }

        .nav__text::after {
          transform: scaleX(1);
        }
      }
    }

    &--highlight {
      color: $color-red;
      font-family: $font-family-sans-serif-medium;

      &:hover {
        color: lighten($color-red, 5%);
      }
    }
  }

  &__text {
  	display: inline-block;
  	position: relative;

    .nav--primary & {

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        margin-top: -0.75em;
        background: currentColor;
        transform-origin: center left;
        transform: scaleX(0);
        transition: transform 500ms cubic-bezier(.55, 0, .1, 1);
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: center right;
      }
    }
  }
}
