.nav {
  font-family: $font-family-sans-serif-medium;
  margin: 0 auto;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
    margin: 0;
  }

  &__list {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
      margin-right: $spacing-3;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include animated-link($border-width-base, '.nav__text');
    @include focus-bg;
    color: var(--color-nav);
    display: inline-block;
    font-size: .75rem;
    outline: none;
    padding: $spacing-5 $spacing-4;
    position: relative;

    @include hover {
      text-decoration: none;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      font-size: $font-size-xs;
      margin: $spacing-1;
      padding: $spacing-4;
    }

    &[data-mobile-only] {

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        display: none;
      }
    }

    &--active {
      color: $color-snow;
      pointer-events: none;

      &::before {
        background: var(--color-accent);
        bottom: 0;
        content: '';
        height: 3px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right:0;
        width: $size-1;
      }
    }
  }

  &__text {
    display: block;
    position: relative;

    &__mobile {

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        display: none;
      }
    }

    &__standard {
      display: none;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        display: block;
      }
    }
  }
}
