mixin nav(c)
  nav.nav(class= c.navModifier ? "nav--" + c.navModifier : "")
    ul.nav__list
      each navItem in c.navList
        li.nav__item
          a.nav__link(
            class= activePage ===  navItem.navItemText ? "nav__link--active" : ""
            class=navItem.navItemHighlight ? "nav__link--highlight" : ""
            href= navItem.navItemUrl
            data-micromodal-trigger=(navItem.navItemTriggerModal ? "modal-contact" : undefined)
          )= navItem.navItemText
