.banner {
  align-items: center;
  background-color: var(--color-container);
  display: flex;
  justify-content: space-between;
  padding: $spacing-5;
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;

  @media screen and (min-width: map-get($breakpoints, "breakpoint-2")) {
    background-color: transparent;
    padding: $spacing-8 $spacing-8 0 $spacing-8;
  }

  &__logo {
    width: $size-5;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-1")) {
      margin: 0;
    }

    &::before {
      content: '';
      display: block;
      margin-top: .5rem;
    }
  }

  &__close {
    background-color: transparent;
    border-radius: $border-radius-full;
    padding: 0;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-2")) {
      background-color: var(--color-container);
      padding: $spacing-5;
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    height: $size-1;
    justify-content: center;
    width: $size-1;
  }
}
