.banner {
  background: var(--color-banner-background);
  display: grid;
  margin: $spacing-6 auto 0;
  overflow: hidden;
  padding: $spacing-9 $spacing-6;
  position: relative;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    @include two-col-grid;
    align-items: center;
    grid-gap: $spacing-6;
    margin: $spacing-10 auto 0;
    padding: $spacing-8 $spacing-6;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-10')) {
    border-radius: $size-1;
    grid-gap: $spacing-10;
    max-width: 72.5rem;
    padding: 4.5rem;
  }

  &--checkout {
    background: $color-bluegem;
    grid-gap: 0;
    padding: 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      @include two-col-grid;
    }
  }

  &__shape {
    border: $border-style $size-2 $color-white;
    border-radius: $border-radius-full;
    display: none;
    opacity: 0.05;
    position: absolute;
    z-index: z('below');

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-8')) {
      display: block;
    }

    &--1 {
      height: $size-11;
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
      width: $size-11;
    }

    &--2 {
      bottom: -$spacing-7;
      height: $size-10;
      right: -$spacing-7;
      transform: translate(50%, 50%);
      width: $size-10;
    }

    &--3 {
      bottom: -$spacing-7;
      height: $size-10;
      right: -$spacing-7;
      transform: translate(50%, 50%);
      width: $size-10;
      z-index: z('default');
    }
  }

  &__opening,
  &__key-points,
  &__call-to-action {
    z-index: z('default');
  }

  &__key-points {
    background: var(--color-checklist-background);
    border-radius: $border-radius-base;
    margin-bottom: $spacing-8;
    padding: $spacing-6;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      background: none;
      grid-area: 2 / span 2;
      margin-bottom: 0;
      margin-top: $spacing-6;
      padding: 0;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      grid-area: auto;
      margin-top: 0;
    }
  }

  &__heading {
    font-size: $font-size-h1;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      font-size: 2.4rem;
    }

    &__period {
      color: var(--color-accent);
    }

    &--secondary {
      font-size: $font-size-h2;
      margin-bottom: $spacing-5;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        margin-bottom: $spacing-6;
      }
    }
  }

  &__intro {
    color: var(--color-heading);
    font-size: $font-size-md;
    margin-bottom: $spacing-6;
  }

  &__text {
    margin-bottom: 0;
    margin-top: -$spacing-5;
  }

  &__button {
    bottom: $spacing-6;
    left: 0;
    margin: 0 auto;
    padding: 0 $spacing-6;
    position: absolute;
    right: 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      bottom: 0;
      left: auto;
      padding: 0;
      right: $spacing-6;
      top: $spacing-9;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      position: relative;
      right: auto;
      top: auto;
    }

    &--checkout {
      bottom: 0;
      left: 0;
      padding: 0;
      position: relative;
      top: 0;
    }
  }

  &__call-to-action {
    padding: $spacing-8 $spacing-6;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
      @include content;
      padding: $spacing-8 0;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      max-width: unset;
      padding: $spacing-8 $spacing-6;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-7')) {
      padding: 3.5rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-9')) {
      padding: 4.5rem;
    }
  }

  .banks {
    display: flex;
    margin-top: $spacing-6;
  }

  .bank {
    &:not(:last-child) {
      margin-right: $spacing-2;
    }
  }

  &__refund-info {
    background: darken($color-bluegem, 2%);
    height: 100%;
    order: -1;
    padding: $spacing-8 $spacing-6;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      padding: 3.5rem $spacing-6; // Creates a visual alignment with the content on the left (desktop)
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      order: 1;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-7')) {
      padding: $spacing-9 $spacing-6; // Creates a visual alignment with the content on the left (desktop)
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-9')) {
      padding: 4.8rem 4.5rem 4.5rem 4.5rem; // Creates a visual alignment with the content on the left (desktop)
    }
  }

  &__refund-content {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
      @include content;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      max-width: unset;
    }
  }
}
