.banner {
  align-items: center;
  background-color: #31319B;
  display: flex;
  justify-content: space-between;
  padding: $spacing-7 $spacing-7 0 $spacing-7;
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;

  @media screen and (min-width: map-get($breakpoints, "breakpoint-2")) {
    background-color: transparent;
  }

  &__logo {
    left: 1.25rem;
    margin: 0 auto;
    top: $spacing-6;
    width: $size-4;

    @media screen and (min-width: map-get($breakpoints, "breakpoint-2")) {
      margin: 0;
      width: $size-6;
    }
  }

  &__close {
    background-color: #31319B;
    border-radius: $border-radius-full;
    padding: $spacing-4;
  }

  &__icon {
    align-items: center;
    display: flex;
    height: $size-1;
    justify-content: center;
    width: $size-1;
  }
}
