$logo-breakpoint: 1400px;

.banner {
  background-color: $color-green-light;
  margin-bottom: $spacing-vertical-lg;
  position: relative;

  @media screen and (min-width: map-get($bp, 'lg')) {
    margin-bottom: $spacing-vertical-xl;
  }

  @media screen and (min-width: map-get($bp, 'xl')) {
    margin-bottom: $spacing-vertical * 6;
  }

  &--photo img {
    object-fit: cover;
    width: 100% !important;
  }

  &--heha {
    background-color: $color-heha;
  }

  &--keen {
    background-color: $color-keen;
  }

  &--rift {
    background-color: $color-rift;
  }

  &--zendesk {
    background-color: $color-zendesk;
  }

  &--laced {
    background-color: $color-laced;
  }

  &__controls {
    background: transparent;
    position: absolute;
    width: 100%;

    .banner--photo & {
      background: #fff;
      position: relative;
    }

    @media screen and (max-width: $logo-breakpoint) {
      display: flex;
      justify-content: space-between;
      padding: 1em 1em 0.75em 1em;
    }

    @media screen and (min-width: 40em) {
      padding-top: 2.5rem;

      .banner--photo & {
        padding-top: 1em;
      }
    }

    @media screen and (min-width: $logo-breakpoint) {
      background: none;
      position: absolute;

      .banner--photo & {
        padding-top: 0;
      }
    }
  }

  &__logo {
    width: 3.3em;

    @media screen and (min-width: 90em) {
      left: 2em;
      top: 3em;
    }

    @media screen and (min-width: $logo-breakpoint) {
      position: fixed;
      z-index: 1000;

      svg {
        opacity: $opacity-0;
        transform: translateY(50%);
        transition: opacity $duration-4 $timing-1,
          transform $duration-4 $timing-1;
      }

      &--visible {
        svg {
          opacity: $opacity-1;
          transform: translateY(0);
        }
      }
    }
  }

  &__button {
    background: rgba(53, 54, 61, 0.3);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 2em;
    padding: 0;
    position: relative;
    transition: background 0.2s $timing-2;
    width: 2em;
    z-index: 1;
    -webkit-appearance: none;

    @media screen and (min-width: $logo-breakpoint) {
      position: fixed;
      right: 3em;
      top: 3em;
    }

    &:hover,
    &:active {
      background: rgba(53, 54, 61, 0.6);
    }

    span {
      display: none;
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      white-space: nowrap;
      width: 1px;
      position: relative;

      @media screen and (min-width: $logo-breakpoint) {
        display: inline;
        position: absolute;
      }
    }

    &::before,
    &::after {
      background-color: $color-white;
      content: '';
      height: 0.15em;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 1em;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-height: 42.5em;
    width: auto;
    max-width: 100%;
  }

  &__heading {
    @include padding-vertical($spacing-9);
    text-align: center;

    @media screen and (min-width: map-get($bp, 'lg')) {
      @include padding-vertical($spacing-10);
    }
  }
}
