mixin banner(c)
  .banner(class= c.bannerModifer ? "banner--" + c.bannerModifer : "")
    a.banner__button(href='/' aria-label='Close')
      span(aria-hidden='true') Close
    if c.bannerImage
      +image({
        class: "banner__image",
        src: c.bannerImage.src,
        fallbackSrc: c.bannerImage.fallbackSrc,
        alt: c.bannerImage.alt
      })
    else
      h1.banner__heading= c.bannerHeading
