mixin banner(c)
  .banner
    .banner__logo
      a.logo(href='/index')
        +logo
    a.banner__close(href='/blog' aria-label='Close')
      .banner__icon
        img(src='/assets/images/icons/close.svg', alt='Close')
