mixin banner(c)
  .banner(class= c.bannerModifer ? "banner--" + c.bannerModifer : "")
    .banner__controls
      .banner__logo
        +logo
      a.banner__button(href='/' aria-label='Close')
        span(aria-hidden='true') Close
    if c.bannerImage
      +image({
        context: "banner",
        src: c.bannerImage.src,
        alt: c.bannerImage.alt
      })
    else
      h1.banner__heading= c.bannerHeading
