mixin banner(c)
  .banner(class= c.bannerCompany ? "banner--" + c.bannerCompany : "")
    button.banner__button(type='button', aria-label='Close')
      span(aria-hidden='true') Close
    if c.bannerImage
      img.banner__image(src= c.bannerImage.src alt= c.bannerImage.alt)
    else
      h1.banner__heading= c.bannerHeading
