mixin banner(c)
  .banner
    .banner__logo
      a.logo(href='/index')
        +logo
    .banner__close
      a.banner__icon(href='/blog' aria-label='Close')
        img(src='/assets/images/icons/close.svg', alt='Close')
