mixin banner(c)
  .banner(class= c.bannerModifer ? "banner--" + c.bannerModifer : "")
    .banner__controls
      .banner__logo
        +logo
      a.banner__button(href='/' aria-label='Close')
        img(src='/assets/images/icons/close.svg', alt='Close')
        span(aria-hidden='true') Close
