mixin banner(c)
  .banner(class= c.bannerModifer ? "banner--" + c.bannerModifer : "")
    .banner__controls
      .banner__logo
        +logo
      a.banner__button(href='/' aria-label='Close')
        span(aria-hidden='true') Close
