mixin slider()
  .slider.slider--testimonial
    .slider__item
      +testimonial({
        testimonialModifier: "inline",
        testimonialText: "It’s always such a plesure to work with RIFT. They’ve genuinely become part of the team.",
        testimonialImage: {
          src: "https://picsum.photos/60/60/?random=1",
          alt: "Alt text for testimonial image",
        },
        testimonialName: "Bradley Post",
        testimonialRole: "Managing Director, RIFT"
      })
      
    .slider__item
      +testimonial({
        testimonialModifier: "inline",
        testimonialText: "It’s always such a plesure to work with RIFT. They’ve genuinely become part of the team.",
        testimonialImage: {
          src: "https://picsum.photos/60/60/?random=2",
          alt: "Alt text for testimonial image",
        },
        testimonialName: "Anna Divers",
        testimonialRole: "Product Director, HEHA!"
      })
      
    .slider__item
      +testimonial({
        testimonialModifier: "inline",
        testimonialText: "It’s always such a plesure to work with RIFT. They’ve genuinely become part of the team.",
        testimonialImage: {
          src: "https://picsum.photos/60/60/?random=3",
          alt: "Alt text for testimonial image",
        },
        testimonialName: "Matthew Pack",
        testimonialRole: "CEO, Holiday Extras"
      })
      
    .slider__item
      +testimonial({
        testimonialModifier: "inline",
        testimonialText: "It’s always such a plesure to work with RIFT. They’ve genuinely become part of the team.",
        testimonialImage: {
          src: "https://picsum.photos/60/60/?random=4",
          alt: "Alt text for testimonial image",
        },
        testimonialName: "Bradley Post",
        testimonialRole: "Managing Director, RIFT"
      })
      
    .slider__item
      +testimonial({
        testimonialModifier: "inline",
        testimonialText: "It’s always such a plesure to work with RIFT. They’ve genuinely become part of the team.",
        testimonialImage: {
          src: "https://picsum.photos/60/60/?random=5",
          alt: "Alt text for testimonial image",
        },
        testimonialName: "Anna Divers",
        testimonialRole: "Product Director, HEHA!"
      })
      
    .slider__item
      +testimonial({
        testimonialModifier: "inline",
        testimonialText: "It’s always such a plesure to work with RIFT. They’ve genuinely become part of the team.",
        testimonialImage: {
          src: "https://picsum.photos/60/60/?random=6",
          alt: "Alt text for testimonial image",
        },
        testimonialName: "Matthew Pack",
        testimonialRole: "CEO, Holiday Extras"
      })
