extends ../../layouts/content.pug

block prepend vars
  -var pageTitle = "Get your report | Specialist Data Capture Experts | Leaf"
  -var metaUrl = "https://weareleaf.com/analysis/purchase"
  -var metaTitle = "Get your analysis report."
  -var metaDescription = "Fill in your details, and we’ll get back to you within two working days to arrange a call to find out more about you and your product."

  -var heroHeading = "Get your report - £749"
  -var heroSubheading = "Fill in your details, and we’ll get back to you within two working days to arrange a call to find out more about you and your product."

  -var footerType = "minimal"

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading
  })

  section.section
    .container
      .centered-content.centered-content--no-pad
        .grid.grid--center
          .grid__item
            +payment-form({
              buttonText: "Buy your report for £749",
              price: 749.00,
              explanation: {
                iconName: "info",
                heading: "What happens Next?",
                text: "Once we’ve processed your payment, we’ll send you an immediate confirmation email. We’ll then contact you again within two working days to arrange a call.",
                iconModifier: "inverted",
                modifier: "inverted"
              }
            })